<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sec="http://www.springframework.org/security/facelets/tags"
  template="/WEB-INF/layouts/pageTemplate.xhtml">
  <ui:define name="content">
    <h:form
      id="editDocfileForm"
      enctype="multipart/form-data">
      <ga:workflowLinks
        src="/WEB-INF/flows/geochemistry/admin/docfiles/editDocfile/editDocfile-menu.xhtml"
        class="selected" />
      <ga:main
        title="#{actionTitle}"
        pageId="DDE">
        <ga:fieldset legend="Document">
          <ui:fragment
            id="docfileNoOutputPanel"
            rendered="#{docfile.versionNo ne null}">
            <ga:textField
              label="Document No"
              id="docfileNo"
              spanStyle="numeric"
              maxLength="10"
              beanValue="#{docfile.docfileNo}"
              disabled="true"
              readOnly="true" />
          </ui:fragment>
          <ga:textField
            label="Id"
            id="docfileId"
            maxLength="30"
            spanStyle="half"
            required="true"
            beanValue="#{docfile.docfileId}"
            disabled="#{docfile.versionNo ne null}"
            readOnly="#{docfile.versionNo ne null}" />
          <ga:textField
            label="Title"
            id="title"
            maxLength="100"
            spanStyle="half"
            beanValue="#{docfile.title}" />
          <ga:textField
            label="Description"
            id="make"
            maxLength="200"
            spanStyle="half"
            beanValue="#{docfile.description}" />
          <ga:div
            id="docfileRequiredPanel"
            class="form_input">
            <label for="default">Required:</label>
            <span class="group"> <ga:span class="input check_box">
                <h:selectBooleanCheckbox
                  value="#{docfile.docfileRequired}" />
              </ga:span> </span>
          </ga:div>
          <ga:div
            id="externalDeliveryPanel"
            class="form_input">
            <label for="default">External Delivery:</label>
            <span class="group"> <ga:span class="input check_box">
                <h:selectBooleanCheckbox
                  value="#{docfile.externalDelivery}" />
              </ga:span> </span>
          </ga:div>          
          <ga:dropDownList
            label="Status"
            id="status"
            spanStyle="half"
            beanValue="#{docfile.status}"
            list="#{activationStatusCodeList}">
            <f:selectItem itemLabel="" />
          </ga:dropDownList>
          <ga:textField
            label="Display Order"
            id="displayOrder"
            spanStyle="integer"
            maxLength="3"
            beanValue="#{docfile.displayOrder}"
            required="true" />
        <ui:fragment
          id="docfile"
          rendered="#{docfile.docfile ne null}">
          <ga:textOutputField
            label="File"
            id="name"
            beanValue="#{docfile.name}" />
        </ui:fragment>
          <ga:simpleTogglePanel
            label="#{docfile.docfile ne null ? 'Re-Upload Document': 'Upload Document'}"
            styleClass="open">
            <ga:div class="form_input">
              <label for="file">Browse:</label>
              <span class="input file"> <input
                type="file"
                name="file"
                id="file" /> </span>
            </ga:div>
            <ga:div class="form_buttons">
              <h:commandButton
                id="upload"
                value="Upload"
                class="immediate"
                action="upload" />
            </ga:div>
          </ga:simpleTogglePanel>

        </ga:fieldset>
        <ga:div class="form_buttons">
          <sec:ifAnyGranted roles="ROLE_GEOCHEM_DATA_ADMIN_APP">
            <h:commandButton
              id="saveDocfile"
              value="Save"
              action="saveDocfile" 
              rendered="#{docfile.docfile ne null}" />
          </sec:ifAnyGranted>
          <ga:cancelButton />
        </ga:div>
      </ga:main>
    </h:form>
  </ui:define>
</ui:composition>