<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <div class="form_input">
    <ga:fieldset legend="Unit Group Links">
      <ui:fragment
        id="unitGroupLinkFragment"
        rendered="#{not empty unitGroupLinkList}">
        <label>#{linkParent eq 'unit' ? 'Groups' : 'Units'}:</label>
        <table class="input grid noValidation">
          <thead>
            <tr>
              <th><h:outputText
                  value="#{linkParent eq 'unit' ? 'Group' : 'Unit'} Id" />
              </th>
              <th><h:outputText
                  value="#{linkParent eq 'unit' ? 'Group' : 'Unit'} Name" />
              </th>
              <th><h:outputText value="Unit Scaling Factor" />
              </th>
            </tr>
          </thead>
          <a4j:repeat
            id="unitGroupLinks"
            value="#{unitGroupLinkList}"
            var="unitGroupLink">
            <tbody>
              <tr>
                <td><h:outputText
                    value="#{linkParent eq 'unit' ? unitGroupLink.unitGroup.unitGroupId : unitGroupLink.unit.unitId}" />
                </td>
                <td><h:outputText
                    value="#{linkParent eq 'unit' ? unitGroupLink.unitGroup.groupName : unitGroupLink.unit.unitName}" />
                </td>
                <td><h:outputText
                    value="#{unitGroupLink.unitScaleFactor}" />
                </td>
              </tr>
            </tbody>
          </a4j:repeat>
        </table>
      </ui:fragment>
      <ui:fragment
        id="noUnitGroupLinksFragment"
        rendered="#{empty unitGroupLinkList}">
        <ga:textOutputField
          id="noUnitGroupLinks"
          label="UnitGroupLinks"
          beanValue="No associated #{linkParent eq 'unit' ? 'group' : 'unit'}s" />
      </ui:fragment>
    </ga:fieldset>
  </div>
</ui:composition>