<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sec="http://www.springframework.org/security/facelets/tags"
  template="/WEB-INF/layouts/pageTemplate.xhtml">
  <ui:define name="content">
    <h:form id="viewUnitGroupForm">
      <ga:workflowLinks
        src="/WEB-INF/flows/geochemistry/admin/unitGroups/viewUnitGroup/viewUnitGroup-menu.xhtml"
        class="selected" />
      <ga:main
        title="UnitGroup"
        pageId="UTV">
        <ga:fieldset legend="UnitGroup">
          <ga:textOutputField
            label="Unit Group Id"
            id="unitGroupId"
            beanValue="#{unitGroup.unitGroupId}" />
          <ga:textOutputField
            label="Standard Unit"
            id="standardUnitId"
            beanValue="#{unitGroup.standardUnitId}" />
          <ga:textOutputField
            label="Name"
            id="groupName"
            beanValue="#{unitGroup.groupName}" />
          <ga:textOutputField
            label="Description"
            id="description"
            beanValue="#{unitGroup.description}" />
          <ga:auditDetails auditLog="#{unitGroup.auditLog}" />
          <ui:include src="viewUnitGroupLinks-panel.xhtml">
            <ui:param
              name="unitGroupLinkList"
              value="#{unitGroup.unitGroupLinkList}" />
            <ui:param
              name="linkParent"
              value="group" />
          </ui:include>
        </ga:fieldset>
        <ga:div class="form_buttons">
          <sec:ifAnyGranted roles="ROLE_GEOCHEM_DATA_ADMIN_APP">
            <h:commandButton
              id="editUnitGroup"
              value="Edit"
              action="editUnitGroup" />
          </sec:ifAnyGranted>
          <ga:returnButton />
        </ga:div>
      </ga:main>
    </h:form>
  </ui:define>
</ui:composition>