<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sec="http://www.springframework.org/security/facelets/tags"
  template="/WEB-INF/layouts/pageTemplate.xhtml">
  <ui:define name="content">
    <h:form id="editAnalysedSampleForm">
      <ga:workflowLinks
        src="/WEB-INF/flows/geochemistry/analysedSamples/editAnalysedSample/editAnalysedSample-menu.xhtml"
        class="selected" />
      <ga:main
        title="Edit Job Batch Sample - Preferred Results"
        pageId="JBSE-PR">
        <ga:fieldset legend="Job Details">
          <ui:include src="../../jobs/viewJob/viewJobDetails-panel.xhtml" />
        </ga:fieldset>
        <ga:fieldset legend="Sample Details">
          <ga:textOutputField
            label="Sample No"
            id="sampleNo"
            beanValue="#{jobBatchSample.sample.sampleNo}" />        
          <div class="form_input">
            <label>Sample Id:</label>
            <a4j:outputPanel id="sampleId">
              <span class="display"><h:outputLink
                  id="sampleID"
                  value="#{request.contextPath}/sampleLink/#{jobBatchSample.sampleNo}/details.htm"
                  target="other"
                  styleClass="popupLink">#{jobBatchSample.sample.sampleIdDisplay}
                </h:outputLink> </span>
            </a4j:outputPanel>
          </div>
          <ga:textOutputField
            label="Sample Type"
            id="sampleType"
            beanValue="#{jobBatchSample.sample.sampleType}" />
        </ga:fieldset>
        <ui:include src="editAnalysedSample-panel.xhtml" />
        <ga:div class="form_buttons">
          <sec:ifAnyGranted roles="ROLE_GEOCHEM_DATA_ENTRY_APP">
            <h:commandButton
              id="submit"
              value="Save"
              action="saveAnalysedSamples" />
          </sec:ifAnyGranted>
          <ga:cancelButton />
        </ga:div>
      </ga:main>
    </h:form>
  </ui:define>
</ui:composition>