<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:app="http://www.ga.gov.au/geochem-jsf"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <ui:fragment
    id="sampleAnalysesFragment"
    rendered="#{jobBatchSample.notEmptyGroupedSampleAnalysisList eq true}">
    <h3>Analyses</h3>
    <table
      class="singleColumnTable input grid noValidation fixed-cell-height">
      <thead>
        <tr>
          <th><h:outputText value="Result Batch" />
          </th>
        </tr>
      </thead>
      <tbody>
        <a4j:repeat
          id="sampleAnalysisGroupList"
          value="#{sampleAnalysisGroupList}"
          var="sampleAnalysisGroup">
          <a4j:repeat
            id="sampleAnalysisList"
            value="#{sampleAnalysisGroup}"
            var="sampleAnalysis">
            <tr>
              <td><h:outputText
                id="resultBatchNo"
                value="#{sampleAnalysis.resultBatch.resultBatchNo}" /> <app:resultBatchTooltip
                for="resultBatchNo"
                  sampleAnalysis="#{sampleAnalysis}" />
              </td>
            </tr>
          </a4j:repeat>
        </a4j:repeat>
      </tbody>
    </table>

    <ga:div
      id="sampleAnalysisPanel"
      class="horizontalScroll">
      <table
        class="input grid noValidation fixed-cell-height tbl-centred-headings collapsibleColumns {optionsDiv:'sampleAnalysisPanelOptions'} noRowAlterColors">
        <thead>
          <tr>
            <th class="nowrap"><h:outputText value="Subsample" /></th>
            <th class="nowrap"><h:outputText value="Session Date" /></th>
            <th class="nowrap"><h:outputText value="Method" /></th>
            <th class="nowrap"><h:outputText value="Preferred Result" /></th>
            <a4j:repeat
              id="resultPropertyList"
              value="#{resultTable.propertyList}"
              var="property">
              <th
                class="nowrap"
                style="min-width: 65px;"><h:outputText
                value="#{property.htmlPropertyId}"
                  escape="false" />
              </th>
              <th
                class="{group:'Units'} hiddenColumn"
                style="min-width: 40px;"><h:outputText value="Units" />
              </th>
            </a4j:repeat>
          </tr>
        </thead>
        <tbody>
          <a4j:repeat
            id="sampleAnalysisGroupList"
            value="#{sampleAnalysisGroupList}"
            var="sampleAnalysisGroup">
            <a4j:repeat
              id="sampleAnalysisList"
              value="#{sampleAnalysisGroup}"
              var="sampleAnalysis">
              <tr
                class="#{groupnameHolder.toggle(sampleAnalysis.resultBatch.method.techniqueAndMethodName)?'even':'odd'}">
                <td class="nowrap"><h:outputText
                  value="#{sampleAnalysis.subsampleId}" /></td>              
                <td class="nowrap"><h:outputText
                  value="#{sampleAnalysis.resultBatch.sessionDateTime}">
                  <f:convertDateTime
                    pattern="dd-MM-yyyy HH:mm"
                    timeZone="#{systemContext.timeZone}" />
                </h:outputText></td>
                <td class="nowrap"><h:outputText
                  value="#{sampleAnalysis.resultBatch.method.methodName}" /></td>

                <td class="tbl-cell-centre-align"><h:selectBooleanCheckbox
                  id="preferredValue"
                  value="#{sampleAnalysis.preferredValue}"
                    class="radioCheckboxGroup {group:'#{sampleAnalysis.resultBatch.method.techniqueAndMethodId}'}"
                    disabled="#{sampleAnalysisGroup.size() eq 1}" />
                </td>
                <a4j:repeat
                  id="resultPropertyList"
                  value="#{resultTable.propertyList}"
                  var="property">
                  <td class="nowrap tbl-cell-right-align"><ga:outputNumber
                      id="analysisResultValue"
                      value="#{sampleAnalysis.getSampleAnalysisResultByProperty(property).qualifiedResultValue}"
                      qualifier="#{sampleAnalysis.getSampleAnalysisResultByProperty(property).limitReasonSymbol}"
                      patternKey="analysisResult.deliveryFormat.#{property.propertyId}" />
                  </td>
                  <td class="{group:'Units'} hiddenColumn"><h:outputText
                    value="#{sampleAnalysis.getSampleAnalysisResultByProperty(property).resultUnits}" /></td>
                </a4j:repeat>
              </tr>
            </a4j:repeat>
          </a4j:repeat>
        </tbody>
      </table>
    </ga:div>
    <div id="sampleAnalysisPanelOptions"></div>
  </ui:fragment>
  <ui:fragment
    id="emptySampleAnalysesFragment"
    rendered="#{jobBatchSample.notEmptyGroupedSampleAnalysisList ne true}">
    <h:outputText value="No Results Entered" />
  </ui:fragment>
</ui:composition>