<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:fn="http://java.sun.com/jsp/jstl/functions"
  xmlns:c="http://java.sun.com/jstl/core"
  template="/WEB-INF/layouts/pageTemplate.xhtml">
  <ui:define name="content">
    <h:form
      id="editBatchSamplesForm"
      enctype="multipart/form-data">
      <ga:workflowLinks
        src="/WEB-INF/flows/geochemistry/baseResultBatch/editBatch/editBatch-menu.xhtml">
        <li class="selected"><h:commandLink
          immediate="true"
          id="selectSamples"
          value="Samples"
          action="selectSamples" /></li>
      </ga:workflowLinks>
      <ga:main
        title="#{flowScope.actionTitle} - Sample and Reference Materials"
        help="Create-an-#{technique.techniqueName}-Result-Batch"
        pageId="RB#{fn:toUpperCase(fn:substring(flowScope.actionTitle, 0, 1))}-SR">
        <ui:include src="../viewBatch/viewBatchDetails-panel.xhtml">
          <ui:param
            name="showComment"
            value="true" />
          <ui:param
            name="showSourceFile"
            value="false" />
        </ui:include>
        <ui:fragment
          id="sourceFile"
          rendered="#{resultBatch.sourceFile ne null and showSourceFile ne false}">
          <ga:textOutputField
            label="Source File"
            id="sourceFile"
            beanValue="#{resultBatch.sourceFile.name}" />
          <ui:fragment
            id="headerTextPanel"
            rendered="#{resultBatch.additionalUploadFileText ne null}">
            <ga:textOutputField
              label="Header Text"
              id="headerText"
              beanValue="#{resultBatch.additionalUploadFileText}" />
          </ui:fragment>
        </ui:fragment>
        <ui:fragment
          id="uploadPanel"
          rendered="#{resultBatch.fileUploadSupported}">
          <ga:simpleTogglePanel
            label="#{resultBatch.sourceFile ne null ? 'Re-Upload Results file': 'Upload Results file'}"
            styleClass="open">
            <ga:div>
              <ga:div class="form_input">
                <label for="file">Select File:</label>
                <span class="input file"> <input
                  type="file"
                  name="file"
                  id="file" /> </span>
              </ga:div>
              <ga:div class="form_input">
                <label for="fileType">Select File Type:</label>
                <span class="group"> <span> <h:selectOneRadio
                  styleClass="checkbx"
                  value="#{resultBatch.fileType}">
                  <f:selectItem
                    itemLabel="#{html.nbsp}CSV"
                    itemValue="CSV"
                    itemEscaped="false" />
                  <f:selectItem
                    itemLabel="#{html.nbsp}XLS"
                    itemValue="XLS"
                    itemEscaped="false" />
                </h:selectOneRadio></span></span>
              </ga:div>
            </ga:div>

            <ga:div class="form_buttons">
              <h:commandButton
                id="upload"
                value="Upload"
                class="immediate"
                action="upload" />
              <!--            <ga:resetButton />-->
            </ga:div>
          </ga:simpleTogglePanel>
        </ui:fragment>
        <ga:fieldset legend="Analyses Results">
          <ui:include src="editBatchReferenceMaterialSelection-panel.xhtml" />
          <ui:include src="editBatchSampleSelection-panel.xhtml" />
        </ga:fieldset>
        <ga:div class="form_buttons">
          <h:commandButton
            id="submit"
            value="Submit"
            action="submit" />
          <ga:cancelButton />
        </ga:div>
      </ga:main>
    </h:form>
  </ui:define>
</ui:composition>