<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:sec="http://www.springframework.org/security/facelets/tags"
  xmlns:fn="http://java.sun.com/jsp/jstl/functions"
  template="/WEB-INF/layouts/pageTemplate.xhtml">

  <ui:define name="content">
    <h:form
      id="editBatchUploadForm"
      enctype="multipart/form-data">
      <input
        type="hidden"
        name="id"
        value="#{resultBatch.resultBatchNo}" />

      <ga:workflowLinks>
        <ui:include src="editBatch-menu.xhtml" />
        <li class="selected"><h:commandLink
          immediate="true"
          id="results"
          value="Results"
          action="upload" /></li>
      </ga:workflowLinks>
      <ga:main
        title="#{actionTitle} - Results"
        pageId="RB#{fn:toUpperCase(fn:substring(actionTitle, 0, 1))}-R">
        <ui:include src="../viewBatch/viewBatchDetails-panel.xhtml">
          <ui:param
            name="showComment"
            value="true" />
          <ui:param
            name="showSourceFile"
            value="false" />
        </ui:include>
        <ui:fragment
          id="sourceFile"
          rendered="#{resultBatch.sourceFile ne null and showSourceFile ne false}">
          <ga:textOutputField
            label="Source File"
            id="sourceFile"
            beanValue="#{resultBatch.sourceFile.name}" />
        </ui:fragment>
        <ga:simpleTogglePanel
          label="#{resultBatch.resultBatchNo ne null or fileUploaded eq true ? 'Re-Upload Results file': 'Upload Results file'}"
          styleClass="open">
          <ga:div>
            <ga:div class="form_input">
              <label for="file">Select File:</label>
              <span class="input file"> <input
                type="file"
                name="file"
                id="file" /> </span>
            </ga:div>
            <ga:div class="form_input">
              <label for="fileType">Select File Type:</label>
              <span class="group"> <span> <h:selectOneRadio
                styleClass="checkbx"
                value="#{resultBatch.fileType}">
                <f:selectItem
                  itemLabel="#{html.nbsp}CSV"
                  itemValue="CSV"
                  itemEscaped="false" />
                <f:selectItem
                  itemLabel="#{html.nbsp}XLS"
                  itemValue="XLS"
                  itemEscaped="false" />
              </h:selectOneRadio></span></span>
            </ga:div>
          </ga:div>

          <ga:div class="form_buttons">
            <h:commandButton
              id="upload"
              value="Upload"
              class="immediate"
              action="upload" />
            <!--            <ga:resetButton />-->
          </ga:div>
        </ga:simpleTogglePanel>
        <ui:fragment
          id="fileAttributes"
          rendered="#{fileUploaded eq true and resultBatch.resultBatchTransferFile.methodName != null}">
          <ga:div>
            <ga:fieldset legend="File Attributes:">
              <ga:textOutputField
                label="Method"
                id="method"
                beanValue="#{resultBatch.resultBatchTransferFile.methodName}" />
              <ga:textOutputField
                label="Instrument"
                id="instrument"
                beanValue="#{resultBatch.resultBatchTransferFile.instrumentName}" />
              <ga:dateTimeOutputField
                id="sessionCommencementDate"
                label="Date and Time Batch Started"
                beanValue="#{resultBatch.resultBatchTransferFile.sessionDateTime}" />
            </ga:fieldset>
          </ga:div>
        </ui:fragment>

        <h:outputText rendered="#{not empty resultBatch.analysisList}">
          <ui:include src="editBatchAnalysesResultsUpload-panel.xhtml">
            <ui:param
              name="asFieldset"
              value="#{not technique.titration}" />
          </ui:include>
        </h:outputText>

        <ga:div class="form_buttons">
          <sec:ifAnyGranted roles="ROLE_GEOCHEM_DATA_ENTRY_APP">
            <h:commandButton
              id="complete"
              value="Complete"
              action="complete"
              rendered="#{not empty resultBatch.sampleAnalysisList or not empty resultBatch.referenceAnalysisList}" />
          </sec:ifAnyGranted>
          <ga:cancelButton />
        </ga:div>
      </ga:main>
    </h:form>
  </ui:define>
</ui:composition>
