<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:c="http://java.sun.com/jstl/core">
  <ui:include src="../../geochemistry-menu.xhtml">
    <ui:param
      name="class"
      value="" />
  </ui:include>
  <li class="#{class}"><h:commandLink
      id="resultBatch"
      immediate="true"
      value="Result Batches"
      action="resultBatch" /></li>
  <c:if test="#{not empty resultBatch.resultBatchNo}">
    <li class="#{class}"><h:commandLink
        id="viewBatch"
        immediate="true"
        value="#{resultBatch.method.technique.techniqueName} Result Batch #{resultBatch.resultBatchNo}"
        action="viewBatch" /></li>
  </c:if>
  <c:if test="#{empty resultBatch.resultBatchNo}">
    <li class="#{class}"><h:commandLink
        id="editBatch"
        immediate="true"
        value="Create"
        action="editBatch" /></li>
  </c:if>
  <c:if test="#{not empty resultBatch.resultBatchNo}">
    <li class="#{class}"><h:commandLink
        id="editBatch"
        immediate="true"
        value="Edit"
        action="editBatch" /></li>
  </c:if>
  <c:if test="#{not resultBatch.upload}">
    <li class="#{class}"><h:commandLink
        immediate="true"
        id="selectSamples"
        value="Samples"
        action="selectSamples" /></li>
  </c:if>
  <c:if test="#{resultBatch.upload}">
    <li class="#{class}"><h:commandLink
        immediate="true"
        id="results"
        value="Results"
        action="upload" /></li>
  </c:if>
</ui:composition>
