<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:ga="http://www.ga.gov.au/jsf"
  template="/WEB-INF/layouts/pageTemplate.xhtml"
  xmlns:fn="http://java.sun.com/jsp/jstl/functions"
  xmlns:c="http://java.sun.com/jstl/core">
  <ui:define name="content">
    <h:form id="editBatchSessionForm">
      <ga:workflowLinks
        src="/WEB-INF/flows/geochemistry/baseResultBatch/editBatch/editBatch-menu.xhtml"
        class="selected" />
      <ga:main
        title="#{flowScope.actionTitle} - Session Details"
        pageId="RB#{fn:toUpperCase(fn:substring(flowScope.actionTitle, 0, 1))}-SD">
        <ga:fieldset
          id="sessionDetails"
          legend="Session Details">
          <a4j:outputPanel id="methodInstrumentPanel">
            <ga:div
              id="laboratoryPanel"
              class="form_input required">
              <label for="laboratory">Laboratory</label>
              <span class="input half"> <h:selectOneMenu
                  id="laboratory"
                  name="resultBatch.laboratory"
                  value="#{resultBatch.laboratory}"
                  input="Laboratory"
                  converter="#{genericDomainConverter}"
                  disabled="#{empty laboratories}">
                  <a4j:support
                    event="onchange"
                    action="labSelected"
                    reRender="methodInstrumentPanel,titrantFactorFragment" />
                  <f:selectItem itemLabel="" />
                  <f:selectItems
                    id="SelectItems"
                    value="#{laboratories}" />
                </h:selectOneMenu>
              </span>
            </ga:div>
            <ga:div
              id="techniquePanel"
              class="form_input required">
              <label for="techniqueName">Technique:</label>
              <span class="input half"> <h:selectOneMenu
                  id="techniqueName"
                  value="#{resultBatch.technique}"
                  converter="#{genericDomainConverter}"
                  disabled="#{techniqueLocked eq true or resultBatch.resultBatchNo ne null}">
                  <a4j:support
                    event="onchange"
                    action="techniqueSelected"
                    reRender="methodInstrumentPanel,titrantFactorFragment" />
                  <f:selectItem itemLabel="" />
                  <f:selectItems
                    id="selectItems"
                    value="#{techniqueList}" />
                </h:selectOneMenu>
              </span>
            </ga:div>
            <ga:div
              id="methodPanel"
              class="form_input required">
              <label for="method">Method:</label>
              <span class="input half"> <h:selectOneMenu
                  id="method"
                  name="resultBatch.method"
                  value="#{resultBatch.method}"
                  input="Method"
                  converter="#{genericDomainConverter}"
                  disabled="#{empty methods}">
                  <a4j:support
                    event="onchange"
                    action="methodSelected"
                    reRender="methodInstrumentPanel,titrantFactorFragment" />
                  <f:selectItem itemLabel="" />
                  <f:selectItems
                    id="SelectMethods"
                    value="#{methods}" />
                </h:selectOneMenu>
              </span>
            </ga:div>
            <ga:div
              id="instrumentPanel"
              class="form_input required">
              <label>Instrument:</label>
              <h:dataTable
                id="instruments"
                value="#{viewScope.instruments}"
                var="instrument"
                styleClass="input grid noValidation selectable"
                rendered="#{instruments ne null}">
                <!--
              <a4j:support
                action="instrumentSelected"
                event="click"
                reRender="calibrationDetails"
                ajaxSingle="true"
                immediate="true"
                bypassUpdates="false"
                limitToList="true" />
              -->
                <h:column id="column1">
                  <ga:radioButton
                    id="selectedInstrumentId"
                    name="selectedInstrumentId"
                    overrideName="true"
                    value="#{instrumentSelectorBean.radioSelectedIndex}"
                    itemValue="#{instrument.instrumentNo}">
                  </ga:radioButton>
                </h:column>
                <h:column id="typeColumn">
                  <f:facet name="header">
                    <h:outputText
                      id="typeHeader"
                      value="Type" />
                  </f:facet>
                  <h:outputText
                    id="typeText"
                    value="#{instrument.type}" />
                </h:column>
                <h:column id="makeColumn">
                  <f:facet name="header">
                    <h:outputText
                      id="makeHeader"
                      value="Make" />
                  </f:facet>
                  <h:outputText
                    id="makeText"
                    value="#{instrument.make}" />
                </h:column>
                <h:column id="modelColumn">
                  <f:facet name="header">
                    <h:outputText
                      id="modelHeader"
                      value="Model" />
                  </f:facet>
                  <h:outputText
                    id="modelText"
                    value="#{instrument.model}" />
                </h:column>
                <h:column id="detailsColumn">

                  <sf:commandLink
                    id="detailsText"
                    value="Instrument Details"
                    action="viewInstrumentDetails"
                    immediate="true"
                    styleClass="popup">
                    <f:param
                      name="instrumentNo"
                      value="#{instrument.instrumentNo}" />
                  </sf:commandLink>
                  <f:facet name="header">
                    <h:outputText
                      id="detailsHeader"
                      value="" />
                  </f:facet>
                </h:column>
              </h:dataTable>
            </ga:div>
          </a4j:outputPanel>
          <a4j:outputPanel
            id="calibrationDetails"
            rendered="#{instrumentCalibration ne null}">
            <!--              <ui:include-->
            <!--                src="../../includes/instrumentCalibrationDetails-panel.xhtml" />-->
            <ga:div class="form_buttons">
              <h:commandButton
                id="newCalibration"
                value="New Calibration"
                action="newCalibration" />
            </ga:div>
          </a4j:outputPanel>
          <ga:div class="form_input required">
            <label for="analyst">Instrument Operator:</label>
            <span class="input half"> <h:selectManyListbox
                id="analyst"
                name="analyst"
                value="#{resultBatch.analystList}"
                label="Instrument Operator"
                size="4"
                converter="#{genericDomainConverter}">
                <f:selectItems
                  id="SelectItems"
                  value="#{analysts}" />
              </h:selectManyListbox>
            </span>
            <span class="note">Press and hold the Ctrl key to select
              multiple operators.</span>
          </ga:div>

          <ga:dateTimeField
            id="sessionCommencementDate"
            label="Date and Time Batch Started"
            beanValue="#{resultBatch.sessionDateTime}"
            required="true" />
            
          <a4j:outputPanel id="titrantFactorFragment">
            <ga:textField
              id="titrantFactor"
              label="Titrant Factor"
              beanValue="#{resultBatch.titrantFactor}"
              maxLength="8"
              spanStyle="numeric"
              renderField="#{resultBatch.method.titrationCoefficientRequired eq true}"
              note="If titrant factor is entered it will be used to RECALCULATE titration concentration.  Titrant factor must be between 1.8 and 2.2" />
          </a4j:outputPanel>
          
          <ga:div class="form_input">
            <h:outputLabel for="comment">General Comment:</h:outputLabel>
            <span class="input"> <h:inputTextarea
                name="comment"
                id="comment"
                value="#{resultBatch.comment}"
                cols="50"
                rows="3" />
            </span>
          </ga:div>
          <ga:div class="form_input required">
            <label for="includedJobBatches">Job Numbers:</label>
            <span class="input half"> <h:inputText
                id="includedJobBatches"
                value="#{resultBatch.includedJobBatches}" />
            </span>
            <span class="note">Numbers should be separated by a
              comma(,).</span>
          </ga:div>

          <!--          <a4j:outputPanel id="addMethodToJobPanel" rendered="#{resultBatch.methodInJobBatch eq false}">-->
          <!--            <h:outputLabel for="comment">General Comment:</h:outputLabel>-->
          <!--          </a4j:outputPanel> -->
        </ga:fieldset>

        <ga:div class="form_buttons">
          <h:commandButton
            id="submit"
            value="Submit"
            action="submit" />
          <ga:cancelButton />
          <!--          <ga:resetButton />-->
        </ga:div>
      </ga:main>
    </h:form>
  </ui:define>
</ui:composition>