<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:app="http://www.ga.gov.au/geochem-jsf"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <ui:fragment
    id="sourceFile"
    rendered="#{resultBatch.sourceFile ne null and showSourceFile ne false}">
    <ga:textOutputField
      label="Source File"
      id="sourceFile"
      beanValue="#{resultBatch.sourceFile.name}" />
    <ui:fragment
      id="removeSourceFilePanel"
      rendered="#{resultBatch.technique.gravimetry}">
      <ga:div class="form_input check_box">
        <ga:span class="input">
          <h:selectBooleanCheckbox value="#{resultBatch.removeSourceFile}" />
        </ga:span>
        <label for="default">Remove Source File</label>
      </ga:div>
    </ui:fragment>
  </ui:fragment>
  <ui:fragment id="analysisResultsFragment">
    <ga:fieldset
      id="analysisResultsFieldSet"
      legend="Analyses Results">
      <ga:div class="form_input">
        <table
          class="input dragDropSequence grid noValidation skipGridInputSpans sortable collapsibleColumns">
          <thead>
            <tr style="cursor: move;">
              <th class="sequence col_10"><h:outputText
                  value="Sequence" /></th>
              <th class="col_15"><h:outputText
                  value="Analysis Purpose" /></th>
              <th class="col_15"><h:outputText value="Sample" /></th>
              <th class="col_10"><h:outputText value="Preferred Value" />
                <h:selectBooleanCheckbox
                  styleClass="selectAll {withClass:'analysisRowSelector'}"
                  title="Check/Uncheck All" /></th>
              <a4j:repeat
                id="propertyHeaders"
                value="#{propertyList}"
                var="property">
                <th><h:outputText
                    value="#{property.htmlPropertyId}"
                    escape="false" /><br /> <h:outputText
                    value="(#{property.deliveryUnits})" /></th>
                <ui:fragment
                  id="knownRefResultHeaderFragment"
                  rendered="#{not empty resultBatch.referenceAnalysisList}">
                </ui:fragment>
                <th class="col_3 {group:'Result Attributes'}"><h:outputText
                    value="#{property.htmlPropertyId}"
                    escape="false" /><br /> <h:outputText
                    value="Result Attributes" /></th>
              </a4j:repeat>
            </tr>
          </thead>
          <tbody>
            <a4j:repeat
              id="analysesList"
              value="#{resultBatch.analysisList}"
              var="analysis">
              <ui:fragment
                id="referenceAnalysis"
                rendered="#{analysis.referenceAnalysis}">
                <tr>
                  <td class="sequenceCell"><h:inputText
                      value="#{analysis.sequenceNo}" /></td>
                  <td><h:outputText
                      value="#{analysis.analysisPurpose.label}" /></td>
                  <td><h:outputText
                      value="#{analysis.referenceMaterial.name}" /></td>
                  <td></td>
                  <a4j:repeat
                    id="properties"
                    value="#{propertyList}"
                    var="property">
                    <td class="tbl-cell-right-align"><h:inputText
                        id="resultValue"
                        value="#{analysis.getReferenceAnalysisResultByProperty(property).resultValue}"
                        patternKey="analysis.getReferenceAnalysisResultByProperty(property).deliveryFormat.#{property.propertyId}" /></td>
                    <ui:fragment
                      id="knownRefResultFragment"
                      rendered="#{not empty resultBatch.referenceAnalysisList}">
                      <app:knownRefResultTableCell
                        technique="#{resultBatch.technique}"
                        value="#{analysis.getReferenceAnalysisResultByProperty(property).knownReferenceResult.resultValue}"
                        confidenceLevel="#{analysis.getReferenceAnalysisResultByProperty(property).knownReferenceResult.confidenceLevel}" />
                    </ui:fragment>
                  </a4j:repeat>
                </tr>
              </ui:fragment>
              <ui:fragment
                id="sampleAnalysis"
                rendered="#{analysis.sampleAnalysis}">
                <tr>
                  <td class="sequenceCell "><h:inputText
                      value="#{analysis.sequenceNo}" /></td>
                  <td><h:outputText value="Sample" /></td>
                  <td><h:outputText
                      value="#{analysis.sample.sampleNo}" /></td>
                  <td><h:selectBooleanCheckbox
                      value="#{analysis.preferredValue}"
                      styleClass="analysisRowSelector" /></td>
                  <a4j:repeat
                    id="properties"
                    value="#{propertyList}"
                    var="property">
                    <td class="tbl-cell-right-align"><h:inputText
                        id="resultValue"
                        value="#{analysis.getSampleAnalysisResultByProperty(property).resultValue}"
                        patternKey="analysis.getSampleAnalysisResultByProperty(property).deliveryFormat.#{property.propertyId}" /></td>
                    <ui:fragment
                      id="knownRefResultFragment"
                      rendered="#{not empty resultBatch.referenceAnalysisList}">
                      <td
                        class="{group:'Known Reference Values'} hiddenColumn highlightColumn"><h:outputText
                          escape="false"
                          value="&amp;nbsp;" /></td>
                    </ui:fragment>
                    <td
                      class="{group:'Result Attributes'} #{resultBatch.resultTableObject.propertyList.size() gt 4 ? 'hiddenColumn highlightColumn' : ''} nowrap tbl-cell-right-align">
                      <a4j:repeat
                        id="inputAttributes"
                        value="#{analysis.getSampleAnalysisResultByProperty(property).analysisResultInputAttributeList}"
                        var="attrib">
                        <h:outputText
                          value="#{attrib.name}"
                          styleClass="clear" />
                        <h:inputText
                          id="attribValue"
                          value="#{attrib.value}" />
                        <h:outputText
                          id="attribUnits"
                          value="#{attrib.units eq null ? '' : '('.concat(attrib.units).concat(')')} #{attrib.qualifier}" />
                        <br />
                      </a4j:repeat>
                    </td>
                  </a4j:repeat>
                </tr>
              </ui:fragment>
            </a4j:repeat>
          </tbody>
        </table>
      </ga:div>
    </ga:fieldset>
  </ui:fragment>
</ui:composition>