<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:fn="http://java.sun.com/jsp/jstl/functions"
  xmlns:sec="http://www.springframework.org/security/facelets/tags"
  template="/WEB-INF/layouts/pageTemplate.xhtml">
  <ui:define name="content">
    <h:form id="resultBatchAnalysesForm">
      <ga:workflowLinks
        src="/WEB-INF/flows/geochemistry/baseResultBatch/editBatch/editBatch-menu.xhtml">
        <li><h:commandLink
            id="selectSamples"
            value="Samples"
            action="selectSamples" /></li>
        <li class="selected"><h:commandLink
            immediate="true"
            id="enterResults"
            value="Results"
            action="enterResults" /></li>
      </ga:workflowLinks>
      <ga:main
        title="#{actionTitle} - Results"
        help="Create-an-#{resultBatch.technique.techniqueName}-Result-Batch"
        pageId="RBC-R">
        <ui:include src="../viewBatch/viewBatchDetails-panel.xhtml">
          <ui:param
            name="showComment"
            value="true" />
          <ui:param
            name="showSourceFile"
            value="false" />
        </ui:include>
        <c:if test="#{(not empty resultBatch.analysisList)}">
          <c:if
            test="#{(not resultBatch.directEntrySupported) or (not empty resultBatch.sourceFile)}">
            <ui:include src="editBatchAnalysesResultsUpload-panel.xhtml" />
          </c:if>
          <c:if
            test="#{resultBatch.directEntrySupported and (empty resultBatch.sourceFile)}">
            <ui:include src="editBatchAnalysesResultsDirect-panel.xhtml" />
          </c:if>
        </c:if>
        <ga:div class="form_buttons">
          <sec:ifAnyGranted roles="ROLE_GEOCHEM_DATA_ENTRY_APP">
            <h:commandButton
              id="save"
              value="Save"
              action="save" />
            <h:commandButton
              id="recalculate"
              value="Recalculate"
              action="recalculateDerivedValues"
              rendered="#{resultBatch.recalculateAllowed}" />
            <h:commandButton
              id="complete"
              value="Complete"
              action="complete" />
          </sec:ifAnyGranted>
          <ga:cancelButton />
        </ga:div>
      </ga:main>
    </h:form>
  </ui:define>
</ui:composition>