<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <ui:fragment id="referenceMaterialSelectionFragment">
    <ga:div class="form_buttons">
      <a4j:repeat
        id="jobBatchList"
        value="#{resultBatch.includedJobBatchIdList}"
        var="jobBatchId">
        <h:commandButton
          id="editJobBatchButton"
          value="Edit #{jobBatchId}"
          action="editJobBatch"
          immediate="true">
          <f:param
            name="jobId"
            value="#{jobBatchId}" />
        </h:commandButton>
      </a4j:repeat>
    </ga:div>
  </ui:fragment>
</ui:composition>