<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <ui:fragment id="sampleSelectionFragment">
    <ga:div class="">
      <label>Analysed Samples:</label>
      <table class="input grid noValidation fixedHeader autoWidth">
        <thead>
          <tr>
            <th class="col_10"><h:selectBooleanCheckbox
                styleClass="selectAll {withClass:'sampleRowSelector'}"
                title="Check/Uncheck All" /></th>
            <th class="col_15"><h:outputText value="Job ID" /></th>
            <th class="col_15"><h:outputText value="Sample No" /></th>
            <th><h:outputText value="Sample ID" /></th>
          </tr>
        </thead>
        <tbody>
          <a4j:repeat
            id="jobBatches"
            value="#{resultBatch.includedJobBatchList}"
            var="jobBatch">
            <a4j:repeat
              id="jobBatchSamples"
              value="#{jobBatch.jobBatchSampleList}"
              var="jobBatchSample">
              <tr>
                <td class="selector"><h:selectBooleanCheckbox
                    value="#{jobBatchSample.selected}"
                    styleClass="sampleRowSelector" /></td>
                <td><h:outputText value="#{jobBatch.jobBatchId}" /></td>
                <td><h:outputText
                    value="#{jobBatchSample.sample.sampleNo}" /></td>
                <td><a4j:outputPanel id="sampleId">
                    <h:outputLink
                      id="sampleID"
                      value="#{request.contextPath}/sampleLink/#{jobBatchSample.sample.sampleNo}/details.htm"
                      target="other"
                      styleClass="popupLink">
                          #{jobBatchSample.sample.sampleIdDisplay}
                          </h:outputLink>
                  </a4j:outputPanel></td>
              </tr>
            </a4j:repeat>
          </a4j:repeat>
        </tbody>
      </table>
    </ga:div>
  </ui:fragment>
</ui:composition>