<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:app="http://www.ga.gov.au/geochem-jsf"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <ui:fragment id="referenceMaterialDataFragment">
    <ga:fieldset legend="Analyses Results">
      <ga:div class="form_input body">
        <table class="input grid noValidation collapsibleColumns">
          <thead>
            <tr>
              <th class="col_10"><h:outputText value="Sequence" /></th>
              <c:if test="#{resultBatch.technique.calc eq false}">
                <th class="col_10"><h:outputText
                    value="Analysis Date/Time" /></th>
              </c:if>
              <th class="col_10"><h:outputText
                  value="Analysis Purpose" /></th>
              <c:if test="#{resultBatch.includedJobBatchList.size() > 1}">
                <th class="col_10"><h:outputText value="Job Batch" />
                </th>
              </c:if>
              <th class="col_10"><h:outputText value="Sample No" /></th>
              <th class="col_10"><h:outputText value="Sample ID" /></th>
              <th class="col_10"><h:outputText value="Subsample ID" />
              </th>
              <th class="col_5">Preferred <h:outputText
                  id="preferredValue"
                  value="Value" /> <h:selectBooleanCheckbox
                  styleClass="selectAll {withClass:'analysisRowSelector'}"
                  title="Check/Uncheck All" /></th>
              <th class="col_5 {group:'Analysis Attributes'} hiddenColumn"><h:outputText
                  value="Analysis Attributes" /></th>

              <a4j:repeat
                id="propertyHeaders"
                value="#{propertyList}"
                var="property">
                <th class="col_3"><h:outputText
                    value="#{property.htmlPropertyId}"
                    escape="false" /><br /> <h:outputText
                    value="(#{property.deliveryUnits})" /></th>
                <ui:fragment
                  id="knownRefResultHeaderFragment"
                  rendered="#{not empty resultBatch.referenceAnalysisList}">
                  <th
                    class="col_1 {group:'Known Reference Values'} hiddenColumn highlightColumn"><h:outputText
                      value="#{property.htmlPropertyId}"
                      escape="false" /><br /> <h:outputText
                      value="Reference Value" /></th>
                </ui:fragment>
                <th
                  class="col_3 {group:'Result Attributes'} #{resultBatch.resultTableObject.propertyList.size() gt 4 ? 'hiddenColumn highlightColumn' : ''}"><h:outputText
                    value="#{property.htmlPropertyId}"
                    escape="false" /><br /> <h:outputText
                    value="Result Attributes" /></th>
              </a4j:repeat>
            </tr>
          </thead>
          <tbody>
            <a4j:repeat
              id="analysesList"
              value="#{resultBatch.analysisList}"
              var="analysis">
              <ui:fragment
                id="referenceAnalysis"
                rendered="#{analysis.referenceAnalysis}">
                <tr>
                  <td><h:outputText value="#{analysis.sequenceNo}" />
                  </td>
                  <c:if test="#{resultBatch.technique.calc eq false}">
                    <td class="nowrap"><h:outputText
                        value="#{analysis.analysisDatetime}">
                        <f:convertDateTime
                          pattern="#{mappingProperties['resultBatch.analysisDateTime.format']}"
                          timeZone="#{systemContext.timeZone}" />
                      </h:outputText></td>
                  </c:if>
                  <c:if
                    test="#{resultBatch.includedJobBatchList.size() > 1}">
                    <td><h:outputText value="&amp;nbsp;" /></td>
                  </c:if>
                  <td class="nowrap"><h:outputText
                      value="#{analysis.analysisPurpose.label}" /></td>
                  <td class="nowrap"><h:outputText
                      value="#{analysis.referenceMaterial.name}" /></td>
                  <td><h:outputText
                      escape="false"
                      value="&amp;nbsp;" /></td>
                  <td class="nowrap"><h:outputText
                      id="subsampleId"
                      value="#{analysis.subsampleId}" /></td>
                  <td><h:outputText
                      escape="false"
                      value="&amp;nbsp;" /></td>
                  <td
                    class="{group:'Analysis Attributes'} hiddenColumn nowrap tbl-cell-right-align"><a4j:repeat
                      id="inputAttributes"
                      value="#{analysis.analysisInputAttributeList}"
                      var="attrib">
                      <h:outputText
                        value="#{attrib.name} #{attrib.value} #{attrib.units eq null ? '' : '('.concat(attrib.units).concat(')')} #{attrib.qualifier}"
                        styleClass="clear" />
                      <br />
                    </a4j:repeat></td>
                  <a4j:repeat
                    id="properties"
                    value="#{propertyList}"
                    var="property">
                    <td class="tbl-cell-right-align"><ga:outputNumber
                        id="analysisResultValue"
                        value="#{analysis.getReferenceAnalysisResultByProperty(property).qualifiedResultValue}"
                        qualifier="#{analysis.getReferenceAnalysisResultByProperty(property).limitReasonSymbol}"
                        patternKey="analysis.getReferenceAnalysisResultByProperty(property).deliveryFormat.#{property.propertyId}" />
                    </td>
                    <ui:fragment
                      id="knownRefResultFragment"
                      rendered="#{not empty resultBatch.referenceAnalysisList}">
                      <app:knownRefResultTableCell
                        technique="#{resultBatch.technique}"
                        value="#{analysis.getReferenceAnalysisResultByProperty(property).knownReferenceResult.resultValue}"
                        units="#{analysis.getReferenceAnalysisResultByProperty(property).knownReferenceResult.resultUnits}"
                        confidenceLevel="#{analysis.getReferenceAnalysisResultByProperty(property).knownReferenceResult.confidenceLevel}" />
                    </ui:fragment>
                    <td
                      class="{group:'Result Attributes'} #{resultBatch.resultTableObject.propertyList.size() gt 4 ? 'hiddenColumn highlightColumn' : ''} nowrap tbl-cell-right-align">
                      <a4j:repeat
                        id="inputAttributes"
                        value="#{analysis.getReferenceAnalysisResultByProperty(property).analysisResultInputAttributeList}"
                        var="attrib">
                        <h:outputText
                          value="#{attrib.name} #{attrib.value} #{attrib.units eq null ? '' : '('.concat(attrib.units).concat(')')} #{attrib.qualifier}"
                          styleClass="clear" />
                        <br />
                      </a4j:repeat>
                    </td>
                  </a4j:repeat>
                </tr>
              </ui:fragment>
              <ui:fragment
                id="sampleAnalysis"
                rendered="#{analysis.sampleAnalysis}">
                <tr>
                  <td><h:outputText value="#{analysis.sequenceNo}" />
                  </td>
                  <c:if test="#{resultBatch.technique.calc eq false}">
                    <td class="nowrap"><h:outputText
                        value="#{analysis.analysisDatetime}">
                        <f:convertDateTime
                          pattern="#{mappingProperties['resultBatch.analysisDateTime.format']}"
                          timeZone="#{systemContext.timeZone}" />
                      </h:outputText></td>
                  </c:if>
                  <td><h:outputText value="Sample" /></td>
                  <c:if
                    test="#{resultBatch.includedJobBatchList.size() > 1}">
                    <td><h:outputText
                        value="#{analysis.jobBatch.jobBatchId}" /></td>
                  </c:if>
                  <td><h:outputText
                      value="#{analysis.sample.sampleNo}" /></td>
                  <td class="nowrap"><h:outputText
                      value="#{analysis.sample.sampleIdDisplay}" /></td>
                  <td class="nowrap"><h:outputText
                      id="subsampleId"
                      value="#{analysis.subsampleId}" /></td>
                  <td><h:selectBooleanCheckbox
                      value="#{analysis.preferredValue}"
                      styleClass="analysisRowSelector" /></td>
                  <td
                    class="{group:'Analysis Attributes'} #{analysis.resultListSize() gt 4 ? 'hiddenColumn highlightColumn' : 'hiddenColumn'} nowrap tbl-cell-right-align"><a4j:repeat
                      id="inputAttributes"
                      value="#{analysis.analysisInputAttributeList}"
                      var="attrib">
                      <h:outputText
                        value="#{attrib.name} #{attrib.value} #{attrib.units eq null ? '' : '('.concat(attrib.units).concat(')')} #{attrib.qualifier}"
                        styleClass="clear" />
                      <br />
                    </a4j:repeat></td>
                  <a4j:repeat
                    id="properties"
                    value="#{propertyList}"
                    var="property">
                    <td class="tbl-cell-right-align"><ga:outputNumber
                        id="analysisResultValue"
                        value="#{analysis.getSampleAnalysisResultByProperty(property).qualifiedResultValue}"
                        qualifier="#{analysis.getSampleAnalysisResultByProperty(property).limitReasonSymbol}"
                        patternKey="analysisResult.deliveryFormat.#{property.propertyId}" />
                    </td>
                    <ui:fragment
                      id="knownRefResultFragment"
                      rendered="#{not empty resultBatch.referenceAnalysisList}">
                      <td
                        class="{group:'Known Reference Values'} hiddenColumn highlightColumn"><h:outputText
                          escape="false"
                          value="&amp;nbsp;" /></td>
                    </ui:fragment>
                    <td
                      class="{group:'Result Attributes'} #{resultBatch.resultTableObject.propertyList.size() gt 4 ? 'hiddenColumn highlightColumn' : ''} nowrap tbl-cell-right-align">
                      <a4j:repeat
                        id="inputAttributes"
                        value="#{analysis.getSampleAnalysisResultByProperty(property).analysisResultInputAttributeList}"
                        var="attrib">
                        <h:outputText
                          value="#{attrib.name} #{attrib.value} #{attrib.units eq null ? '' : '('.concat(attrib.units).concat(')')} #{attrib.qualifier}"
                          styleClass="clear" />
                        <br />
                      </a4j:repeat>
                    </td>
                  </a4j:repeat>
                </tr>
              </ui:fragment>
            </a4j:repeat>
          </tbody>
        </table>
      </ga:div>

    </ga:fieldset>
  </ui:fragment>
</ui:composition>