<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:app="http://www.ga.gov.au/geochem-jsf"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <ga:div class="">
    <label>Analysed Reference Materials:</label>
    <ui:fragment
      id="referenceMaterialSelectionFragment"
      rendered="#{not empty referenceMaterialList}">
      <table class="input grid noValidation autoWidth">
        <thead>
          <tr>
            <th class="col_10"><h:selectBooleanCheckbox
              styleClass="selectAll {withClass:'rowSelector'}"
              title="Check/Uncheck All" /></th>
            <th class="col_15"><h:outputText value="No. Times Used" /></th>
            <th class="col_15"><h:outputText
              value="Reference Material Name" /></th>
            <a4j:repeat
              id="reference"
              value="#{resultBatch.method.propertyList}"
              var="propertyVar">
              <th><h:outputText
                value="#{propertyVar.propertyId}" /> <h:outputText
                value=" Reference Value" /></th>
            </a4j:repeat>
          </tr>
        </thead>
        <tbody>
          <a4j:repeat
            id="referenceMaterials"
            value="#{referenceMaterialList}"
            var="referenceMaterial">
            <tr>
              <td class="selector"><h:selectBooleanCheckbox
                value="#{referenceMaterial.selected}"
                styleClass="rowSelector" /></td>
              <td><h:selectOneMenu
                id="noTimesReferenceMaterialUsed"
                value="#{referenceMaterial.noTimesReferenceMaterialUsed}">
                <f:selectItems
                  id="selectInteger"
                  value="#{integerSelectionList}" />
              </h:selectOneMenu></td>
              <!--                <td><h:outputText-->
              <!--                  value="#{knownReferenceResult.referenceMaterial.name}" /></td>-->
              <td><a4j:outputPanel id="referenceMaterialName">
                <sf:commandLink
                  id="selectReferenceMaterialDetails"
                  value="#{referenceMaterial.name}"
                  action="selectReferenceMaterialDetails"
                  immediate="true">
                  <f:param
                    name="referenceMaterialNo"
                    value="#{referenceMaterial.referenceMaterialNo}" />
                </sf:commandLink>
              </a4j:outputPanel></td>
              <a4j:repeat
                id="knownRefResult"
                value="#{method.propertyList}"
                var="knownRefProperty">
                <app:knownRefResultTableCell
                  technique="#{resultBatch.technique}"
                  value="#{resultBatch.methodInstrumentCalibration.getKnownReferenceResult(referenceMaterial, knownRefProperty).resultValue}"
                  units="#{resultBatch.methodInstrumentCalibration.getKnownReferenceResult(referenceMaterial, knownRefProperty).resultUnits}"
                  confidenceLevel="#{resultBatch.methodInstrumentCalibration.getKnownReferenceResult(referenceMaterial, knownRefProperty).confidenceLevel}" />
              </a4j:repeat>
            </tr>
          </a4j:repeat>
        </tbody>
      </table>
    </ui:fragment>
    <ui:fragment
      id="noReferenceMaterialsFragment"
      rendered="#{empty referenceMaterialList}">
      <label>No Selected Reference Materials</label>
      <!--      <h:outputText-->
      <!--        id="noReferenceMaterialsMessage"-->
      <!--        value="No Selected Reference Materials" />-->
    </ui:fragment>
  </ga:div>
</ui:composition>