<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:fn="http://java.sun.com/jsp/jstl/functions"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <ui:fragment id="methodFragment">
    <ga:textOutputField
      label="Method No"
      id="methodNo"
      beanValue="#{method.methodNo}" />
    <ga:textOutputField
      label="Id"
      id="methodId"
      beanValue="#{method.methodId}" />
    <ga:textOutputField
      label="Name"
      id="methodName"
      beanValue="#{method.methodName}" />
    <ga:textOutputField
      label="Purpose"
      id="purpose"
      beanValue="#{method.purpose}" />
    <ga:textOutputField
      label="Group"
      id="methodGroup"
      beanValue="#{fn:toUpperCase(fn:trim(method.methodGroup))}" />
    <ga:textOutputField
      label="Default"
      id="default"
      beanValue="#{method.defaultValue ? 'Y' : 'N'}" />
    <ui:fragment
      id="xrfSampleWeightRequiredPanel"
      rendered="#{method.technique.xrf}">
      <ga:textOutputField
        label="Sample Weight Required"
        id="xrfSampleWeightRequired"
        beanValue="#{method.xrfSampleWeightRequired ? 'Y' : 'N'}" />
    </ui:fragment>
    <ga:textOutputField
      label="Active"
      id="active"
      beanValue="#{method.status.label}" />
    <ga:textOutputField
      label="Display Order"
      id="displayOrder"
      beanValue="#{method.displayOrder}" />
    <ga:outputField
      label="Description"
      id="description">
      <h:inputTextarea
        name="description"
        id="description"
        value="#{method.description}"
        disabled="true"
        readonly="true"
        cols="100"
        rows="3"
        style="width:95%;" />
    </ga:outputField>
    <ui:fragment
      id="methodAuditDetails"
      rendered="#{showMethodAuditDetails eq true}">
      <ga:auditDetails auditLog="#{method.auditLog}" />
    </ui:fragment>
  </ui:fragment>
</ui:composition>