<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:sec="http://www.springframework.org/security/facelets/tags"
  template="/WEB-INF/layouts/popupTemplate.xhtml">
  <ui:define name="content">
    <ui:fragment id="viewMethodDetailsFragment">
      <div id="pageId">[ID]</div>
      <h2>View Method Details</h2>
      <ui:include src="viewMethod-panel.xhtml" />
      <ui:include
        src="/WEB-INF/flows/geochemistry/admin/techniques/viewTechnique/viewTechnique-panel.xhtml" />
    </ui:fragment>
  </ui:define>
</ui:composition>
