<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <ga:fieldset legend="Reference Materials">
    <a4j:outputPanel id="refMaterials">
      <div
        id="referenceMaterialPanel"
        class="form_input">
        <ui:fragment
          id="referenceMaterialsFragment"
          rendered="#{not empty method.methodReferenceMaterialList}">
          <label>Reference Materials:</label>
          <table class="input grid noValidation fixedHeader">
            <thead>
              <tr>
                <th><h:outputText value="Id" /></th>
                <th><h:outputText value="Name  " />
                  <a4j:commandLink
                    id="toggleReferenceMaterialNameAsLink"
                    value="#{showRefMaterialNameAsLink eq true ? 'Show As Text' : 'Show As Links'}"
                    action="toggleShowAsLinkValue"
                    immediate="true"
                    reRender="refMaterials" /></th>
                <th><h:outputText value="Description" /></th>
                <th><h:outputText value="Sample No" /></th>
                <th><h:outputText value="Sample ID" /></th>
                <th><h:outputText value="Sample Name" /></th>
                <th><h:outputText value="Default" /></th>
                <th><h:outputText value="Status" /></th>
              </tr>
            </thead>
            <a4j:repeat
              id="methodReferenceMaterials"
              value="#{method.sortedMethodReferenceMaterialList}"
              var="methodReferenceMaterial">
              <tbody>
                <tr>
                  <td><h:outputText
                      value="#{methodReferenceMaterial.referenceMaterial.referenceMaterialId}" /></td>
                  <td><a4j:outputPanel id="referenceMaterialName">
                      <sf:commandLink
                        id="selectReferenceMaterialDetails"
                        value="#{methodReferenceMaterial.referenceMaterial.name}"
                        action="selectReferenceMaterialDetails"
                        immediate="true"
                        rendered="#{showRefMaterialNameAsLink eq true}">
                        <f:param
                          name="referenceMaterialNo"
                          value="#{methodReferenceMaterial.referenceMaterial.referenceMaterialNo}" />
                      </sf:commandLink>
                      <h:outputText
                        value="#{methodReferenceMaterial.referenceMaterial.name}"
                        rendered="#{showRefMaterialNameAsLink eq false}" />
                    </a4j:outputPanel></td>
                  <td><h:outputText
                      value="#{methodReferenceMaterial.referenceMaterial.description}" /></td>
                  <td><h:outputText
                      value="#{methodReferenceMaterial.referenceMaterial.sample.sampleNo}" /></td>
                  <td><a4j:outputPanel id="sampleId">
                      <h:outputLink
                        id="sampleID"
                        value="#{request.contextPath}/sampleLink/#{methodReferenceMaterial.referenceMaterial.sample.sampleNo}/details.htm"
                        target="other"
                        styleClass="popupLink">
                          #{methodReferenceMaterial.referenceMaterial.sample.sampleIdDisplay}
                          </h:outputLink>
                    </a4j:outputPanel></td>
                  <td><h:outputText
                      value="#{methodReferenceMaterial.referenceMaterial.sample.sampleType}" /></td>
                  <td><h:outputText
                      value="#{methodReferenceMaterial.defaultValue ? 'Y' : 'N'}" /></td>
                  <td><h:outputText
                      value="#{methodReferenceMaterial.status.label}" /></td>
                </tr>
              </tbody>
            </a4j:repeat>
          </table>
        </ui:fragment>
      </div>
    </a4j:outputPanel>
    <ui:fragment
      id="noReferenceMaterialsFragment"
      rendered="#{empty method.methodReferenceMaterialList}">
      <div class="form_input">
        <ga:textOutputField
          id="noReferenceMaterials"
          label="Reference Materials"
          beanValue="No associated reference materials" />
      </div>
    </ui:fragment>
  </ga:fieldset>
</ui:composition>