<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sec="http://www.springframework.org/security/facelets/tags"
  template="/WEB-INF/layouts/pageTemplate.xhtml">
  <ui:define name="content">
    <h:form id="viewMethodForm">
      <ga:workflowLinks
        src="/WEB-INF/flows/geochemistry/admin/methods/viewMethod/viewMethod-menu.xhtml"
        class="selected" />
      <ga:main
        title="Method"
        pageId="MV">
        <ga:fieldset legend="Method">
          <ui:include src="viewMethod-panel.xhtml" />
          <ui:include
            src="../../techniques/viewTechnique/viewTechnique-panel.xhtml" />
          <ui:include src="viewMethodInstruments-panel.xhtml" />
          <ui:include src="viewMethodProperties-panel.xhtml" />
          <ui:include src="viewMethodReferenceMaterials-panel.xhtml" />
        </ga:fieldset>
        <ga:div
          id="buttonsPanel"
          class="form_buttons">
          <sec:ifAnyGranted roles="ROLE_GEOCHEM_DATA_ADMIN_APP">
            <h:commandButton
              id="editMethod"
              value="Edit"
              action="editMethod" />
            <h:commandButton
              id="cloneMethod"
              value="Clone"
              action="cloneMethod" />
            <h:commandButton
              id="createDataUploadTemplate"
              value="Create Data-Upload Template"
              action="createDataUploadTemplate"
              rendered="#{method.technique.calc eq false}" />
          </sec:ifAnyGranted>
          <ga:returnButton />
        </ga:div>
      </ga:main>
    </h:form>
  </ui:define>
</ui:composition>