<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <div class="form_input"><ga:fieldset legend="Analytes">
    <ui:fragment
      id="propertiesFragment"
      rendered="#{not empty method.methodPropertyList}">
      <label>Analytes:</label>
      <table class="input grid noValidation fixedHeader">
        <thead>
          <tr>
            <th><h:outputText value="Analyte" /></th>
            <th><h:outputText value="Name" /></th>
            <th><h:outputText value="Group" /></th>
            <th><h:outputText value="Preference Order" /></th>
            <th><h:outputText value="Status" /></th>
          </tr>
        </thead>
        <a4j:repeat
          id="properties"
          value="#{method.sortedMethodPropertyList}"
          var="methodProperty">
          <tbody>
            <tr>
              <td><h:outputText
                value="#{methodProperty.property.propertyId}" /></td>
              <td><h:outputText value="#{methodProperty.property.name}" /></td>
              <td><h:outputText
                value="#{methodProperty.property.propertyGroup.label}" /></td>
              <td><h:outputText
                value="#{methodProperty.preferenceOrder}" /></td>
              <td><h:outputText
                value="#{methodProperty.status.label}" /></td>
            </tr>
          </tbody>
        </a4j:repeat>
      </table>
    </ui:fragment>
    <ui:fragment
      id="noPropertiesFragment"
      rendered="#{empty method.methodPropertyList}">
      <ga:textOutputField
        id="noProperties"
        label="Analytes"
        beanValue="No associated properties" />
    </ui:fragment>
  </ga:fieldset></div>
</ui:composition>