<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <div class="form_input"><ga:fieldset legend="Instruments">
    <ui:fragment
      id="instrumentsFragment"
      rendered="#{not empty method.methodInstrumentList}">
      <label>Instruments:</label>
      <table class="input grid noValidation fixedHeader">
        <thead>
          <tr>
            <th><h:outputText value="Instrument No" /></th>
            <th><h:outputText value="Id" /></th>
            <th><h:outputText value="Type" /></th>
            <th><h:outputText value="Make" /></th>
            <th><h:outputText value="Model" /></th>
            <th><h:outputText value="Serial" /></th>
            <th><h:outputText value="Entry Type" /></th>
            <th><h:outputText value="Default" /></th>
            <th><h:outputText value="Status" /></th>
            <th><h:outputText value="Calibrations" /></th>
          </tr>
        </thead>
        <a4j:repeat
          id="methodInstruments"
          value="#{method.methodInstrumentList}"
          var="methodInstrument">
          <tbody>
            <tr>
              <td><h:outputText
                value="#{methodInstrument.instrument.instrumentNo}" /></td>
              <td><h:outputText
                value="#{methodInstrument.instrument.instrumentId}" /></td>
              <td><h:outputText
                value="#{methodInstrument.instrument.type}" /></td>
              <td><h:outputText
                value="#{methodInstrument.instrument.make}" /></td>
              <td><h:outputText
                value="#{methodInstrument.instrument.model}" /></td>
              <td><h:outputText
                value="#{methodInstrument.instrument.serial}" /></td>
              <td><h:outputText
                value="#{methodInstrument.entryTypeCode}" /></td>
              <td><h:outputText
                value="#{methodInstrument.defaultValue ? 'Y' : 'N'}" /></td>
              <td><h:outputText
                value="#{methodInstrument.status.label}" /></td>
              <td><h:commandLink
                id="findCalibrations"
                value="Find"
                action="findMethodInstrumentCalibrations"
                immediate="true">
                <f:param
                  name="instrumentNo"
                  value="#{methodInstrument.instrument.instrumentNo}" />
              </h:commandLink></td>
            </tr>
          </tbody>
        </a4j:repeat>
      </table>
    </ui:fragment>
    <ui:fragment
      id="noInstrumentsFragment"
      rendered="#{empty method.methodInstrumentList}">
      <ga:textOutputField
        id="noInstruments"
        label="Instruments"
        beanValue="No associated instruments" />
    </ui:fragment>
  </ga:fieldset></div>
</ui:composition>