<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:ga="http://www.ga.gov.au/jsf">
  <head>
    <title>Configurable Text field Facelets Component</title>
  </head>
  <body>

    <ui:composition>
      <ui:fragment
        id="enteredByFragment"
        rendered="#{not empty auditLog.enteredBy}">
        <div
          class="form_input">
          <h:outputLabel
            for="enteredBy">Entered By:</h:outputLabel>
          <span
            class="display">
            <h:outputText
              id="enteredBy"
              value="#{auditLog.enteredBy}" />
            <ga:userTooltip
              userId="#{auditLog.enteredBy}"
              componentId="enteredBy" />
          </span>
        </div>
      </ui:fragment>
      <ui:fragment
        id="entryDateFragment"
        rendered="#{not empty auditLog.entryDate}">
        <div
          class="form_input">
          <h:outputLabel
            for="entryDate">Entry Date:</h:outputLabel>
          <span
            class="display">
            <h:outputText
              id="entryDate"
              value="#{auditLog.entryDate}">
              <f:convertDateTime
                pattern="dd-MM-yyyy HH:mm"
                timeZone="#{systemContext.timeZone}" />
            </h:outputText>
          </span>
        </div>
      </ui:fragment>
      <ui:fragment
        id="updatedByFragment"
        rendered="#{not empty auditLog.updatedBy}">
        <div
          class="form_input">
          <h:outputLabel
            for="updatedBy">Updated By:</h:outputLabel>
          <span
            class="display">
            <h:outputText
              id="updatedBy"
              value="#{auditLog.updatedBy}" />
            <ga:userTooltip
              userId="#{auditLog.updatedBy}"
              componentId="updatedBy" />
          </span>
        </div>
      </ui:fragment>
      <ui:fragment
        id="lastUpdateByFragment"
        rendered="#{not empty auditLog.lastUpdate}">
        <div
          class="form_input">
          <h:outputLabel
            for="lastUpdate">Last Update:</h:outputLabel>
          <span
            class="display">
            <h:outputText
              id="lastUpdate"
              value="#{auditLog.lastUpdate}">
              <f:convertDateTime
                pattern="dd-MM-yyyy HH:mm"
                timeZone="#{systemContext.timeZone}" />
            </h:outputText>
          </span>
        </div>
      </ui:fragment>
    </ui:composition>

  </body>
</html>