<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:c="http://java.sun.com/jstl/core">
<head>
<title>Clear button</title>
</head>
<body>
  <ui:composition>
    <h:commandButton
      id="clear"
      value="Clear"
      action="clearAction"
      class="immediate"
      immediate="true"
      rendered="#{rendered eq null or rendered eq true ? true : false}" />
  </ui:composition>
</body>
</html>