<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:rich="http://richfaces.org/rich">
  <head>
    <title>Configurable Data Scroller Facelets Component</title>
  </head>
  <body>

    <ui:composition>
      <ui:fragment
        id="datascrollerPanel"
        rendered="#{searchResults.rowCount gt searchCriteria.resultsPerPage}">
        <rich:datascroller
          align="left"
          for="searchResults"
          maxPages="10"
          page="1"
          fastControls="hide"
          pageIndexVar="pageIndex"
          pagesVar="pages"
          reRender="results">
          <f:facet
            name="previous">
            <h:outputText
              value="Prev" />
          </f:facet>
          <f:facet
            name="previous_disabled">
            <h:outputText
              value="Prev" />
          </f:facet>
          <f:facet
            name="next">
            <h:outputText
              value="Next" />
          </f:facet>
          <f:facet
            name="next_disabled">
            <h:outputText
              value="Next" />
          </f:facet>
        </rich:datascroller>
        <br/><br/>
        <h:outputText
          id="rowsDisplayed"
          value="Displaying rows: #{(searchCriteria.resultsPerPage * (pageIndex - 1)) + 1} to #{pageIndex eq pages ? searchResults.rowCount : searchCriteria.resultsPerPage * pageIndex} of #{searchResults.rowCount}"
          style="display: block; padding-bottom: 5px;" />
      </ui:fragment>
    </ui:composition>

  </body>
</html>