<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core">
<head>
<title>Configurable Text field Facelets Component</title>
</head>
<body>

<ui:composition>
  <div
    id="resultsPerPagePanel"
    class="form_input"><h:outputLabel
    for="resultsPerPage"
    rendered="#{hideResultsPerPage != true}">Results
  Per Page:</h:outputLabel><span class="input half"> <h:selectOneMenu
    id="resultsPerPage"
    value="#{searchCriteria.resultsPerPage}"
    rendered="#{hideResultsPerPage != true}">
    <f:selectItems
      id="selectResultsPerPage"
      value="#{resultsPerPageList}" />
    <ui:param
      name="hideResultsPerPage"
      value="" />
  </h:selectOneMenu> </span></div>
  <div
    id="maxResultsPanel"
    class="form_input"><h:outputLabel for="maxResults">Max.
  Results:</h:outputLabel> <span class="input half"> <h:inputText
    name="maxResults"
    id="maxResults"
    label="Max. Results"
    maxlength="8"
    value="#{searchCriteria.maxResults}" /></span></div>
</ui:composition>

</body>
</html>