<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:rich="http://richfaces.org/rich">
<!-- This version is required by Richfaces (RF) 4 (but not RF 3).  -->
<!-- It has upper case 'S' (dataScroller) in RF4 and lower case 's' (datascroller) in RF 3 -->

<head>
<title>Configurable Data Scroller Facelets Component</title>
</head>
<body>

  <ui:composition>
    <ui:fragment
      id="dataScrollerPanel"
      rendered="#{searchResults.rowCount gt searchCriteria.resultsPerPage}">
      <rich:dataScroller
        align="left"
        for="searchResults"
        maxPages="10"
        page="1"
        fastControls="hide"
        pageIndexVar="pageIndex"
        pagesVar="pages"
        reRender="results">
        <f:facet name="previous">
          <h:outputText value="Prev" />
        </f:facet>
        <f:facet name="previous_disabled">
          <h:outputText value="Prev" />
        </f:facet>
        <f:facet name="next">
          <h:outputText value="Next" />
        </f:facet>
        <f:facet name="next_disabled">
          <h:outputText value="Next" />
        </f:facet>
      </rich:dataScroller>
      <!--    <h:outputText-->
      <!--      id="rowsDisplayed"-->
      <!--      value="Displaying rows: #{(searchCriteria.resultsPerPage * pageIndex) + 1} to #{searchCriteria.resultsPerPage * (pageIndex + 1)} of #{searchResults.rowCount}"-->
      <!--      style="display: block; padding-bottom: 5px;" />-->

    </ui:fragment>
  </ui:composition>

</body>
</html>