<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:rich="http://richfaces.org/rich">
  <head>
    <title>Custom Facelets Component</title>
  </head>
  <body>

    <ui:composition>
      <div
        class="form_input #{pStyle}"
        id="#{id eq null ? 'xid' : id}Panel">
        <h:outputLabel
          for="#{id eq null ? 'xid' : id}"
          rendered="#{not empty label and showLabel != false}">#{label}:</h:outputLabel>
        <span
          class="display #{spanStyle}">
          <h:outputText
            id="#{id eq null ? 'xid' : id}"
            value="#{beanValue}"
            label="#{label eq null ? id : label}">
            <f:convertDateTime
              pattern="dd-MM-yyyy HH:mm"
              timeZone="#{systemContext.timeZone}" />
            <ui:param
              name="pStyle"
              value="" />
            <ui:param
              name="id"
              value="" />
            <ui:param
              name="label"
              value="" />
            <ui:param
              name="showLabel"
              value="" />
            <ui:param
              name="spanStyle"
              value="" />
            <ui:param
              name="beanValue"
              value="" />
            <ui:insert />
          </h:outputText>
        </span>
      </div>
    </ui:composition>

  </body>
</html>