<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:rich="http://richfaces.org/rich">
  <head>
    <title>Standard systemContext status block</title>
  </head>
  <body>

    <ui:composition>
      <ga:div class="structure status">
        <ga:div class="status-pad">
          <p>Version: <span class="version">#{systemContext.implementationVersion}</span>;
          Build: <span class="version">#{systemContext.implementationBuild}</span>;
          Environment: <span class="environment">#{systemContext.environmentName}</span>;
          Database: <span class="database">#{systemContext.dbName}</span></p>
        </ga:div>
      </ga:div>
    </ui:composition>
  </body>
</html>