<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <head>
    <title>Custom Facelets Component</title>
  </head>
  <body>

    <ui:composition>
      <div
        class="form_input #{pStyle} #{required eq 'true' ? 'required' : ''}"
        id="#{id eq null ? 'xid' : id}Panel">
        <h:outputLabel
          for="#{id eq null ? 'xid' : id}"
          rendered="#{not empty label}">#{label}:</h:outputLabel>
        <span
          class="input #{spanStyle}">
          <h:selectOneMenu
            id="#{id eq null ? 'xid' : id}"
            value="#{beanValue}"
            label="#{label eq null ? id : label}"
            converter="#{genericDomainConverter}"
            readOnly="#{readOnly}"
            disabled="#{disabled}">
            <ui:param
              name="pStyle"
              value="" />
            <ui:param
              name="required"
              value="" />
            <ui:param
              name="label"
              value="" />
            <ui:param
              name="readOnly"
              value="" />
            <ui:param
              name="disabled"
              value="" />
            <ui:insert
              name="preItems" />
            <ui:insert />
            <f:selectItems
              value="#{list}" />
            <ui:param
              name="list"
              value="" />
            <ui:insert
              name="postItems" />
          </h:selectOneMenu>
        </span>
      </div>
    </ui:composition>

  </body>
</html>