<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich">
<head>
<title>A jsf-friendly div. ie one that jsf is aware of</title>
</head>
<body>

  <ui:composition>
    <a4j:outputPanel
      id="#{id eq null ? 'jxid' : id}"
      styleClass="#{styleClass} #{class}"
      style="#{style}"
      layout="block">
      <ui:param
        name="id"
        value="" />
      <ui:param
        name="styleClass"
        value="" />
      <ui:param
        name="class"
        value="" />
      <ui:param
        name="style"
        value="" />
      <ui:insert />
    </a4j:outputPanel>
  </ui:composition>

</body>
</html>