<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <head>
    <title>Custom Facelets Component for the main block on a page</title>
  </head>
  <body>
    <p>If config properties contain a helpUri property we will add a help
      button.
    </p>
    <p>If the request contains a help attribute we will attempt to resolve
      a property named helpDest.{help}
      If found will use the resolved value
      as the named destination
      otherwise we assume the help attribute itself
      is the named destination</p>
    <p>If the request contains a pageId (page identifier) attribute we will
      create a corresponding div with id=pageId to hold it</p>
    <ui:composition>
      <c:if
        test="#{not empty pageId}">
        <c:if
        test="#{not empty systemContext.configProperties['helpUri']}">
            <c:set var="helpbookmark" value="#{systemContext.configProperties['helpUri.'.concat(pageId).concat('.bookmark')]}"/>
        <ul
          class="pagelinks">
          <li
            class="first last">
            <c:if
              test="#{empty helpbookmark}">
              <a
                href="#{systemContext.configProperties['helpUri']}"
                target="_help"
                id="pagehelp">Help</a>
            </c:if>
            <c:if
              test="#{not empty helpbookmark}">
              <a
                href="#{systemContext.configProperties['helpUri']}&amp;nameddest=#{helpbookmark}"
                target="_help"
                id="pagehelp">Help</a>
            </c:if>
          </li>
        </ul>
      </c:if>
        <div
          id="pageId">[#{pageId}]</div>
      </c:if>
      <div
        class="structure container">
        <div
          class="container-pad">
          <div
            class="#{class ne null ? class : 'view'}"
            id="#{id ne null ? id : 'main'}">
            <ga:messages />
            <h2>#{title}</h2>
            <ui:param
              name="help"
              value="" />
            <ui:param
              name="class"
              value="" />
            <ui:param
              name="id"
              value="" />
            <ui:param
              name="title"
              value="" />
            <ui:param
              name="pageId"
              value="" />
            <ui:insert />
          </div>
        </div>
      </div>
    </ui:composition>
  </body>
</html>