<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:a4j="http://richfaces.org/a4j">
  <head>
    <title>Messages panel</title>
  </head>
  <body>
    <p>
      see class FacesMessage for severity ordinal values (and use the
      static
      constants if we switch to an EL implementation that lets us do
      so)
    </p>
    <ui:composition>
      <a4j:outputPanel
        id="messages"
        ajaxRendered="true"
        layout="block">
        <ui:fragment
          id="messagesFragment">
          <div
            id="messagesInsertionPoint"
            class="#{facesContext.maximumSeverity.ordinal eq 0 ? 'info' : (facesContext.maximumSeverity.ordinal eq 1 ? 'warn' : (facesContext.maximumSeverity.ordinal eq 3 ? 'fatal' : 'error'))}">
            <h:messages
              infoClass="info"
              warnClass="warn"
              errorClass="error"
              fatalClass="fatal" />
          </div>
        </ui:fragment>
      </a4j:outputPanel>
    </ui:composition>

  </body>
</html>