<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:c="http://java.sun.com/jstl/core">
  <head>
    <title>Configurable Output field Facelets Component</title>
  </head>
  <body>

    <ui:composition>
      <div
        class="form_input #{pStyle}">
        <ui:fragment rendered="#{not empty label}">
          <div class="label">#{label}:</div>
        </ui:fragment>
        <div
          class="display #{spanStyle}">
          <ui:param
            name="pStyle"
            value="" />
          <ui:param
            name="label"
            value="" />
          <ui:param
            name="spanStyle"
            value="" />
          <ui:insert />
          <ui:fragment rendered="#{not empty note}">
            <span
              class="note">#{note}</span>
          </ui:fragment>
        </div>
      </div>
    </ui:composition>
  </body>
</html>