<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:c="http://java.sun.com/jstl/core">
  <head>
    <title>Configurable ouputText with numeric conversion pattern</title>
  </head>
  <body>
    <!--  for debugging -->
    <h:outputText
      value="#{value},#{qualifier}, #{patternKey}, #{mappingProperties[patternKey]}, #{(mappingProperties[patternKey] eq '##0.000')},#{mappingProperties['outputNumber.defaultPattern']}" />

    <ui:composition>
      <h:outputText
        value="#{qualifier}"
        escape="true"
        rendered="#{qualifier ne null}"
        styleClass="qualifier"/>
      <h:outputText
        name="#{id eq null ? 'nxid' : id}"
        id="#{id eq null ? 'nxid' : id}"
        value="#{value}"
        label="#{label eq null ? id : label}"
        escape="#{escape eq null ? 'false' : escape}"
        rendered="#{(mappingProperties[patternKey] eq '##0.00')}">
        <f:convertNumber
          pattern="##0.00" />
        <ui:insert />
      </h:outputText>
      <h:outputText
        name="#{id eq null ? 'nxid' : id}"
        id="#{id eq null ? 'nxid' : id}"
        value="#{value}"
        label="#{label eq null ? id : label}"
        escape="#{escape eq null ? 'false' : escape}"
        rendered="#{(mappingProperties[patternKey] eq '##0.000')}">
        <f:convertNumber
          pattern="##0.000" />
        <ui:insert />
      </h:outputText>
      <h:outputText
        name="#{id eq null ? 'nxid' : id}"
        id="#{id eq null ? 'nxid' : id}"
        value="#{value}"
        label="#{label eq null ? id : label}"
        escape="#{escape eq null ? 'false' : escape}"
        rendered="#{(mappingProperties[patternKey] eq '###0.000')}">
        <f:convertNumber
          pattern="###0.000" />
        <ui:insert />
      </h:outputText>
      <h:outputText
        name="#{id eq null ? 'nxid' : id}"
        id="#{id eq null ? 'nxid' : id}"
        value="#{value}"
        label="#{label eq null ? id : label}"
        escape="#{escape eq null ? 'false' : escape}"
        rendered="#{((mappingProperties[patternKey] eq null
        or (mappingProperties[patternKey] ne '##0.00'
        and mappingProperties[patternKey] ne '##0.000'
        and mappingProperties[patternKey] ne '###0.000'))
        and mappingProperties['outputNumber.defaultPattern'] ne null)}">
        <f:convertNumber
          pattern="#{mappingProperties['outputNumber.defaultPattern']}" />
        <ui:insert />
      </h:outputText>
      <h:outputText
        name="#{id eq null ? 'nxid' : id}"
        id="#{id eq null ? 'nxid' : id}"
        value="#{value}"
        label="#{label eq null ? id : label}"
        escape="#{escape eq null ? 'false' : escape}"
        rendered="#{((mappingProperties[patternKey] eq null
        or (mappingProperties[patternKey] ne '##0.00'
        and mappingProperties[patternKey] ne '##0.000'
        and mappingProperties[patternKey] ne '###0.000'))
        and mappingProperties['outputNumber.defaultPattern'] eq null)}">
        <f:convertNumber
          pattern="####0.00000" />
        <ui:insert />
      </h:outputText>

    </ui:composition>
  </body>
</html>