<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:rich="http://richfaces.org/rich">
  <head>
    <title>Configurable Rich Column Component</title>
  </head>
  <body>

    <ui:composition>
      <div
        class="#{pStyle}">
        <rich:column>
          <f:facet
            name="header">
            <h:outputText
              escape="false"
              value="#{label}">
            </h:outputText>
          </f:facet>
          <h:outputText
            value="#{beanValue}">
            <ui:param
              name="pStyle"
              value="" />
            <ui:param
              name="label"
              value="" />
            <ui:param
              name="beanValue"
              value="" />
            <ui:insert />
          </h:outputText>
        </rich:column>
      </div>
    </ui:composition>
  </body>
</html>