<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:rich="http://richfaces.org/rich">
  <head>
    <title>Custom Facelets Component</title>
  </head>
  <body>

    <ui:composition>
      <div
        class="form_input date #{required eq 'true' ? 'required' : ''} #{pStyle}">
        <h:outputLabel
          for="#{id}"
          rendered="#{not empty label and showLabel != false}">#{label}:</h:outputLabel>
        <span
          class="input #{spanStyle} #{required eq 'true' ? 'required' : ''}">
          <rich:calendar
            id="#{id}"
            value="#{beanValue}"
            locale="#{systemContext.locale}"
            popup="true"
            datePattern="dd-MM-yyyy"
            showApplyButton="false"
            required="#{required}"
            enableManualInput="true"
            label="#{label}"
            cellWidth="24px"
            cellHeight="22px"
            style="width:200px"
            inputClass="#{required eq 'true' ? 'required' : ''}" />
        </span>
      </div>
    </ui:composition>

  </body>
</html>