<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:rich="http://richfaces.org/rich">
  <head>
    <title>Configurable Text field Facelets Component</title>
  </head>
  <body>

    <ui:composition>
      <rich:column
        sortBy="#{searchResult.enteredBy}">
        <f:facet
          name="header">
          <h:outputText
            value="Entered By" />
        </f:facet>
        <h:outputText
          value="#{searchResult.enteredBy}" />
        <ga:userTooltip_rf4
          userId="#{searchResult.enteredBy}" />
      </rich:column>
      <rich:column
        sortBy="#{searchResult.entryDate}">
        <f:facet
          name="header">
          <h:outputText
            value="Entry Date" />
        </f:facet>
        <h:outputText
          value="#{searchResult.entryDate}">
          <f:convertDateTime
            pattern="dd-MM-yyyy HH:mm"
            timeZone="#{systemContext.timeZone}" />
        </h:outputText>
      </rich:column>
      <rich:column
        sortBy="#{searchResult.updatedBy}">
        <f:facet
          name="header">
          <h:outputText
            value="Updated By" />
        </f:facet>
        <h:outputText
          value="#{searchResult.updatedBy}" />
        <ga:userTooltip_rf4
          userId="#{searchResult.updatedBy}" />
      </rich:column>
      <rich:column
        sortBy="#{searchResult.lastUpdate}">
        <f:facet
          name="header">
          <h:outputText
            value="Last Update" />
        </f:facet>
        <h:outputText
          value="#{searchResult.lastUpdate}">
          <f:convertDateTime
            pattern="dd-MM-yyyy HH:mm"
            timeZone="#{systemContext.timeZone}" />
        </h:outputText>
      </rich:column>
    </ui:composition>

  </body>
</html>