<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <head>
    <title>Custom Facelets Component</title>
  </head>
  <body>

    <ui:composition>
      <div
        class="form_input date #{pStyle}">
        <h:outputLabel
          for="#{id}"
          rendered="#{not empty label}">#{label}:</h:outputLabel>
        <span
          class="input #{spanStyle} #{required eq 'true' ? 'required' : ''}">
          <sf:clientDateValidator
            required="#{required}"
            invalidMessage="please provide a correct date value for #{label}; format: dd-MM-yyyy"
            promptMessage="Format: dd-MM-yyyy, example: 23.09.2009">
            <h:inputText
              id="#{id}"
              value="#{beanValue}"
              label="#{label eq null ? id : label}"
              required="#{required}">
              <f:convertDateTime
                pattern="dd-MM-yyyy"
                timeZone="#{systemContext.timeZone}" />
            </h:inputText>
          </sf:clientDateValidator>
        </span>
      </div>
    </ui:composition>

  </body>
</html>