<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:rich="http://richfaces.org/rich">
  <head>
    <title>Custom Facelets Component</title>
    <!--
      try to keep parameter usage consistant with the richFaces
      simpleTogglePanel
      http://livedemo.exadel.com/richfaces-demo/richfaces/simpleTogglePanel.jsf?tab=info&cid=904320
    -->
  </head>
  <body>

    <ui:composition>
      <div
        class="accordionGroup"
        id="#{id eq null ? 'xid' : id}">
        <div
          class="accordionPanel #{styleClass} #{opened ? 'open' : ''}">
          <div
            class="panelHead #{headerClass}">#{label}</div>
          <div
            class="panelBody #{bodyClass}">
            <ui:param
              name="id"
              value="" />
            <ui:param
              name="styleClass"
              value="" />
            <ui:param
              name="headerClass"
              value="" />
            <ui:param
              name="bodyClass"
              value="" />
            <ui:param
              name="label"
              value="" />
            <ui:param
              name="opened"
              value="" />
            <ui:insert />
          </div>
        </div>
      </div>
    </ui:composition>
  </body>
</html>