<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:rich="http://richfaces.org/rich">
  <head>
    <title>Custom Facelets Component (just here to help eclipse with
      xhtml
      formatting)</title>
  </head>
  <body>

    <ui:composition>
      <span
        id="#{id}"
        class="#{styleClass} #{class}"
        style="#{style}">
        <ui:param
          name="id"
          value="" />
        <ui:param
          name="styleClass"
          value="" />
        <ui:param
          name="class"
          value="" />
        <ui:param
          name="style"
          value="" />
        <ui:insert />
      </span>
    </ui:composition>

  </body>
</html>