<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html">
  <head>
    <title>Configurable Text field Facelets Component</title>
  </head>
  <body>

    <ui:composition>
      <div
        class="form_input #{required eq 'true' ? 'required' : ''} #{pStyle}"
        id="#{id eq null ? 'xid' : id}Panel">
        <h:outputLabel
          for="#{id eq null ? 'xid' : id}"
          rendered="#{renderField != false and not empty label and showLabel != false}">#{label}:</h:outputLabel>
        <span
          class="input #{spanStyle}">
          <h:inputText
            name="#{id eq null ? 'xid' : id}"
            id="#{id eq null ? 'xid' : id}"
            label="#{label eq null ? id : label}"
            maxlength="#{maxLength}"
            value="#{beanValue}"
            readOnly="#{readOnly}"
            disabled="#{disabled}"
            rendered="#{renderField != false}" />
        </span>
        <ui:fragment
          rendered="#{renderField != false and not empty note}">
          <span
            class="note">#{note}</span>
        </ui:fragment>
      </div>
    </ui:composition>

  </body>
</html>