<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <head>
    <title>Custom Facelets Component</title>
  </head>
  <body>

    <ui:composition>
      #{request.setAttribute('userId',userId)}
      #{request.setAttribute('userDetails',referenceData.findUserById(userId))}
      <h:outputText
        value=" (+)"
        rendered="#{not empty userDetails}" />
      <rich:toolTip
        for="#{componentId}"
        rendered="#{not empty userDetails}">
        <table
          border="0">
          <a4j:repeat
            value="#{userDetails}"
            var="user">
            <tr class="hover">
              <td>
                <h:outputText
                  value="#{user.firstName} #{user.lastName}" />
              </td>
            </tr>
          </a4j:repeat>
        </table>
      </rich:toolTip>
    </ui:composition>

  </body>
</html>