<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:c="http://java.sun.com/jstl/core">
  <head>
    <title>Custom Facelets Component</title>
  </head>
  <body>
    <ui:composition>
      <div
        class="structure workflow">
        <div
          class="workflow-pad">
          <ol>
            <c:if
              test="#{not empty src}">
              <ui:include
                src="#{src}">
                <ui:param
                  name="class"
                  value="#{class}" />
                <ui:param
                  name="src"
                  value="" />
              </ui:include>
            </c:if>
            <ui:param
              name="class"
              value="" />
            <ui:param
              name="src"
              value="" />
            <ui:insert />
          </ol>
        </div>
      </div>
    </ui:composition>
  </body>
</html>