<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <head>
    <title>Custom Facelets Component</title>
    <!--
      this doesn't work with JSF1.2 as it won't pass the action parameter
      down to the sub-component.
    -->
  </head>
  <body>

    <ui:composition>
      <li
        class="#{styleClass} #{class} #{selected eq 'true' ? 'selected' : ''}">
        <h:commandLink
          id="#{not empty id ? id : action}"
          immediate="true"
          value="#{value}"
          action="#{action}" />
      </li>
    </ui:composition>

  </body>
</html>