<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:sec="http://www.springframework.org/security/facelets/tags"
  template="/WEB-INF/layouts/pageTemplate.xhtml">
  <ui:param
    name="title"
    value="Raging Spot" />

  <ui:define name="content">
    <h:form id="geochemAdminForm">
      <ga:workflowLinks
        src="/WEB-INF/flows/geochemistry/admin/admin-menu.xhtml"
        class="selected" />
      <ga:main
        class="view intro"
        title="Administration"
        pageId='ADMIN'>
        <h3>Lookup Management</h3>
        <ul>
          <li><h:commandLink
              id="analysts"
              value="Analysts"
              action="analysts" /></li>
          <li><h:commandLink
              id="properties"
              value="Analytes"
              action="properties" /></li>
          <li><h:commandLink
              id="methodInstrumentCalibrations"
              value="Calibrations"
              action="methodInstrumentCalibrations" /></li>
          <li><h:commandLink
              id="instruments"
              value="Instruments"
              action="instruments" /></li>
          <li><h:commandLink
              id="knownReferenceResults"
              value="Known Reference Results"
              action="knownReferenceResults" /></li>
          <li><h:commandLink
              id="laboratories"
              value="Laboratories"
              action="laboratories" /></li>
          <li><h:commandLink
              id="methods"
              value="Methods"
              action="methods" /></li>
          <li><h:commandLink
              id="preparationProcedures"
              value="Preparation Procedures"
              action="preparationProcedures" /></li>
          <li><h:commandLink
              id="referenceMaterials"
              value="Reference Materials"
              action="referenceMaterials" /></li>
          <li><h:commandLink
              id="techniques"
              value="Techniques"
              action="techniques" /></li>
          <li><h:commandLink
              id="uncertaintyTypes"
              value="Uncertainty Types"
              action="uncertaintyTypes" /></li>
          <li><h:commandLink
              id="units"
              value="Units"
              action="units" /></li>
          <li><h:commandLink
              id="unitGroups"
              value="Unit Groups"
              action="unitGroups" /></li>
        </ul>
        <ul>
          <li><h:commandLink
              id="docfiles"
              value="Documents"
              action="docfiles" /></li>
        </ul>
        <sec:ifAnyGranted
          roles="ROLE_GEOCHEM_DATA_ENTRY_APP,ROLE_GEOCHEM_DATA_ADMIN_APP">
          <h3>Application Management</h3>
          <ul>
            <sec:ifAnyGranted roles="ROLE_GEOCHEM_DATA_ADMIN_APP">
              <li><h:outputLink
                  value="#{request.contextPath}/geochemistry/admin/batch/jobs">
                  <h:outputText value="Batch Jobs" />
                </h:outputLink></li>
            </sec:ifAnyGranted>
            <li><h:commandLink
                id="userSessions"
                value="User Sessions"
                action="userSessions" /></li>
            <li><h:commandLink
                id="updateScripts"
                value="Update Groovy Scripts "
                action="updateScripts" /></li>
            <li><h:commandLink
                id="reloadLookups"
                value="Reload Lookup Data"
                action="reloadLookups" /></li>
          </ul>
        </sec:ifAnyGranted>
      </ga:main>
    </h:form>
  </ui:define>
</ui:composition>