<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <ga:fieldset legend="Techniques">
    <div class="form_input">
      <label>Techniques:</label>
      <table
        class="input grid noValidation skipGridInputSpans selectable collapsibleRows">
        <thead>
          <tr>
            <th></th>
            <th><h:outputText value="Id" /></th>
            <th><h:outputText value="Name" /></th>
            <th><h:outputText value="Default" /></th>
            <th><h:outputText value="Active" /></th>
          </tr>
        </thead>
        <tbody>
          <a4j:repeat
            id="techniqueLaboratories"
            value="#{techniqueLaboratoryList}"
            var="techniqueLaboratory">
            <tr
              class="#{laboratory.versionNo ne null and techniqueLaboratoryList.currentRowSelected == false ? 'hiddenRow' : ''}">
              <td><h:selectBooleanCheckbox
                  id="selectedCheckbox"
                  value="#{techniqueLaboratoryList.currentRowSelected}">
                  <a4j:support
                    event="onchange"
                    reRender="defaultTechniqueLaboratory, laboratoryActiveStatus" />
                </h:selectBooleanCheckbox></td>
              <td><h:outputText
                  value="#{techniqueLaboratory.technique.techniqueId}" /></td>
              <td><h:outputText
                  value="#{techniqueLaboratory.technique.techniqueName}" /></td>
              <td><ga:radioButton
                  id="defaultTechniqueLaboratory"
                  name="selectedTechniqueLaboratoryNo"
                  overrideName="true"
                  value="#{radioDataTableBackingBean.radioSelectedIndex}"
                  itemValue="#{techniqueLaboratory.technique.techniqueNo}"
                  disabled="#{techniqueLaboratoryList.currentRowSelected eq false}" /></td>
              <td><h:selectBooleanCheckbox
                  id="laboratoryActiveStatus"
                  value="#{techniqueLaboratory.active}"
                  disabled="#{techniqueLaboratoryList.currentRowSelected eq false}"
                  readOnly="#{techniqueLaboratoryList.currentRowSelected eq false}" />
              </td>
            </tr>
          </a4j:repeat>
        </tbody>
      </table>
    </div>
  </ga:fieldset>

</ui:composition>