<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sec="http://www.springframework.org/security/facelets/tags"
  xmlns:fn="http://java.sun.com/jsp/jstl/functions"
  template="/WEB-INF/layouts/pageTemplate.xhtml">
  <ui:define name="content">
    <h:form id="editLaboratoryForm">
      <ga:workflowLinks
        src="/WEB-INF/flows/geochemistry/admin/laboratories/editLaboratory/editLaboratory-menu.xhtml"
        class="selected" />
      <ga:main
        title="#{actionTitle}"
        pageId="LE">
        <ga:fieldset legend="Laboratory">
          <ui:fragment
            id="laboratoryNoOutputPanel"
            rendered="#{laboratory.versionNo ne null}">
            <ga:textField
              label="Laboratory No"
              id="laboratoryNo"
              spanStyle="numeric"
              maxLength="8"
              beanValue="#{laboratory.laboratoryNo}"
              disabled="true"
              readOnly="true" />
          </ui:fragment>
          <ga:textField
            label="Id"
            id="laboratoryId"
            maxLength="30"
            spanStyle="half"
            required="true"
            beanValue="#{laboratory.laboratoryId}"
            disabled="#{laboratory.versionNo ne null}"
            readOnly="#{laboratory.versionNo ne null}" />
          <ga:textField
            label="Name"
            id="laboratoryName"
            maxLength="100"
            spanStyle="half"
            required="true"
            beanValue="#{laboratory.laboratoryName}" />
          <ga:div class="form_input check_box">
            <ga:span class="input">
              <h:selectBooleanCheckbox
                value="#{laboratory.analysisLaboratory}" />
            </ga:span>
            <label for="default">Performs Analysis Activities</label>
          </ga:div>
          <ga:div class="form_input check_box">
            <ga:span class="input">
              <h:selectBooleanCheckbox
                value="#{laboratory.analysisDefaultValue}" />
            </ga:span>
            <label for="default">Default Analysis Lab</label>
          </ga:div>
          <ga:dropDownList
            label="Analysis Status"
            id="analysisStatusCode"
            spanStyle="half"
            required="true"
            beanValue="#{laboratory.analysisStatus}"
            list="#{activationStatusCodeList}">
            <f:selectItem itemLabel="" />
          </ga:dropDownList>
          <ga:div class="form_input check_box">
            <ga:span class="input">
              <h:selectBooleanCheckbox
                value="#{laboratory.preparationType}" />
            </ga:span>
            <label for="default">Performs Sample Preparation</label>
          </ga:div>
          <ga:div class="form_input check_box">
            <ga:span class="input">
              <h:selectBooleanCheckbox
                value="#{laboratory.preparationDefaultValue}" />
            </ga:span>
            <label for="default">Default Preparation Lab</label>
          </ga:div>
          <ga:dropDownList
            label="Preparation Status"
            id="preparationStatusCode"
            spanStyle="half"
            required="true"
            beanValue="#{laboratory.preparationStatus}"
            list="#{activationStatusCodeList}">
            <f:selectItem itemLabel="" />
          </ga:dropDownList>
          <ga:dropDownList
            label="Location"
            id="locationCode"
            spanStyle="half"
            required="true"
            beanValue="#{laboratory.location}"
            list="#{locationCodeList}">
            <f:selectItem itemLabel="" />
          </ga:dropDownList>
          <ga:textField
            label="Address"
            id="address"
            maxLength="250"
            spanStyle="half"
            beanValue="#{laboratory.address}" />
          <ga:outputField
            label="Description"
            id="description">
            <h:inputTextarea
              name="description"
              id="description"
              value="#{laboratory.description}"
              maxlength="1000"
              disabled="false"
              readonly="false"
              cols="100"
              rows="3"
              style="width:95%;" />
          </ga:outputField>
        </ga:fieldset>
        <ui:include src="editLaboratoryTechniques-panel.xhtml" />
        <ga:div class="form_buttons">
          <sec:ifAnyGranted roles="ROLE_GEOCHEM_DATA_ADMIN_APP">
            <h:commandButton
              id="saveLaboratory"
              value="Save"
              action="saveLaboratory" />
          </sec:ifAnyGranted>
          <ga:cancelButton />
        </ga:div>
      </ga:main>
    </h:form>
  </ui:define>
</ui:composition>