<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:rich="http://richfaces.org/rich"
  template="/WEB-INF/layouts/pageTemplate.xhtml"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:a4j="http://richfaces.org/a4j">

  <ui:define name="content">
    <h:form id="referenceMaterialsSearchForm">
      <ga:workflowLinks
        src="/WEB-INF/flows/geochemistry/admin/referenceMaterials/referenceMaterials-menu.xhtml"
        class="selected" />
      <ui:include src="referenceMaterials-toolbar.xhtml" />
      <ga:main
        title="Reference Material Search"
        pageId="RMS">
        <a4j:outputPanel id="criteria">
          <ga:simpleTogglePanel
            label="Search Criteria"
            opened="#{flowScope.showCriteria}">
            <ga:textField
              id="referenceMaterialNo"
              label="Reference Material No"
              beanValue="#{referenceMaterialSearchCriteria.referenceMaterialNo}"
              maxLength="10"
              spanStyle="integer" />
            <ga:textField
              id="referenceMaterialId"
              label="Id"
              beanValue="#{referenceMaterialSearchCriteria.referenceMaterialId}"
              maxLength="30"
              spanStyle="half"
              note="This field accepts \'%\' wildcards" />
            <ga:textField
              id="referenceMaterialName"
              label="Name"
              beanValue="#{referenceMaterialSearchCriteria.name}"
              maxLength="60"
              spanStyle="half"
              note="This field accepts \'%\' wildcards" />
            <ga:commonSearchFields
              searchCriteria="#{referenceMaterialSearchCriteria}" />

            <ga:div class="form_buttons">
              <h:commandButton
                id="submit"
                value="Search"
                action="submit" />
              <!--              <ga:resetButton/>-->
            </ga:div>
          </ga:simpleTogglePanel>

        </a4j:outputPanel>
        <br />
        <br />

        <a4j:outputPanel id="results">
          <ui:fragment
            rendered="#{not empty referenceMaterialsSearchResults.rowCount}">
            <h3>Search Results</h3>
            <h:outputText
              id="rowCount"
              value="#{referenceMaterialsSearchResults.rowCount eq 0 ? 'No' : referenceMaterialsSearchResults.rowCount} #{referenceMaterialsSearchResults.rowCount eq 1 ? 'record' : 'records'} found"
              style="display: block; padding-bottom: 5px;" />
            <rich:dataTable
              id="searchResults"
              value="#{referenceMaterialsSearchResults}"
              var="referenceMaterial"
              rows="#{referenceMaterialSearchCriteria.resultsPerPage}"
              styleClass="links grid noValidation"
              headerClass="compact"
              columnClasses="col_5 nowrap compact"
              rendered="#{referenceMaterialsSearchResults.rowCount gt 0}">
              <rich:column
                sortBy="#{referenceMaterial.referenceMaterialNo}">
                <f:facet name="header">
                  <h:outputText value="Reference Material No" />
                </f:facet>
                <h:commandLink
                  id="select"
                  value="#{referenceMaterial.referenceMaterialNo}"
                  action="select"
                  styleClass="nopad" />
              </rich:column>
              <rich:column
                sortBy="#{referenceMaterial.referenceMaterialId}">
                <f:facet name="header">
                  <h:outputText value="Id" />
                </f:facet>
                <h:outputText
                  value="#{referenceMaterial.referenceMaterialId}" />
              </rich:column>
              <rich:column sortBy="#{referenceMaterial.name}">
                <f:facet name="header">
                  <h:outputText value="Name" />
                </f:facet>
                <h:outputText value="#{referenceMaterial.name}" />
              </rich:column>
              <!--               <ga:searchResultAuditDetails                 searchResult="#{referenceMaterial}" /> -->
            </rich:dataTable>
            <ga:commonSearchDatascroller
              searchCriteria="#{referenceMaterialSearchCriteria}"
              searchResults="#{referenceMaterialsSearchResults}" />
          </ui:fragment>
        </a4j:outputPanel>
      </ga:main>
    </h:form>
  </ui:define>
</ui:composition>