<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:app="http://www.ga.gov.au/geochem-jsf"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <ui:fragment id="sampleAnalysesFragment">
    <ga:div id="sampleAnalysisPanel">
      <h3>Analyses</h3>
      <ui:fragment
        id="sampleAnalysesBySessionFragment"
        rendered="#{jobBatchSample.notEmptyGroupedSampleAnalysisList eq true and showBySession eq true}">
        <ui:include src="viewAllResults-panel.xhtml" />
      </ui:fragment>
      <ui:fragment
        id="sampleAnalysesByPropertyFragment"
        rendered="#{not empty preferredResultsByProperty.resultList and showBySession eq false}">
        <ui:include
          src="../../jobs/viewJob/sampleAnalyses/viewPreferredResults-panel.xhtml" />
      </ui:fragment>
      <ui:fragment
        id="emptySampleAnalysesFragment"
        rendered="#{jobBatchSample.notEmptyGroupedSampleAnalysisList ne true}">
        <h:outputText value="No Results Entered" />
      </ui:fragment>
    </ga:div>
  </ui:fragment>
</ui:composition>