<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:app="http://www.ga.gov.au/geochem-jsf"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <ga:div
    id="allResultsPanel"
    class="form_input body"
    style="width:auto;">
    <table
      id="allResultsTable"
      class="input grid noValidation collapsibleColumns collapsibleRows tbl-centred-headings">
      <thead>
        <tr>
          <th class="col_10 nowrap"><h:outputText
              value="Result Batch No" /></th>
          <th class="col_10 nowrap"><h:outputText value="Session Date" /></th>
          <th class="col_10 nowrap"><h:outputText value="Method" /></th>
          <th class="col_10 nowrap"><h:outputText value="Subsample" /></th>
          <th class="col_10 nowrap"><h:outputText
              value="Preferred Result" /></th>
          <a4j:repeat
            id="resultPropertyList"
            value="#{resultTable.propertyList}"
            var="property">
            <th
              class="nowrap"
              style="min-width: 65px;"><h:outputText
                value="#{property.htmlPropertyId}"
                escape="false" /></th>
            <th
              class="{group:'Units'} hiddenColumn"
              style="min-width: 40px;"><h:outputText value="Units" /></th>
          </a4j:repeat>
        </tr>
      </thead>
      <tbody>
        <a4j:repeat
          id="sampleAnalysisGroupList"
          value="#{sampleAnalysisGroupList}"
          var="sampleAnalysisGroup">
          <a4j:repeat
            id="sampleAnalysisList"
            value="#{sampleAnalysisGroup}"
            var="sampleAnalysis">
            <tr
              class="#{sampleAnalysis.preferredValue eq true ? '{group:\'Preferred Results\'}' : '{group:\'All Results\'} hiddenRow'}">
              <td class="nowrap"><h:outputText
                  id="resultBatchNo"
                  value="#{sampleAnalysis.resultBatch.resultBatchNo}" /> <app:resultBatchTooltip
                  for="resultBatchNo"
                  sampleAnalysis="#{sampleAnalysis}" /></td>
              <td class="nowrap"><h:outputText
                  value="#{sampleAnalysis.resultBatch.sessionDateTime}">
                  <f:convertDateTime
                    pattern="dd-MM-yyyy HH:mm"
                    timeZone="#{systemContext.timeZone}" />
                </h:outputText></td>
              <td class="nowrap"><h:outputLink
                  id="methodId"
                  value="#{request.contextPath}/methods/#{sampleAnalysis.resultBatch.method.methodNo}/details.htm"
                  target="other"
                  styleClass="popupLink">#{sampleAnalysis.resultBatch.method.methodId}
               </h:outputLink></td>
              <td class="nowrap"><h:outputText
                  value="#{sampleAnalysis.subsampleId}" /></td>
              <td class="nowrap tbl-cell-centre-align"><h:outputText
                  id="preferredValue"
                  value="#{sampleAnalysis.preferredValue eq true ? 'Y' : 'N'}" /></td>
              <a4j:repeat
                id="resultPropertyList"
                value="#{resultTable.propertyList}"
                var="property">
                <td class="nowrap tbl-cell-right-align"><ga:outputNumber
                    id="analysisResultValue"
                    value="#{sampleAnalysis.getSampleAnalysisResultByProperty(property).qualifiedResultValue}"
                    qualifier="#{sampleAnalysis.getSampleAnalysisResultByProperty(property).limitReasonSymbol}"
                    patternKey="analysisResult.deliveryFormat.#{property.propertyId}" />
                </td>
                <td class="nowrap {group:'Units'} hiddenColumn"><h:outputText
                    value="#{sampleAnalysis.getSampleAnalysisResultByProperty(property).resultUnits}" /></td>
              </a4j:repeat>
            </tr>
          </a4j:repeat>
        </a4j:repeat>
      </tbody>
    </table>
  </ga:div>
</ui:composition>