<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sec="http://www.springframework.org/security/facelets/tags"
  template="/WEB-INF/layouts/pageTemplate.xhtml">
  <ui:define name="content">
    <h:form id="editAnalystForm">
      <ga:workflowLinks
        src="/WEB-INF/flows/geochemistry/admin/analysts/editAnalyst/editAnalyst-menu.xhtml"
        class="selected" />
      <ga:main
        title="#{actionTitle}"
        pageId="ASTE">
        <ga:fieldset legend="Analyst">
          <ui:fragment
            id="analystNoOutputPanel"
            rendered="#{analyst.versionNo ne null}">
            <ga:textField
              label="Analyst No"
              id="analystNo"
              spanStyle="numeric"
              maxLength="10"
              beanValue="#{analyst.analystNo}"
              disabled="true"
              readOnly="true" />
          </ui:fragment>
          <ga:textField
            label="First Name"
            id="firstName"
            maxLength="15"
            spanStyle="half"
            beanValue="#{analyst.analystFirstName}" />
          <ga:textField
            label="Last Name"
            id="lastName"
            maxLength="20"
            spanStyle="half"
            beanValue="#{analyst.analystLastName}" />
          <!--          <span class="group"> <ui:fragment id="staffIdOutputPanel">-->
          <!--            <ga:div id="staffIdPanel">-->
          <!--              <ga:textField-->
          <!--                label="Staff Id"-->
          <!--                id="staffId"-->
          <!--                maxLength="8"-->
          <!--                spanStyle="numeric"-->
          <!--                disabled="true"-->
          <!--                readOnly="true"-->
          <!--                beanValue="#{analyst.staffPersonId}" />-->
          <!--            </ga:div>-->
          <!--          </ui:fragment> -->
          <ui:fragment id="analystIdOutputPanel">
            <ga:div
              id="staffIdPanel"
              class="form_input">
              <label id="analystId">Analyst Id:</label>
              <span class="group"> <span class="input"> <h:inputText
                    value="#{analyst.analystId}" /> </span>
<!-- <sf:commandLink
                  id="idButton"
                  value="Find Id"
                  action="findAnalystId"
                  immediate="false"
                  processIds="editAnalystForm:firstName, editAnalystForm:lastName"
                  styleClass="popup" />
--> 
                  </span>
            </ga:div>
          </ui:fragment>
          <ga:dropDownList
            label="Status"
            id="status"
            spanStyle="half"
            beanValue="#{analyst.status}"
            list="#{activationStatusCodeList}">
            <f:selectItem itemLabel="" />
          </ga:dropDownList>
        </ga:fieldset>
        <ga:div class="form_buttons">
          <sec:ifAnyGranted roles="ROLE_GEOCHEM_DATA_ENTRY_APP">
            <h:commandButton
              id="saveAnalyst"
              value="Save"
              action="saveAnalyst" />
          </sec:ifAnyGranted>
          <ga:cancelButton />
        </ga:div>
      </ga:main>
    </h:form>
  </ui:define>
</ui:composition>