<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sec="http://www.springframework.org/security/facelets/tags"
  template="/WEB-INF/layouts/pageTemplate.xhtml">
  <ui:define name="content">
    <h:form id="viewAnalysedSampleForm">
      <ga:workflowLinks
        src="/WEB-INF/flows/geochemistry/jobs/viewJob/sampleAnalyses/sampleAnalyses-menu.xhtml"
        class="selected" />
      <ga:main
        title="View Job Batch Sample"
        pageId="JBSV-PR">
        <ui:include
          src="/WEB-INF/flows/geochemistry/jobs/viewJob/viewJobBatchSummary-panel.xhtml" />
        <ui:include
          src="/WEB-INF/flows/sample/includes/viewSampleSummary-panel.xhtml" />
        <ui:fragment
          id="publishedResultsFragment"
          rendered="#{jobBatchSample.summaryResultList != null}">
          <ui:include
            src="/WEB-INF/flows/geochemistry/jobs/viewJob/sampleAnalyses/viewSummaryResults-panel.xhtml" >
            <ui:param
              name="showPropertyUnits"
              value="true" />
            </ui:include>
        </ui:fragment>
        <ui:fragment
          id="publishedResultsFragment"
          rendered="#{jobBatchSample.preferredPublishFromDatetime != null}">
          <ui:include
            src="/WEB-INF/flows/geochemistry/jobs/viewJob/sampleAnalyses/viewPublishedResults-panel.xhtml" >
            <ui:param
              name="showPropertyUnits"
              value="true" />
            </ui:include>
        </ui:fragment>
        <ui:include src="/WEB-INF/flows/geochemistry/analysedSamples/viewAnalysedSample/viewAnalysedSample-panel.xhtml" />
        <ui:fragment id="buttonsFragment">
          <ga:div
            id="buttonsPanel"
            class="form_buttons">
            <sf:commandButton
              id="toggleResults"
              value="#{showBySession eq true ? 'Show By Analyte' : 'Show By Session'}"
              action="toggleDisplayedResults"
              immediate="true"
              rendered="#{jobBatchSample.notEmptyGroupedSampleAnalysisList eq true}" />
            <sec:ifAnyGranted roles="ROLE_GEOCHEM_DATA_ENTRY_APP">
              <h:commandButton
                id="editAnalysedSample"
                value="Edit"
                action="editAnalysedSample" />
            </sec:ifAnyGranted>
            <ga:returnButton />
          </ga:div>
        </ui:fragment>
      </ga:main>
    </h:form>
  </ui:define>
</ui:composition>