<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <ga:div
    id="preferredResultsPanel"
    class="form_input body"
    style="width:auto;">
    <table
      class="input grid noValidation collapsibleColumns tbl-centred-headings">
      <thead>
        <tr>
          <th class="col_5"><h:outputText
              value="Analyte#{html.nbsp}\\#{html.nbsp}Method"
              escape="false" /></th>
          <a4j:repeat
            id="resultMethodList"
            value="#{preferredResultsByProperty.methodList}"
            var="method">
            <th><h:outputLink
                id="methodId"
                value="#{request.contextPath}/methods/#{method.methodNo}/details.htm"
                target="other"
                styleClass="popupLink">#{method.methodId}
               </h:outputLink></th>
            <th
              class="{group:'Units'} hiddenColumn"
              style="min-width: 40px;">Units</th>
          </a4j:repeat>
        </tr>
      </thead>
      <tbody>
        <a4j:repeat
          id="resultPropertyList"
          value="#{preferredResultsByProperty.resultList}"
          var="propertyResultEntry">
          <tr>
            <td><h:outputText
                value="#{propertyResultEntry.property.htmlPropertyId}"
                escape="false" /></td>
            <a4j:repeat
              id="resultPropertyListResults"
              value="#{propertyResultEntry.resultList}"
              var="analysisResult">
              <td class="tbl-cell-right-align"><ga:outputNumber
                  id="analysisResultValue"
                  value="#{analysisResult.qualifiedResultValue}"
                  qualifier="#{analysisResult.limitReasonSymbol}"
                  patternKey="analysisResult.deliveryFormat.#{analysisResult.property.propertyId}" />
              </td>
              <td class="{group:'Units'} hiddenColumn"><h:outputText
                  value="#{analysisResult.resultUnits}" /></td>
            </a4j:repeat>
          </tr>
        </a4j:repeat>
      </tbody>
    </table>
  </ga:div>
</ui:composition>