<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <ga:div id="publishedResultsPanel">
    <ui:fragment rendered="#{showTitle eq null or showTitle eq true}">
      <h3>
        <h:outputText
          id="from"
          value="Published Results from " />
        <h:outputText
          id="publishedFrom"
          value="#{jobBatchSample.preferredPublishFromDatetime}">
          <f:convertDateTime
            pattern="dd-MM-yyyy HH:mm"
            timeZone="#{systemContext.timeZone}" />
        </h:outputText>
        <h:outputText
          id="to"
          value=" to "
          rendered="#{jobBatchSample.preferredPublishToDatetime.before(systemContext.infinityDate)}" />
        <h:outputText
          id="publishedTo"
          value="#{jobBatchSample.preferredPublishToDatetime}"
          rendered="#{jobBatchSample.preferredPublishToDatetime.before(systemContext.infinityDate)}">
          <f:convertDateTime
            pattern="dd-MM-yyyy HH:mm"
            timeZone="#{systemContext.timeZone}" />
        </h:outputText>
      </h3>
    </ui:fragment>
    <ui:fragment
      rendered="#{jobBatchSample.publishedResultList ne null and jobBatchSample.publishedResultList.size() gt 0 }">
      <a4j:repeat
        id="subsampleList"
        value="#{jobBatchSample.publishedResultSubsampleList}"
        var="subsample">
        <table class="input grid innerTable nohover tbl-centred-headings #{tableClass} #{jobBatchSample.hasPublishedResultSubsamples()?'':'noRowAlterColors'}">
          <thead>
            <tr>
              <ui:fragment rendered="#{showTitle eq false}">
                <th style="min-width: 140px;">From</th>
                <ui:fragment
                  rendered="#{jobBatchSample.preferredPublishToDatetime.before(systemContext.infinityDate)}">
                  <th style="min-width:140px;">To</th>
                </ui:fragment>
              </ui:fragment>
              <ui:fragment
                rendered="#{jobBatchSample.hasPublishedResultSubsamples()}">
                <th style="min-width: 140px;">Subsample</th>
              </ui:fragment>
              <a4j:repeat
                id="publishedPropertyList"
                value="#{jobBatchSample.getPublishedResultList(subsample)}"
                var="result">
                <th style="min-width: 65px;"><h:outputText
                    value="#{showPropertyUnits eq true or showPropertyUnits eq null ? result.property.htmlPropertyId.concat(html.lineBreak).concat(result.resultUnits) : result.property.htmlPropertyId}"
                    escape="false" />
                </th>
              </a4j:repeat>
            </tr>
          </thead>
          <tbody>
            <tr>
              <ui:fragment rendered="#{showTitle eq false}">
                <td><h:outputText
                    id="publishedFrom"
                    value="#{jobBatchSample.preferredPublishFromDatetime}">
                    <f:convertDateTime
                      pattern="dd-MM-yyyy HH:mm"
                      timeZone="#{systemContext.timeZone}" />
                  </h:outputText>
                </td>
                <ui:fragment
                  rendered="#{jobBatchSample.preferredPublishToDatetime.before(systemContext.infinityDate)}">
                  <td><h:outputText
                      id="publishedTo"
                      value="#{jobBatchSample.preferredPublishToDatetime}">
                      <f:convertDateTime
                        pattern="dd-MM-yyyy HH:mm"
                        timeZone="#{systemContext.timeZone}" />
                    </h:outputText>
                  </td>
                </ui:fragment>
              </ui:fragment>
              <ui:fragment
                rendered="#{jobBatchSample.hasPublishedResultSubsamples()}">
                <td><h:outputText
                    value="#{subsample eq null ? ' - ': subsample}" /></td>
              </ui:fragment>
              <a4j:repeat
                id="publishedResultList"
                value="#{jobBatchSample.getPublishedResultList(subsample)}"
                var="analysisResult">
                <td class="tbl-cell-right-align"><ga:outputNumber
                    id="analysisResultValue"
                    value="#{analysisResult.qualifiedResultValue}"
                    qualifier="#{analysisResult.limitReasonSymbol}"
                    patternKey="analysisResult.deliveryFormat.#{analysisResult.property.propertyId}" />
                </td>
              </a4j:repeat>
            </tr>
          </tbody>
        </table>
      </a4j:repeat>
    </ui:fragment>
  </ga:div>
</ui:composition>