<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <ga:div id="summaryResultsPanel">
    <ui:fragment rendered="#{showTitle eq null or showTitle eq true}">
      <h3>Summary Results</h3>
    </ui:fragment>
    <ui:fragment
      rendered="#{jobBatchSample.summaryResultList ne null and jobBatchSample.summaryResultList.size() gt 0 }">
      <a4j:repeat
        id="subsampleList"
        value="#{jobBatchSample.summaryResultSubsampleList}"
        var="subsample">
        <table class="input grid innerTable nohover tbl-centred-headings #{tableClass} #{jobBatchSample.hasSummaryResultSubsamples()?'':'noRowAlterColors'}" style="margin: 0">
          <thead>
            <tr>
              <ui:fragment
                rendered="#{jobBatchSample.hasSummaryResultSubsamples()}">
                <th class="#{jobBatchSample.hasSummaryResultSubsamples()?'topBorder':''}" style="min-width: 140px;">Subsample</th>
              </ui:fragment>
              <a4j:repeat
                id="summaryPropertyList"
                value="#{jobBatchSample.getSummaryResultList(subsample)}"
                var="result">
                <th class="#{jobBatchSample.hasSummaryResultSubsamples()?'topBorder':''}" style="min-width: 65px;"><h:outputText
                    value="#{showPropertyUnits eq true or showPropertyUnits eq null ? result.property.htmlPropertyId.concat(' (').concat(html.lineBreak).concat(result.resultUnits).concat(')') : result.property.htmlPropertyId}"
                    escape="false" /></th>
              </a4j:repeat>
            </tr>
          </thead>
          <tbody>
            <tr>
              <ui:fragment
                rendered="#{jobBatchSample.hasSummaryResultSubsamples()}">
                <td class="#{jobBatchSample.hasSummaryResultSubsamples()?'bottomBorder':''}"><h:outputText
                    value="#{subsample eq null ? ' - ': subsample}" />
                </td>
              </ui:fragment>
              <a4j:repeat
                id="summaryResultList"
                value="#{jobBatchSample.getSummaryResultList(subsample)}"
                var="analysisResult">
                <td class="tbl-cell-right-align #{jobBatchSample.hasSummaryResultSubsamples()?'bottomBorder':''}"><ga:outputNumber
                    id="analysisResultValue"
                    value="#{analysisResult.qualifiedResultValue}"
                    qualifier="#{analysisResult.limitReasonSymbol}"
                    patternKey="analysisResult.deliveryFormat.#{analysisResult.property.propertyId}" />
                </td>
              </a4j:repeat>
            </tr>
          </tbody>
        </table>
      </a4j:repeat>
    </ui:fragment>
  </ga:div>
</ui:composition>