<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:rich="http://richfaces.org/rich"
  template="/WEB-INF/layouts/pageTemplate.xhtml"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:a4j="http://richfaces.org/a4j">

  <ui:define name="content">
    <h:form id="methodsSearchForm">
      <ga:workflowLinks
        src="/WEB-INF/flows/geochemistry/admin/methods/methods-menu.xhtml"
        class="selected" />
      <ui:include src="methods-toolbar.xhtml" />
      <ga:main
        title="Method Search"
        pageId="MS">
        <a4j:outputPanel id="criteria">
          <ga:simpleTogglePanel
            label="Search Criteria"
            opened="#{flowScope.showCriteria}">
            <ga:textField
              id="methodNo"
              label="Method No"
              beanValue="#{methodSearchCriteria.methodNo}"
              maxLength="30"
              spanStyle="integer" />
            <ga:textField
              id="methodId"
              label="Id"
              beanValue="#{methodSearchCriteria.methodId}"
              maxLength="30"
              spanStyle="half"
              note="This field accepts \'%\' wildcards" />
            <ga:textField
              id="methodName"
              label="Name"
              beanValue="#{methodSearchCriteria.methodName}"
              maxLength="60"
              spanStyle="half"
              note="This field accepts \'%\' wildcards" />
            <ga:textField
              id="methodGroup"
              label="Group"
              beanValue="#{methodSearchCriteria.methodGroup}"
              maxLength="10"
              spanStyle="half"
              note="This field accepts \'%\' wildcards" />
            <ga:dropDownList
              id="techniques"
              label="Technique"
              beanValue="#{methodSearchCriteria.technique}"
              list="#{techniquesList}"
              spanStyle="half">
              <f:selectItem itemLabel="" />
            </ga:dropDownList>
            <ga:commonSearchFields searchCriteria="#{methodSearchCriteria}" />

            <ga:div class="form_buttons">
              <h:commandButton
                id="submit"
                value="Search"
                action="submit" />
              <!--              <ga:resetButton/>-->
            </ga:div>
          </ga:simpleTogglePanel>

        </a4j:outputPanel>
        <br />
        <br />

        <a4j:outputPanel id="results">
          <ui:fragment
            rendered="#{not empty methodsSearchResults.rowCount}">
            <h3>Search Results</h3>
            <h:outputText
              id="rowCount"
              value="#{methodsSearchResults.rowCount eq 0 ? 'No' : methodsSearchResults.rowCount} #{methodsSearchResults.rowCount eq 1 ? 'record' : 'records'} found"
              style="display: block; padding-bottom: 5px;" />
            <rich:dataTable
              id="searchResults"
              value="#{methodsSearchResults}"
              var="method"
              rows="#{methodSearchCriteria.resultsPerPage}"
              styleClass="links grid noValidation"
              headerClass="compact"
              columnClasses="col_5 nowrap compact"
              rendered="#{methodsSearchResults.rowCount gt 0}">
              <rich:column sortBy="#{method.methodNo}">
                <f:facet name="header">
                  <h:outputText value="Method No" />
                </f:facet>
                <h:commandLink
                  id="select"
                  value="#{method.methodNo}"
                  action="select"
                  styleClass="nopad" />
              </rich:column>
              <rich:column sortBy="#{method.methodId}">
                <f:facet name="header">
                  <h:outputText value="Id" />
                </f:facet>
                <h:outputText value="#{method.methodId}" />
              </rich:column>
              <rich:column sortBy="#{method.methodName}">
                <f:facet name="header">
                  <h:outputText value="Name" />
                </f:facet>
                <h:outputText value="#{method.methodName}" />
              </rich:column>
              <rich:column sortBy="#{method.technique.techniqueName}">
                <f:facet name="header">
                  <h:outputText value="Technique" />
                </f:facet>
                <h:outputText value="#{method.technique.techniqueName}" />
              </rich:column>
              <rich:column sortBy="#{method.methodGroup}">
                <f:facet name="header">
                  <h:outputText value="Group" />
                </f:facet>
                <h:outputText value="#{method.methodGroup}" />
              </rich:column>
              <!--                             <ga:searchResultAuditDetails searchResult="#{method}" /> -->
            </rich:dataTable>
            <ga:commonSearchDatascroller
              searchCriteria="#{methodSearchCriteria}"
              searchResults="#{methodsSearchResults}" />
          </ui:fragment>
        </a4j:outputPanel>
      </ga:main>
    </h:form>
  </ui:define>
</ui:composition>