<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:rich="http://richfaces.org/rich"
  template="/WEB-INF/layouts/pageTemplate.xhtml"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:a4j="http://richfaces.org/a4j">

  <ui:define name="content">
    <h:form id="methodInstrumentCalibrationsSearchForm">
      <ga:workflowLinks
        src="/WEB-INF/flows/geochemistry/admin/methodInstrumentCalibrations/methodInstrumentCalibrations-menu.xhtml"
        class="selected" />
      <ui:include src="methodInstrumentCalibrations-toolbar.xhtml" />
      <ga:main
        title="Calibration Search"
        pageId="MICS">
        <a4j:outputPanel id="criteria">
          <ga:simpleTogglePanel
            label="Search Criteria"
            opened="#{flowScope.showCriteria}">
            <ga:textField
              id="methodInstrumentCalibrationNo"
              label="Calibration No"
              beanValue="#{methodInstrumentCalibrationSearchCriteria.methodInstrumentCalibrationNo}"
              maxLength="30"
              spanStyle="integer" />
            <ga:div class="form_input">
              <label for="techniqueName">Technique:</label>
              <span class="input half"> <sf:ajaxEvent
                  action="selectMethods"
                  event="onchange"
                  processIds="methodInstrumentCalibrationsSearchForm:methodName,methodInstrumentCalibrationsSearchForm:messages">
                  <h:selectOneMenu
                    id="techniqueName"
                    value="#{methodInstrumentCalibrationSearchCriteria.technique}"
                    converter="#{genericDomainConverter}">
                    <f:selectItem itemLabel="" />
                    <f:selectItems
                      id="selectItems"
                      value="#{techniqueList}" />
                  </h:selectOneMenu>
                </sf:ajaxEvent>
              </span>
            </ga:div>
            <ui:fragment id="methodNameFragment">
              <ga:div
                id="methodNamePanel"
                class="form_input">
                <label for="methodName">Method:</label>
                <span class="input half"> <sf:ajaxEvent
                    action="selectInstruments"
                    event="onchange"
                    processIds="methodInstrumentCalibrationsSearchForm:instrumentName,methodInstrumentCalibrationsSearchForm:messages">
                    <h:selectOneMenu
                      id="methodName"
                      value="#{methodInstrumentCalibrationSearchCriteria.method}"
                      converter="#{genericDomainConverter}">
                      <f:selectItem itemLabel="" />
                      <f:selectItems
                        id="selectItems"
                        value="#{methodList}" />
                    </h:selectOneMenu>
                  </sf:ajaxEvent>
                </span>
              </ga:div>
            </ui:fragment>
            <ui:fragment id="instrumentNameFragment">
              <ga:dropDownList
                id="instrumentName"
                label="Instrument"
                beanValue="#{methodInstrumentCalibrationSearchCriteria.instrument}"
                list="#{instrumentList}"
                spanStyle="half">
                <f:selectItem itemLabel="" />
              </ga:dropDownList>
            </ui:fragment>
            <ga:dateField
              id="calibrationDateStart"
              label="Calibration Date, from"
              beanValue="#{methodInstrumentCalibrationSearchCriteria.calibrationDateStart}"
              required="false" />
            <ga:dateField
              id="calibrationDateEnd"
              label="to"
              beanValue="#{methodInstrumentCalibrationSearchCriteria.calibrationDateEnd}"
              required="false" />
            <ga:commonSearchFields
              searchCriteria="#{methodInstrumentCalibrationSearchCriteria}" />
            <ga:div class="form_buttons">
              <h:commandButton
                id="submit"
                value="Search"
                action="submit" />
              <!--              <ga:resetButton/>-->
            </ga:div>
          </ga:simpleTogglePanel>

        </a4j:outputPanel>
        <br />
        <br />

        <a4j:outputPanel id="results">
          <ui:fragment
            rendered="#{not empty methodInstrumentCalibrationsSearchResults.rowCount}">
            <h3>Search Results</h3>
            <h:outputText
              id="rowCount"
              value="#{methodInstrumentCalibrationsSearchResults.rowCount eq 0 ? 'No' : methodInstrumentCalibrationsSearchResults.rowCount} #{methodInstrumentCalibrationsSearchResults.rowCount eq 1 ? 'record' : 'records'} found"
              style="display: block; padding-bottom: 5px;" />
            <rich:dataTable
              id="searchResults"
              value="#{methodInstrumentCalibrationsSearchResults}"
              var="methodInstrumentCalibration"
              rows="#{methodInstrumentCalibrationSearchCriteria.resultsPerPage}"
              styleClass="links grid noValidation"
              headerClass="compact"
              columnClasses="col_5 nowrap compact"
              rendered="#{methodInstrumentCalibrationsSearchResults.rowCount gt 0}">
              <rich:column
                sortBy="#{methodInstrumentCalibration.methodInstrumentCalibrationNo}">
                <f:facet name="header">
                  <h:outputText value="Calibration No" />
                </f:facet>
                <h:commandLink
                  id="select"
                  value="#{methodInstrumentCalibration.methodInstrumentCalibrationNo}"
                  action="select"
                  styleClass="nopad" />
              </rich:column>
              <rich:column
                sortBy="#{methodInstrumentCalibration.method.methodName}">
                <f:facet name="header">
                  <h:outputText value="Method" />
                </f:facet>
                <h:outputText
                  value="#{methodInstrumentCalibration.method.methodName}" />
              </rich:column>
              <rich:column
                sortBy="#{methodInstrumentCalibration.instrument.instrumentId}">
                <f:facet name="header">
                  <h:outputText value="Instrument" />
                </f:facet>
                <h:outputText
                  value="#{methodInstrumentCalibration.instrument.instrumentId}" />
              </rich:column>
              <rich:column
                sortBy="#{methodInstrumentCalibration.instrument.laboratory.laboratoryId}">
                <f:facet name="header">
                  <h:outputText value="Laboratory" />
                </f:facet>
                <h:outputText
                  value="#{methodInstrumentCalibration.instrument.laboratory.laboratoryId}" />
              </rich:column>
              <rich:column
                sortBy="#{methodInstrumentCalibration.instrument.installDate}">
                <f:facet name="header">
                  <h:outputText value="Install Date" />
                </f:facet>
                <h:outputText
                  value="#{methodInstrumentCalibration.instrument.installDate}">
                  <f:convertDateTime
                    pattern="dd-MM-yyyy"
                    timeZone="#{systemContext.timeZone}" />
                </h:outputText>
              </rich:column>
              <rich:column
                sortBy="#{methodInstrumentCalibration.calibrationDateTime}">
                <f:facet name="header">
                  <h:outputText value="Calibration Date" />
                </f:facet>
                <h:outputText
                  value="#{methodInstrumentCalibration.calibrationDateTime}">
                  <f:convertDateTime
                    pattern="dd-MM-yyyy hh:mm a"
                    timeZone="#{systemContext.timeZone}" />
                </h:outputText>
              </rich:column>
              <!--               <ga:searchResultAuditDetails                searchResult="#{methodInstrumentCalibration}" /> -->
            </rich:dataTable>
            <ga:commonSearchDatascroller
              searchCriteria="#{methodInstrumentCalibrationSearchCriteria}"
              searchResults="#{methodInstrumentCalibrationsSearchResults}" />
          </ui:fragment>
        </a4j:outputPanel>
      </ga:main>
    </h:form>
  </ui:define>
</ui:composition>