<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:rich="http://richfaces.org/rich"
  template="/WEB-INF/layouts/pageTemplate.xhtml"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:a4j="http://richfaces.org/a4j">

  <ui:define name="content">
    <h:form id="docfilesSearchForm">
      <ga:workflowLinks
        src="/WEB-INF/flows/geochemistry/admin/docfiles/docfiles-menu.xhtml"
        class="selected" />
      <ui:include src="docfiles-toolbar.xhtml" />
      <ga:main
        title="Document Search"
        pageId="DDS">
        <a4j:outputPanel id="criteria">
          <ga:simpleTogglePanel
            label="Search Criteria"
            opened="#{flowScope.showCriteria}">
            <ga:textField
              id="docfileNo"
              label="Document No"
              beanValue="#{docfileSearchCriteria.docfileNo}"
              maxLength="30"
              spanStyle="integer" />
            <ga:textField
              id="docfileId"
              label="Id"
              beanValue="#{docfileSearchCriteria.docfileId}"
              maxLength="10"
              spanStyle="half"
              note="This field accepts \'%\' wildcards" />
            <ga:textField
              id="title"
              label="Title"
              beanValue="#{docfileSearchCriteria.title}"
              maxLength="100"
              spanStyle="half"
              note="This field accepts \'%\' wildcards" />
            <ga:div
              id="docfileRequiredPanel"
              class="form_input">
              <label for="default">Required:</label>
              <span class="group"> <ga:span class="input check_box">
                  <h:selectBooleanCheckbox
                    value="#{docfileSearchCriteria.docfileRequired}" />
                </ga:span>
              </span>
            </ga:div>
            <ga:div
              id="externalDeliveryPanel"
              class="form_input">
              <label for="default">External Delivery:</label>
              <span class="group"> <ga:span class="input check_box">
                  <h:selectBooleanCheckbox
                    value="#{docfileSearchCriteria.externalDelivery}" />
                </ga:span>
              </span>
            </ga:div>
            <ga:dropDownList
              id="status"
              label="Status"
              beanValue="#{docfileSearchCriteria.status}"
              list="#{activationStatusCodeList}"
              spanStyle="half">
              <f:selectItem itemLabel="" />
            </ga:dropDownList>
            <ga:commonSearchFields
              searchCriteria="#{docfileSearchCriteria}" />

            <ga:div class="form_buttons">
              <h:commandButton
                id="submit"
                value="Search"
                action="submit" />
              <!--              <ga:resetButton/>-->
            </ga:div>
          </ga:simpleTogglePanel>

        </a4j:outputPanel>
        <br />
        <br />

        <a4j:outputPanel id="results">
          <ui:fragment
            rendered="#{not empty docfileSearchResults.rowCount}">
            <h3>Search Results</h3>
            <h:outputText
              id="rowCount"
              value="#{docfileSearchResults.rowCount eq 0 ? 'No' : docfileSearchResults.rowCount} #{docfileSearchResults.rowCount eq 1 ? 'record' : 'records'} found"
              style="display: block; padding-bottom: 5px;" />
            <rich:dataTable
              id="searchResults"
              value="#{docfileSearchResults}"
              var="docfile"
              rows="#{docfileSearchCriteria.resultsPerPage}"
              styleClass="links grid noValidation"
              headerClass="compact"
              columnClasses="col_5 nowrap compact"
              rendered="#{docfileSearchResults.rowCount gt 0}">
              <rich:column sortBy="#{docfile.docfileNo}">
                <f:facet name="header">
                  <h:outputText value="Document No" />
                </f:facet>
                <h:commandLink
                  id="select"
                  value="#{docfile.docfileNo}"
                  action="select"
                  styleClass="nopad" />
              </rich:column>
              <rich:column sortBy="#{docfile.docfileId}">
                <f:facet name="header">
                  <h:outputText value="Id" />
                </f:facet>
                <h:outputText value="#{docfile.docfileId}" />
              </rich:column>
              <rich:column sortBy="#{docfile.title}">
                <f:facet name="header">
                  <h:outputText value="Title" />
                </f:facet>
                <h:outputText value="#{docfile.title}" />
              </rich:column>
              <rich:column sortBy="#{docfile.status}">
                <f:facet name="header">
                  <h:outputText value="Status" />
                </f:facet>
                <h:outputText value="#{docfile.status}" />
              </rich:column>
              <rich:column sortBy="#{docfile.docfileRequired}">
                <f:facet name="header">
                  <h:outputText value="Required" />
                </f:facet>
                <h:outputText value="#{docfile.docfileRequired}" />
              </rich:column>
              <rich:column sortBy="#{docfile.externalDelivery}">
                <f:facet name="header">
                  <h:outputText value="External Delivery" />
                </f:facet>
                <h:outputText value="#{docfile.externalDelivery}" />
              </rich:column>
              <!--               <ga:searchResultAuditDetails                 searchResult="#{docfile}" /> -->
            </rich:dataTable>
            <ga:commonSearchDatascroller
              searchCriteria="#{docfileSearchCriteria}"
              searchResults="#{docfileSearchResults}" />
          </ui:fragment>
        </a4j:outputPanel>
      </ga:main>
    </h:form>
  </ui:define>
</ui:composition>