<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <ui:fragment id="methodDetailsFragment">
    <ga:div class="form_input">
      <ga:span class="input">
        <h:outputText
          value="Please select the methods that are incompatible with this procedure" />
      </ga:span>
    </ga:div>
    <ga:div class="panel">
      <br></br>
      <ga:div class="form_input">
        <label>Restricted Methods:</label>
        <table class="input grid noValidation selectable collapsibleRows">
          <thead>
            <tr>
              <th><h:selectBooleanCheckbox
                styleClass="selectAll {withClass:'batchMethodRowSelector'}"
                title="Check/Uncheck All" /></th>
              <th><h:outputText value="Technique Id" /></th>
              <th><h:outputText value="Method Id" /></th>
              <th><h:outputText value="Method Name" /></th>
            </tr>
          </thead>
          <tbody>
            <a4j:repeat
              id="methods"
              value="#{methodList}"
              var="method">
              <tr class="{group:'#{method.technique.techniqueId}'}">
                <td class="selector"><h:selectBooleanCheckbox
                  value="#{methodList.currentRowSelected}"
                  styleClass="batchMethodRowSelector" /></td>
                <td><h:outputText
                  value="#{method.technique.techniqueId}" /></td>
                <td><h:outputText value="#{method.methodId}" /></td>
                <td><h:outputText value="#{method.methodName}" /></td>
              </tr>
            </a4j:repeat>
          </tbody>
        </table>
      </ga:div>
    </ga:div>
  </ui:fragment>
</ui:composition>