<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sec="http://www.springframework.org/security/facelets/tags"
  xmlns:fn="http://java.sun.com/jsp/jstl/functions"
  template="/WEB-INF/layouts/pageTemplate.xhtml">
  <ui:define name="content">
    <h:form id="editPreparationProcedureForm">
      <ga:workflowLinks
        src="/WEB-INF/flows/geochemistry/admin/preparationProcedures/editPreparationProcedure/editPreparationProcedure-menu.xhtml"
        class="selected" />
      <ga:main
        title="#{actionTitle}"
        pageId="RM#{fn:toUpperCase(fn:substring(actionTitle, 0, 1))}">
        <ga:fieldset legend="Preparation Procedure">
          <ui:fragment
            id="preparationProcedureNoOutputPanel"
            rendered="#{preparationProcedure.preparationProcedureNo ne null}">
            <ga:textField
              label="Preparation Procedure No"
              id="preparationProcedureNo"
              spanStyle="numeric"
              maxLength="8"
              beanValue="#{preparationProcedure.preparationProcedureNo}"
              disabled="true"
              readOnly="true" />
          </ui:fragment>
          <ga:textField
            label="Id"
            id="preparationProcedureId"
            maxLength="50"
            spanStyle="half"
            required="true"
            beanValue="#{preparationProcedure.preparationProcedureId}"
            disabled="#{preparationProcedure.versionNo ne null}"
            readOnly="#{preparationProcedure.versionNo ne null}" />
          <ga:textField
            label="Activity"
            id="activity"
            maxLength="50"
            spanStyle="half"
            required="true"
            beanValue="#{preparationProcedure.activity}" />
          <ga:textField
            label="Effect"
            id="effect"
            maxLength="50"
            spanStyle="half"
            required="true"
            beanValue="#{preparationProcedure.effect}" />
        <ui:include src="editPreparationProcedureMethods-panel.xhtml" />
        </ga:fieldset>
        <ga:div class="form_buttons">
          <sec:ifAnyGranted roles="ROLE_GEOCHEM_DATA_ADMIN_APP">
            <h:commandButton
              id="savePreparationProcedure"
              value="Save"
              action="savePreparationProcedure" />
          </sec:ifAnyGranted>
          <ga:cancelButton />
        </ga:div>
      </ga:main>
    </h:form>
  </ui:define>
</ui:composition>