<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:rich="http://richfaces.org/rich"
  template="/WEB-INF/layouts/popupTemplate.xhtml"
  xmlns:ga="http://www.ga.gov.au/jsf">
  <ui:define name="content">
    <ui:fragment id="knownReferenceResultDetails">
      <ga:fieldset
        id="knownReferenceResult"
        legend="Known Reference Result">
        <ga:textOutputField
          id="knownReferenceResultNo"
          label="Known Reference Result No"
          beanValue="#{knownReferenceResult.knownReferenceResultNo}"
          spanStyle="half" />
        <ga:textOutputField
          id="propertyId"
          label="Property"
          beanValue="#{knownReferenceResult.property.htmlPropertyId}"
          escape="false"
          spanStyle="half" />
        <ga:textOutputField
          id="referenceMaterialName"
          label="Reference Material"
          beanValue="#{knownReferenceResult.referenceMaterial.name}"
          spanStyle="half" />
        <ga:textOutputField
          id="referenceMaterialDescription"
          label="Reference Material Description"
          beanValue="#{knownReferenceResult.referenceMaterial.description}"
          spanStyle="half" />
        <ga:textOutputField
          id="resultValue"
          label="Result Value"
          beanValue="#{knownReferenceResult.resultValue}"
          spanStyle="half" />
        <ga:textOutputField
          id="resultUnits"
          label="Result Units"
          beanValue="#{knownReferenceResult.resultUnits}"
          spanStyle="half" />
        <ga:textOutputField
          id="uncertaintyValue"
          label="Uncertainty Value"
          beanValue="#{knownReferenceResult.uncertaintyValue}"
          spanStyle="half" />
        <ga:textOutputField
          id="uncertaintyUnits"
          label="Uncertainty Units"
          beanValue="#{knownReferenceResult.uncertaintyUnits}"
          spanStyle="half" />
        <ga:textOutputField
          id="uncertaintyTypeLabel"
          label="Uncertainty Type"
          beanValue="#{knownReferenceResult.uncertaintyType.label}"
          spanStyle="half" />
      </ga:fieldset>
    </ui:fragment>
  </ui:define>
</ui:composition>
