<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <ga:div id="knownRefResultPanel">
    <h3>Known Reference Results</h3>
    <table class="singleColumnTable input grid noValidation fixed-cell-height">
      <thead>
        <tr>
          <th class="nowrap">Reference Material</th>
        </tr>
      </thead>
      <tbody>
        <a4j:repeat
          id="methodReferenceMaterials"
          value="#{methodInstrumentCalibration.method.activeReferenceMaterialList}"
          var="referenceMaterial">
          <tr>
            <td><h:outputText value="#{referenceMaterial.name}" /></td>
          </tr>
        </a4j:repeat>
      </tbody>
    </table>
    <ga:div
      id="sampleAnalysisPanel"
      class="horizontalScroll">
      <table
        id="knownRefResultTable"
        class="input grid noValidation fixed-cell-height collapsibleColumns {optionsDiv:'sampleAnalysisPanelOptions'}">
        <thead>
          <tr>
            <a4j:repeat
              id="propertyHeading"
              value="#{methodInstrumentCalibration.method.activePropertyList}"
              var="property">
              <th><h:outputText
                value="#{property.htmlPropertyId}"
                escape="false" /></th>
              <th class="col_5 {group:'Units'} hiddenColumn">Units</th>
            </a4j:repeat>
          </tr>
        </thead>
        <tbody>
          <a4j:repeat
            id="methodReferenceMaterials"
            value="#{methodInstrumentCalibration.method.activeReferenceMaterialList}"
            var="referenceMaterial">
            <tr>
              <a4j:repeat
                id="properties"
                value="#{methodInstrumentCalibration.method.activePropertyList}"
                var="activeProperty">
                <td><sf:commandLink
                  id="knownRefResultValueLink"
                  value="#{methodInstrumentCalibration.getKnownReferenceResultHolder(referenceMaterial, activeProperty).result.resultValue}"
                  immediate="true"
                  action="knownReferenceResult-popup"
                  rendered="#{showKnownRefValueAsLink eq true}"
                  styleClass="popup">
                  <f:param
                    name="knownReferenceResultNo"
                    value="#{methodInstrumentCalibration.getKnownReferenceResultHolder(referenceMaterial, activeProperty).result.knownReferenceResultNo}" />
                </sf:commandLink> <h:outputText
                  id="knownRefResultValueText"
                  value="#{methodInstrumentCalibration.getKnownReferenceResultHolder(referenceMaterial, activeProperty).result.resultValue}"
                  rendered="#{showKnownRefValueAsLink eq false}" /></td>
                <td class="{group:'Units'} hiddenColumn"><h:outputText
                  value="#{methodInstrumentCalibration.getKnownReferenceResultHolder(referenceMaterial, activeProperty).result.resultUnits}" /></td>
              </a4j:repeat>
            </tr>
          </a4j:repeat>
        </tbody>
      </table>
    </ga:div>
    <div id="sampleAnalysisPanelOptions"></div>
  </ga:div>
</ui:composition>