<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sec="http://www.springframework.org/security/facelets/tags"
  template="/WEB-INF/layouts/pageTemplate.xhtml">
  <ui:define name="content">
    <h:form id="viewMethodInstrumentCalibrationForm">
      <ga:workflowLinks
        src="/WEB-INF/flows/geochemistry/admin/methodInstrumentCalibrations/viewMethodInstrumentCalibration/viewMethodInstrumentCalibration-menu.xhtml"
        class="selected" />
      <ga:main
        title="Method Instrument Calibration"
        pageId="MICV">
        <ga:fieldset legend="Method Instrument Calibration">
          <ga:textOutputField
            label="Calibration No"
            id="methodInstrumentCalibrationNo"
            beanValue="#{methodInstrumentCalibration.methodInstrumentCalibrationNo}" />
          <ga:textOutputField
            label="Method"
            id="methodName"
            beanValue="#{methodInstrumentCalibration.method.methodName}" />
          <ga:textOutputField
            label="Instrument"
            id="instrumentName"
            beanValue="#{methodInstrumentCalibration.instrument.name}" />
          <ga:outputField
            label="Comments"
            id="comments">
            <h:inputTextarea
              name="commentsText"
              id="commentsText"
              value="#{methodInstrumentCalibration.comment}"
              disabled="true"
              readonly="true"
              cols="100"
              rows="3"
              style="width:95%;" />
          </ga:outputField>
          <ga:dateTimeOutputField
            label="Calibration Date"
            id="calibrationDate"
            beanValue="#{methodInstrumentCalibration.calibrationDateTime}" />
          <ga:auditDetails
            auditLog="#{methodInstrumentCalibration.auditLog}" />
        </ga:fieldset>
        <ui:fragment
          id="analyticalLimitFragment"
          rendered="#{methodInstrumentCalibration.methodInstrumentCalibrationResultList.size() gt 0}">
          <ui:include src="viewAnalyticalLimit-panel.xhtml" />
        </ui:fragment>
        <ui:fragment id="knownReferenceResultFragment">
          <br></br>
          <ui:include src="viewKnownReferenceResult-panel.xhtml" />
        </ui:fragment>
        <ui:fragment
          id="calibrationFileFragment"
          rendered="#{methodInstrumentCalibration.methodInstrumentCalibrationFileList.size() gt 0}">
          <ui:include src="viewCalibrationFile-panel.xhtml" />
        </ui:fragment>
        <br></br>
        <ui:fragment id="buttonsFragment">
          <ga:div
            id="buttonsPanel"
            class="form_buttons">
            <sf:commandButton
              id="toggleShowKnownRefValueAsLink"
              value="#{showKnownRefValueAsLink eq true ? 'Show As Text' : 'Show As Links'}"
              action="toggleShowAsLinkValue"
              immediate="true" />
            <sec:ifAnyGranted roles="ROLE_GEOCHEM_DATA_ADMIN_APP">
              <h:commandButton
                id="editMethodInstrumentCalibration"
                value="Edit"
                action="editMethodInstrumentCalibration" />
            </sec:ifAnyGranted>
            <ga:returnButton />
          </ga:div>
        </ui:fragment>
      </ga:main>
    </h:form>
  </ui:define>
</ui:composition>