<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <ga:div class="form_input">
    <ga:fieldset legend="Analytical Limits">
      <label>Analytical Limits:</label>
      <table
        id="analyticalLimitsTable"
        class="input grid noValidation">
        <thead>
          <tr>
            <th>Analyte</th>
            <th>Uncertainty Value</th>
            <th>Uncertainty Units</th>
            <th>Uncertainty Type</th>
            <th>Min. Quantitation Value</th>
            <th>Min. Quantitation Units</th>
            <th>Max. Quantitation Value</th>
            <th>Max. Quantitation Units</th>
          </tr>
        </thead>
        <tbody>
          <a4j:repeat
            id="properties"
            value="#{methodInstrumentCalibration.method.propertyList}"
            var="activeProperty">
            <tr>
              <td><h:outputText
                id="property"
                value="#{activeProperty.htmlPropertyId}"
                escape="false" /></td>
              <td><h:outputText
                id="uncertaintyValue"
                value="#{methodInstrumentCalibration.getInstrumentCalibrationResult(activeProperty).uncertaintyValue}" /></td>
              <td><h:outputText
                id="uncertaintyUnits"
                value="#{methodInstrumentCalibration.getInstrumentCalibrationResult(activeProperty).uncertaintyUnits}" /></td>
              <td><h:outputText
                id="uncertaintyType"
                value="#{methodInstrumentCalibration.getInstrumentCalibrationResult(activeProperty).uncertaintyType.uncertaintyTypeCode}" /></td>
              <td><h:outputText
                id="minQuantitationValue"
                value="#{methodInstrumentCalibration.getInstrumentCalibrationResult(activeProperty).minQuantitationValue}" /></td>
              <td><h:outputText
                id="minQuantitationUnits"
                value="#{methodInstrumentCalibration.getInstrumentCalibrationResult(activeProperty).minQuantitationUnits}" /></td>
              <td><h:outputText
                id="minQuantitationValue"
                value="#{methodInstrumentCalibration.getInstrumentCalibrationResult(activeProperty).maxQuantitationValue}" /></td>
              <td><h:outputText
                id="minQuantitationUnits"
                value="#{methodInstrumentCalibration.getInstrumentCalibrationResult(activeProperty).maxQuantitationUnits}" /></td>
            </tr>
          </a4j:repeat>
        </tbody>
      </table>
    </ga:fieldset>
  </ga:div>
</ui:composition>