<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <ga:div class="form_input">
    <br></br>
    <ga:fieldset legend="Calibration Files">
      <label>Calibration Files:</label>
      <table
        id="analyticalLimitsTable"
        class="input grid noValidation">
        <thead>
          <tr>
            <th>File Name</th>
            <th>Entry Date</th>
            <th>Entered By</th>
            <th>Last Update</th>
            <th>Updated By</th>
          </tr>
        </thead>
        <tbody>
          <a4j:repeat
            id="properties"
            value="#{methodInstrumentCalibration.methodInstrumentCalibrationFileList}"
            var="calibrationFile">
            <tr>
              <td><h:commandLink
                id="downloadSourceFile"
                value="#{calibrationFile.name}"
                action="downloadSourceFile">
                <f:param
                  name="calibrationFileNo"
                  value="#{calibrationFile.methodInstrumentCalibrationFileNo}" />
              </h:commandLink></td>
              <td><h:outputText value="#{calibrationFile.entryDate}">
                <f:convertDateTime
                  pattern="dd-MM-yyyy HH:mm"
                  timeZone="#{systemContext.timeZone}" />
              </h:outputText></td>
              <td><h:outputText value="#{calibrationFile.enteredBy}" />
              <ga:userTooltip userId="#{calibrationFile.enteredBy}" /></td>
              <td><h:outputText value="#{calibrationFile.lastUpdate}">
                <f:convertDateTime
                  pattern="dd-MM-yyyy HH:mm"
                  timeZone="#{systemContext.timeZone}" />
              </h:outputText></td>
              <td><h:outputText value="#{calibrationFile.updatedBy}" />
              <ga:userTooltip userId="#{calibrationFile.updatedBy}" /></td>
            </tr>
          </a4j:repeat>
        </tbody>
      </table>
    </ga:fieldset>
  </ga:div>
</ui:composition>