<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sec="http://www.springframework.org/security/facelets/tags"
  xmlns:fn="http://java.sun.com/jsp/jstl/functions"
  template="/WEB-INF/layouts/pageTemplate.xhtml">
  <ui:define name="content">
    <h:form id="editKnownReferenceResultForm">
      <ga:workflowLinks
        src="/WEB-INF/flows/geochemistry/admin/knownReferenceResults/editKnownReferenceResult/editKnownReferenceResult-menu.xhtml"
        class="selected" />
      <ga:main
        title="#{actionTitle}"
        pageId="KRR#{fn:toUpperCase(fn:substring(actionTitle, 0, 1))}">
        <ui:include src="editKnownReferenceResult-panel.xhtml" />
      </ga:main>
    </h:form>
  </ui:define>
</ui:composition>