<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sec="http://www.springframework.org/security/facelets/tags"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <ga:fieldset legend="Known Reference Result">
    <ui:fragment
      id="knownReferenceResultNoOutputPanel"
      rendered="#{knownReferenceResult.knownReferenceResultNo ne null}">
      <ga:textField
        label="Known Reference Result No"
        id="knownReferenceResult"
        spanStyle="integer"
        maxLength="5"
        beanValue="#{knownReferenceResult.knownReferenceResultNo}"
        disabled="true"
        readOnly="true" />
    </ui:fragment>
    <ga:fieldset legend="Reference Material">
      <ga:dropDownList
        label="Reference Material"
        id="referenceMaterial"
        spanStyle="half integer"
        required="true"
        beanValue="#{knownReferenceResult.referenceMaterial}"
        list="#{referenceMaterialList}"
        readOnly="#{lockReferenceMaterial eq true}"
        disabled="#{lockReferenceMaterial eq true}">
        <f:selectItem itemLabel="" />
      </ga:dropDownList>
    </ga:fieldset>
    <ga:fieldset legend="Analyte">
      <ga:div
        id="propertyPanel"
        class="form_input required">
        <label for="propertyId">Analyte:</label>
        <span class="input half"> <sf:ajaxEvent
            action="propertySelected"
            event="onchange"
            processIds="propertyId">
            <h:selectOneMenu
            id="propertyId"
            value="#{knownReferenceResult.property}"
            converter="#{genericDomainConverter}">
            <f:selectItem itemLabel="" />
            <f:selectItems
              id="selectItems"
              value="#{propertyIdList}" />
          </h:selectOneMenu>
          </sf:ajaxEvent> </span>
      </ga:div>
    </ga:fieldset>
    <ui:fragment id="resultFragment">
      <ga:div
        id="resultPanel"
        class="form_input">
        <label id="result">Result Value (Units):</label>
        <span class="group"> <span class="input numeric"> <h:inputText
              value="#{knownReferenceResult.resultValue}"
              label="Result Value"
              maxlength="10" /> </span> <h:outputText
            styleClass="display"
            style="width: 5px;"
            escape="false"
            value="(" /> <span class="input"> <ga:dropDownList
              id="resultUnits"
              beanValue="#{knownReferenceResult.resultUnits}"
              list="#{concentrationMeasureUnitList}">
              <f:selectItem itemLabel="" />
            </ga:dropDownList> </span> <h:outputText
            styleClass="display"
            style="width: 10px;"
            escape="false"
            value=")" /> <span
          class="display"
          style="width: 10px;"> </span> </span>
      </ga:div>
    </ui:fragment>
    <!--    <ga:textField-->
    <!--      label="Weight"-->
    <!--      id="weight"-->
    <!--      spanStyle="numeric"-->
    <!--      maxLength="8"-->
    <!--      beanValue="#{knownReferenceResult.weight}" />-->
    <!--    <ga:textField-->
    <!--      label="Titration Volume"-->
    <!--      id="titrationVolume"-->
    <!--      spanStyle="numeric"-->
    <!--      maxLength="8"-->
    <!--      beanValue="#{knownReferenceResult.titrationVolume}" />-->

    <!-- <ui:fragment
            rendered="#{knownReferenceResult.uncertaintyUnits ne null}">-->
    <ga:div class="form_input">
      <label id="uncertainty">Uncertainty Value (Type):</label>
      <span class="group"> <span class="input numeric"> <h:inputText
            value="#{knownReferenceResult.uncertaintyValue}"
            label="Uncertainty Value"
            maxlength="10" /> </span> <h:outputText
          styleClass="display"
          style="width: 5px;"
          escape="false"
          value="(" /> <span class="input"> <ga:dropDownList
            id="uncertaintyType"
            beanValue="#{knownReferenceResult.uncertaintyType}"
            list="#{uncertaintyTypeCodeList}">
            <f:selectItem itemLabel="" />
          </ga:dropDownList> </span> <h:outputText
          styleClass="display"
          style="width: 5px;"
          escape="false"
          value=")" /> </span>
    </ga:div>

    <ga:textField
      label="Confidence Level"
      id="confidenceLevel"
      spanStyle="half"
      maxLength="50"
      beanValue="#{knownReferenceResult.confidenceLevel}" />

    <ga:textField
      label="Method"
      id="method"
      maxLength="100"
      spanStyle="half"
      beanValue="#{knownReferenceResult.methodName}" />

  </ga:fieldset>
  <ga:div class="form_buttons">
    <sec:ifAnyGranted roles="ROLE_GEOCHEM_DATA_ADMIN_APP">
      <h:commandButton
        id="saveKnownReferenceResult"
        value="Save"
        action="saveKnownReferenceResult" />
    </sec:ifAnyGranted>
    <ga:cancelButton />
  </ga:div>
</ui:composition>