<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sec="http://www.springframework.org/security/facelets/tags"
  template="/WEB-INF/layouts/pageTemplate.xhtml">
  <ui:define name="content">
    <h:form id="viewAnalysedReferenceMaterialForm">
      <ga:workflowLinks
        src="/WEB-INF/flows/geochemistry/analysedReferenceMaterials/viewAnalysedReferenceMaterial/viewAnalysedReferenceMaterial-menu.xhtml"
        class="selected" />
      <ga:main
        title="Analysed Reference Material"
        pageId="ARMV">
        <ui:include
          src="/WEB-INF/flows/geochemistry/baseResultBatch/viewBatch/viewBatchDetails-panel.xhtml">
          <ui:param
            name="resultBatch"
            value="#{referenceAnalysis.resultBatch}" />
        </ui:include>
        <ui:include src="viewReferenceMaterialSummary-panel.xhtml" />
        <ui:include src="viewReferenceAnalysis-panel.xhtml">
          <ui:param
            name="showTitle"
            value="true" />
          <ui:param
            name="showPropertyUnits"
            value="true" />
          <ui:param
            name="tableClass"
            value="autoWidth noborder" />
        </ui:include>
        <ui:fragment id="buttonsFragment">
          <ga:div
            id="buttonsPanel"
            class="form_buttons">
            <ga:returnButton />
          </ga:div>
        </ui:fragment>
      </ga:main>
    </h:form>
  </ui:define>
</ui:composition>