<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:app="http://www.ga.gov.au/geochem-jsf"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <ui:fragment rendered="#{showTitle eq null or showTitle eq true}">
    <h3>Analyses</h3>
  </ui:fragment>
  <ui:fragment
    id="referenceMaterialAnalysesFragment"
    rendered="#{not empty referenceAnalysis.referenceAnalysisResultList}">
    <table class="input grid nohover #{tableClass} noRowAlterColors">
      <thead>
        <tr>
          <th style="min-width: 140px;">Subsample</th>
          <a4j:repeat
            id="referenceAnalysisResultList"
            value="#{referenceAnalysis.referenceAnalysisResultList}"
            var="ref">
            <th style="min-width: 65px;"><h:outputText
                value="#{showPropertyUnits eq false ? ref.property.htmlPropertyId : ref.displayResultHeader}"
                escape="false" />
            </th>
          </a4j:repeat>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><h:outputText
              value="#{referenceAnalysis.subsampleId eq null ? ' - ': referenceAnalysis.subsampleId}" />
          </td>
          <a4j:repeat
            id="referenceAnalysisResultList"
            value="#{referenceAnalysis.referenceAnalysisResultList}"
            var="refVal">
            <td style="padding-left: 10px;"><h:outputText
                value="#{refVal.displayResultValue}" /></td>
          </a4j:repeat>
        </tr>
      </tbody>
    </table>
  </ui:fragment>
</ui:composition>