<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:app="http://www.ga.gov.au/geochem-jsf"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <ui:fragment id="referenceAnalysesFragment">
    <ga:div id="referenceAnalysisPanel">
      <ui:fragment rendered="#{showTitle eq null or showTitle eq true}">
        <h3>Analyses</h3>
      </ui:fragment>
      <ui:fragment
        id="referenceMaterialAnalysesFragment"
        rendered="#{not empty referenceAnalysis.referenceAnalysisResultList}">
        <ga:div
          id="allResultsPanel"
          class="form_input body"
          style="width:auto;">
          <table
            id="allResultsTable"
            class="input grid noValidation">
            <thead>
              <tr>
                <a4j:repeat
                  id="resultPropertyList"
                  value="#{resultTable.propertyList}"
                  var="property">
                  <th class="col_10 nowrap"><h:outputText
                      value="#{property.htmlPropertyId} #{html.lineBreak} #{referenceAnalysis.getReferenceAnalysisResultByProperty(property).resultUnits}"
                      escape="false" /></th>
                </a4j:repeat>
              </tr>
            </thead>
            <tbody>
              <tr>
                <a4j:repeat
                  id="resultPropertyList"
                  value="#{resultTable.propertyList}"
                  var="property">
                  <td class="nowrap col_10"><ga:outputNumber
                      id="analysisResultValue"
                      value="#{referenceAnalysis.getReferenceAnalysisResultByProperty(property).qualifiedResultValue}"
                      qualifier="#{referenceAnalysis.getReferenceAnalysisResultByProperty(property).limitReasonSymbol}"
                      patternKey="analysisResult.deliveryFormat.#{property.propertyId}" />
                  </td>
                </a4j:repeat>
              </tr>
            </tbody>
          </table>
        </ga:div>
      </ui:fragment>
      <ui:fragment
        id="emptyReferenceMaterialAnalysesFragment"
        rendered="#{empty referenceAnalysis.referenceAnalysisResultList}">
        <h:outputText value="No Results Entered" />
      </ui:fragment>
    </ga:div>
  </ui:fragment>
</ui:composition>