<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <ui:fragment id="referenceMaterialSummaryFragment">
    <ga:fieldset legend="ReferenceMaterial ">
      <ga:outputField
        id="selectReferenceMaterialDetails"
        label="#{resourceBundle['referenceMaterial.referenceMaterialId']}"
        spanStyle="half">
        <sf:commandLink
          id="selectReferenceMaterialDetails"
          value="#{referenceAnalysis.referenceMaterial.referenceMaterialId}"
          action="selectReferenceMaterialDetails"
          immediate="true">
          <f:param
            name="referenceMaterialNo"
            value="#{referenceAnalysis.referenceMaterial.referenceMaterialNo}" />
        </sf:commandLink>
      </ga:outputField>
      <ga:textOutputField
        id="referenceMaterialName"
        label="#{resourceBundle['referenceMaterial.referenceMaterialName']}"
        beanValue="#{referenceAnalysis.referenceMaterial.name}"
        spanStyle="half" />
      <ga:textOutputField
        id="referenceMaterialName"
        label="#{resourceBundle['referenceMaterial.description']}"
        beanValue="#{referenceAnalysis.referenceMaterial.description}"
        spanStyle="half" />
    </ga:fieldset>
  </ui:fragment>
</ui:composition>