<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <div class="form_input"><ga:fieldset
    legend="Known Reference Results">
    <ui:fragment
      id="knownReferenceResultsFragment"
      rendered="#{not empty knownReferenceResultList}">
      <label>Known Reference Results:</label>
      <table class="input grid noValidation fixedHeader">
        <thead>
          <tr>
            <th><h:outputText value="Known Reference Result No" /></th>
            <th><h:outputText value="Analyte" /></th>
            <th><h:outputText value="Value" /></th>
            <th><h:outputText value="Units" /></th>
            <th><h:outputText value="Confidence Level" /></th>
            <th><h:outputText value="Method Name" /></th>
          </tr>
        </thead>
        <a4j:repeat
          id="knownReferenceResults"
          value="#{knownReferenceResultList}"
          var="knownReferenceResult">
          <tbody>
            <tr>
              <td><h:outputText
                value="#{knownReferenceResult.knownReferenceResultNo}" /></td>
              <td><h:outputText
                value="#{knownReferenceResult.property.htmlPropertyId}"
                escape="false" /></td>
              <td><h:outputText
                value="#{knownReferenceResult.resultValue}" /></td>
              <td><h:outputText
                value="#{knownReferenceResult.resultUnits}" /></td>
              <td><h:outputText
                value="#{knownReferenceResult.confidenceLevel}" /></td>
              <td><h:outputText
                value="#{knownReferenceResult.methodName}" /></td>
            </tr>
          </tbody>
        </a4j:repeat>
      </table>

    </ui:fragment>
    <ui:fragment
      id="noKnownReferenceResultsFragment"
      rendered="#{empty knownReferenceResultList}">
      <ga:textOutputField
        label="Known Reference Results"
        beanValue="No associated known reference results" />
    </ui:fragment>
  </ga:fieldset></div>
</ui:composition>