<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <ui:fragment id="referenceMaterialFragment">
    <ga:textOutputField
      label="Reference Material No"
      id="referenceMaterialNo"
      beanValue="#{referenceMaterial.referenceMaterialNo}" />
    <ga:textOutputField
      label="Id"
      id="referenceMaterialId"
      beanValue="#{referenceMaterial.referenceMaterialId}" />
    <ga:textOutputField
      label="Name"
      id="referenceMaterialName"
      beanValue="#{referenceMaterial.name}" />
    <ga:textOutputField
      label="Description"
      id="description"
      beanValue="#{referenceMaterial.description}" />
    <ui:fragment
      id="referenceMaterialAuditDetails"
      rendered="#{showReferenceMaterialAuditDetails eq true}">
      <ga:auditDetails auditLog="#{referenceMaterial.auditLog}" />
    </ui:fragment>
    <ui:include src="viewSample-panel.xhtml" />
  </ui:fragment>
</ui:composition>