<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:rich="http://richfaces.org/rich"
  template="/WEB-INF/layouts/popupTemplate.xhtml"
  xmlns:ga="http://www.ga.gov.au/jsf">
  <ui:define name="content">
    <ui:fragment id="referenceMaterialData">
      <div id="pageId">[RMD]</div>
      <ga:div style="width: 800px">
        <h2>Reference Material Details</h2>
        <ga:textOutputField
          id="referenceMaterialNo"
          label="#{resourceBundle['referenceMaterial.referenceMaterialNo']}"
          beanValue="#{referenceMaterial.referenceMaterialNo}"
          spanStyle="half" />
        <ga:textOutputField
          id="referenceMaterialId"
          label="#{resourceBundle['referenceMaterial.referenceMaterialId']}"
          beanValue="#{referenceMaterial.referenceMaterialId}"
          spanStyle="half" />
        <ga:textOutputField
          id="referenceMaterialName"
          label="#{resourceBundle['referenceMaterial.referenceMaterialName']}"
          beanValue="#{referenceMaterial.name}"
          spanStyle="half" />
        <ga:textOutputField
          id="description"
          label="#{resourceBundle['referenceMaterial.description']}"
          beanValue="#{referenceMaterial.description}"
          spanStyle="half" />
      </ga:div>
    </ui:fragment>
  </ui:define>

</ui:composition>
