<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:rich="http://richfaces.org/rich"
  template="/WEB-INF/layouts/pageTemplate.xhtml"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:a4j="http://richfaces.org/a4j">

  <ui:define name="content">
    <h:form id="techniquesSearchForm">
      <ga:workflowLinks
        src="/WEB-INF/flows/geochemistry/admin/techniques/techniques-menu.xhtml"
        class="selected" />
      <ui:include src="techniques-toolbar.xhtml" />
      <ga:main
        tile="Technique Search"
        pageId="TS">
        <a4j:outputPanel id="criteria">
          <ga:simpleTogglePanel
            label="Search Criteria"
            opened="#{flowScope.showCriteria}">
            <ga:textField
              id="techniqueNo"
              label="Technique No"
              beanValue="#{techniqueSearchCriteria.techniqueNo}"
              maxLength="10"
              spanStyle="integer" />
            <ga:textField
              id="techniqueId"
              label="Id"
              beanValue="#{techniqueSearchCriteria.techniqueId}"
              maxLength="30"
              spanStyle="half"
              note="This field accepts \'%\' wildcards" />
            <ga:textField
              id="techniqueName"
              label="Name"
              beanValue="#{techniqueSearchCriteria.techniqueName}"
              maxLength="60"
              spanStyle="half"
              note="This field accepts \'%\' wildcards" />
            <ga:commonSearchFields
              searchCriteria="#{techniqueSearchCriteria}" />

            <ga:div class="form_buttons">
              <h:commandButton
                id="submit"
                value="Search"
                action="submit" />
              <!--              <ga:resetButton />-->
            </ga:div>
          </ga:simpleTogglePanel>

        </a4j:outputPanel>
        <br />
        <br />

        <a4j:outputPanel id="results">
          <ui:fragment
            rendered="#{not empty techniquesSearchResults.rowCount}">
            <h3>Search Results</h3>
            <h:outputText
              id="rowCount"
              value="#{techniquesSearchResults.rowCount eq 0 ? 'No' : techniquesSearchResults.rowCount} #{techniquesSearchResults.rowCount eq 1 ? 'record' : 'records'} found"
              style="display: block; padding-bottom: 5px;" />
            <rich:dataTable
              id="searchResults"
              value="#{techniquesSearchResults}"
              var="technique"
              rows="#{techniqueSearchCriteria.resultsPerPage}"
              styleClass="links grid noValidation"
              headerClass="compact"
              columnClasses="col_5 nowrap compact"
              rendered="#{techniquesSearchResults.rowCount gt 0}">
              <rich:column sortBy="#{technique.techniqueNo}">
                <f:facet name="header">
                  <h:outputText value="Technique No" />
                </f:facet>
                <h:commandLink
                  id="select"
                  value="#{technique.techniqueNo}"
                  action="select"
                  styleClass="nopad" />
              </rich:column>
              <rich:column sortBy="#{technique.techniqueId}">
                <f:facet name="header">
                  <h:outputText value="Id" />
                </f:facet>
                <h:outputText value="#{technique.techniqueId}" />
              </rich:column>
              <rich:column sortBy="#{technique.techniqueName}">
                <f:facet name="header">
                  <h:outputText value="Name" />
                </f:facet>
                <h:outputText value="#{technique.techniqueName}" />
              </rich:column>
              <!--               <ga:searchResultAuditDetails searchResult="#{technique}" /> -->
            </rich:dataTable>
            <ga:commonSearchDatascroller
              searchCriteria="#{techniqueSearchCriteria}"
              searchResults="#{techniquesSearchResults}" />
          </ui:fragment>
        </a4j:outputPanel>
      </ga:main>
    </h:form>
  </ui:define>
</ui:composition>