<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:rich="http://richfaces.org/rich"
  template="/WEB-INF/layouts/pageTemplate.xhtml"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:a4j="http://richfaces.org/a4j">

  <ui:define name="content">
    <h:form id="analysedReferenceMaterialSearchForm">
      <ga:workflowLinks
        src="/WEB-INF/flows/geochemistry/analysedReferenceMaterials/analysedReferenceMaterials-menu.xhtml"
        class="selected" />
      <ga:main
        title="Analysed Reference Material Search"
        pageId="ARMS">
        <a4j:outputPanel id="criteria">
          <ga:fieldset legend="">
            <ga:simpleTogglePanel
              label="Search Criteria"
              opened="#{flowScope.showCriteria}">
              <ui:fragment id="refMaterialFragment">
                <ga:dropDownList
                  id="refMaterial"
                  label="Reference Material"
                  beanValue="#{analysedReferenceMaterialSearchCriteria.referenceMaterial}"
                  list="#{refMaterialList}"
                  spanStyle="half">
                  <f:selectItem itemLabel="" />
                </ga:dropDownList>
              </ui:fragment>
              <ui:include
                src="/WEB-INF/flows/geochemistry/baseResultBatch/resultBatchSearchCriteria-panel.xhtml">
                <ui:param
                  name="resultBatchSearchCriteria"
                  value="#{analysedReferenceMaterialSearchCriteria.resultBatchSearchCriteria}" />
                <ui:param
                  name="showTitle"
                  value="false" />
              </ui:include>
              <ga:commonSearchFields
                searchCriteria="#{analysedReferenceMaterialSearchCriteria}" />
              <ga:div class="form_buttons">
                <h:commandButton
                  id="submit"
                  value="Search"
                  action="submit" />
                <!--              <ga:resetButton />-->
              </ga:div>
            </ga:simpleTogglePanel>
            <ga:div class="form_input">
              <label for="searchResultType">Select Results:</label>
              <span class="group"> <span> <h:selectOneRadio
                    styleClass="checkbx"
                    value="#{analysedReferenceMaterialSearchCriteria.resultType}">
                    <a4j:support
                      event="onchange"
                      reRender="results" />
                    <f:selectItems value="#{resultTypeSelectionList}" />
                  </h:selectOneRadio> </span> </span>
            </ga:div>
          </ga:fieldset>
        </a4j:outputPanel>
        <br />
        <a4j:outputPanel id="results">
          <ui:fragment
            rendered="#{searchResults ne null and not empty searchResults}">
            <ui:include src="analysedReferenceMaterialsResults-panel.xhtml" />
          </ui:fragment>
        </a4j:outputPanel>
      </ga:main>
    </h:form>
  </ui:define>
</ui:composition>