<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:app="http://www.ga.gov.au/geochem-jsf"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <h3>Search Results</h3>
  <h:outputText
    id="rowCount"
    value="#{searchResults.rowCount eq 0 ? 'No' :searchResults.rowCount} #{searchResults.rowCount eq 1 ? 'record' : 'records'} found"
    style="display: block; padding-bottom: 5px;" />
  <rich:dataTable
    id="searchResults"
    value="#{searchResults}"
    var="searchResult"
    rows="#{analysedReferenceMaterialSearchCriteria.resultsPerPage}"
    styleClass="links grid noValidation"
    headerClass=""
    columnClasses="nowrap,nowrap,nowrap,nopad,nowrap"
    frozenColumns="1"
    rendered="#{searchResults.rowCount gt 0}">
    <rich:column sortBy="#{searchResult.resultBatch.resultBatchNo}">
      <f:facet name="header">
        <h:outputText value="Result Batch" />
      </f:facet>
      <h:commandLink
        id="select"
        value="#{searchResult.resultBatch.resultBatchNo}"
        action="select"
        styleClass="nopad">
        <f:param
          name="referenceAnalysisNo"
          value="#{searchResult.referenceAnalysisNo}" />
      </h:commandLink>
    </rich:column>
    <rich:column sortBy="#{searchResult.sequenceNo}">
      <f:facet name="header">
        <h:outputText value="Seq No" />
      </f:facet>
      <h:outputText value="#{searchResult.sequenceNo}" />
    </rich:column>
    <rich:column
      sortBy="#{searchResult.referenceMaterial.referenceMaterialId}">
      <f:facet name="header">
        <h:outputText value="Ref Material" />
      </f:facet>
      <h:outputText
        value="#{searchResult.referenceMaterial.referenceMaterialId}" />
    </rich:column>
    <rich:column>
      <f:facet name="header">
        <h:outputText value="Results" />
      </f:facet>
      <ga:div id="resultsPanel">
        <ui:fragment
          id="referenceMaterialAnalysesFragment"
          rendered="#{analysedReferenceMaterialSearchCriteria.resultType.results}">
          <ui:include
            src="/WEB-INF/flows/geochemistry/analysedReferenceMaterials/viewAnalysedReferenceMaterial/viewReferenceAnalysis-panel.xhtml">
            <ui:param
              name="referenceAnalysis"
              value="#{searchResult.referenceAnalysis eq null or not searchResult.referenceAnalysis.isResultsLoaded() ? appService.loadRefAnalysisResults(searchResult).referenceAnalysis : searchResult.referenceAnalysis}" />
            <ui:param
              name="showTitle"
              value="false" />
            <ui:param
              name="tableClass"
              value="autoWidth noborder nobackground" />
            <ui:param
              name="showPropertyUnits"
              value="false" />
          </ui:include>
        </ui:fragment>
      </ga:div>
    </rich:column>
    <rich:column sortBy="#{searchResult.resultBatch.includedJobBatches}">
      <f:facet name="header">
        <h:outputText value="Incl Job Batches" />
      </f:facet>
      <h:outputText value="#{searchResult.resultBatch.includedJobBatches}" />
    </rich:column>
    <rich:column
      sortBy="#{searchResult.resultBatch.method.technique.techniqueName}">
      <f:facet name="header">
        <h:outputText value="Technique" />
      </f:facet>
      <h:outputText
        value="#{searchResult.resultBatch.method.technique.techniqueName}" />
    </rich:column>
    <rich:column sortBy="#{searchResult.resultBatch.method.methodName}">
      <f:facet name="header">
        <h:outputText value="Method" />
      </f:facet>
      <h:outputText value="#{searchResult.resultBatch.method.methodName}" />
    </rich:column>
    <rich:column sortBy="#{searchResult.resultBatch.instrument.name}">
      <f:facet name="header">
        <h:outputText value="Instrument" />
      </f:facet>
      <sf:commandLink
        id="detailsText"
        value="#{searchResult.resultBatch.instrument.instrumentId}"
        action="viewInstrumentDetails"
        immediate="true"
        styleClass="popup">
        <f:param
          name="instrumentNo"
          value="#{searchResult.resultBatch.instrument.instrumentNo}" />
      </sf:commandLink>
    </rich:column>
    <rich:column sortBy="#{searchResult.resultBatch.sessionDateTime}">
      <f:facet name="header">
        <h:outputText value="Session Date" />
      </f:facet>
      <h:outputText value="#{searchResult.resultBatch.sessionDateTime}">
        <f:convertDateTime
          pattern="dd-MM-yyyy hh:mm a"
          timeZone="#{systemContext.timeZone}" />
      </h:outputText>
    </rich:column>
    <rich:column sortBy="#{searchResult.resultBatch.status.label}">
      <f:facet name="header">
        <h:outputText value="Status" />
      </f:facet>
      <h:outputText value="#{searchResult.resultBatch.status.label}" />
    </rich:column>
  </rich:dataTable>
  <ga:commonSearchDatascroller
    searchCriteria="#{analysedReferenceMaterialSearchCriteria}"
    searchResults="#{searchResults}" />
</ui:composition>