<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:c="http://java.sun.com/jsp/jstl/core">
<head>
<title>Configurable Text Output field Facelets Component</title>
</head>
<body>
  <ui:composition>
    <div class="form_input #{pStyle}">
      <ui:fragment rendered="#{not empty label}">
        <div class="label">#{label}:</div>
      </ui:fragment>
      <div class="display #{spanStyle}">
        <c:choose>
          <c:when test="#{empty id}">
            <h:outputText
              value="#{beanValue}"
              label="#{label eq null ? ' ' : label}"
              escape="#{escape eq null ? 'false' : escape}">
              <ui:param
                name="pStyle"
                value="" />
              <ui:param
                name="label"
                value="" />
              <ui:param
                name="spanStyle"
                value="" />
              <ui:param
                name="escape"
                value="" />
              <ui:param
                name="beanValue"
                value="" />
              <ui:insert />
            </h:outputText>
          </c:when>
          <c:otherwise>
            <h:outputText
              name="#{id eq null ? 'xid' : id}"
              id="#{empty id ? 'xid' : id}"
              value="#{beanValue}"
              label="#{label eq null ? id : label}"
              escape="#{escape eq null ? 'false' : escape}">
              <ui:param
                name="pStyle"
                value="" />
              <ui:param
                name="label"
                value="" />
              <ui:param
                name="id"
                value="" />
              <ui:param
                name="spanStyle"
                value="" />
              <ui:param
                name="escape"
                value="" />
              <ui:param
                name="beanValue"
                value="" />
              <ui:insert />
            </h:outputText>
          </c:otherwise>
        </c:choose>
        <ui:fragment rendered="#{not empty note}">
          <span class="note">#{note}</span>
        </ui:fragment>
      </div>
    </div>
  </ui:composition>
</body>
</html>