<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <ui:fragment id="instrumentDetailsFragment">
    <ga:div class="panel">
      <br></br>
      <h3>Instrument:</h3>
      <table id="instrumentDetails">
        <thead>
          <tr>
            <th><h:outputText
              id="typeHeader"
              value="Type" /></th>
            <th><h:outputText
              id="makeHeader"
              value="Make" /></th>
            <th><h:outputText
              id="modelHeader"
              value="Limit of Correction" /></th>
            <th><h:outputText
              id="detailsHeader"
              value="Details" /></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><h:outputText
              id="typeText"
              value="#{instrumentCalibration.instrument.type}" /></td>
            <td><h:outputText
              id="makeText"
              value="#{instrumentCalibration.instrument.make}" /></td>
            <td><h:outputText
              id="modelText"
              value="#{instrumentCalibration.instrument.model}" /></td>
            <td><h:outputText
              id="detailsText"
              value="View Instrument Details" /></td>
          </tr>
        </tbody>
      </table>
    </ga:div>
  </ui:fragment>
</ui:composition>