<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <ui:fragment id="instrumentCalibrationDetailsFragment">
    <ga:div class="panel">
      <br></br>
      <h3>Instrument Calibration:</h3>
      <table id="instrumentCalibrationDetails">
        <thead>
          <tr>
            <th><h:outputText
              id="calibrationNoHeader"
              value="Calibration No" /></th>
            <th><h:outputText
              id="calibrationDateTimeHeader"
              value="Calibration Date" /></th>
            <th><h:outputText
              id="limitOfCorrectionHeader"
              value="Limit of Correction" /></th>
            <th><h:outputText
              id="analyticalErrorHeader"
              value="Analytical Error" /></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><h:outputText
              id="calibrationNoText"
              value="#{instrumentCalibration.instrumentCalibrationNo}" /></td>
            <td><h:outputText
              id="calibrationDateTimeText"
              value="#{instrumentCalibration.calibrationDateTime}">
              <f:convertDateTime
                pattern="dd-MM-yyyy hh:mm a"
                timeZone="#{systemContext.timeZone}" />
            </h:outputText></td>
            <td><h:outputText
              id="limitOfCorrectionText"
              value="#{instrumentCalibration.limitOfCorrection}" /></td>
            <td><h:outputText
              id="analyticalErrorText"
              value="#{instrumentCalibration.analyticalError}" /></td>
          </tr>
        </tbody>
      </table>

      <h3>Comments</h3>
      <ga:div class="form_input body">
        <span class="input"> <h:inputTextarea
          value="#{instrumentCalibration.comments}"
          disabled="true"
          cols="50"
          rows="3" /> </span>
      </ga:div>

    </ga:div>
  </ui:fragment>
</ui:composition>