<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:rich="http://richfaces.org/rich"
  template="/WEB-INF/layouts/pageTemplate.xhtml"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:a4j="http://richfaces.org/a4j">

  <ui:define name="content">
    <h:form id="propertiesSearchForm">
      <ga:workflowLinks
        src="/WEB-INF/flows/geochemistry/admin/properties/properties-menu.xhtml"
        class="selected" />
      <ui:include src="properties-toolbar.xhtml" />
      <ga:main
        title="Analyte Search"
        pageId="ATES">
        <a4j:outputPanel id="criteria">
          <ga:simpleTogglePanel
            label="Search Criteria"
            opened="#{flowScope.showCriteria}">
            <ga:textField
              id="propertyId"
              label="Analyte Code"
              beanValue="#{propertySearchCriteria.propertyId}"
              maxLength="30"
              spanStyle="half"
              note="This field accepts \'%\' wildcards" />
            <ga:textField
              id="propertyName"
              label="Name"
              beanValue="#{propertySearchCriteria.name}"
              maxLength="60"
              spanStyle="half"
              note="This field accepts \'%\' wildcards" />
            <ga:dropDownList
              id="analyteGroup"
              label="Analyte Group"
              beanValue="#{propertySearchCriteria.propertyGroup}"
              list="#{propertyGroupCodeValues}"
              spanStyle="half">
              <f:selectItem itemLabel="" />
            </ga:dropDownList>
            <ga:dropDownList
              id="unitGroup"
              label="Unit Group"
              beanValue="#{propertySearchCriteria.unitGroupId}"
              list="#{unitGroupIdList}"
              spanStyle="half">
              <f:selectItem itemLabel="" />
            </ga:dropDownList>
            <ga:commonSearchFields
              searchCriteria="#{propertySearchCriteria}" />

            <ga:div class="form_buttons">
              <h:commandButton
                id="submit"
                value="Search"
                action="submit" />
              <!--              <ga:resetButton/>-->
            </ga:div>
          </ga:simpleTogglePanel>

        </a4j:outputPanel>
        <br />
        <br />

        <a4j:outputPanel id="results">
          <ui:fragment
            rendered="#{not empty propertiesSearchResults.rowCount}">
            <h3>Search Results</h3>
            <h:outputText
              id="rowCount"
              value="#{propertiesSearchResults.rowCount eq 0 ? 'No' : propertiesSearchResults.rowCount} #{propertiesSearchResults.rowCount eq 1 ? 'record' : 'records'} found"
              style="display: block; padding-bottom: 5px;" />
            <rich:dataTable
              id="searchResults"
              value="#{propertiesSearchResults}"
              var="propertyResult"
              rows="#{propertySearchCriteria.resultsPerPage}"
              styleClass="links grid noValidation"
              headerClass="compact"
              columnClasses="col_5 nowrap compact"
              rendered="#{propertiesSearchResults.rowCount gt 0}">
              <rich:column sortBy="#{propertyResult.propertyId}">
                <f:facet name="header">
                  <h:outputText value="Analyte Code" />
                </f:facet>
                <h:commandLink
                  id="select"
                  value="#{propertyResult.propertyId}"
                  action="select"
                  styleClass="nopad" />
              </rich:column>
              <rich:column sortBy="#{propertyResult.htmlPropertyId}">
                <f:facet name="header">
                  <h:outputText value="HTML Code" />
                </f:facet>
                <h:outputText
                  value="#{propertyResult.htmlPropertyId}"
                  escape="false" />
              </rich:column>
              <rich:column sortBy="#{propertyResult.name}">
                <f:facet name="header">
                  <h:outputText value="Name" />
                </f:facet>
                <h:outputText value="#{propertyResult.name}" />
              </rich:column>
              <!--              <rich:column sortBy="#{propertyResult.htmlName}">-->
              <!--                <f:facet name="header">-->
              <!--                  <h:outputText value="HTML Name" />-->
              <!--                </f:facet>-->
              <!--                <h:outputText-->
              <!--                  value="#{propertyResult.htmlName}"-->
              <!--                  escape="false" />-->
              <!--              </rich:column>-->
              <rich:column sortBy="#{propertyResult.propertyGroup.label}">
                <f:facet name="header">
                  <h:outputText value="Analyte Group" />
                </f:facet>
                <h:outputText value="#{propertyResult.propertyGroup.label}" />
              </rich:column>
              <rich:column sortBy="#{propertyResult.unitGroupId}">
                <f:facet name="header">
                  <h:outputText value="Unit Group" />
                </f:facet>
                <h:outputText value="#{propertyResult.unitGroupId}" />
              </rich:column>
              <rich:column sortBy="#{propertyResult.displayOrder}">
                <f:facet name="header">
                  <h:outputText value="Display Order" />
                </f:facet>
                <h:outputText value="#{propertyResult.displayOrder}" />
              </rich:column>
              <rich:column sortBy="#{propertyResult.restIncludeInd}">
                <f:facet name="header">
                  <h:outputText value="Include in REST" />
                </f:facet>
                <h:outputText
                  value="#{propertyResult.restIncludeInd eq true ? 'Y' : 'N'}" />
              </rich:column>
              <rich:column sortBy="#{propertyResult.totalIncludeInd}">
                <f:facet name="header">
                  <h:outputText value="Include in TOTAL" />
                </f:facet>
                <h:outputText
                  value="#{propertyResult.totalIncludeInd eq true ? 'Y' : 'N'}" />
              </rich:column>
              <!--               <ga:searchResultAuditDetails searchResult="#{propertyResult}" /> -->
            </rich:dataTable>
            <ga:commonSearchDatascroller
              searchCriteria="#{propertySearchCriteria}"
              searchResults="#{propertiesSearchResults}" />
          </ui:fragment>
        </a4j:outputPanel>
      </ga:main>
    </h:form>
  </ui:define>
</ui:composition>