<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:rich="http://richfaces.org/rich"
  template="/WEB-INF/layouts/pageTemplate.xhtml"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:a4j="http://richfaces.org/a4j">

  <ui:define name="content">
    <h:form id="analystsSearchForm">
      <ga:workflowLinks
        src="/WEB-INF/flows/geochemistry/admin/analysts/analysts-menu.xhtml"
        class="selected" />
      <ui:include src="analysts-toolbar.xhtml" />
      <ga:main
        title="Analyst Search"
        pageId="ASTS">
        <a4j:outputPanel id="criteria">
          <ga:simpleTogglePanel
            label="Search Criteria"
            opened="#{flowScope.showCriteria}">
            <ga:textField
              id="analystNo"
              label="Analyst No"
              beanValue="#{analystSearchCriteria.analystNo}"
              maxLength="10"
              spanStyle="integer" />
            <ga:textField
              id="analystId"
              label="Analyst Id"
              beanValue="#{analystSearchCriteria.analystId}"
              maxLength="30"
              spanStyle="half"
              note="This field accepts \'%\' wildcards" />
            <ga:textField
              id="analystFirstName"
              label="First Name"
              beanValue="#{analystSearchCriteria.analystFirstName}"
              maxLength="60"
              spanStyle="half"
              note="This field accepts \'%\' wildcards" />
            <ga:textField
              id="analystLastName"
              label="Last Name"
              beanValue="#{analystSearchCriteria.analystLastName}"
              maxLength="60"
              spanStyle="half"
              note="This field accepts \'%\' wildcards" />
            <ga:dropDownList
              id="status"
              label="Active Status"
              beanValue="#{analystSearchCriteria.status}"
              list="#{activationStatusCodeList}"
              spanStyle="half">
              <f:selectItem itemLabel="" />
            </ga:dropDownList>
            <ga:commonSearchFields
              searchCriteria="#{analystSearchCriteria}" />

            <ga:div class="form_buttons">
              <h:commandButton
                id="submit"
                value="Search"
                action="submit" />
              <!--              <ga:resetButton />-->
            </ga:div>
          </ga:simpleTogglePanel>

        </a4j:outputPanel>
        <br />
        <br />

        <a4j:outputPanel id="results">
          <ui:fragment
            rendered="#{not empty analystsSearchResults.rowCount}">
            <h3>Search Results</h3>
            <h:outputText
              id="rowCount"
              value="#{analystsSearchResults.rowCount eq 0 ? 'No' : analystsSearchResults.rowCount} #{analystsSearchResults.rowCount eq 1 ? 'record' : 'records'} found"
              style="display: block; padding-bottom: 5px;" />
            <rich:dataTable
              id="searchResults"
              value="#{analystsSearchResults}"
              var="analystResult"
              rows="#{analystSearchCriteria.resultsPerPage}"
              styleClass="links grid noValidation noValidation"
              headerClass="compact"
              columnClasses="col_5 nowrap compact"
              rendered="#{analystsSearchResults.rowCount gt 0}">
              <rich:column sortBy="#{analystResult.analystNo}">
                <f:facet name="header">
                  <h:outputText value="Analyst No" />
                </f:facet>
                <h:commandLink
                  id="select"
                  value="#{analystResult.analystNo}"
                  action="select"
                  styleClass="nopad" />
              </rich:column>
              <rich:column sortBy="#{analystResult.analystId}">
                <f:facet name="header">
                  <h:outputText value="Analyst Id" />
                </f:facet>
                <h:outputText value="#{analystResult.analystId}" />
              </rich:column>
              <rich:column sortBy="#{analystResult.analystFirstName}">
                <f:facet name="header">
                  <h:outputText value="First Name" />
                </f:facet>
                <h:outputText value="#{analystResult.analystFirstName}" />
              </rich:column>
              <rich:column sortBy="#{analystResult.analystLastName}">
                <f:facet name="header">
                  <h:outputText value="Last Name" />
                </f:facet>
                <h:outputText value="#{analystResult.analystLastName}" />
              </rich:column>
              <rich:column sortBy="#{analystResult.status.label}">
                <f:facet name="header">
                  <h:outputText value="Status" />
                </f:facet>
                <h:outputText value="#{analystResult.status.label}" />
              </rich:column>
              <!--               <ga:searchResultAuditDetails searchResult="#{analystResult}" /> -->
            </rich:dataTable>
            <ga:commonSearchDatascroller
              searchCriteria="#{analystSearchCriteria}"
              searchResults="#{analystsSearchResults}" />
          </ui:fragment>
        </a4j:outputPanel>
      </ga:main>
    </h:form>
  </ui:define>
</ui:composition>