<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sec="http://www.springframework.org/security/facelets/tags"
  template="/WEB-INF/layouts/pageTemplate.xhtml">
  <ui:define name="content">
    <h:form id="viewAnalystForm">
      <ga:workflowLinks
        src="/WEB-INF/flows/geochemistry/admin/subsampleTypes/viewSubsampleType/viewSubsampleType-menu.xhtml"
        class="selected" />
      <ga:main
        title="Subsample Type"
        pageId="SSTV">
        <ga:fieldset legend="Subsample Type">          
            <ga:textOutputField
              label="SubsampleType Id"
              id="subsampleTypeId"
              spanStyle="numeric"
              maxLength="30"
              beanValue="#{subsampleType.subsampleTypeId}" />
            <ga:textOutputField
              label="SubsampleType Name"
              id="typeName"
              spanStyle="numeric"
              maxLength="60"
              beanValue="#{subsampleType.typeName}"/>
          <ga:textOutputField
              label="Matching Regex"
              id="matchRegex"
              spanStyle="half"
              maxLength="60"
              beanValue="#{subsampleType.matchRegex}"/>
          <ga:textOutputField
              label="Replacement Regex"
              id="replaceRegex"
              spanStyle="half"
              maxLength="60"
              beanValue="#{subsampleType.replaceRegex}"/>
         <ga:textOutputField
            label="Covert Case"
            id="caseConversionCode"
            beanValue="#{subsampleType.convertCase.label}" />
          <ga:auditDetails auditLog="#{analyst.auditLog}" />    
        </ga:fieldset>
        <ga:div class="form_buttons">
          <sec:ifAnyGranted roles="ROLE_GEOCHEM_DATA_ADMIN_APP">
            <h:commandButton
              id="editSubsampleType"
              value="Edit"
              action="editSubsampleType" />
          </sec:ifAnyGranted>
          <ga:returnButton />
        </ga:div>
      </ga:main>
    </h:form>
  </ui:define>
</ui:composition>