<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:rich="http://richfaces.org/rich"
  template="/WEB-INF/layouts/pageTemplate.xhtml"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:a4j="http://richfaces.org/a4j">

  <ui:define name="content">
    <h:form id="knownReferenceResultsSearchForm">
      <ga:workflowLinks
        src="/WEB-INF/flows/geochemistry/admin/knownReferenceResults/knownReferenceResults-menu.xhtml"
        class="selected" />
      <ui:include src="knownReferenceResults-toolbar.xhtml" />
      <ga:main
        title="Known Reference Result Search"
        pageId="KRRS">
        <a4j:outputPanel id="criteria">
          <ga:simpleTogglePanel
            label="Search Criteria"
            opened="#{flowScope.showCriteria}">
            <ga:textField
              id="knownReferenceResultNo"
              label="Known Reference Result No"
              beanValue="#{knownReferenceResultSearchCriteria.knownReferenceResultNo}"
              maxLength="10"
              spanStyle="integer" />
            <ga:textField
              id="methodName"
              label="Method Name"
              beanValue="#{knownReferenceResultSearchCriteria.methodName}"
              maxLength="30"
              spanStyle="half"
              note="This field accepts \'%\' wildcards" />
            <ga:textField
              id="referenceMaterialId"
              label="Reference Material Id"
              beanValue="#{knownReferenceResultSearchCriteria.referenceMaterialId}"
              maxLength="30"
              spanStyle="half"
              note="This field accepts \'%\' wildcards" />
            <ga:textField
              id="propertyId"
              label="Analyte"
              beanValue="#{knownReferenceResultSearchCriteria.propertyId}"
              maxLength="10"
              spanStyle="half"
              note="This field accepts \'%\' wildcards" />
            <ga:commonSearchFields
              searchCriteria="#{knownReferenceResultSearchCriteria}" />

            <ga:div class="form_buttons">
              <h:commandButton
                id="submit"
                value="Search"
                action="submit" />
              <!--              <ga:resetButton/>-->
            </ga:div>
          </ga:simpleTogglePanel>

        </a4j:outputPanel>
        <br />
        <br />

        <a4j:outputPanel id="results">
          <ui:fragment
            rendered="#{not empty knownReferenceResultsSearchResults.rowCount}">
            <h3>Search Results</h3>
            <h:outputText
              id="rowCount"
              value="#{knownReferenceResultsSearchResults.rowCount eq 0 ? 'No' : knownReferenceResultsSearchResults.rowCount} #{knownReferenceResultsSearchResults.rowCount eq 1 ? 'record' : 'records'} found"
              style="display: block; padding-bottom: 5px;" />
            <rich:dataTable
              id="searchResults"
              value="#{knownReferenceResultsSearchResults}"
              var="knownReferenceResult"
              rows="#{knownReferenceResultSearchCriteria.resultsPerPage}"
              styleClass="links grid noValidation noValidation"
              headerClass="compact"
              columnClasses="col_5 nowrap compact"
              rendered="#{knownReferenceResultsSearchResults.rowCount gt 0}">
              <rich:column
                sortBy="#{knownReferenceResult.knownReferenceResultNo}">
                <f:facet name="header">
                  <h:outputText value="Known Reference Result No" />
                </f:facet>
                <h:commandLink
                  id="select"
                  value="#{knownReferenceResult.knownReferenceResultNo}"
                  action="select"
                  styleClass="nopad" />
              </rich:column>
              <rich:column
                sortBy="#{knownReferenceResult.referenceMaterial.name}">
                <f:facet name="header">
                  <h:outputText value="Reference Material" />
                </f:facet>
                <h:outputText
                  value="#{knownReferenceResult.referenceMaterial.name}" />
              </rich:column>
              <rich:column
                sortBy="#{knownReferenceResult.property.propertyId}">
                <f:facet name="header">
                  <h:outputText value="Analyte" />
                </f:facet>
                <h:outputText
                  value="#{knownReferenceResult.property.propertyId}" />
              </rich:column>
              <rich:column sortBy="#{knownReferenceResult.status.label}">
                <f:facet name="header">
                  <h:outputText value="Confidence Level" />
                </f:facet>
                <h:outputText
                  value="#{knownReferenceResult.confidenceLevel}" />
              </rich:column>
              <rich:column sortBy="#{knownReferenceResult.methodName}">
                <f:facet name="header">
                  <h:outputText value="Method Name" />
                </f:facet>
                <h:outputText value="#{knownReferenceResult.methodName}" />
              </rich:column>
              <rich:column sortBy="#{knownReferenceResult.resultValue}">
                <f:facet name="header">
                  <h:outputText value="Result Value" />
                </f:facet>
                <h:outputText value="#{knownReferenceResult.resultValue}" />
              </rich:column>
              <rich:column sortBy="#{knownReferenceResult.resultUnits}">
                <f:facet name="header">
                  <h:outputText value="Result Units" />
                </f:facet>
                <h:outputText value="#{knownReferenceResult.resultUnits}" />
              </rich:column>
              <!--               <ga:searchResultAuditDetails                searchResult="#{knownReferenceResult}" /> -->
            </rich:dataTable>
            <ga:commonSearchDatascroller
              searchCriteria="#{knownReferenceResultSearchCriteria}"
              searchResults="#{knownReferenceResultsSearchResults}" />
          </ui:fragment>
        </a4j:outputPanel>
      </ga:main>
    </h:form>
  </ui:define>
</ui:composition>