<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sec="http://www.springframework.org/security/facelets/tags"
  xmlns:a4j="http://richfaces.org/a4j"
  template="/WEB-INF/layouts/standard.xhtml">
  <ui:define name="title">Geochemistry Data Management</ui:define>
  <ui:define name="header-post-css">
    <sf:resource path="/css/app.style.css" />
  </ui:define>
  <ui:define name="header-post-scripts">
    <script type="text/javascript">
	djConfig = {
		useCustomLogger : true
	};
    </script>
  </ui:define>
  <ui:define name="header-nav">
    <h:outputText
      value="#{systemContext.configProperties['header-nav']}}"
      escape="false" />
  </ui:define>
</ui:composition>

