<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<f:view
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:fn="http://java.sun.com/jsp/jstl/functions"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  contentType="text/html"
  encoding="UTF-8"
  locale="en">
  <html xmlns="http://www.w3.org/1999/xhtml" lang="en" >
  <h:head>
  <meta
    http-equiv="Content-Type"
    content="text/html; charset=utf-8" />
  <meta
    http-equiv="Content-Style-Type"
    content="text/css" />
  <meta
    http-equiv="Content-Script-Type"
    content="text/javascript" />
  <title><ui:insert name="title"></ui:insert></title>
  <ui:insert name="header-pre-css"></ui:insert>
  <sf:includeStyles />
  <sf:resource path="/common/css/ga.style.css" />
<!--[if IE ]>
  <link href="#{request.contextPath}/resources/common/css/ga.forms.ie.css" rel="stylesheet" type="text/css" />
<![endif]-->
  <ui:insert name="header-post-css"></ui:insert>
  <style type="text/css">#{systemContext.getConfigProperty('cssOverride','')}</style>
  <ui:insert name="header-pre-scripts"></ui:insert>
  <sf:includeScripts />
  <sf:resource path="/common/javascript/jquery-1.7.2.min.js" />
  <sf:resource path="/common/javascript/jquery-ui-1.8.20.custom.min.js" />
  <!-- the following clause can be uncommented *temporarily* for javascript debugging in IE -->
  <!-- 
    <script
      type="text/javascript"
      src="https://getfirebug.com/firebug-lite.js"></script>
   -->
  <sf:resource path="/common/javascript/framework.js" />
  <sf:resource path="/common/javascript/ga.utilities.js" />
<!--// for opera
if (jquery.browser.opera) {
    document.write('<link href="#{request.contextPath}/resources/common/css/ga.forms.opera.css" rel="stylesheet" type="text/css" />');
}
-->
  <ui:insert name="header-post-scripts"></ui:insert>
  <style type="text/javascript">#{systemContext.getConfigProperty('jsOverride','')}</style>
  <ui:insert name="headIncludes" />
  </h:head>

  <body class="tundra">
  <div id="page">
  <div
    id="content"
    class="clearfix spring">
  <div id="main"></div>
  </div>
  </div>
  <ui:insert name="bulkhead">
    <div
      class="structure bulkhead"
      id="header">
    <div class="bulkhead-pad"><ui:insert name="logo">
      <a
        href="http://www.ga.gov.au/"
        class="logo"
        title="Australian Government Geoscience Australia logo">Australian
      Government - Geoscience Australia</a>
    </ui:insert>
    <h1><ui:insert name="title"></ui:insert></h1>
    <ul id="nav">
      <ui:insert name="header-nav" />
    </ul>
    <ul class="options">
      <ui:insert name="header-options" />
    </ul>
    <div class="bulkhead-info"><ui:insert name="bulkhead-info">
      <p>#{user.name eq 'anonymousUser' ? '' : user.name}</p>
      <p>#{systemContext.environmentName} V:#{systemContext.implementationVersion}</p>
    </ui:insert></div>
    </div>
    </div>

  </ui:insert>
  <ui:insert name="content" />
  </body>
  </html>
</f:view>