<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<f:view
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  contentType="text/html"
  encoding="UTF-8"
  locale="en">
  <html
    xmlns="http://www.w3.org/1999/xhtml"
    lang="en">
<head>
<meta
  http-equiv="Content-Type"
  content="text/html; charset=utf-8" />
  <meta
    http-equiv="Content-Style-Type"
    content="text/css" />
</head>

<body class="tundra">
  <ui:insert name="content" />
</body>
  </html>
</f:view>