<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:rich="http://richfaces.org/rich"
  template="/WEB-INF/layouts/pageTemplate.xhtml"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:a4j="http://richfaces.org/a4j">

  <ui:define name="content">
    <h:form id="laboratoriesSearchForm">
      <ga:workflowLinks
        src="/WEB-INF/flows/geochemistry/admin/laboratories/laboratories-menu.xhtml"
        class="selected" />
      <ui:include src="laboratories-toolbar.xhtml" />
      <ga:main
        title="Laboratory Search"
        pageId="LS">
        <a4j:outputPanel id="criteria">
          <ga:simpleTogglePanel
            label="Search Criteria"
            opened="#{flowScope.showCriteria}">
            <ga:textField
              id="laboratoryNo"
              label="Laboratory No"
              beanValue="#{laboratorySearchCriteria.laboratoryNo}"
              maxLength="10"
              spanStyle="integer" />
            <ga:textField
              id="laboratoryId"
              label="Id"
              beanValue="#{laboratorySearchCriteria.laboratoryId}"
              maxLength="30"
              spanStyle="half"
              note="This field accepts \'%\' wildcards" />
            <ga:textField
              id="laboratoryName"
              label="Name"
              beanValue="#{laboratorySearchCriteria.laboratoryName}"
              maxLength="100"
              spanStyle="half"
              note="This field accepts \'%\' wildcards" />
            <ga:commonSearchFields
              searchCriteria="#{laboratorySearchCriteria}" />

            <ga:div class="form_buttons">
              <h:commandButton
                id="submit"
                value="Search"
                action="submit" />
              <!--              <ga:resetButton/>-->
            </ga:div>
          </ga:simpleTogglePanel>

        </a4j:outputPanel>
        <br />
        <br />

        <a4j:outputPanel id="results">
          <ui:fragment
            rendered="#{not empty laboratoriesSearchResults.rowCount}">
            <h3>Search Results</h3>
            <h:outputText
              id="rowCount"
              value="#{laboratoriesSearchResults.rowCount eq 0 ? 'No' : laboratoriesSearchResults.rowCount} #{laboratoriesSearchResults.rowCount eq 1 ? 'record' : 'records'} found"
              style="display: block; padding-bottom: 5px;" />
            <rich:dataTable
              id="searchResults"
              value="#{laboratoriesSearchResults}"
              var="laboratoryResult"
              rows="#{laboratorySearchCriteria.resultsPerPage}"
              styleClass="links grid noValidation"
              headerClass="compact"
              columnClasses="col_5 nowrap compact"
              rendered="#{laboratoriesSearchResults.rowCount gt 0}">
              <rich:column sortBy="#{laboratoryResult.laboratoryNo}">
                <f:facet name="header">
                  <h:outputText value="Laboratory No" />
                </f:facet>
                <h:commandLink
                  id="select"
                  value="#{laboratoryResult.laboratoryNo}"
                  action="select"
                  styleClass="nopad" />
              </rich:column>
              <rich:column sortBy="#{laboratoryResult.laboratoryId}">
                <f:facet name="header">
                  <h:outputText value="Id" />
                </f:facet>
                <h:outputText value="#{laboratoryResult.laboratoryId}" />
              </rich:column>
              <rich:column sortBy="#{laboratoryResult.laboratoryName}">
                <f:facet name="header">
                  <h:outputText value="Name" />
                </f:facet>
                <h:outputText value="#{laboratoryResult.laboratoryName}" />
              </rich:column>
              <!--               <ga:searchResultAuditDetails                searchResult="#{laboratoryResult}" /> -->
            </rich:dataTable>
            <ga:commonSearchDatascroller
              searchCriteria="#{laboratorySearchCriteria}"
              searchResults="#{laboratoriesSearchResults}" />
          </ui:fragment>
        </a4j:outputPanel>
      </ga:main>
    </h:form>
  </ui:define>
</ui:composition>