<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sec="http://www.springframework.org/security/facelets/tags"
  template="/WEB-INF/layouts/pageTemplate.xhtml">
  <ui:define name="content">
    <h:form id="viewTechniqueForm">
      <ga:workflowLinks
        src="/WEB-INF/flows/geochemistry/admin/techniques/editTechnique/editTechnique-menu.xhtml"
        class="selected" />
      <ga:main
        title="#{actionTitle}"
        pageId="TE">
        <ga:fieldset legend="Technique">
          <ui:fragment
            id="techniqueNoFragment"
            rendered="#{technique.techniqueNo ne null}">
            <ga:textField
              label="Technique No"
              id="techniqueNo"
              spanStyle="numeric"
              maxLength="8"
              beanValue="#{technique.techniqueNo}"
              disabled="true"
              readOnly="true" />
          </ui:fragment>
          <ga:textField
            label="Id"
            id="techniqueId"
            maxLength="30"
            spanStyle="half"
            readOnly="#{technique.versionNo ne null}"
            disabled="#{technique.versionNo ne null}"
            required="true"
            beanValue="#{technique.techniqueId}" />
          <ga:textField
            label="Name"
            id="techniqueName"
            maxLength="60"
            spanStyle="half"
            beanValue="#{technique.techniqueName}" />
          <ga:div class="form_input check_box">
            <ga:span class="input">
              <h:selectBooleanCheckbox value="#{technique.active}" />
            </ga:span>
            <label for="default">Active</label>
          </ga:div>
          <ga:textField
            label="Display Order"
            id="displayOrder"
            maxLength="3"
            spanStyle="numeric"
            required="true"
            beanValue="#{technique.displayOrder}" />
          <ga:outputField
            label="Description"
            id="description">
            <h:inputTextarea
              name="description"
              id="description"
              value="#{technique.description}"
              cols="100"
              rows="3"
              style="width:95%;" />
          </ga:outputField>
        </ga:fieldset>
        <ga:div class="form_buttons">
          <sec:ifAnyGranted roles="ROLE_GEOCHEM_DATA_ADMIN_APP">
            <h:commandButton
              id="saveTechnique"
              value="Save"
              action="saveTechnique" />
          </sec:ifAnyGranted>
          <ga:cancelButton />
        </ga:div>
      </ga:main>
    </h:form>
  </ui:define>
</ui:composition>