<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <ui:fragment
    id="methodDetailsFragment"
    rendered="#{not empty flowScope.methodList}">
    <ga:div class="form_input">
      <label>Methods:</label>
      <table class="input grid noValidation selectable collapsibleRows">
        <thead>
          <tr>
            <td><h:selectBooleanCheckbox
              styleClass="selectAll {withClass:'rowSelector'}"
              title="Check/Uncheck All" /></td>
            <td><h:outputText value="Technique" /></td>
            <td><h:outputText value="Purpose" /></td>
            <td><h:outputText value="Method" /></td>
          </tr>
        </thead>
        <tbody>
          <a4j:repeat
            id="methods"
            value="#{flowScope.methodList}"
            var="method">
            <tr>
              <td class="selector"><h:selectBooleanCheckbox
                value="#{method.selected}"
                styleClass="rowSelector" /></td>
              <td><h:outputText
                value="#{method.technique.techniqueName}" /></td>
              <td><h:outputText value="#{method.purpose}" /></td>
              <td><h:outputText value="#{method.methodName}" /></td>
            </tr>
          </a4j:repeat>
        </tbody>
      </table>
    </ga:div>
  </ui:fragment>
  <ui:fragment
    id="noMethodDetailsFragment"
    rendered="#{empty flowScope.methodList}">
    <h:outputText
      id="noMethods"
      value="No methods associated with this job" />
  </ui:fragment>
</ui:composition>