<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sec="http://www.springframework.org/security/facelets/tags"
  template="/WEB-INF/layouts/pageTemplate.xhtml">
  <ui:define name="content">
    <h:form id="createUploadTemplateForm">
      <ga:workflowLinks
        src="/WEB-INF/flows/geochemistry/admin/methods/viewMethod/createUploadTemplate/createUploadTemplate-menu.xhtml"
        class="selected" />
      <ga:main
        title="Create Data-Upload Template"
        pageId="CDUS">
        <ga:div class="panel">
          <ga:fieldset legend="Method">
            <ui:fragment id="methodDetailsFragment">
              <ga:textOutputField
                id="methodNo"
                label="Method No"
                beanValue="#{method.methodNo}" />
              <ga:textOutputField
                label="Id"
                id="methodId"
                beanValue="#{method.methodId}" />
              <ga:textOutputField
                label="Name"
                id="methodName"
                beanValue="#{method.methodName}" />
              <ga:textOutputField
                label="Purpose"
                id="purpose"
                beanValue="#{method.purpose}" />
            </ui:fragment>
          </ga:fieldset>
        </ga:div>
        <ga:div class="form_input">
          <label for="fileType">Select File Type:</label>
          <span class="group"> <span> <h:selectOneRadio
                styleClass="checkbx"
                value="#{createUploadTemplateCriteria.fileType}">
                <f:selectItem
                  itemLabel="#{html.nbsp}CSV"
                  itemValue="csv"
                  itemEscaped="false" />
                <f:selectItem
                  itemLabel="#{html.nbsp}XLS"
                  itemValue="xls"
                  itemEscaped="false" />
              </h:selectOneRadio> </span> </span>
        </ga:div>
        <ga:div class="form_input">
          <label for="fileContentType">Select Analytes:</label>
          <span class="group"> <span> <h:selectManyCheckbox
                styleClass="checkbx"
                value="#{createUploadTemplateCriteria.propertySelectList}">
                <f:selectItem
                  itemLabel="#{html.nbsp}Active"
                  itemValue="ACTIVE"
                  itemEscaped="false" />
                <f:selectItem
                  itemLabel="#{html.nbsp}Inactive"
                  itemValue="INACTIVE"
                  itemEscaped="false" />
              </h:selectManyCheckbox> </span> </span>
        </ga:div>
        <ga:div class="form_input">
          <label for="propertyOrder">Select Order of Analytes:</label>
          <span class="group"> <span> <h:selectOneRadio
                styleClass="checkbx"
                value="#{createUploadTemplateCriteria.propertyOrder}">
                <f:selectItem
                  itemLabel="#{html.nbsp}Alphabetic"
                  itemValue="A"
                  itemEscaped="false" />
                <f:selectItem
                  itemLabel="#{html.nbsp}Standard"
                  itemValue="S"
                  itemEscaped="false" />
              </h:selectOneRadio> </span> </span>
        </ga:div>
        <ga:div class="form_buttons">
          <h:commandButton
            id="submit"
            value="Submit"
            action="submit" />
          <ga:cancelButton />
        </ga:div>
      </ga:main>
    </h:form>
  </ui:define>
</ui:composition>