<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <ui:fragment id="propertyFragment">
    <ga:fieldset legend="Analyte">
      <ga:textOutputField
        label="Analyte"
        id="propertyId"
        beanValue="#{property.propertyId}" />

      <ga:textOutputField
        label="Name"
        id="propertyName"
        beanValue="#{property.name}" />
      <div class="form_input">
        <h:outputLabel for="casNumber">CAS Number:</h:outputLabel>
        <span class="display"> <h:outputText
            id="casNumber"
            value="#{property.casNumber}">
            <ga:casNumberConverter />
          </h:outputText> </span>
      </div>
      <ga:textOutputField
        label="Analyte Group"
        id="propertyGroup"
        beanValue="#{property.propertyGroup.label}" />
      <ga:textOutputField
        label="Unit Group"
        id="unitGroup"
        beanValue="#{property.unitGroupId}" />
      <ga:textOutputField
        label="Display Order"
        id="displayOrder"
        beanValue="#{property.displayOrder}" />
      <ga:textOutputField
        label="Delivery Units"
        id="deliveryUnits"
        beanValue="#{property.deliveryUnits}" />
      <ga:textOutputField
        label="Storage Units"
        id="storageUnits"
        beanValue="#{property.storageUnits}" />
      <ga:textOutputField
        label="Oxide form"
        id="oxideForm"
        beanValue="#{property.oxideForm}" />
      <ga:textOutputField
        label="Alternate Oxide forms"
        id="altOxideForms"
        beanValue="#{property.altOxideForms}" />
      <ga:textOutputField
        label="Include in LOI Derivation"
        id="loiIncludeInd"
        beanValue="#{property.loiIncludeInd ? 'Y' : 'N'}" />
      <ga:textOutputField
        label="LOI Factor"
        id="loiFactor"
        beanValue="#{property.loiFactor}" />
      <ga:textOutputField
        label="Include in REST Derivation"
        id="restIncludeInd"
        beanValue="#{property.restIncludeInd ? 'Y' : 'N'}" />
      <ga:textOutputField
        label="REST Factor"
        id="restFactor"
        beanValue="#{property.restFactor}" />
      <ga:textOutputField
        label="Include in TOTAL Derivation"
        id="totalIncludeInd"
        beanValue="#{property.totalIncludeInd ? 'Y' : 'N'}" />
      <ga:textOutputField
        label="HTML Code"
        id="htmlPropertyId"
        beanValue="#{property.htmlPropertyId}"
        escape="false" />
      <ga:textOutputField
        label="HTML Name"
        id="htmlPropertyName"
        beanValue="#{property.htmlName}"
        escape="false" />
      <ga:textOutputField
        label="XML Code"
        id="xmlPropertyId"
        beanValue="#{property.xmlPropertyId}"
        escape="false" />
      <ga:outputField
        label="Description"
        id="descriptionText">
        <h:inputTextarea
          name="descriptionText"
          id="descriptionText"
          value="#{property.descriptionText}"
          maxlength="500"
          disabled="true"
          readonly="true"
          cols="100"
          rows="3"
          style="width:95%;" />
      </ga:outputField>
      <ui:fragment
        id="propertyAuditDetails"
        rendered="#{showPropertyAuditDetails eq true}">
        <ga:auditDetails auditLog="#{property.auditLog}" />
      </ui:fragment>
    </ga:fieldset>
  </ui:fragment>
</ui:composition>