<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:rich="http://richfaces.org/rich"
  template="/WEB-INF/layouts/popupTemplate.xhtml"
  xmlns:ga="http://www.ga.gov.au/jsf">
  <ui:define name="content">
    <ui:fragment id="procedureFragments">
     <div id="pageId">[SP]</div>
      <h2>Procedure Details</h2>
      <ga:fieldset>
        <ga:textOutputField
          id="procedureNo"
          label="#{resourceBundle['procedure.sopNo']}"
          beanValue="#{procedure.sopNo}"
          spanStyle="half" />
        <ga:textOutputField
          id="procedureTitle"
          label="#{resourceBundle['procedure.title']}"
          beanValue="#{procedure.title}"
          spanStyle="half" />
        <ga:textOutputField
          id="procedureDescription"
          label="#{resourceBundle['procedure.description']}"
          beanValue="#{procedure.description}"
          spanStyle="half" />          
        <ga:textOutputField
          id="procedureType"
          label="#{resourceBundle['procedure.type']}"
          beanValue="#{procedure.type}"
          spanStyle="half" />          
        <ga:textOutputField
          id="procedureAnalysisType"
          label="#{resourceBundle['procedure.analysisType']}"
          beanValue="#{procedure.analysisType}"
          spanStyle="half" />
        <ga:textOutputField
          id="procedureLabNo"
          label="#{resourceBundle['procedure.labNo']}"
          beanValue="#{procedure.labNo}"
          spanStyle="half" />          
        <ga:textOutputField
          id="procedureApplication"
          label="#{resourceBundle['procedure.application']}"
          beanValue="#{procedure.application}"
          spanStyle="half" />
        <ga:textOutputField
          id="procedureSopId"
          label="#{resourceBundle['procedure.sopId']}"
          beanValue="#{procedure.sopId}"
          spanStyle="half" />
        <ga:textOutputField
          id="procedureAuthor"
          label="#{resourceBundle['procedure.author']}"
          beanValue="#{procedure.author}"
          spanStyle="half" />
        <ga:textOutputField
          id="procedureVersion"
          label="#{resourceBundle['procedure.version']}"
          beanValue="#{procedure.version}"
          spanStyle="half" /> 
        <ga:textOutputField
          id="procedureCustodian"
          label="#{resourceBundle['procedure.custodian']}"
          beanValue="#{procedure.custodian}"
          spanStyle="half" /> 
        <ga:textOutputField
          id="procedureScientificSummary"
          label="#{resourceBundle['procedure.scientificSummary']}"
          beanValue="#{procedure.scientificSummary}"
          spanStyle="half" /> 
        <ga:textOutputField
          id="procedureActivationDate"
          label="#{resourceBundle['procedure.activationDate']}"
          beanValue="#{procedure.activationDate}"
          spanStyle="half" >
          <f:convertDateTime
            pattern="dd-MM-yyyy"
            timeZone="#{systemContext.timeZone}" />
        </ga:textOutputField> 
        <ga:textOutputField
          id="procedureDeactivationDate"
          label="#{resourceBundle['procedure.deactivationDate']}"
          beanValue="#{procedure.deactivationDate}"
          spanStyle="half">
          <f:convertDateTime
          pattern="dd-MM-yyyy"
          timeZone="#{systemContext.timeZone}" />
        </ga:textOutputField> 
        <ga:textOutputField
          id="procedureActivityCode"
          label="#{resourceBundle['procedure.activityCode']}"
          beanValue="#{procedure.activityCode}"
          spanStyle="half" /> 
        <ga:textOutputField
          id="procedureQaBy"
          label="#{resourceBundle['procedure.qaBy']}"
          beanValue="#{procedure.qaBy}"
          spanStyle="half" /> 
        <ga:textOutputField
          id="procedureAno"
          label="#{resourceBundle['procedure.ano']}"
          beanValue="#{procedure.ano}"
          spanStyle="half" /> 
        <ga:textOutputField
          id="procedureQaStatusCode"
          label="#{resourceBundle['procedure.qaStatusCode']}"
          beanValue="#{procedure.qaStatusCode}"
          spanStyle="half" /> 
        <ga:textOutputField
          id="procedureAccessCode"
          label="#{resourceBundle['procedure.accessCode']}"
          beanValue="#{procedure.accessCode}"
          spanStyle="half" /> 
        <ga:textOutputField
          id="procedureQaDate"
          label="#{resourceBundle['procedure.qaDate']}"
          beanValue="#{procedure.qaDate}"
          spanStyle="half">
          <f:convertDateTime
          pattern="dd-MM-yyyy"
          timeZone="#{systemContext.timeZone}" />
        </ga:textOutputField>         
        <ga:textOutputField
          id="procedureVariation"
          label="#{resourceBundle['procedure.variation']}"
          beanValue="#{procedure.variation}"
          spanStyle="half" />
      </ga:fieldset>
    </ui:fragment>    
  </ui:define>
</ui:composition>

