<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <ui:fragment id="instrumentDetailsFragment">
    <ui:fragment rendered="#{not empty instrument.instrumentNo}">
      <ga:textOutputField
        label="Instrument Number"
        id="instrumentNo"
        beanValue="#{instrument.instrumentNo}" />
    </ui:fragment>
    <ga:textOutputField
      label="Id"
      id="instrumentId"
      beanValue="#{instrument.instrumentId}" />
    <ga:textOutputField
      label="Type"
      id="instrumentType"
      beanValue="#{instrument.type}" />
    <ga:textOutputField
      label="Make"
      id="instrumentMake"
      beanValue="#{instrument.make}" />
    <ga:textOutputField
      label="Model"
      id="instrumentModel"
      beanValue="#{instrument.model}" />
    <ga:textOutputField
      label="Serial"
      id="serialText"
      beanValue="#{instrument.serial}" />
    <ga:textOutputField
      label="Laboratory"
      id="laboratory"
      beanValue="#{instrument.laboratory.laboratoryName}" />
    <ga:textOutputField
      label="Location"
      id="locationText"
      beanValue="#{instrument.location}" />
    <ga:dateOutputField
      label="Install Date"
      id="instrumentInstallDate"
      beanValue="#{instrument.installDate}" />
    <ga:outputField
      label="Comments"
      id="comment">
      <h:inputTextarea
        name="comment"
        id="comment"
        value="#{instrument.comment}"
        disabled="true"
        readonly="true"
        cols="100"
        rows="3"
        style="width:95%;" />
    </ga:outputField>
    <ga:auditDetails auditLog="#{instrument.auditLog}" />
  </ui:fragment>
</ui:composition>