<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <div class="form_input">
    <ga:fieldset legend="Techniques">
      <ui:fragment
        id="techniqueInstrumentsFragment"
        rendered="#{not empty instrument.techniqueInstrumentList}">
        <label>Techniques:</label>
        <table class="input grid noValidation">
          <thead>
            <tr>
              <th><h:outputText value="Id" /></th>
              <th><h:outputText value="Name" /></th>
              <th><h:outputText value="Default" /></th>
              <th><h:outputText value="Status" /></th>
            </tr>
          </thead>
          <a4j:repeat
            id="techniqueInstruments"
            value="#{instrument.techniqueInstrumentList}"
            var="techniqueInstrument">
            <tbody>
              <tr>
                <td><h:outputText
                    value="#{techniqueInstrument.technique.techniqueId}" /></td>
                <td><h:outputText
                    value="#{techniqueInstrument.technique.techniqueName}" /></td>
                <td><h:outputText
                    value="#{techniqueInstrument.defaultValue ? 'Y' : 'N'}" /></td>
                <td><h:outputText
                    value="#{techniqueInstrument.status.label}" /></td>
              </tr>
            </tbody>
          </a4j:repeat>
        </table>
      </ui:fragment>
      <ui:fragment
        id="noTechniqueInstrumentsFragment"
        rendered="#{empty instrument.techniqueInstrumentList}">
        <ga:textOutputField
          label="Techniques"
          beanValue="No associated techniques" />
      </ui:fragment>
    </ga:fieldset>
  </div>
</ui:composition>