<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:sec="http://www.springframework.org/security/facelets/tags"
  template="/WEB-INF/layouts/pageTemplate.xhtml">

  <ui:define name="content">
    <h:form id="instrumentViewForm">
      <input
        type="hidden"
        name="id"
        value="#{instrument.instrumentNo}" />
      <ga:workflowLinks
        src="/WEB-INF/flows/geochemistry/admin/instruments/viewInstrument/viewInstrument-menu.xhtml"
        class="selected" />
      <ga:main
        title="Instrument"
        pageId="IV">
        <ga:fieldset legend="Instrument Details">
          <ui:include src="instrumentDetails-panel.xhtml" />
        </ga:fieldset>
        <ui:include src="viewInstrumentTechniques-panel.xhtml" />        
        <ga:div class="form_buttons">
          <sec:ifAnyGranted roles="ROLE_GEOCHEM_DATA_ADMIN_APP">
            <h:commandButton
              id="editInstrument"
              value="Edit"
              action="editInstrument" />
          </sec:ifAnyGranted>
          <ga:returnButton />
        </ga:div>
      </ga:main>
    </h:form>
  </ui:define>
</ui:composition>