<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sec="http://www.springframework.org/security/facelets/tags"
  template="/WEB-INF/layouts/pageTemplate.xhtml">
  <ui:define name="content">
    <h:form
      id="editAnalyticalLimitsForm"
      enctype="multipart/form-data">
      <ga:workflowLinks
        src="/WEB-INF/flows/geochemistry/admin/methodInstrumentCalibrations/editMethodInstrumentCalibration/editMethodInstrumentCalibration-menu.xhtml">
        <li class="selected"><h:commandLink
            immediate="true"
            id="analyticalLimits"
            value="Analytical Limits"
            action="editCalibrationAnalyticalLimits" />
        </li>
      </ga:workflowLinks>
      <ga:main title="Edit Method Instrument Calibration">
        <ga:fieldset legend="Analytical Limits">
          <ga:div class="form_input">
            <label>Analytical Limits:</label>
            <table
              id="analyticalLimitsTable"
              class="input grid noValidation">
              <thead>
                <tr>
                  <th>Analyte</th>
                  <th>Uncertainty Value</th>
                  <th>Uncertainty Units</th>
                  <th>Uncertainty Type</th>
                  <th>Min. Quantitation Value</th>
                  <th>Min. Quantitation Units</th>
                  <th>Max. Quantitation Value</th>
                  <th>Max. Quantitation Units</th>
                </tr>
              </thead>
              <tbody>
                <a4j:repeat
                  id="properties"
                  value="#{methodInstrumentCalibration.method.activePropertyList}"
                  var="activeProperty">
                  <tr>
                    <td><h:outputText
                        id="property"
                        value="#{activeProperty.htmlPropertyId}"
                        escape="false" />
                    </td>
                    <td><h:inputText
                        id="uncertaintyValue"
                        value="#{methodInstrumentCalibration.getInstrumentCalibrationResult(activeProperty).uncertaintyValue}"
                        maxlength="10"
                        styleClass="numeric" />
                    </td>
                    <td><ga:dropDownList
                        id="uncertaintyUnits"
                        label=""
                        beanValue="#{methodInstrumentCalibration.getInstrumentCalibrationResult(activeProperty).uncertaintyUnits}"
                        list="#{concentrationMeasureUnitList}">
                        <f:selectItem itemLabel="" />
                      </ga:dropDownList>
                    </td>
                    <td><ga:dropDownList
                        id="uncertaintyType"
                        label=""
                        beanValue="#{methodInstrumentCalibration.getInstrumentCalibrationResult(activeProperty).uncertaintyType}"
                        list="#{uncertaintyTypeList}">
                        <f:selectItem itemLabel="" />
                      </ga:dropDownList>
                    </td>
                    <td><h:inputText
                        id="minQuantitationValue"
                        value="#{methodInstrumentCalibration.getInstrumentCalibrationResult(activeProperty).minQuantitationValue}"
                        maxlength="10"
                        styleClass="numeric" />
                    </td>
                    <td><ga:dropDownList
                        id="minQuantitationUnits"
                        label=""
                        beanValue="#{methodInstrumentCalibration.getInstrumentCalibrationResult(activeProperty).minQuantitationUnits}"
                        list="#{concentrationMeasureUnitList}">
                        <f:selectItem itemLabel="" />
                      </ga:dropDownList>
                    </td>
                    <td><h:inputText
                        id="maxQuantitationValue"
                        value="#{methodInstrumentCalibration.getInstrumentCalibrationResult(activeProperty).maxQuantitationValue}"
                        maxlength="10"
                        styleClass="numeric" />
                    </td>
                    <td><ga:dropDownList
                        id="maxQuantitationUnits"
                        label=""
                        beanValue="#{methodInstrumentCalibration.getInstrumentCalibrationResult(activeProperty).maxQuantitationUnits}"
                        list="#{concentrationMeasureUnitList}">
                        <f:selectItem itemLabel="" />
                      </ga:dropDownList>
                    </td>
                  </tr>
                </a4j:repeat>
              </tbody>
            </table>
          </ga:div>
        </ga:fieldset>
      </ga:main>
      <ui:fragment id="buttonsFragment">
        <ga:div
          id="buttonsPanel"
          class="form_buttons">
          <sec:ifAnyGranted roles="ROLE_GEOCHEM_DATA_ADMIN_APP">
            <h:commandButton
              id="submit"
              value="Submit"
              action="submit" />
          </sec:ifAnyGranted>
          <ga:cancelButton />
        </ga:div>
      </ui:fragment>
    </h:form>
  </ui:define>
</ui:composition>