<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sec="http://www.springframework.org/security/facelets/tags"
  template="/WEB-INF/layouts/pageTemplate.xhtml">
  <ui:define name="content">
    <h:form id="methodInstrumentCalibrationForm">
      <ga:workflowLinks
        src="/WEB-INF/flows/geochemistry/admin/methodInstrumentCalibrations/editMethodInstrumentCalibration/editMethodInstrumentCalibration-menu.xhtml"
        class="selected" />
      <ga:main
        title="#{actionTitle}"
        pageId="MICE">
        <ga:fieldset legend="Method Instrument Calibration">
          <ui:fragment
            id="methodInstrumentCalibrationNoFragment"
            rendered="#{methodInstrumentCalibration.methodInstrumentCalibrationNo ne null}">
            <ga:div class="form_input">
              <label> Calibration No: </label>
              <h:outputText
                id="methodInstrumentCalibrationNo"
                value="#{methodInstrumentCalibration.methodInstrumentCalibrationNo}"
                class="display" />
            </ga:div>
          </ui:fragment>
          <ga:div class="form_input required">
            <label for="methodName">Method:</label>
            <span class="input half"> <sf:ajaxEvent
                action="selectInstruments"
                event="onchange"
                processIds="methodInstrumentCalibrationsSearchForm:instrumentName,methodInstrumentCalibrationsSearchForm:messages">
                <h:selectOneMenu
                  id="methodName"
                  value="#{methodInstrumentCalibration.method}"
                  converter="#{genericDomainConverter}"
                  disabled="#{methodInstrumentCalibration.methodInstrumentCalibrationNo ne null}">
                  <f:selectItem itemLabel="" />
                  <f:selectItems
                    id="selectItems"
                    value="#{methodList}" />
                </h:selectOneMenu>
              </sf:ajaxEvent> </span>
          </ga:div>
          <ga:dropDownList
            id="instrumentName"
            label="Instrument"
            beanValue="#{methodInstrumentCalibration.instrument}"
            list="#{instrumentList}"
            disabled="#{methodInstrumentCalibration.methodInstrumentCalibrationNo ne null}"
            required="true"
            spanStyle="half">
            <f:selectItem itemLabel="" />
          </ga:dropDownList>
          <ga:dateTimeField
            id="calibrationDate"
            label="Calibration Date and Time"
            beanValue="#{methodInstrumentCalibration.calibrationDateTime}"
            required="true" />
          <ga:outputField
            label="Comments"
            id="comments">
            <h:inputTextarea
              name="commentsText"
              id="commentsText"
              value="#{methodInstrumentCalibration.comment}"
              disabled="false"
              readonly="false"
              cols="100"
              rows="3"
              style="width:95%;" />
          </ga:outputField>
        </ga:fieldset>
        <ui:fragment id="buttonsFragment">
          <ga:div
            id="buttonsPanel"
            class="form_buttons">
            <sec:ifAnyGranted roles="ROLE_GEOCHEM_DATA_ADMIN_APP">
              <h:commandButton
                id="submit"
                value="Submit"
                action="submit" />
            </sec:ifAnyGranted>
            <ga:cancelButton />
          </ga:div>
        </ui:fragment>
      </ga:main>
    </h:form>
  </ui:define>
</ui:composition>