<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sec="http://www.springframework.org/security/facelets/tags"
  template="/WEB-INF/layouts/pageTemplate.xhtml">
  <ui:define name="content">
    <h:form id="editKnownReferenceResultForm">
      <ga:workflowLinks
        src="/WEB-INF/flows/geochemistry/admin/methodInstrumentCalibrations/editMethodInstrumentCalibration/editMethodInstrumentCalibration-menu.xhtml">
        <li><h:commandLink
            id="analyticalLimits"
            value="Analytical Limits"
            action="editCalibrationAnalyticalLimits" /></li>
        <li class="selected"><h:commandLink
            immediate="true"
            id="knownReferenceResults"
            value="Known Reference Results"
            action="editCalibrationKnownReferenceResults" /></li>
      </ga:workflowLinks>
      <ga:main title="Edit Method Instrument Calibration">
        <h3>Known Reference Results</h3>
        <ui:fragment
          id="knownRefeferenceResultTable"
          rendered="#{not empty methodInstrumentCalibration.method.activeReferenceMaterialList}">
          <table
            id="refMaterialTable"
            class="singleColumnTable input grid noValidation fixed-cell-height">
            <thead>
              <tr>
                <th><h:outputText value="Reference Material" /></th>
              </tr>
            </thead>
            <tbody>
              <a4j:repeat
                id="methodReferenceMaterials"
                value="#{methodInstrumentCalibration.method.activeReferenceMaterialList}"
                var="referenceMaterial">
                <tr>
                  <td><h:outputText value="#{referenceMaterial.name}" />
                  </td>
                </tr>
              </a4j:repeat>
            </tbody>
          </table>
          <ga:div
            id="sampleAnalysisPanel"
            class="horizontalScroll"
            style="padding-left: 0px;">
            <table
              id="knownReferenceResultTable"
              class="input grid noValidation fixed-cell-height skipGridInputSpans collapsibleColumns {optionsDiv:'sampleAnalysisPanelOptions'}">
              <thead>
                <tr>
                  <a4j:repeat
                    id="propertyHeading"
                    value="#{methodInstrumentCalibration.method.activePropertyList}"
                    var="property">
                    <th><h:outputText
                        value="#{property.htmlPropertyId}"
                        escape="false" /></th>
                    <th class="col_5 {group:'Units'} hiddenColumn">Units</th>
                  </a4j:repeat>
                </tr>
              </thead>
              <tbody>
                <a4j:repeat
                  id="methodReferenceMaterials"
                  value="#{methodInstrumentCalibration.method.activeReferenceMaterialList}"
                  var="referenceMaterial">
                  <tr>
                    <a4j:repeat
                      id="properties"
                      value="#{methodInstrumentCalibration.method.activePropertyList}"
                      var="activeProperty">
                      <td class="nowrap"><h:selectOneRadio
                          value="#{methodInstrumentCalibration.getKnownReferenceResultHolder(referenceMaterial, activeProperty).result}"
                          layout="lineDirection"
                          converter="#{genericDomainConverter}">
                          <f:selectItems
                            value="#{referenceData.getKnownReferenceResultSelectionList(referenceMaterial.getKnownReferenceResultList(activeProperty))}" />
                        </h:selectOneRadio></td>
                      <td class="{group:'Units'} hiddenColumn"><h:outputText
                          value="#{methodInstrumentCalibration.getKnownReferenceResultHolder(referenceMaterial, activeProperty).result.resultUnits}" />
                      </td>
                    </a4j:repeat>
                  </tr>
                </a4j:repeat>
              </tbody>
            </table>
          </ga:div>
          <div id="sampleAnalysisPanelOptions"></div>
        </ui:fragment>
        <ui:fragment
          id="noReferenceMaterialsFragment"
          rendered="#{empty methodInstrumentCalibration.method.activeReferenceMaterialList}">
          <h:outputText
            id="noRefMaterialsMessage"
            value="There are no reference materials attached to the selected method" />
        </ui:fragment>
      </ga:main>
      <ga:div class="form_buttons">
        <sec:ifAnyGranted roles="ROLE_GEOCHEM_DATA_ADMIN_APP">
          <h:commandButton
            id="submit"
            value="Submit"
            action="submit" />
        </sec:ifAnyGranted>
        <ga:cancelButton />
      </ga:div>
    </h:form>
  </ui:define>
</ui:composition>