<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sec="http://www.springframework.org/security/facelets/tags"
  template="/WEB-INF/layouts/pageTemplate.xhtml">
  <ui:define name="content">
    <h:form
      id="editAnalyticalLimitsForm"
      enctype="multipart/form-data">
      <ga:workflowLinks
        src="/WEB-INF/flows/geochemistry/admin/methodInstrumentCalibrations/editMethodInstrumentCalibration/editMethodInstrumentCalibration-menu.xhtml">
        <li><h:commandLink
          id="analyticalLimits"
          value="Analytical Limits"
          action="editCalibrationAnalyticalLimits" /></li>
        <li><h:commandLink
          immediate="true"
          id="knownReferenceResults"
          value="Known Reference Results"
          action="editCalibrationKnownReferenceResults" /></li>
        <li class="selected"><h:commandLink
          immediate="true"
          id="calibrationFiles"
          value="Calibration Files"
          action="editCalibrationFiles" /></li>
      </ga:workflowLinks>
      <ga:main title="Edit Method Instrument Calibration">
        <ga:fieldset legend="Calibration File Upload">
          <ui:include src="fileUpload-panel.xhtml" />
          <br></br>
          <ui:include src="editCalibrationFile-panel.xhtml" />
        </ga:fieldset>
      </ga:main>
      <ui:fragment id="buttonsFragment">
        <ga:div
          id="buttonsPanel"
          class="form_buttons">
          <sec:ifAnyGranted roles="ROLE_GEOCHEM_DATA_ADMIN_APP">
            <h:commandButton
              id="save"
              value="Save"
              action="saveMethodInstrumentCalibration" />
          </sec:ifAnyGranted>
          <ga:cancelButton />
        </ga:div>
      </ui:fragment>
    </h:form>
  </ui:define>
</ui:composition>