<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <ga:div>
    <ga:div class="form_input">
      <label for="file">Select File:</label>
      <span class="input file"> <input
        type="file"
        name="file"
        id="file" /> </span>
    </ga:div>
    <ga:div class="form_input">
      <label for="fileType">Select File Type:</label>
      <span class="group"> <span> <h:selectOneRadio
        styleClass="checkbx"
        value="#{methodInstrumentCalibration.fileType}">
        <f:selectItem
          itemLabel="#{html.nbsp}CSV"
          itemValue="1"
          itemEscaped="false" />
        <f:selectItem
          itemLabel="#{html.nbsp}XLS"
          itemValue="2"
          itemEscaped="false" />
        <!--                <f:selectItem-->
        <!--                  itemLabel="#{html.nbsp}XML"-->
        <!--                  itemValue="3"-->
        <!--                  itemEscaped="false" />-->
      </h:selectOneRadio></span></span>
    </ga:div>
  </ga:div>

  <ga:div class="form_buttons">
    <h:commandButton
      id="upload"
      value="Upload"
      class="immediate"
      action="upload" />
  </ga:div>
</ui:composition>