<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sec="http://www.springframework.org/security/facelets/tags"
  xmlns:a4j="http://richfaces.org/a4j"
  template="/WEB-INF/layouts/pageTemplate.xhtml">
  <ui:param
    name="title"
    value="Raging Spot" />

  <ui:define name="content">
    <h:form id="geochemMethodForm">
      <ga:workflowLinks
        src="/WEB-INF/flows/geochemistry/geochemistry-menu.xhtml"
        class="selected" />
      <ga:main
        class="view intro"
        title="Geochemistry"
        pageId="SM">
        <h3>Please Select:</h3>
        <ul>
          <li><h:commandLink
              id="jobs"
              value="Jobs"
              action="jobs" /></li>
        </ul>
        <br />
        <ul>
          <li><h:commandLink
              id="resultBatches"
              value="Result Batches"
              action="resultBatch" /></li>
        </ul>
        <br />
        <ul>
          <li><h:commandLink
              id="analysedSamples"
              value="Analysed Samples"
              action="analysedSamples" /></li>
        </ul>
        <br />
        <ul>
          <li><h:commandLink
              id="analysedReferenceMaterials"
              value="Analysed Reference Materials"
              action="analysedReferenceMaterials" /></li>
        </ul>
        <br />
        <ul>
          <li><h:commandLink
              id="admin"
              value="Administration"
              action="admin" /></li>
        </ul>
      </ga:main>
      <ga:deploymentStatusDetails />
    </h:form>
  </ui:define>
</ui:composition>