<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:rich="http://richfaces.org/rich"
  template="/WEB-INF/layouts/popupTemplate.xhtml"
  xmlns:ga="http://www.ga.gov.au/jsf">
  <ui:define name="content">
    <ui:fragment id="sampleDetailFragments">
     <div id="pageId">[SD]</div>
      <h2>Sample Details</h2>
      <ga:fieldset>
        <ga:textOutputField
          id="sampleNo"
          label="#{resourceBundle['sample.sampleNo']}"
          beanValue="#{sampleDetail.sampleNo}"
          spanStyle="half" />
        <ga:textOutputField
          id="sampleId"
          label="#{resourceBundle['sample.sampleId']}"
          beanValue="#{sampleDetail.sampleId}"
          spanStyle="half" />
        <ga:textOutputField
          id="sampleType"
          label="#{resourceBundle['sample.sampleType']}"
          beanValue="#{sampleDetail.sampleType}"
          spanStyle="half" />
        <ga:textOutputField
          id="accessCode"
          label="#{resourceBundle['sample.accessCode']}"
          beanValue="#{sampleDetail.accessCode}"
          spanStyle="half" />
        <ga:textOutputField
          id="activityCode"
          label="#{resourceBundle['sample.activityCode']}"
          beanValue="#{sampleDetail.activityCode}"
          spanStyle="half" />
        <ga:textOutputField
          id="originator"
          label="#{resourceBundle['sample.originator']}"
          beanValue="#{sampleDetail.originatorDisplayName}"
          spanStyle="half" />
        <ga:dateOutputField
          id="acquireDate"
          label="#{resourceBundle['sample.acquireDate']}"
          beanValue="#{sampleDetail.acquireDate}"
          spanStyle="half" />
      </ga:fieldset>
      <ga:fieldset>
        <ga:textOutputField
          id="provinceName"
          label="#{resourceBundle['province.provinceName']}"
          beanValue="#{sampleDetail.province.provName}"
          spanStyle="half" />
        <ga:textOutputField
          id="stratName"
          label="#{resourceBundle['stratname.stratName']}"
          beanValue="#{sampleDetail.earthMaterial.stratname.stratName}"
          spanStyle="half" />
        <ga:textOutputField
          id="qualifier3"
          label="#{resourceBundle['earthMaterial.qualifier3']}"
          beanValue="#{sampleDetail.earthMaterial.qualifier3}"
          spanStyle="half" />
        <ga:textOutputField
          id="qualifier2"
          label="#{resourceBundle['earthMaterial.qualifier2']}"
          beanValue="#{sampleDetail.earthMaterial.qualifier2}"
          spanStyle="half" />
        <ga:textOutputField
          id="qualifier1"
          label="#{resourceBundle['earthMaterial.qualifier1']}"
          beanValue="#{sampleDetail.earthMaterial.qualifier1}"
          spanStyle="half" />
        <ga:textOutputField
          id="lithName"
          label="#{resourceBundle['earthMaterial.lithName']}"
          beanValue="#{sampleDetail.earthMaterial.lithName}"
          spanStyle="half" />
        <ga:textOutputField
          id="remark"
          label="#{resourceBundle['earthMaterial.remark']}"
          beanValue="#{sampleDetail.earthMaterial.remark}"
          spanStyle="half" />
      </ga:fieldset>
      <br />
      <ga:fieldset legend="Associated Entity">
        <ga:textOutputField
          id="eno"
          label="#{resourceBundle['entity.eno']}"
          beanValue="#{sampleDetail.entity.eno}"
          spanStyle="half" />
        <ga:textOutputField
          id="entityId"
          label="#{resourceBundle['entity.entityId']}"
          beanValue="#{sampleDetail.entity.entityId}"
          spanStyle="half" />
        <ga:textOutputField
          id="entityType"
          label="#{resourceBundle['entity.entityType']}"
          beanValue="#{sampleDetail.entity.entityType}"
          spanStyle="half" />
        <ga:fieldset legend="Location">
          <ga:textOutputField
            id="latitude"
            label="#{resourceBundle['locationDetails.latitude']}"
            beanValue="#{sampleDetail.entity.latitude}"
            spanStyle="half" />
          <ga:textOutputField
            id="longitude"
            label="#{resourceBundle['locationDetails.longitude']}"
            beanValue="#{sampleDetail.entity.longitude}"
            spanStyle="half" />
          <ga:textOutputField
            id="elevation"
            label="#{resourceBundle['locationDetails.elevation']}"
            beanValue="#{sampleDetail.entity.elevation}"
            spanStyle="half" />
          <ga:textOutputField
            id="hSheet"
            label="#{resourceBundle['locationDetails.hSheet']}"
            beanValue="#{sampleDetail.entity.locationDetails.hId}"
            spanStyle="group">
            <h:outputText
              escape="false"
              value="#{sampleDetail.entity.locationDetails.hSheet}"
              styleClass="display" />
          </ga:textOutputField>
          <ga:textOutputField
            id="qSheet"
            label="#{resourceBundle['locationDetails.qSheet']}"
            beanValue="#{sampleDetail.entity.locationDetails.qId}"
            spanStyle="group">
            <h:outputText
              escape="false"
              value="#{sampleDetail.entity.locationDetails.qSheet}"
              styleClass="display" />
          </ga:textOutputField>
          <ga:textOutputField
            id="mSheet"
            label="#{resourceBundle['locationDetails.mSheet']}"
            beanValue="#{sampleDetail.entity.locationDetails.mId}"
            spanStyle="group">
            <h:outputText
              escape="false"
              value="#{sampleDetail.entity.locationDetails.mSheet}"
              styleClass="display" />
          </ga:textOutputField>
          <ga:textOutputField
            id="country"
            label="#{resourceBundle['locationDetails.country']}"
            beanValue="#{sampleDetail.entity.locationDetails.country}"
            spanStyle="half" />
          <ga:textOutputField
            id="state"
            label="#{resourceBundle['locationDetails.state']}"
            beanValue="#{sampleDetail.entity.locationDetails.state}"
            spanStyle="half" />
        </ga:fieldset>
      </ga:fieldset>
    </ui:fragment>
  </ui:define>

</ui:composition>

