<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:rich="http://richfaces.org/rich"
  template="/WEB-INF/layouts/popupTemplate.xhtml"
  xmlns:ga="http://www.ga.gov.au/jsf">
  <ui:define name="content">
    <ui:fragment id="sampleData">
      <ga:div style="width: 800px">
        <h2>Sample Details</h2>
        <ga:textOutputField
          id="sampleNo"
          label="#{resourceBundle['sample.sampleNo']}"
          beanValue="#{sampleDetail.sampleNo}"
          spanStyle="half" />
        <ga:textOutputField
          id="sampleId"
          label="#{resourceBundle['sample.sampleId']}"
          beanValue="#{sampleDetail.sampleId}"
          spanStyle="half" />
        <ga:textOutputField
          id="sampleType"
          label="#{resourceBundle['sample.sampleType']}"
          beanValue="#{sampleDetail.sampleType}"
          spanStyle="half" />
        <ga:textOutputField
          id="source"
          label="#{resourceBundle['sample.source']}"
          beanValue="#{sampleDetail.source}"
          spanStyle="half" />
        <ga:dateOutputField
          id="acquireDate"
          label="#{resourceBundle['sample.acquireDate']}"
          beanValue="#{sampleDetail.acquireDate}"
          spanStyle="half" />
        <ga:textOutputField
          id="acquisitionMethodNo"
          label="#{resourceBundle['sample.acquisitionMethodNo']}"
          beanValue="#{sampleDetail.acquisitionMethodNo}"
          spanStyle="half" />
        <ga:textOutputField
          id="acquisitionScale"
          label="#{resourceBundle['sample.acquisitionScale']}"
          beanValue="#{sampleDetail.acquisitionScale}"
          spanStyle="half" />
        <ga:textOutputField
          id="enteredBy"
          label="#{resourceBundle['sample.enteredBy']}"
          beanValue="#{sampleDetail.enteredBy}"
          spanStyle="half" />
        <ga:dateOutputField
          id="entryDate"
          label="#{resourceBundle['sample.entryDate']}"
          beanValue="#{sampleDetail.entryDate}"
          spanStyle="half" />
        <ga:textOutputField
          id="countryId"
          label="#{resourceBundle['sample.countryId']}"
          beanValue="#{sampleDetail.countryId}"
          spanStyle="half" />
        <ga:textOutputField
          id="stateId"
          label="#{resourceBundle['sample.stateId']}"
          beanValue="#{sampleDetail.stateId}"
          spanStyle="half" />
        <ga:textOutputField
          id="method"
          label="#{resourceBundle['sample.method']}"
          beanValue="#{sampleDetail.method}"
          spanStyle="half" />
        <ga:textOutputField
          id="onshoreFlag"
          label="#{resourceBundle['sample.onshoreFlag']}"
          beanValue="#{sampleDetail.onshoreFlag}"
          spanStyle="half" />
        <ga:textOutputField
          id="origNo"
          label="#{resourceBundle['sample.origNo']}"
          beanValue="#{sampleDetail.origNo}"
          spanStyle="half" />
        <ga:textOutputField
          id="originator"
          label="#{resourceBundle['sample.originator']}"
          beanValue="#{sampleDetail.originator}"
          spanStyle="half" />
        <ga:textOutputField
          id="parent"
          label="#{resourceBundle['sample.parent']}"
          beanValue="#{sampleDetail.parent}"
          spanStyle="half" />
        <ga:textOutputField
          id="procedureNo"
          label="#{resourceBundle['sample.procedureNo']}"
          beanValue="#{sampleDetail.procedureNo}"
          spanStyle="half" />
        <ga:textOutputField
          id="accuracy"
          label="#{resourceBundle['sample.accuracy']}"
          beanValue="#{sampleDetail.accuracy}"
          spanStyle="half" />
        <ga:textOutputField
          id="elevationAccuracy"
          label="#{resourceBundle['sample.elevationAccuracy']}"
          beanValue="#{sampleDetail.elevationAccuracy}"
          spanStyle="half" />
        <ga:textOutputField
          id="accessCode"
          label="#{resourceBundle['sample.accessCode']}"
          beanValue="#{sampleDetail.accessCode}"
          spanStyle="half" />
        <ga:textOutputField
          id="activityCode"
          label="#{resourceBundle['sample.activityCode']}"
          beanValue="#{sampleDetail.activityCode}"
          spanStyle="half" />
        <ga:textOutputField
          id="baseDepth"
          label="#{resourceBundle['sample.baseDepth']}"
          beanValue="#{sampleDetail.baseDepth}"
          spanStyle="half" />
        <ga:textOutputField
          id="topDepth"
          label="#{resourceBundle['sample.topDepth']}"
          beanValue="#{sampleDetail.topDepth}"
          spanStyle="half" />
        <ga:textOutputField
          id="commentText"
          label="#{resourceBundle['sample.commentText']}"
          beanValue="#{sampleDetail.comments}"
          spanStyle="half" />
      </ga:div>
    </ui:fragment>
  </ui:define>

</ui:composition>
