/* Application specific styling for side by side tables that appear as a single table.
 * The first table contains fixed column(s), while the second table is scrollable.
 * See edit analysed sample.  editAnalysedSample-panel.xhtml   
 */
.horizontalScroll {
	overflow: auto;
	width: auto;
	padding-left: 136px;
	border-right: 1px solid #999;
}

.singleColumnTable {
	width: 137px !important;
	float: left;
	clear: none;
	border-collapse: collapse;
	margin-left: 1px;
	background-color: #f8f8f8;
	position: absolute;
	top: auto;
	left: auto;
	z-index: 10000;
}

.doubleColumnHorizontalScroll {
    overflow: auto;
    width: auto;
    padding-left: 260px;
    border-right: 1px solid #999;
}

table.singleColumnTable > thead > tr,
table.singleColumnTable > tbody > tr,
table.singleColumnTable > tfoot > tr {
    height: 22px;
}

.doubleColumnTable {
    width: 261px !important;
    float: left;
    clear: none;
    border-collapse: collapse;
    margin-left: 1px;
    background-color: #f8f8f8;
    position: absolute;
    top: auto;
    left: auto;
    z-index: 10000;
}

table.doubleColumnTable > thead > tr,
table.doubleColumnTable > tbody > tr,
table.doubleColumnTable > tfoot > tr {
    height: 22px;
}

.alignVertical {
	float: left;
	vertical-align: middle;
	padding-right: 10px;
}

table > thead > tr > th select.selectMenu {
	width: 65px !important;
	padding: 0 !important;
}


span.qualifier {
	color: red;
	background-color: lightYellow;
}