<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:rich="http://richfaces.org/rich"
  template="/WEB-INF/layouts/pageTemplate.xhtml"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:a4j="http://richfaces.org/a4j">

  <ui:define name="content">
    <h:form id="unitGroupsSearchForm">
      <ga:workflowLinks
        src="/WEB-INF/flows/geochemistry/admin/unitGroups/unitGroups-menu.xhtml"
        class="selected" />
      <ui:include src="unitGroups-toolbar.xhtml" />
      <ga:main
        tile="UnitGroup Search"
        pageId="MUTS">
        <a4j:outputPanel id="criteria">
          <ga:simpleTogglePanel
            label="Search Criteria"
            opened="#{flowScope.showCriteria}">
            <ga:textField
              id="unitGroupId"
              label="Id"
              beanValue="#{searchCriteria.unitGroupId}"
              maxLength="20"
              spanStyle="half"
              note="This field accepts \'%\' wildcards" />
            <ga:textField
              id="unitGroupName"
              label="Name"
              beanValue="#{searchCriteria.groupName}"
              maxLength="20"
              spanStyle="half"
              note="This field accepts \'%\' wildcards" />
            <ga:commonSearchFields searchCriteria="#{searchCriteria}" />

            <ga:div class="form_buttons">
              <h:commandButton
                id="submit"
                value="Search"
                action="submit" />
              <!--              <ga:resetButton />-->
            </ga:div>
          </ga:simpleTogglePanel>

        </a4j:outputPanel>
        <br />
        <br />

        <a4j:outputPanel id="results">
          <ui:fragment rendered="#{not empty searchResults.rowCount}">
            <h3>Search Results</h3>
            <h:outputText
              id="rowCount"
              value="#{searchResults.rowCount eq 0 ? 'No' : searchResults.rowCount} #{searchResults.rowCount eq 1 ? 'record' : 'records'} found"
              style="display: block; padding-bottom: 5px;" />
            <rich:dataTable
              id="searchResults"
              value="#{searchResults}"
              var="unitGroup"
              rows="#{searchCriteria.resultsPerPage}"
              styleClass="links grid noValidation"
              headerClass="compact"
              columnClasses="col_5 nowrap compact"
              rendered="#{searchResults.rowCount gt 0}">
              <rich:column sortBy="#{unitGroup.unitGroupId}">
                <f:facet name="header">
                  <h:outputText value="Unit Group Id" />
                </f:facet>
                <h:commandLink
                  id="select"
                  value="#{unitGroup.unitGroupId}"
                  action="select"
                  styleClass="nopad" />
              </rich:column>
              <rich:column sortBy="#{unitGroup.groupName}">
                <f:facet name="header">
                  <h:outputText value="Name" />
                </f:facet>
                <h:outputText value="#{unitGroup.groupName}" />
              </rich:column>
              <rich:column sortBy="#{unitGroup.standardUnitId}">
                <f:facet name="header">
                  <h:outputText value="Standard unit" />
                </f:facet>
                <h:outputText value="#{unitGroup.standardUnitId}" />
              </rich:column>
            </rich:dataTable>
            <ga:commonSearchDatascroller
              searchCriteria="#{searchCriteria}"
              searchResults="#{searchResults}" />
          </ui:fragment>
        </a4j:outputPanel>
      </ga:main>
    </h:form>
  </ui:define>
</ui:composition>