<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:rich="http://richfaces.org/rich"
  template="/WEB-INF/layouts/pageTemplate.xhtml"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:a4j="http://richfaces.org/a4j">

  <ui:define name="content">
    <h:form id="userSessionsSearchForm">
      <ga:workflowLinks
        src="/WEB-INF/flows/geochemistry/admin/userSessions/userSessions-menu.xhtml"
        class="selected" />
      <ga:main
        title="User Sessions"
        pageId="USV">
        <a4j:outputPanel id="results">
          <table border="0">
            <thead>
              <tr>
                <th><h:outputText value="User Name" /></th>
                <th><h:outputText value="SessionId" /></th>
                <th><h:outputText value="Last Request" /></th>
              </tr>
            </thead>
            <tbody>
              <a4j:repeat
                value="#{sessionRegistry.allPrincipals}"
                var="user">
                <a4j:repeat
                  value="#{sessionRegistry.getAllSessions(user,false)}"
                  var="usession">
                  <tr>
                    <td><a4j:outputPanel>
                      <h:outputText value="#{user.username}" />
                      <ga:userTooltip userId="#{user.username}" />
                    </a4j:outputPanel></td>
                    <td><h:outputText value="#{usession.sessionId}" /></td>
                    <td><h:outputText value="#{usession.lastRequest}">
                      <f:convertDateTime
                        pattern="dd-MM-yyyy HH:mm"
                        timeZone="#{systemContext.timeZone}" />
                    </h:outputText></td>
                  </tr>
                </a4j:repeat>
                <tr>
                  <td colspan="3">
                  <hr />
                  </td>
                </tr>
              </a4j:repeat>
            </tbody>
          </table>
        </a4j:outputPanel>
      </ga:main>
    </h:form>
  </ui:define>
</ui:composition>