<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <div class="form_input">
    <table
      id="methodInstrumentPanelT"
      class="input grid noValidation skipGridInputSpans fixedHeader selectable collapsibleRows">
      <thead>
        <tr>
          <th></th>
          <th><h:outputText value="Instrument No" /></th>
          <th><h:outputText value="ID" /></th>
          <th><h:outputText value="Type" /></th>
          <th><h:outputText value="Make" /></th>
          <th><h:outputText value="Model" /></th>
          <th><h:outputText value="Serial" /></th>
          <th class="col_15"><h:outputText
              value="Entry Type: #{html.lineBreak} Direct,#{html.lineBreak} Direct and Upload,#{html.lineBreak} Upload,#{html.lineBreak} None"
              escape="false" /></th>
          <th><h:outputText value="Default" /></th>
          <th><h:outputText value="Active" /></th>
        </tr>
      </thead>
      <tbody>
        <a4j:repeat
          id="methodInstruments"
          value="#{methodInstrumentList}"
          var="methodInstrument">
          <tr
            class="#{method.versionNo ne null and methodInstrumentList.currentRowSelected == false ? 'hiddenRow' : ''}">
            <td class="selector"><h:selectBooleanCheckbox
                id="selectedCheckbox"
                name="selectedCheckbox"
                value="#{methodInstrumentList.currentRowSelected}">
                <a4j:support
                  limitToList="true"
                  ajaxSingle="true"
                  event="onchange"
                  reRender="directEntryTypeCode, directAndUploadEntryTypeCode, uploadEntryTypeCode, noEntryTypeCode, defaultMethodInstrument, instrumentActiveStatus" />
              </h:selectBooleanCheckbox></td>
            <td><h:outputText
                value="#{methodInstrument.instrument.instrumentNo}" /></td>
            <td><h:outputText
                value="#{methodInstrument.instrument.instrumentId}" /></td>
            <td><h:outputText
                value="#{methodInstrument.instrument.type}" /></td>
            <td><h:outputText
                value="#{methodInstrument.instrument.make}" /></td>
            <td><h:outputText
                value="#{methodInstrument.instrument.model}" /></td>
            <td><h:outputText
                value="#{methodInstrument.instrument.serial}" /></td>
            <td><ga:radioButton
                id="directEntryTypeCode"
                itemLabel=" D  "
                name="selectedEntryTypeCode"
                overrideName="false"
                value="#{methodInstrument.entryType}"
                itemValue="D"
                disabled="#{methodInstrumentList.currentRowSelected eq false}" />
              <ga:radioButton
                id="directAndUploadEntryTypeCode"
                itemLabel=" DU  "
                name="selectedEntryTypeCode"
                overrideName="false"
                value="#{methodInstrument.entryType}"
                itemValue="DU"
                disabled="#{methodInstrumentList.currentRowSelected eq false}" />
              <ga:radioButton
                id="uploadEntryTypeCode"
                itemLabel=" U "
                name="selectedEntryTypeCode"
                overrideName="false"
                value="#{methodInstrument.entryType}"
                itemValue="U"
                disabled="#{methodInstrumentList.currentRowSelected eq false}" />
              <ga:radioButton
                id="noEntryTypeCode"
                itemLabel=" N"
                name="selectedEntryTypeCode"
                overrideName="false"
                value="#{methodInstrument.entryType}"
                itemValue=""
                disabled="#{methodInstrumentList.currentRowSelected eq false}" />
            </td>
            <td><ga:radioButton
                id="defaultMethodInstrument"
                name="selectedMethodInstrumentNo"
                overrideName="true"
                value="#{instrumentRadioDataTableBackingBean.radioSelectedIndex}"
                itemValue="#{methodInstrument.instrument.instrumentNo}"
                disabled="#{methodInstrumentList.currentRowSelected eq false}" />
            </td>
            <td><h:selectBooleanCheckbox
                id="instrumentActiveStatus"
                name="instrumentActiveStatus"
                value="#{methodInstrument.active}"
                disabled="#{methodInstrumentList.currentRowSelected eq false}"
                readOnly="#{methodInstrumentList.currentRowSelected eq false}" />
            </td>
          </tr>
        </a4j:repeat>
      </tbody>
    </table>
  </div>
</ui:composition>