<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sec="http://www.springframework.org/security/facelets/tags"
  xmlns:fn="http://java.sun.com/jsp/jstl/functions"
  template="/WEB-INF/layouts/pageTemplate.xhtml">
  <ui:define name="content">
    <h:form id="editMethodForm">
      <ga:workflowLinks
        src="/WEB-INF/flows/geochemistry/admin/methods/editMethod/editMethod-menu.xhtml"
        class="selected" />
      <ga:main
        title="#{actionTitle}"
        pageId="M#{fn:toUpperCase(fn:substring(actionTitle, 0, 1))}">
        <ga:fieldset legend="Method">
          <ui:fragment
            id="methodNoFragment"
            rendered="#{method.methodNo ne null}">
            <ga:textField
              label="Method No"
              id="methodNo"
              spanStyle="numeric"
              maxLength="8"
              beanValue="#{method.methodNo}"
              disabled="true"
              readOnly="true" />
          </ui:fragment>
          <ga:textField
            label="Id"
            id="methodId"
            required="true"
            maxLength="30"
            readOnly="#{method.versionNo ne null}"
            disabled="#{method.versionNo ne null}"
            beanValue="#{method.methodId}"
            spanStyle="half" />
          <ga:textField
            label="Name"
            id="methodName"
            beanValue="#{method.methodName}"
            maxLength="100"
            spanStyle="half" />
          <ga:textField
            label="Purpose"
            id="purpose"
            beanValue="#{method.purpose}"
            maxLength="100"
            spanStyle="half" />
          <ga:textField
            label="Group"
            id="methodGroup"
            beanValue="#{method.methodGroup}"
            maxLength="10"
            spanStyle="half" />
          <ga:dropDownList
            label="Active"
            id="active"
            beanValue="#{method.status}"
            list="#{activationStatusCodeList}"
            pStyle="required"
            spanStyle="half">
            <f:selectItem itemLabel="" />
          </ga:dropDownList>
          <ga:dropDownList
            label="Technique"
            id="technique"
            beanValue="#{method.technique}"
            list="#{techniqueList}"
            pStyle="required"
            spanStyle="half">
            <a4j:support
              event="onchange"
              reRender="xrfSampleWeightRequiredPanel" />
            <f:selectItem itemLabel="" />
          </ga:dropDownList>
          <ga:div class="form_input check_box">
            <ga:span class="input">
              <h:selectBooleanCheckbox value="#{method.defaultValue}" />
            </ga:span>
            <label for="default">Default</label>
          </ga:div>
          <ui:fragment
            id="xrfSampleWeightRequiredPanel"
            rendered="#{method.technique.xrf}">
            <ga:div class="form_input check_box">
              <ga:span class="input">
                <h:selectBooleanCheckbox
                  value="#{method.xrfSampleWeightRequired}" />
              </ga:span>
              <label for="xrfSampleWeightRequired">Sample Weight
                Required</label>
            </ga:div>
          </ui:fragment>
          <ga:textField
            label="Display Order"
            id="displayOrder"
            beanValue="#{method.displayOrder}"
            maxLength="3"
            spanStyle="integer" />
          <ga:outputField
            label="Description"
            id="description">
            <h:inputTextarea
              name="description"
              id="description"
              value="#{method.description}"
              maxlength="2000"
              disabled="false"
              readonly="false"
              cols="100"
              rows="3"
              style="width:95%;" />
          </ga:outputField>
          <ga:simpleTogglePanel
            id="instrumentsTogglePanel"
            label="Instruments"
            opened="true">
            <ui:include src="editMethodInstruments-panel.xhtml" />
          </ga:simpleTogglePanel>
          <ga:simpleTogglePanel
            id="propertiesTogglePanel"
            label="Analytes"
            opened="true">
            <ui:include src="editMethodProperties-panel.xhtml" />
          </ga:simpleTogglePanel>
          <ga:simpleTogglePanel
            id="referenceMaterialsTogglePanel"
            label="Reference Materials"
            opened="true">
            <ui:include src="editMethodReferenceMaterials-panel.xhtml" />
          </ga:simpleTogglePanel>
        </ga:fieldset>
        <ga:div class="form_buttons">
          <sec:ifAnyGranted roles="ROLE_GEOCHEM_DATA_ADMIN_APP">
            <h:commandButton
              id="save"
              value="Save"
              action="saveMethod" />
          </sec:ifAnyGranted>
          <ga:cancelButton />
        </ga:div>
      </ga:main>
    </h:form>
  </ui:define>
</ui:composition>