<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <a4j:outputPanel id="refMaterials">
    <div
      id="refMaterialsPanel"
      class="form_input">
      <table
        id="methodReferenceMaterialsPanelT"
        class="input grid noValidation skipGridInputSpans fixedHeader selectable collapsibleRows">
        <thead>
          <tr>
            <th></th>
            <th><h:outputText value="Id" /></th>
            <th><h:outputText value="Name  " />
              <a4j:commandLink
                id="toggleReferenceMaterialNameAsLink"
                value="#{showRefMaterialNameAsLink eq true ? 'Show As Text' : 'Show As Links'}"
                action="toggleShowAsLinkValue"
                immediate="true"
                reRender="refMaterials" /></th>
            <th><h:outputText value="Description" /></th>
            <th><h:outputText value="Sample No" /></th>
            <th><h:outputText value="Sample ID" /></th>
            <th><h:outputText value="Sample Name" /></th>
            <th><h:outputText value="Default" /></th>
            <th><h:outputText value="Active" /></th>
          </tr>
        </thead>
        <tbody>
          <a4j:repeat
            id="methodReferenceMaterials"
            value="#{methodReferenceMaterialList}"
            var="methodReferenceMaterial">
            <tr
              class="#{method.versionNo ne null and methodReferenceMaterialList.currentRowSelected == false ? 'hiddenRow' : ''}">
              <td><h:selectBooleanCheckbox
                  value="#{methodReferenceMaterialList.currentRowSelected}">
                  <a4j:support
                    limitToList="true"
                    event="onchange"
                    ajaxSingle="true"
                    reRender="defaultMethodReferenceMaterial, refMaterialActiveStatus" />
                </h:selectBooleanCheckbox></td>
              <td><h:outputText
                  value="#{methodReferenceMaterial.referenceMaterial.referenceMaterialId}" /></td>
              <td><a4j:outputPanel id="referenceMaterialName">
                  <sf:commandLink
                    id="selectReferenceMaterialDetails"
                    value="#{methodReferenceMaterial.referenceMaterial.name}"
                    action="selectReferenceMaterialDetails"
                    immediate="true"
                    rendered="#{showRefMaterialNameAsLink eq true}">
                    <f:param
                      name="referenceMaterialNo"
                      value="#{methodReferenceMaterial.referenceMaterial.referenceMaterialNo}" />
                  </sf:commandLink>
                  <h:outputText
                    value="#{methodReferenceMaterial.referenceMaterial.name}"
                    rendered="#{showRefMaterialNameAsLink eq false}" />
                </a4j:outputPanel></td>
              <td><h:outputText
                  value="#{methodReferenceMaterial.referenceMaterial.description}" /></td>
              <td><h:outputText
                  value="#{methodReferenceMaterial.referenceMaterial.sample.sampleNo}" /></td>
              <td><a4j:outputPanel id="sampleId">
                  <h:outputLink
                    id="sampleID"
                    value="#{request.contextPath}/sampleLink/#{methodReferenceMaterial.referenceMaterial.sample.sampleNo}/details.htm"
                    target="other"
                    styleClass="popupLink">
                          #{methodReferenceMaterial.referenceMaterial.sample.sampleIdDisplay}
                          </h:outputLink>
                </a4j:outputPanel></td>
              <td><h:outputText
                  value="#{methodReferenceMaterial.referenceMaterial.sample.sampleType}" /></td>
              <td><ga:radioButton
                  id="defaultMethodReferenceMaterial"
                  name="selectedMethodReferenceMaterialNo"
                  overrideName="true"
                  value="#{refMaterialRadioDataTableBackingBean.radioSelectedIndex}"
                  itemValue="#{methodReferenceMaterial.referenceMaterial.referenceMaterialNo}"
                  disabled="#{methodReferenceMaterialList.currentRowSelected eq false}" /></td>
              <td><h:selectBooleanCheckbox
                  id="refMaterialActiveStatus"
                  name="refMaterialActiveStatus"
                  value="#{methodReferenceMaterial.active}"
                  disabled="#{methodReferenceMaterialList.currentRowSelected eq false}"
                  readOnly="#{methodReferenceMaterialList.currentRowSelected eq false}" /></td>
            </tr>
          </a4j:repeat>
        </tbody>
      </table>
    </div>
  </a4j:outputPanel>
</ui:composition>