<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <div class="form_input">
    <table
      id="methodPropertiesPanel"
      class="input grid noValidation skipGridInputSpans fixedHeader selectable collapsibleRows">
      <thead>
        <tr>
          <th></th>
          <th><h:outputText value="Analyte" /></th>
          <th><h:outputText value="Name" /></th>
          <th><h:outputText value="Group" /></th>
          <th><h:outputText value="Preference Order " /> <br /> <h:inputText
              styleClass="changeAll {withClass:'preferenceOrder',includeEmpty:false}"
              maxlength="3"
              title="Change All" /></th>
          <th><h:outputText value="Active" /></th>
        </tr>
      </thead>
      <tbody>
        <a4j:repeat
          id="methodProperties"
          value="#{methodPropertyList}"
          var="methodProperty">
          <tr
            class="{group:'#{methodProperty.property.propertyGroup.label}'} #{method.versionNo ne null and methodPropertyList.currentRowSelected == false ? 'hiddenRow' : ''}">
            <td class="selector"><h:selectBooleanCheckbox
                value="#{methodPropertyList.currentRowSelected}">
                <a4j:support
                  limitToList="true"
                  ajaxSingle="true"
                  event="onchange"
                  reRender="preferenceOrder, propertyActiveStatus" />
              </h:selectBooleanCheckbox></td>
            <td><h:outputText
                value="#{methodProperty.property.htmlPropertyId eq null ? methodProperty.property.propertyId : methodProperty.property.htmlPropertyId}"
                escape="false" /></td>
            <td><h:outputText
                value="#{methodProperty.property.htmlName eq null ? methodProperty.property.name : methodProperty.property.htmlName}" />
            </td>
            <td><h:outputText
                value="#{methodProperty.property.propertyGroup.label}" />
            </td>
            <td><h:inputText
                id="preferenceOrder"
                value="#{methodProperty.preferenceOrder}"
                maxlength="3"
                styleClass="integer preferenceOrder"
                disabled="#{methodPropertyList.currentRowSelected eq false}"
                readOnly="#{methodPropertyList.currentRowSelected eq false}" />
            </td>
            <td><h:selectBooleanCheckbox
                id="propertyActiveStatus"
                value="#{methodProperty.active}"
                disabled="#{methodPropertyList.currentRowSelected eq false}"
                readOnly="#{methodPropertyList.currentRowSelected eq false}" />
            </td>
          </tr>
        </a4j:repeat>
      </tbody>
    </table>
  </div>
</ui:composition>