<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:sec="http://www.springframework.org/security/facelets/tags"
  xmlns:rich="http://richfaces.org/rich"
  template="/WEB-INF/layouts/pageTemplate.xhtml"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:a4j="http://richfaces.org/a4j">

  <ui:define name="content">
    <h:form id="jobSearchForm">
      <ga:workflowLinks
        src="/WEB-INF/flows/geochemistry/jobs/jobs-menu.xhtml"
        class="selected" />
      <ui:include src="jobs-toolbar.xhtml" />
      <ga:main
        title="Job Search"
        pageId="JS">
        <a4j:outputPanel id="criteria">
          <ga:simpleTogglePanel
            label="Search Criteria"
            opened="#{flowScope.showCriteria}">
            <ga:textField
              id="jobNumber"
              label="Job No"
              beanValue="#{jobSearchCriteria.jobNo}"
              maxLength="8"
              spanStyle="integer" />
            <ga:textField
              id="laboratoryJobReferenceId"
              label="Lab. Job Reference"
              beanValue="#{jobSearchCriteria.laboratoryJobReferenceId}"
              maxLength="20"
              spanStyle="half"
              note="This field accepts \'%\' wildcards" />
            <ga:dateField
              id="sessionDateStart"
              label="Request Date, from"
              beanValue="#{jobSearchCriteria.requestedDateStart}"
              required="false" />
            <ga:dateField
              id="sessionDateEnd"
              label="to"
              beanValue="#{jobSearchCriteria.requestedDateEnd}"
              required="false" />

            <!--  OEGC-82 Hide this field            -->
            <!--            <ga:textField-->
            <!--              id="jobRequestStatus"-->
            <!--              label="Job Request Status"-->
            <!--              beanValue="#{jobSearchCriteria.jobRequestStatus}"-->
            <!--              maxLength="20"-->
            <!--              spanStyle="half"-->
            <!--              note="This field accepts \'%\' wildcards" />-->

            <ga:dateField
              id="releaseDateStart"
              label="Release Date, from"
              beanValue="#{jobSearchCriteria.releaseDateStart}"
              required="false" />
            <ga:dateField
              id="releaseDateEnd"
              label="to"
              beanValue="#{jobSearchCriteria.releaseDateEnd}"
              required="false" />
            <ga:dropDownList
              id="completionStatus"
              label="Completion Status"
              beanValue="#{jobSearchCriteria.completionStatus}"
              list="#{completionStatusCodeList}"
              spanStyle="half">
              <f:selectItem itemLabel="" />
            </ga:dropDownList>
            <ga:div
              id="registrationStatusPanel"
              class="form_input">
              <label for="default">Awaiting Registration:</label>
              <span class="group"> <ga:span class="input check_box">
                  <h:selectBooleanCheckbox
                    value="#{jobSearchCriteria.includeUnregisteredJobs}" />
                </ga:span> <label for="default"></label>
              </span>
            </ga:div>
            <ga:div
              id="labAnalysisPanel"
              class="form_input">
              <label for="default">Awaiting Lab Analysis:</label>
              <span class="group"> <ga:span class="input check_box">
                  <h:selectBooleanCheckbox
                    value="#{jobSearchCriteria.awaitingLabAnalysis}" />
                </ga:span>
              </span>
            </ga:div>
            <ga:div
              id="labQAPanel"
              class="form_input">
              <label for="default">Awaiting Lab QA:</label>
              <span class="group"> <ga:span class="input check_box">
                  <h:selectBooleanCheckbox
                    value="#{jobSearchCriteria.awaitingLabQA}" />
                </ga:span>
              </span>
            </ga:div>
            <ga:div
              id="clientApprovalPanel"
              class="form_input">
              <label for="default">Awaiting Client Approval:</label>
              <span class="group"> <ga:span class="input check_box">
                  <h:selectBooleanCheckbox
                    value="#{jobSearchCriteria.awaitingClientApproval}" />
                </ga:span>
              </span>
            </ga:div>
            <ga:commonSearchFields searchCriteria="#{jobSearchCriteria}" />

            <ga:div class="form_buttons">
              <h:commandButton
                id="submit"
                value="Search"
                action="submit" />
              <!--              <ga:resetButton />-->
            </ga:div>
          </ga:simpleTogglePanel>

        </a4j:outputPanel>
        <br />
        <br />

        <a4j:outputPanel id="results">
          <ui:fragment rendered="#{not empty jobSearchResults.rowCount}">
            <h3>Search Results</h3>
            <h:outputText
              id="rowCount"
              value="#{jobSearchResults.rowCount eq 0 ? 'No' :jobSearchResults.rowCount} #{jobSearchResults.rowCount eq 1 ? 'record' : 'records'} found"
              style="display: block; padding-bottom: 5px;" />
            <rich:dataTable
              id="searchResults"
              value="#{jobSearchResults}"
              var="searchResult"
              rows="#{jobSearchCriteria.resultsPerPage}"
              styleClass="links grid noValidation"
              headerClass="compact"
              columnClasses="col_5 nowrap compact"
              rendered="#{jobSearchResults.rowCount gt 0}">
              <rich:column sortBy="#{searchResult.jobNo}">
                <f:facet name="header">
                  <h:outputText value="Job No" />
                </f:facet>
                <a4j:outputPanel
                  rendered="#{searchResult.versionNo ne null}">
                  <h:commandLink
                    id="select"
                    value="#{searchResult.jobNo}"
                    action="select"
                    styleClass="nopad" />
                </a4j:outputPanel>
                <a4j:outputPanel
                  rendered="#{searchResult.versionNo eq null}">
                  <h:outputText value="#{searchResult.jobNo}" />
                  <sec:ifAnyGranted roles="ROLE_GEOCHEM_DATA_ENTRY_APP">
                    <h:commandLink
                      id="registerJob"
                      value="register"
                      action="registerJob"
                      styleClass="pad" />
                  </sec:ifAnyGranted>
                </a4j:outputPanel>
              </rich:column>
              <rich:column
                sortBy="#{searchResult.laboratoryJobReferenceId}">
                <f:facet name="header">
                  <h:outputText value="Lab Reference" />
                </f:facet>
                <h:outputText
                  value="#{searchResult.laboratoryJobReferenceId}" />
              </rich:column>
              <rich:column
                sortBy="#{searchResult.sampleCount}">
                <f:facet name="header">
                  <h:outputText value="Samples" />
                </f:facet>
                <h:outputText
                  value="#{searchResult.sampleCount}" />
              </rich:column>
              <rich:column sortBy="#{searchResult.requestedDate}">
                <f:facet name="header">
                  <h:outputText value="Date Requested" />
                </f:facet>
                <h:outputText value="#{searchResult.requestedDate}">
                  <f:convertDateTime
                    pattern="dd-MM-yyyy"
                    timeZone="#{systemContext.timeZone}" />
                </h:outputText>
              </rich:column>
              <rich:column sortBy="#{searchResult.labAnalysisComplete}">
                <f:facet name="header">
                  <h:outputText value="Lab Analyses" />
                </f:facet>
                <h:outputText
                  value="#{(searchResult.labAnalysisComplete ? 'Done' : '')}" />
              </rich:column>
              <rich:column sortBy="#{searchResult.labQaComplete}">
                <f:facet name="header">
                  <h:outputText value="Lab QA" />
                </f:facet>
                <h:outputText
                  value="#{(searchResult.labQaComplete ? 'Done' : '')}" />
              </rich:column>
              <rich:column sortBy="#{searchResult.clientApprovalComplete}">
                <f:facet name="header">
                  <h:outputText value="Client Approval" />
                </f:facet>
                <h:outputText
                  value="#{(searchResult.clientApprovalComplete ? 'Done' : '')}" />
              </rich:column>
              <rich:column sortBy="#{searchResult.completionStatus}">
                <f:facet name="header">
                  <h:outputText value="Completion Status" />
                </f:facet>
                <h:outputText value="#{searchResult.completionStatus}" />
              </rich:column>
              <rich:column sortBy="#{searchResult.enteredBy}">
                <f:facet name="header">
                  <h:outputText value="Entered By" />
                </f:facet>
                <h:outputText value="#{searchResult.enteredBy}" />
                <ga:userTooltip userId="#{searchResult.enteredBy}" />
              </rich:column>
              <rich:column sortBy="#{searchResult.entryDate}">
                <f:facet name="header">
                  <h:outputText value="Entry Date" />
                </f:facet>
                <h:outputText value="#{searchResult.entryDate}">
                  <f:convertDateTime
                    pattern="dd-MM-yyyy HH:mm"
                    timeZone="#{systemContext.timeZone}" />
                </h:outputText>
              </rich:column>
              <rich:column sortBy="#{searchResult.updatedBy}">
                <f:facet name="header">
                  <h:outputText value="Updated By" />
                </f:facet>
                <h:outputText value="#{searchResult.updatedBy}" />
                <ga:userTooltip userId="#{searchResult.updatedBy}" />
              </rich:column>
            </rich:dataTable>
            <ga:commonSearchDatascroller
              searchCriteria="#{jobSearchCriteria}"
              searchResults="#{jobSearchResults}" />
          </ui:fragment>
        </a4j:outputPanel>
      </ga:main>
    </h:form>
  </ui:define>
</ui:composition>