<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sec="http://www.springframework.org/security/facelets/tags"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:c="http://java.sun.com/jstl/core">
  <ga:toolbar>
    <sec:ifAnyGranted roles="ROLE_GEOCHEM_DATA_ENTRY_APP">
      <li><h:commandLink
          id="createJob"
          immediate="true"
          action="createJob"
          class="immediate addtool">
          <h:graphicImage
            value="/common/css/icons/add.png"
            alt="Create jOB"
            height="16px"
            width="16px" />
        Create
    </h:commandLink></li>
      <li><h:commandLink
          id="bulkLoad"
          immediate="false"
          action="bulkLoad"
          class="immediate addtool">
          <h:graphicImage
            value="/common/css/icons/report.out.16.png"
            alt="Bulk Load"
            height="16px"
            width="16px" />
        Bulk Load
      </h:commandLink></li>
      <li><h:commandLink
          id="bulkAction"
          immediate="false"
          action="bulkAction"
          class="immediate addtool">
          <h:graphicImage
            value="/common/css/icons/report.out.16.png"
            alt="Bulk Actions"
            height="16px"
            width="16px" />
        Bulk Actions
      </h:commandLink></li>
      <li><h:commandLink
          id="publishJobs"
          immediate="false"
          action="publishJobs"
          class="immediate addtool">
          <h:graphicImage
            value="/common/css/icons/report.out.16.png"
            alt="Publish Jobs"
            height="16px"
            width="16px" />
        Publish Jobs
    </h:commandLink></li>
    </sec:ifAnyGranted>
  </ga:toolbar>
</ui:composition>