<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:rich="http://richfaces.org/rich"
  template="/WEB-INF/layouts/pageTemplate.xhtml"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:a4j="http://richfaces.org/a4j">

  <ui:define name="content">
    <h:form id="instrumentSearchForm">
      <ga:workflowLinks
        src="/WEB-INF/flows/geochemistry/admin/instruments/instruments-menu.xhtml"
        class="selected" />
      <ui:include src="instruments-toolbar.xhtml" />
      <ga:main
        title="Instrument Search"
        pageId="IS">
        <a4j:outputPanel id="criteria">
          <ga:simpleTogglePanel
            label="Search Criteria"
            opened="#{flowScope.showCriteria}">
            <ga:textField
              id="instrumentNo"
              label="Instrument No"
              beanValue="#{instrumentSearchCriteria.instrumentNo}"
              maxLength="8"
              spanStyle="integer" />
            <ga:textField
              id="type"
              label="Type"
              beanValue="#{instrumentSearchCriteria.type}"
              maxLength="65"
              spanStyle="half"
              note="This field accepts \'%\' wildcards" />

            <ga:textField
              id="instrumentId"
              label="Id"
              beanValue="#{instrumentSearchCriteria.instrumentId}"
              maxLength="35"
              spanStyle="half"
              note="This field accepts \'%\' wildcards" />

            <ga:dropDownList
              id="laboratory"
              label="Laboratory"
              beanValue="#{instrumentSearchCriteria.laboratory}"
              list="#{laboratories}"
              spanStyle="half">
              <f:selectItem itemLabel="" />
            </ga:dropDownList>

            <ga:dropDownList
              id="technique"
              label="Technique"
              beanValue="#{instrumentSearchCriteria.technique}"
              list="#{techniques}"
              spanStyle="half">
              <f:selectItem itemLabel="" />
            </ga:dropDownList>

            <ga:textField
              id="model"
              label="Model"
              beanValue="#{instrumentSearchCriteria.model}"
              maxLength="105"
              spanStyle="half"
              note="This field accepts \'%\' wildcards" />

            <ga:dateField
              id="startDate"
              label="Entry Date, from"
              beanValue="#{instrumentSearchCriteria.installDateStart}"
              required="false" />

            <ga:dateField
              id="endDate"
              label="Entry Date, end"
              beanValue="#{instrumentSearchCriteria.installDateEnd}"
              required="false" />

            <ga:commonSearchFields
              searchCriteria="#{instrumentSearchCriteria}" />

            <ga:div class="form_buttons">
              <h:commandButton
                id="submit"
                value="Search"
                action="submit" />
              <!--              <ga:resetButton />-->
            </ga:div>
          </ga:simpleTogglePanel>

        </a4j:outputPanel>
        <br />
        <br />

        <a4j:outputPanel id="results">
          <ui:fragment
            rendered="#{not empty instrumentSearchResults.rowCount}">
            <h3>Search Results</h3>
            <h:outputText
              id="rowCount"
              value="#{instrumentSearchResults.rowCount eq 0 ? 'No' :instrumentSearchResults.rowCount} #{instrumentSearchResults.rowCount eq 1 ? 'record' : 'records'} found"
              style="display: block; padding-bottom: 5px;" />
            <rich:dataTable
              id="searchResults"
              value="#{instrumentSearchResults}"
              var="result"
              rows="#{instrumentSearchCriteria.resultsPerPage}"
              styleClass="links grid selectable noValidation"
              headerClass="compact"
              columnClasses="col_5 nowrap compact"
              rendered="#{instrumentSearchResults.rowCount gt 0}">
              <rich:column sortBy="#{result.instrumentNo}">
                <f:facet name="header">
                  <h:outputText value="Instrument No" />
                </f:facet>
                <a4j:commandLink
                  id="select"
                  value="#{result.instrumentNo}"
                  action="select"
                  styleClass="pad" />
              </rich:column>

              <rich:column sortBy="#{result.instrumentId}">
                <f:facet name="header">
                  <h:outputText value="Id" />
                </f:facet>
                <h:outputText value="#{result.instrumentId}" />
              </rich:column>
              <rich:column sortBy="#{result.laboratory.laboratoryId}">
                <f:facet name="header">
                  <h:outputText value="Lab" />
                </f:facet>
                <h:outputText value="#{result.laboratory.laboratoryId}" />
              </rich:column>
              <rich:column sortBy="#{result.technique.techniqueId}">
                <f:facet name="header">
                  <h:outputText value="Technique" />
                </f:facet>
                <h:outputText value="#{result.technique.techniqueId}" />
                <h:outputText
                  value=" (+)"
                  rendered="#{result.techniqueList.size() gt 1}" />
                <rich:toolTip
                  rendered="#{result.techniqueList.size() gt 1}">
                  <table border="0">
                    <a4j:repeat
                      value="#{result.techniqueList}"
                      var="technique">
                      <tr>
                        <td><h:outputText
                            value="#{technique.techniqueId}" /></td>
                      </tr>
                    </a4j:repeat>
                  </table>
                </rich:toolTip>
              </rich:column>
              <rich:column sortBy="#{result.type}">
                <f:facet name="header">
                  <h:outputText value="Type" />
                </f:facet>
                <h:outputText value="#{result.type}" />
              </rich:column>

              <rich:column sortBy="#{result.make}">
                <f:facet name="header">
                  <h:outputText value="Make" />
                </f:facet>
                <h:outputText value="#{result.make}" />
              </rich:column>

              <rich:column sortBy="#{result.model}">
                <f:facet name="header">
                  <h:outputText value="Model" />
                </f:facet>
                <h:outputText value="#{result.model}" />
              </rich:column>

              <rich:column sortBy="#{result.installDate}">
                <f:facet name="header">
                  <h:outputText value="Install Date" />
                </f:facet>
                <h:outputText value="#{result.installDate}">
                  <f:convertDateTime
                    pattern="dd-MM-yyyy"
                    timeZone="#{systemContext.timeZone}" />
                </h:outputText>
              </rich:column>

              <!--               <ga:searchResultAuditDetails searchResult="#{result}" /> -->
            </rich:dataTable>
            <ga:commonSearchDatascroller
              searchCriteria="#{instrumentSearchCriteria}"
              searchResults="#{instrumentSearchResults}" />
          </ui:fragment>
        </a4j:outputPanel>
      </ga:main>
    </h:form>
  </ui:define>
</ui:composition>