<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sec="http://www.springframework.org/security/facelets/tags"
  template="/WEB-INF/layouts/pageTemplate.xhtml">
  <ui:define name="content">
    <h:form id="editPropertyForm">
      <ga:workflowLinks
        src="/WEB-INF/flows/geochemistry/admin/properties/editProperty/editProperty-menu.xhtml"
        class="selected" />
      <ga:main
        title="#{actionTitle}"
        pageId="ATEE">
        <ga:fieldset legend="Analyte">
          <ga:textField
            label="Analyte"
            id="propertyId"
            spanStyle="half"
            maxLength="10"
            beanValue="#{property.propertyId}"
            disabled="#{property.versionNo ne null}"
            readOnly="#{property.versionNo ne null}"
            required="#{property.versionNo eq null}" />
          <ga:textField
            label="Analyte Name"
            id="propertyName"
            maxLength="100"
            spanStyle="half"
            beanValue="#{property.name}" />
          <ga:div class="form_input">
            <label id="casNumberLabel">CAS Number:</label>
            <span class="input half"> <h:inputText
                id="casNumber"
                value="#{property.casNumber}">
                <ga:casNumberConverter />
              </h:inputText> </span>
          </ga:div>
          <ga:dropDownList
            label="Analyte Group"
            id="propertyGroupCode"
            spanStyle="half"
            beanValue="#{property.propertyGroup}"
            list="#{propertyGroupCodeList}">
            <f:selectItem itemLabel="" />
          </ga:dropDownList>
          <ga:dropDownList
            label="Unit Group"
            id="unitGroupId"
            spanStyle="half"
            beanValue="#{property.unitGroupId}"
            list="#{unitGroupIdList}">
            <f:selectItem itemLabel="" />
          </ga:dropDownList>
          <ga:textField
            label="Display Order"
            id="displayOrder"
            spanStyle="integer"
            maxLength="3"
            beanValue="#{property.displayOrder}"
            required="true" />
          <ga:dropDownList
            label="Delivery Units"
            id="deliveryUnits"
            spanStyle="half"
            required="false"
            beanValue="#{property.deliveryUnits}"
            list="#{concentrationMeasureUnitList}">
            <f:selectItem itemLabel="" />
          </ga:dropDownList>
          <ga:dropDownList
            label="Storage Units"
            id="storageUnits"
            spanStyle="half"
            required="false"
            beanValue="#{property.storageUnits}"
            list="#{concentrationMeasureUnitList}">
            <f:selectItem itemLabel="" />
          </ga:dropDownList>
          <ga:textField
            label="Oxide Form"
            id="oxideForm"
            spanStyle="half"
            maxLength="10"
            beanValue="#{property.oxideForm}" />
          <ga:textField
            label="Alternate Oxide Forms"
            id="altOxideForms"
            spanStyle="half"
            maxLength="50"
            beanValue="#{property.altOxideForms}"
            note="Comma separated oxide forms ie FeO,Fe2O3" />
          <ga:div class="form_input check_box">
            <ga:span class="input">
              <h:selectBooleanCheckbox value="#{property.loiIncludeInd}">
                <a4j:support
                  event="onchange"
                  reRender="loiFactor" />
              </h:selectBooleanCheckbox>
            </ga:span>
            <label for="default">Include in LOI Derivation</label>
          </ga:div>
          <ga:textField
            label="LOI factor"
            id="loiFactor"
            spanStyle="numeric"
            maxLength="10"
            beanValue="#{property.loiFactor}"
            required="#{property.loiIncludeInd}" />
          <ga:div class="form_input check_box">
            <ga:span class="input">
              <h:selectBooleanCheckbox value="#{property.restIncludeInd}">
                <a4j:support
                  event="onchange"
                  reRender="restFactor" />
              </h:selectBooleanCheckbox>
            </ga:span>
            <label for="default">Include in REST Derivation</label>
          </ga:div>
          <ga:textField
            label="REST Factor"
            id="restFactor"
            spanStyle="numeric"
            maxLength="10"
            beanValue="#{property.restFactor}"
            required="#{property.restIncludeInd eq true}" />
          <ga:div class="form_input check_box">
            <ga:span class="input">
              <h:selectBooleanCheckbox value="#{property.totalIncludeInd}" />
            </ga:span>
            <label for="default">Include in TOTAL Derivation</label>
          </ga:div>
          <ga:textField
            label="HTML Analyte Id"
            id="htmlPropertyId"
            maxLength="100"
            spanStyle="half"
            beanValue="#{property.htmlPropertyId}"
            note="Use html sup or sub tags around text that needs to be superscript or subscript.  Be sure to close the tags properly. eg: K#{html.sub}2#{html.endSub}O" />
          <ga:textField
            label="Html Analyte Name"
            id="htmlPropertyName"
            maxLength="250"
            spanStyle="half"
            beanValue="#{property.htmlName}"
            note="Use html sup or sub tags around text that needs to be superscript or subscript.  Be sure to close the tags properly. eg: K#{html.sub}2#{html.endSub}O" />
          <ga:textField
            label="XML Property Id"
            id="xmlPropertyId"
            maxLength="30"
            spanStyle="half"
            beanValue="#{property.xmlPropertyId}" />
          <ga:outputField
            label="Description"
            id="descriptionText">
            <h:inputTextarea
              name="descriptionText"
              id="descriptionText"
              value="#{property.descriptionText}"
              maxlength="500"
              disabled="false"
              readonly="false"
              cols="100"
              rows="3"
              style="width:95%;" />
          </ga:outputField>
        </ga:fieldset>
        <ga:div class="form_buttons">
          <sec:ifAnyGranted roles="ROLE_GEOCHEM_DATA_ADMIN_APP">
            <h:commandButton
              id="saveProperty"
              value="Save"
              action="saveProperty" />
          </sec:ifAnyGranted>
          <ga:cancelButton />
        </ga:div>
      </ga:main>
    </h:form>
  </ui:define>
</ui:composition>