<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:a4j="http://richfaces.org/a4j"
  template="/WEB-INF/layouts/pageTemplate.xhtml">
  <ui:param
    name="title"
    value="Access Denied" />
  <ui:define name="content">
    <h:form id="currentPortalAppForm">
      <ga:workflowLinks>
        <li><h:commandLink
          class="selected"
          id="selectService"
          value="#{systemContext.configProperties['homeLabel']}"
          action="selectService" /></li>
      </ga:workflowLinks>
      <ga:main
        class="view intro"
        title="Access Denied"
        pageId="ACDENIED">
        <p>#{systemContext.configProperties['accessDenied-text']}</p>
        <h3>For assistance please contact:</h3>
        <h:panelGrid
          columns="2"
          id="contactDetails">
          <h:outputText value="Application Custodian:" />
          <h:outputText
            id="applicationCustodian"
            value="#{currentPortalApp.applicationCustodian}"
            rendered="true" />

          <h:outputText value="Application Support Contact:" />
          <h:outputText
            id="applicationSupportContact"
            value="#{currentPortalApp.applicationSupportContact}"
            rendered="true" />

          <h:outputText value="Application Support Phone:" />
          <h:outputText
            id="applicationSupportContactPhone"
            value="#{currentPortalApp.applicationSupportContactPhone}"
            rendered="true" />

          <h:outputText value="Application Support e-mail:" />
          <h:outputText
            id="applicationSupportContactEmail"
            value="#{currentPortalApp.applicationSupportContactEmail}"
            rendered="true" />
        </h:panelGrid>
      </ga:main>
      <ga:deploymentStatusDetails />
    </h:form>
  </ui:define>
</ui:composition>