<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sec="http://www.springframework.org/security/facelets/tags"
  template="/WEB-INF/layouts/pageTemplate.xhtml">
  <ui:define name="content">
    <h:form id="viewUnitForm">
      <ga:workflowLinks
        src="/WEB-INF/flows/geochemistry/admin/units/viewUnit/viewUnit-menu.xhtml"
        class="selected" />
      <ga:main
        title="Measurement Unit"
        pageId="MUV">
        <ga:fieldset legend="Measurement Unit">
          <ga:textOutputField
            label="Unit Id"
            id="id"
            beanValue="#{unit.unitId}" />
          <ga:textOutputField
            label="Unit Name"
            id="name"
            beanValue="#{unit.unitName}" />
          <ga:textOutputField
            label="HTML Unit Id"
            id="htmlUnitId"
            beanValue="#{unit.htmlUnitId}"
            escape="false" />
          <ga:textOutputField
            label="HTML Unit Name"
            id="htmlUnitName"
            beanValue="#{unit.htmlUnitName}"
            escape="false" />
          <ga:textOutputField
            label="XML Code"
            id="xmlUnitId"
            beanValue="#{unit.xmlUnitId}"
            escape="false" />
          <ga:textOutputField
            label="Description"
            id="description"
            beanValue="#{unit.description}" />
          <ga:auditDetails auditLog="#{unit.auditLog}" />
          <ui:include
            src="../../unitGroups/viewUnitGroup/viewUnitGroupLinks-panel.xhtml">
            <ui:param
              name="unitGroupLinkList"
              value="#{unit.unitGroupLinkList}" />
            <ui:param
              name="linkParent"
              value="unit" />
          </ui:include>
        </ga:fieldset>
        <ga:div class="form_buttons">
          <sec:ifAnyGranted roles="ROLE_GEOCHEM_DATA_ADMIN_APP">
            <h:commandButton
              id="editUnit"
              value="Edit"
              action="editUnit" />
          </sec:ifAnyGranted>
          <ga:returnButton />
        </ga:div>
      </ga:main>
    </h:form>
  </ui:define>
</ui:composition>