<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <ui:fragment id="sampleSummaryFragment">
    <ga:fieldset legend="Sample #{sample.sampleNo}">
      <ga:outputField
        id="selectSampleDetails"
        label="#{resourceBundle['sample.sampleId']}"
        spanStyle="half">
        <h:outputLink
          id="sampleID"
          value="#{request.contextPath}/sampleLink/#{sample.sampleNo}/details.htm"
          target="other"
          styleClass="popupLink">
                          #{sample.sampleIdDisplay}
                          </h:outputLink>

      </ga:outputField>
      <ga:textOutputField
        id="originator"
        label="#{resourceBundle['sample.originator']}"
        beanValue="#{sample.originatorDisplayName}"
        spanStyle="half" />
    </ga:fieldset>
  </ui:fragment>
</ui:composition>