<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:app="http://www.ga.gov.au/geochem-jsf"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <h3>Analysis Results</h3>
  <a4j:repeat
    id="jobBatchAnalyses"
    value="#{jobBatch.jobBatchSampleList}"
    var="jobBatchSample">
    <a4j:repeat
      id="subsampleIds"
      value="#{publishBean.getSubsampleIdList(jobBatchSample)}"
      var="subsampleId">
      <a4j:outputPanel
        id="tableFragment"
        rendered="#{publishBean.hasSampleAnalysisResults(jobBatch, jobBatchSample.sample, subsampleId)}">
        <table class="doubleColumnTable input grid noValidation fixed-cell-height">
          <thead>
            <tr>
              <th><h:outputText value="Sample No" /></th>
              <th><h:outputText value="Subsample ID" /></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="nowrap"><h:outputText
                id="sampleNo"
                value="#{jobBatchSample.sample.sampleNo}" /></td>
              <td class="nowrap"><h:outputText
                id="sampleNo"
                value="#{subsampleId}" /></td>
            </tr>
            <a4j:outputPanel
              id="preferredPublishedRowFragment"
              rendered="#{publishBean.previousPreferredPublishedResultsMap ne null and publishBean.hasPreferredPublishedResultsForSample(jobBatchSample.sample, subsampleId)}">
              <tr>
                <td><h:outputText
                  id="blankSampleNoCell"
                  escape="false"
                  value="&amp;nbsp;" /></td>
              </tr>
            </a4j:outputPanel>
          </tbody>
        </table>
        <ga:div
          id="sampleAnalysisPanel"
          class="doubleColumnHorizontalScroll">
          <table class="input grid noValidation fixed-cell-height">
            <thead>
              <tr>
                <a4j:repeat
                  id="sampleAnalysisResultsForPublishing"
                  value="#{publishBean.getPropertyList(jobBatch, jobBatchSample.sample, subsampleId)}"
                  var="property">
                  <a4j:outputPanel
                    id="propertyHeaderFragment"
                    rendered="#{publishBean.getSampleAnalysisResult(jobBatch, jobBatchSample.sample, property, subsampleId) ne null or publishBean.getPreviousPreferredPublishedResult(jobBatchSample.sample, property, subsampleId) ne null}">
                    <th class="col_20 nowrap"><h:outputText
                      value="#{property.htmlPropertyId} #{publishBean.getSampleAnalysisResult(jobBatch, jobBatchSample.sample, property, subsampleId).resultUnits}"
                      escape="false" /></th>
                  </a4j:outputPanel>
                </a4j:repeat>
              </tr>
            </thead>
            <tbody>
              <tr>
                <a4j:repeat
                  id="resultPropertyList"
                  value="#{publishBean.getPropertyList(jobBatch, jobBatchSample.sample, subsampleId)}"
                  var="property">
                  <a4j:outputPanel
                    id="sampleAnalysisResultValueFragment"
                    rendered="#{publishBean.getSampleAnalysisResult(jobBatch, jobBatchSample.sample, property, subsampleId) ne null  or publishBean.getPreviousPreferredPublishedResult(jobBatchSample.sample, prevProperty, subsampleId) ne null}">
                    <td class="nowrap"><h:selectBooleanCheckbox
                      id="resultCheckbox"
                      value="#{publishBean.getSampleAnalysisResult(jobBatch, jobBatchSample.sample, property, subsampleId).preferred}"
                      class="radioCheckboxGroup {group:'#{jobBatch.jobBatchId.concat(jobBatchSample.sample.sampleNo).concat(property.propertyId)}', minChecked:0}"
                      disabled="#{publishBean.previousPreferredPublishedResultsMap.isEmpty() or publishBean.getSampleAnalysisResult(jobBatch, jobBatchSample.sample, property, subsampleId).sampleAnalysis.resultBatch.method.technique.calc}" />
                    <ga:outputNumber
                      id="resultValue"
                      value="#{publishBean.getSampleAnalysisResult(jobBatch, jobBatchSample.sample, property, subsampleId).qualifiedResultValue}"
                      qualifier="#{publishBean.getSampleAnalysisResult(jobBatch, jobBatchSample.sample, property, subsampleId).limitReasonSymbol}"
                      patternKey="analysisResult.deliveryFormat.#{property.propertyId}" />
                    </td>
                  </a4j:outputPanel>
                  <a4j:outputPanel
                      id="emptySampleAnalysisResultFragment"
                      rendered="#{publishBean.getSampleAnalysisResult(jobBatch, jobBatchSample.sample, property, subsampleId) eq null and publishBean.getPreviousPreferredPublishedResult(jobBatchSample.sample, property, subsampleId) ne null}">
                      <td><h:outputText
                        id="blankSampleAnalysisResultCell"
                        escape="false"
                        value="&amp;nbsp;" /></td>
                    </a4j:outputPanel>
                </a4j:repeat>
              </tr>
              <a4j:outputPanel
                id="preferredPublishedResultsFragment"
                rendered="#{publishBean.previousPreferredPublishedResultsMap ne null and publishBean.hasPreferredPublishedResultsForSample(jobBatchSample.sample, subsampleId)}">
                <tr>
                  <a4j:repeat
                    id="prevResultPropertyList"
                    value="#{publishBean.getPropertyList(jobBatch, jobBatchSample.sample, subsampleId)}"
                    var="prevProperty">
                    <a4j:outputPanel
                      id="preferredPublishedResultValueFragment"
                      rendered="#{publishBean.getPreviousPreferredPublishedResult(jobBatchSample.sample, prevProperty, subsampleId) ne null}">
                      <td class="nowrap"><h:selectBooleanCheckbox
                        id="prevResultCheckbox"
                        value="#{publishBean.getPreviousPreferredPublishedResult(jobBatchSample.sample, prevProperty, subsampleId).sampleAnalysisResult.preferred}"
                        class="radioCheckboxGroup {group:'#{jobBatch.jobBatchId.concat(jobBatchSample.sample.sampleNo).concat(prevProperty.propertyId)}', minChecked:0}"
                        disabled="#{publishBean.getPreviousPreferredPublishedResult(jobBatchSample.sample, prevProperty, subsampleId).sampleAnalysisResult.sampleAnalysis.resultBatch.method.technique.calc}" />
                      <ga:outputNumber
                        id="prevResultValue"
                        value="#{publishBean.getPreviousPreferredPublishedResult(jobBatchSample.sample, prevProperty, subsampleId).sampleAnalysisResult.qualifiedResultValue}"
                        qualifier="#{publishBean.getPreviousPreferredPublishedResult(jobBatchSample.sample, prevProperty, subsampleId).sampleAnalysisResult.limitReasonSymbol}"
                        patternKey="analysisResult.deliveryFormat.#{property.propertyId}" />
                      </td>
                    </a4j:outputPanel>
                    <a4j:outputPanel
                      id="emptyPrevResultCellFragment"
                      rendered="#{publishBean.getSampleAnalysisResult(jobBatch, jobBatchSample.sample, prevProperty, subsampleId) ne null and publishBean.getPreviousPreferredPublishedResult(jobBatchSample.sample, prevProperty, subsampleId) eq null}">
                      <td><h:outputText
                        id="blankPrevResultCell"
                        escape="false"
                        value="&amp;nbsp;" /></td>
                    </a4j:outputPanel>
                  </a4j:repeat>
                </tr>
              </a4j:outputPanel>
            </tbody>
          </table>
        </ga:div>
      </a4j:outputPanel>
      <br></br>
    </a4j:repeat>
  </a4j:repeat>
</ui:composition>