<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:sec="http://www.springframework.org/security/facelets/tags"
  template="/WEB-INF/layouts/pageTemplate.xhtml">
  <ui:define name="content">
    <h:form id="finaliseJobConfirmationForm">
      <ga:workflowLinks
        src="/WEB-INF/flows/geochemistry/jobs/viewJob/viewJob-menu.xhtml">
        <li class="selected"><h:commandLink
          immediate="true"
          id="finaliseJob"
          value="Finalise"
          action="finaliseJob" /></li>
      </ga:workflowLinks>
      <ga:main
        title="Finalise Job"
        pageId="JF">
        <ui:fragment id="jobDetails">
          <ui:include src="../viewJob/viewJobDetails-panel.xhtml" />
          <ui:fragment id="batchDetailsFragment">
            <ga:div class="panel">
              <br></br>
              <h3>Batch Details</h3>
              <h:outputText
                value="No Batches attached to this Job Request"
                rendered="#{jobBatchList.rowCount eq 0}" />
              <a4j:repeat
                id="jobBatches"
                value="#{jobBatchList}"
                var="jobBatch"
                rendered="#{jobBatchList.rowCount gt 0}">
                <ga:div
                  class="accordionGroup form_input"
                  id="jobBatchAccordionGroup">
                  <ui:include
                    src="../viewJob/viewJobBatchDetails-panel.xhtml">
                    <ui:param
                      name="class"
                      value="accordionPanel" />
                  </ui:include>
                </ga:div>
                <ui:include
                  src="editPreferredSampleAnalysisResults-panel.xhtml" />
              </a4j:repeat>
            </ga:div>
          </ui:fragment>
        </ui:fragment>
        <br />
        <br />
        <ui:fragment
          id="warningMessage"
          rendered="#{publishBean.previousPreferredPublishedResultsMap.isEmpty()}">
          <h:outputText
            id="finalFinaliseNotification"
            value="Are you sure that you want to finalise this job?  This will prevent further changes." />
          <br />
          <br />
        </ui:fragment>
        <ga:div class="form_buttons">
          <sec:ifAnyGranted roles="ROLE_GEOCHEM_DATA_ENTRY_APP">
            <h:commandButton
              id="submit"
              value="Submit"
              action="submit"
              rendered="#{not publishBean.previousPreferredPublishedResultsMap.isEmpty()}" />
            <h:commandButton
              id="finalise"
              value="Finalise"
              action="finalise"
              rendered="#{publishBean.previousPreferredPublishedResultsMap.isEmpty()}" />
          </sec:ifAnyGranted>
          <ga:cancelButton />
        </ga:div>
      </ga:main>
    </h:form>
  </ui:define>
</ui:composition>