<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:sec="http://www.springframework.org/security/facelets/tags"
  template="/WEB-INF/layouts/pageTemplate.xhtml">
  <ui:define name="content">
    <h:form id="finaliseJobConfirmationForm">
      <ga:workflowLinks
        src="/WEB-INF/flows/geochemistry/jobs/viewJob/viewJob-menu.xhtml">
        <li><h:commandLink
            id="finaliseJob"
            value="Finalise"
            action="finaliseJob" /></li>
        <li class="selected"><h:commandLink
            immediate="true"
            id="reviewCalcResults"
            value="Review Calculated Results"
            action="reviewCalcResults" /></li>
      </ga:workflowLinks>
      <ga:main
        title="Review Calculated Results"
        pageId="RCR">
        <a4j:repeat
          id="resultBatches"
          value="#{resultBatchList}"
          var="resultBatch">
          <ui:fragment
            id="sampleAnalysesFragment"
            rendered="#{not empty resultBatch.sampleAnalysisList}">
            <table
              id="sampleAnalysesTable"
              class="input grid noValidation collapsibleColumns">
              <thead>
                <tr>
                  <th class="col_5"><h:outputText value="Sequence No" /></th>
                  <th class="col_10"><h:outputText value="Sample No" /></th>
                  <th class="col_10"><h:outputText value="Sample ID" /></th>
                  <th class="col_10"><h:outputText
                      value="Preferred Value" /></th>
                  <a4j:repeat
                    id="propertyHeaders"
                    value="#{propertyList}"
                    var="property">
                    <th class="col_10"><h:outputText
                        value="#{property.htmlPropertyId}"
                        escape="false" /> <br /> <h:outputText
                        value="(#{property.storageUnits})" /></th>
                  </a4j:repeat>
                </tr>
              </thead>
              <tbody>
                <a4j:repeat
                  id="sampleAnalyses"
                  value="#{resultBatch.sampleAnalysisList}"
                  var="sampleAnalysis">
                  <tr>
                    <td><h:outputText
                        id="sequenceNo"
                        value="#{sampleAnalysis.sequenceNo}"
                        styleClass="pad" /></td>
                    <td><h:outputText
                        id="sampleNo"
                        value="#{sampleAnalysis.sample.sampleNo}" /></td>
                    <td class="nowrap"><a4j:outputPanel id="sampleId">
                        <h:outputLink
                          id="sampleID"
                          value="#{request.contextPath}/sampleLink/#{sampleAnalysis.sample.sampleNo}/details.htm"
                          target="other"
                          styleClass="popupLink">
                          #{sampleAnalysis.sample.sampleIdDisplay}
                          </h:outputLink>
                      </a4j:outputPanel></td>
                    <td><h:outputText
                        value="#{sampleAnalysis.preferredValue ? 'Y' : 'N'}" /></td>
                    <a4j:repeat
                      id="properties"
                      value="#{propertyList}"
                      var="property">
                      <td class="tbl-cell-right-align"><ga:outputNumber
                          id="sampleAnalysisResultValue"
                          value="#{sampleAnalysis.getSampleAnalysisResultByProperty(property).qualifiedResultValue}"
                          qualifier="#{sampleAnalysis.getSampleAnalysisResultByProperty(property).limitReasonSymbol}"
                          patternKey="analysisResult.deliveryFormat.#{property.propertyId}" />
                      </td>
                    </a4j:repeat>
                  </tr>
                </a4j:repeat>
              </tbody>
            </table>
          </ui:fragment>
          <ui:fragment
            id="emptySampleAnalysesFragment"
            rendered="#{empty resultBatch.sampleAnalysisList}">
            <h:outputText value="No Results" />
          </ui:fragment>
        </a4j:repeat>
        <br />
        <br />
        <h:outputText
          id="finalFinaliseNotification"
          value="Are you sure that you want to finalise this job?  This will prevent further changes." />
        <br />
        <br />
        <ga:div class="form_buttons">
          <sec:ifAnyGranted roles="ROLE_GEOCHEM_DATA_ENTRY_APP">
            <h:commandButton
              id="submit"
              value="Finalise"
              action="submit" />
          </sec:ifAnyGranted>
          <ga:cancelButton />
        </ga:div>
      </ga:main>
    </h:form>
  </ui:define>
</ui:composition>