<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sec="http://www.springframework.org/security/facelets/tags"
  template="/WEB-INF/layouts/pageTemplate.xhtml">
  <ui:define name="content">
    <h:form id="editUnitForm">
      <ga:workflowLinks
        src="/WEB-INF/flows/geochemistry/admin/units/editUnit/editUnit-menu.xhtml"
        class="selected" />
      <ga:main
        title="#{actionTitle}"
        pageId="MUE">
        <ga:fieldset legend="Measurement Unit">
          <ga:textField
            label="Unit Id"
            id="id"
            maxLength="20"
            spanStyle="half"
            required="true"
            beanValue="#{unit.unitId}"
            disabled="#{unit.versionNo ne null}"
            readOnly="#{unit.versionNo ne null}" />
          <ga:textField
            label="Unit Name"
            id="name"
            required="true"
            maxLength="250"
            spanStyle="half"
            beanValue="#{unit.unitName}" />
          <ga:textField
            label="HTML Unit Id"
            id="htmlUnitId"
            maxLength="100"
            spanStyle="half"
            beanValue="#{unit.htmlUnitId}"
            escape="false" />
          <ga:textField
            label="HTML Unit Name"
            id="htmlUnitName"
            maxLength="250"
            spanStyle="half"
            beanValue="#{unit.htmlUnitName}"
            escape="false" />
          <ga:textField
            label="XML Unit Id"
            id="xmlUnitId"
            maxLength="30"
            spanStyle="half"
            beanValue="#{unit.xmlUnitId}"
            escape="false" />
          <ga:textField
            label="Description"
            id="description"
            maxLength="1000"
            beanValue="#{unit.description}" />
        </ga:fieldset>
        <ga:div class="form_buttons">
          <sec:ifAnyGranted roles="ROLE_GEOCHEM_DATA_ADMIN_APP">
            <h:commandButton
              id="saveUnit"
              value="Save"
              action="saveUnit" />
          </sec:ifAnyGranted>
          <ga:cancelButton />
        </ga:div>
      </ga:main>
    </h:form>
  </ui:define>
</ui:composition>