<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:c="http://java.sun.com/jstl/core">
  <c:if test="#{empty unit.versionNo}">
    <ui:include src="../units-menu.xhtml">
      <ui:param
        name="class"
        value="" />
    </ui:include>
    <li class="#{class}"><h:commandLink
        id="editunit"
        immediate="true"
        value="Create"
        action="editUnit" />
    </li>
  </c:if>
  <c:if test="#{not empty unit.versionNo}">
    <ui:include src="../viewUnit/viewUnit-menu.xhtml">
      <ui:param
        name="class"
        value="" />
    </ui:include>
    <li class="#{class}"><h:commandLink
        id="editUnit"
        immediate="true"
        value="Edit"
        action="editUnit" />
    </li>
  </c:if>
</ui:composition>
