<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:sec="http://www.springframework.org/security/facelets/tags"
  template="/WEB-INF/layouts/pageTemplate.xhtml">

  <ui:define name="content">
    <h:form id="docfileViewForm">
      <input
        type="hidden"
        name="id"
        value="#{docfile.docfileNo}" />
      <ga:workflowLinks
        src="/WEB-INF/flows/geochemistry/admin/docfiles/viewDocfile/viewDocfile-menu.xhtml"
        class="selected" />
      <ga:main
        title="Document"
        pageId="DDV">
        <ga:fieldset legend="Document Details">
          <ga:textOutputField
            label="Document No"
            id="docfileNo"
            beanValue="#{docfile.docfileNo}" />
          <ga:textOutputField
            label="Id"
            id="docfileId"
            beanValue="#{docfile.docfileId}" />
          <ga:textOutputField
            label="Title"
            id="title"
            beanValue="#{docfile.title}" />
          <ga:textOutputField
            label="Description"
            id="description"
            beanValue="#{docfile.description}" />
          <ga:textOutputField
            label="Required"
            id="docfileRequired"
            beanValue="#{docfile.docfileRequired ? 'Y' : 'N'}" />
          <ga:textOutputField
            label="External Delivery"
            id="externalDelivery"
            beanValue="#{docfile.externalDelivery ? 'Y' : 'N'}" />
          <ga:textOutputField
            label="Active"
            id="status"
            beanValue="#{docfile.active ? 'Y' : 'N'}" />
          <ga:textOutputField
            label="Display Order"
            id="displayOrder"
            beanValue="#{docfile.displayOrder}" />
          <ui:fragment
            id="docfile"
            rendered="#{docfile.docfile ne null}">
            <ga:textOutputField
              label="File"
              spanStyle="half">
              <h:outputLink value="#{request.contextPath}/docfiles/#{docfile.docfileNo}/download.htm">
                <h:outputText value="#{docfile.name}" />
              </h:outputLink>
            </ga:textOutputField>
          </ui:fragment>
          <ga:auditDetails auditLog="#{docfile.auditLog}" />
        </ga:fieldset>
        <ga:div class="form_buttons">
          <sec:ifAnyGranted roles="ROLE_GEOCHEM_DATA_ADMIN_APP">
            <h:commandButton
              id="editDocfile"
              value="Edit"
              action="editDocfile" />
          </sec:ifAnyGranted>
          <ga:returnButton />
        </ga:div>
      </ga:main>
    </h:form>
  </ui:define>
</ui:composition>