<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:rich="http://richfaces.org/rich"
  template="/WEB-INF/layouts/pageTemplate.xhtml"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:a4j="http://richfaces.org/a4j">

  <ui:define name="content">
    <h:form id="preparationProceduresSearchForm">
      <ga:workflowLinks
        src="/WEB-INF/flows/geochemistry/admin/preparationProcedures/preparationProcedures-menu.xhtml"
        class="selected" />
      <ui:include src="preparationProcedures-toolbar.xhtml" />
      <ga:main
        title="Preparation Procedure Search"
        pageId="RMS">
        <a4j:outputPanel id="criteria">
          <ga:simpleTogglePanel
            label="Search Criteria"
            opened="#{flowScope.showCriteria}">
            <ga:textField
              id="preparationProcedureNo"
              label="Preparation Procedure No"
              beanValue="#{preparationProcedureSearchCriteria.preparationProcedureNo}"
              maxLength="10"
              spanStyle="integer" />
            <ga:textField
              id="preparationProcedureId"
              label="Id"
              beanValue="#{preparationProcedureSearchCriteria.preparationProcedureId}"
              maxLength="50"
              spanStyle="half"
              note="This field accepts \'%\' wildcards" />
            <ga:textField
              id="activity"
              label="Activity"
              beanValue="#{preparationProcedureSearchCriteria.activity}"
              maxLength="50"
              spanStyle="half"
              note="This field accepts \'%\' wildcards" />
            <ga:textField
              id="effect"
              label="Effect"
              beanValue="#{preparationProcedureSearchCriteria.effect}"
              maxLength="50"
              spanStyle="half"
              note="This field accepts \'%\' wildcards" />
            <ga:commonSearchFields
              searchCriteria="#{preparationProcedureSearchCriteria}" />

            <ga:div class="form_buttons">
              <h:commandButton
                id="submit"
                value="Search"
                action="submit" />
              <!--              <ga:resetButton/>-->
            </ga:div>
          </ga:simpleTogglePanel>

        </a4j:outputPanel>
        <br />
        <br />

        <a4j:outputPanel id="results">
          <ui:fragment
            rendered="#{not empty preparationProceduresSearchResults.rowCount}">
            <h3>Search Results</h3>
            <h:outputText
              id="rowCount"
              value="#{preparationProceduresSearchResults.rowCount eq 0 ? 'No' : preparationProceduresSearchResults.rowCount} #{preparationProceduresSearchResults.rowCount eq 1 ? 'record' : 'records'} found"
              style="display: block; padding-bottom: 5px;" />
            <rich:dataTable
              id="searchResults"
              value="#{preparationProceduresSearchResults}"
              var="preparationProcedure"
              rows="#{preparationProcedureSearchCriteria.resultsPerPage}"
              styleClass="links grid noValidation"
              headerClass="compact"
              columnClasses="col_5 nowrap compact"
              rendered="#{preparationProceduresSearchResults.rowCount gt 0}">
              <rich:column
                sortBy="#{preparationProcedure.preparationProcedureNo}">
                <f:facet name="header">
                  <h:outputText value="Preparation Procedure No" />
                </f:facet>
                <h:commandLink
                  id="select"
                  value="#{preparationProcedure.preparationProcedureNo}"
                  action="select"
                  styleClass="nopad" />
              </rich:column>
              <rich:column
                sortBy="#{preparationProcedure.preparationProcedureId}">
                <f:facet name="header">
                  <h:outputText value="Id" />
                </f:facet>
                <h:outputText
                  value="#{preparationProcedure.preparationProcedureId}" />
              </rich:column>
              <rich:column sortBy="#{preparationProcedure.activity}">
                <f:facet name="header">
                  <h:outputText value="Activity" />
                </f:facet>
                <h:outputText value="#{preparationProcedure.activity}" />
              </rich:column>
              <rich:column sortBy="#{preparationProcedure.effect}">
                <f:facet name="header">
                  <h:outputText value="Effect" />
                </f:facet>
                <h:outputText value="#{preparationProcedure.effect}" />
              </rich:column>
              <!--               <ga:searchResultAuditDetails                searchResult="#{preparationProcedure}" /> -->
            </rich:dataTable>
            <ga:commonSearchDatascroller
              searchCriteria="#{preparationProcedureSearchCriteria}"
              searchResults="#{preparationProceduresSearchResults}" />
          </ui:fragment>
        </a4j:outputPanel>
      </ga:main>
    </h:form>
  </ui:define>
</ui:composition>