<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:c="http://java.sun.com/jstl/core"
  template="/WEB-INF/layouts/pageTemplate.xhtml">
  <ui:define name="content">
    <h:form id="jobDetailsConfirmationForm">
      <ga:workflowLinks>
        <ui:include src="../includes/jobs-menu.xhtml" />
        <li><h:commandLink
          immediate="true"
          id="editJob"
          value="#{flowScope.actionTitle}"
          action="editJob" /></li>
        <li class="selected"><h:commandLink
          immediate="true"
          id="confirmation"
          value="Confirm"
          action="confirmation" /></li>
      </ga:workflowLinks>
      <ga:main title="Register Job" help="Register-a-Job">
        <ui:include src="../includes/viewJobDetails-panel.xhtml" />
        <ui:include src="../includes/viewBatchDetails-panel.xhtml" />
        <ga:div class="form_buttons">
          <h:commandButton
            id="submit"
            value="Save"
            action="submit" />
          <ga:cancelButton />
        </ga:div>
      </ga:main>
    </h:form>
  </ui:define>
</ui:composition>