<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:a4j="http://richfaces.org/a4j">
  <ui:fragment id="jobDetailsFragment">
    <ga:div class="panel">
      <ga:textOutputField
        id="jobNo"
        label="Job No"
        beanValue="#{job.jobNo}" />
      <ga:textField
        id="labRef"
        label="Lab. Reference"
        maxLength="50"
        spanStyle="half"
        beanValue="#{job.laboratoryJobReferenceId}" />
      <ga:div class="form_input">
        <label id="access">Access:</label>
        <ga:span class="group">
          <ga:span class="input">
            <ga:dropDownList
              id="accessCode"
              beanValue="#{job.accessCode}"
              list="#{gaAccessCodeList}">
              <a4j:support
                event="onchange"
                reRender="dateConfidentialPanel" />
            </ga:dropDownList>
          </ga:span>
          <ga:jdiv id="dateConfidentialPanel">
            <ga:span class="input">
              <ga:dateField
                id="dateConfidentialUntil"
                label="Until"
                beanValue="#{job.dateConfidentialUntil}"
                renderField="#{job.confidentialAccessCode eq true}" />
            </ga:span>
          </ga:jdiv>
        </ga:span>
      </ga:div>

      <!--      <ga:div-->
      <!--        id="accessCodePanel"-->
      <!--        class="form_input required">-->
      <!--        <label for="accessCodeLabel">Access Code:</label>-->
      <!--        <span class="input half"> <h:selectOneMenu-->
      <!--          id="accessCode"-->
      <!--          value="#{job.accessCode}"-->
      <!--          converter="#{genericDomainConverter}"-->
      <!--          disabled="#{job.statusFinalised}">-->
      <!--          <f:selectItem itemLabel="" />-->
      <!--          <f:selectItems-->
      <!--            id="selectItems"-->
      <!--            value="#{gaAccessCodeList}" />-->
      <!--        </h:selectOneMenu> </span>-->
      <!--      </ga:div>-->
      <ui:fragment
        id="jobRequest"
        rendered="#{not empty job.npmJobRequest}">
        <ga:fieldset legend="LabSubs Job Request">
          <ui:include src="../viewJob/viewJobNpmJobRequest-panel.xhtml" />
        </ga:fieldset>
      </ui:fragment>

      <h3>Comments</h3>
      <ga:div class="form_input body">
        <span class="input"> <h:inputTextarea
            value="#{job.comment}"
            cols="50"
            rows="3" />
        </span>
      </ga:div>
    </ga:div>
  </ui:fragment>
</ui:composition>