<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <ui:fragment id="jobBatchDetailsFragment">
    <ga:div class="#{class}">
      <ui:param
        name="class"
        value="" />
      <ga:div class="panelHead">Batch #{jobBatch.jobBatchId}</ga:div>
      <ga:div class="panelBody">
        <ui:fragment
          id="npmBatchDetailsFragment"
          rendered="#{job.npmJobRequest ne null}">
          <ga:div class="form_input">
            <table class="input">
              <thead>
                <tr>
                  <th><h:outputText value="Batch ID" /></th>
                  <th><h:outputText value="Scheduled Start" /></th>
                  <th><h:outputText value="Scheduled Completion" /></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><h:outputText
                    value="#{jobBatch.npmBatch.batchId}" /></td>
                  <td><h:outputText
                    value="#{jobBatch.npmBatch.scheduledStart}" /></td>
                  <td><h:outputText
                    value="#{jobBatch.npmBatch.scheduledCompletion}" /></td>
                </tr>
              </tbody>
            </table>
          </ga:div>
        </ui:fragment>
        <ga:div class="form_input">
          <label for="batchComments:">Batch Comments:</label>
          <span class="input"> <h:inputTextarea
            value="#{jobBatch.comments}"
            cols="50"
            rows="3" /> </span>
        </ga:div>
        <ui:fragment
          id="npmSopNominationsFragment"
          rendered="#{job.npmJobRequest ne null}">
        <ga:div class="form_input">
          <label>SOP Nominations:</label>
          <table class="input">
            <thead>
              <tr>
                <!--                  <td><h:outputText value="SOP Nomination No" /></td>-->
                <th><h:outputText value="Lab Work" /></th>
                <th><h:outputText value="Sub Lab Work" /></th>
                <th><h:outputText value="SOP" /></th>
              </tr>
            </thead>
            <a4j:repeat
              id="npmSopNominations"
              value="#{jobBatch.npmBatch.npmSopNominationList}"
              var="npmSopNomination">
              <tbody>
                <tr>
                  <!--                    <td><h:outputText-->
                  <!--                      value="#{npmSopNomination.sopNominationNo}" /></td>-->
                  <td><h:outputText
                    value="#{npmSopNomination.labWork}" /></td>
                  <td><h:outputText
                    value="#{npmSopNomination.subLabWork}" /></td>
                  <td><sf:commandLink
                    id="selectProcedureView"
                    value="#{npmSopNomination.npmSop.sopId}"
                    action="selectProcedureView"
                    immediate="true"
                    styleClass="popup">
                    <f:param
                      name="procedureNo"
                      value="#{npmSopNomination.npmSop.sopNo}" />
                  </sf:commandLink></td>
                </tr>
              </tbody>
            </a4j:repeat>
          </table>
        </ga:div>
        </ui:fragment>
        <ui:include src="editJobBatchPreparation-panel.xhtml" />
        <ui:include src="editJobBatchMethods-panel.xhtml" />
        <ui:include src="editJobBatchSamples-panel.xhtml" />
      </ga:div>
    </ga:div>
  </ui:fragment>
</ui:composition>