<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <ui:fragment id="preparationProcedureDetailsFragment">
    <ga:div class="panel">
      <br></br>
      <ga:div class="form_input">
        <label>Preparation Procedures:</label>
        <table class="input grid noValidation selectable noAutoRowSelect">
          <thead>
            <tr>
              <th><h:selectBooleanCheckbox
                styleClass="selectAll {withClass:'preparationRowSelector'}"
                title="Check/Uncheck All" /></th>
              <th class="col_10"><h:outputText value="Activity" /></th>
              <th class="col_20"><h:outputText value="Effect or Type" />
              </th>
              <th class="col_70"><h:outputText value="Laboratory" />
              </th>
            </tr>
          </thead>
          <tbody>
            <a4j:repeat
              id="preparationProcedures"
              value="#{jobBatch.uiJobBatchPreparationList}"
              var="jobBatchPreparation">
              <tr>
                <td class="selector"><h:selectBooleanCheckbox
                  value="#{jobBatchPreparation.selected}"
                  styleClass="preparationRowSelector">
                  <a4j:support
                    event="onchange"
                    reRender="laboratoryName" />
                </h:selectBooleanCheckbox></td>
                <td><h:outputText
                  value="#{jobBatchPreparation.procedure.activity}" /></td>
                <td class="nowrap"><h:outputText
                  value="#{jobBatchPreparation.procedure.effect}" /></td>
                <td class="dropdown"><ga:dropDownList
                  id="laboratoryName"
                  label=""
                  beanValue="#{jobBatchPreparation.laboratory}"
                  list="#{laboratories}"
                  disabled="#{jobBatchPreparation.selected eq false}" /></td>
              </tr>
            </a4j:repeat>
          </tbody>
        </table>
      </ga:div>
    </ga:div>
  </ui:fragment>
</ui:composition>