<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:c="http://java.sun.com/jstl/core">
  <c:if test="#{empty flowScope.parentMenu}">
    <c:if test="#{empty job.versionNo}">
      <ui:include src="../jobs-menu.xhtml">
        <ui:param
          name="class"
          value="" />
      </ui:include>
      <li class="#{class}"><h:commandLink
        id="editJob"
        immediate="true"
        value="Register Job"
        action="editJob" /></li>
    </c:if>
    <c:if test="#{not empty job.versionNo}">
      <ui:include src="../viewJob/viewJob-menu.xhtml">
        <ui:param
          name="class"
          value="" />
      </ui:include>
      <li class="#{class}"><h:commandLink
        id="editJob"
        immediate="true"
        value="Edit"
        action="editJob" /></li>
    </c:if>
  </c:if>
  <c:if test="#{not empty flowScope.parentMenu}">
    <ui:include src="#{parentMenu}">
      <ui:param
        name="class"
        value="" />
      <ui:param
        name="parentMenu"
        value="" />
    </ui:include>
    <li class="#{class}"><h:commandLink
      immediate="true"
      id="editJob"
      value="Edit Job #{job.jobNo}"
      action="editJob" /></li>
  </c:if>
</ui:composition>