<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <ui:fragment id="methodDetailsFragment">
    <ga:div class="panel">
      <br></br>
      <ga:div class="form_input">
        <label>Methods:</label>
        <table class="input grid noValidation selectable collapsibleRows">
          <thead>
            <tr>
              <th><h:selectBooleanCheckbox
                  styleClass="selectAll {withClass:'batchMethodRowSelector'}"
                  title="Check/Uncheck All" /></th>
              <th><h:outputText value="Technique" /></th>
              <th><h:outputText value="Method" /></th>
              <th><h:outputText value="Purpose" /></th>
            </tr>
          </thead>
          <tbody>
            <a4j:repeat
              id="methods"
              value="#{jobBatch.uiMethodList}"
              var="method">
              <tr
                class="#{'PRIMARY' eq method.methodGroup ? '{group:\'Primary Methods\'}' : '{group:\'Non Primary Methods\'} hiddenRow'}">
                <td class="selector"><h:selectBooleanCheckbox
                    value="#{method.selected}"
                    styleClass="batchMethodRowSelector" /></td>
                <td><h:outputLink
                    id="methodId"
                    value="#{request.contextPath}/techniques/#{method.technique.techniqueNo}/details.htm"
                    target="other"
                    styleClass="popupLink">#{method.technique.techniqueId}
               </h:outputLink></td>
                <td><h:outputLink
                    id="methodId"
                    value="#{request.contextPath}/methods/#{method.methodNo}/details.htm"
                    target="other"
                    styleClass="popupLink">#{method.methodId}
               </h:outputLink></td>
                <td><h:outputText value="#{method.purpose}" /></td>
              </tr>
            </a4j:repeat>
          </tbody>
        </table>
      </ga:div>
    </ga:div>
  </ui:fragment>
</ui:composition>