<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <a4j:outputPanel id="jobBatchSampleDetailsFragment">
    <br></br>
    <ga:div
      id="jobBatchSamples"
      class="form_input">
      <ui:fragment
        id="jobBatchSampleDirectEntryPanel"
        rendered="#{job.npmJobRequest eq null}">
        <ga:div class="form_input">
          <label for="sampleNo">Sample No(s):</label>
          <span class="group"> <span class="input"> <h:inputText
                id="sampleNo"
                value="#{jobBatch.sampleNumbers}"
                size="50"
                label="Sample No"
                disabled="#{jobBatch.pendingSampleDeletions}">
              </h:inputText>
          </span> <a4j:commandButton
              id="addJobBatchSamples"
              value="Add Sample(s)"
              action="addJobBatchSamples"
              limitToList="true"
              process="sampleNo"
              reRender="jobBatchSampleDetailsFragment, messages"
              oncomplete="gaFramework.showMessages()"
              styleClass="submit"
              disabled="#{jobBatch.pendingSampleDeletions}">
              <f:param
                name="jobBatchId"
                value="#{jobBatch.jobBatchId}" />
            </a4j:commandButton>
          </span>
          <span class="note">Enter comma, space or tab separated
            sample numbers</span>
        </ga:div>
      </ui:fragment>
      <ui:fragment
        id="jobBatchSampleTableFragment"
        rendered="#{jobBatch.jobBatchSampleList.size() gt 0}">
        <div id="fcpos">
          <label>Job Batch Samples:</label>
          <table
            id="jobBatchSampleTable"
            class="input grid noValidation fixedHeader">
            <thead>
              <tr>
                <th><h:outputText value="Sample No" /></th>
                <th><h:outputText value="Sample ID  " /></th>
                <th>Subsample ID</th>
                <ui:fragment
                  id="deleteButtonColumnHead"
                  rendered="#{job.npmJobRequest eq null and jobBatch.resultBatchList.isEmpty()}">
                  <th class="col_10"></th>
                </ui:fragment>
              </tr>
            </thead>
            <tbody>
              <a4j:repeat
                id="batchSamples"
                value="#{jobBatch.jobBatchSampleList}"
                var="jobBatchSample">
                <tr>
                  <td><h:outputText value="#{jobBatchSample.sampleNo}" /></td>
                  <td><h:outputLink
                      id="sampleID"
                      value="#{request.contextPath}/sampleLink/#{jobBatchSample.sampleNo}/details.htm"
                      target="other"
                      styleClass="popupLink">
                          #{jobBatchSample.sample.sampleIdDisplay}
                          </h:outputLink></td>
                  <td><h:inputText
                      id="subsampleIdText"
                      value="#{jobBatchSample.subsampleId}"
                      disabled="#{not jobBatch.resultBatchList.isEmpty()}"
                      maxlength="30" /></td>
                  <ui:fragment
                    id="deleteButtonColumn"
                    rendered="#{job.npmJobRequest eq null and jobBatch.resultBatchList.isEmpty()}">
                    <td><a4j:commandButton
                        id="deleteJobBatchSample"
                        value="Delete"
                        action="deleteJobBatchSample"
                        immediate="true"
                        limitToList="true"
                        reRender="jobBatchSampleDetailsFragment, messages"
                        styleClass="submit"
                        rendered="#{jobBatch.resultBatchList.isEmpty() or jobBatchSample.sampleAnalysisList.isEmpty()}">
                        <f:param
                          name="jobBatchId"
                          value="#{jobBatch.jobBatchId}" />
                        <f:param
                          name="jobBatchSampleNo"
                          value="#{jobBatchSample.sample.sampleNo}" />
                      </a4j:commandButton></td>
                  </ui:fragment>
                </tr>
              </a4j:repeat>
            </tbody>
          </table>
        </div>
      </ui:fragment>
    </ga:div>
  </a4j:outputPanel>
</ui:composition>