<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:ga="http://www.ga.gov.au/jsf"
  template="/WEB-INF/layouts/pageTemplate.xhtml"
  xmlns:fn="http://java.sun.com/jsp/jstl/functions"
  xmlns:c="http://java.sun.com/jstl/core">
  <ui:define name="content">
    <h:form id="jobDetailsForm">
      <ga:workflowLinks
        src="/WEB-INF/flows/geochemistry/jobs/editJob/editJob-menu.xhtml"
        class="selected" />
      <ga:main
        title="#{actionTitle}"
        pageId="J#{fn:toUpperCase(fn:substring(actionTitle, 0, 1))}">
        <ui:include src="editJob-details-panel.xhtml" />
        <ui:fragment id="npmBatchDetailsFragment">
          <ga:div class="panel">
            <br></br>
            <h3>Batch Details</h3>
            <h:outputText
              value="No Batches attached to this Job Request"
              rendered="#{jobBatchList.rowCount eq 0 and job.jobNo ne null}" />
            <ga:div
              class="accordionGroup"
              id="jobBatchAccordionGroup">
              <a4j:repeat
                id="jobBatches"
                value="#{jobBatchList}"
                var="jobBatch"
                rendered="#{jobBatchList.rowCount gt 0}">
                <ui:include src="editJobBatchDetails-panel.xhtml">
                  <ui:param
                    name="class"
                    value="accordionPanel #{jobBatchList.rowCount eq 1 ? 'open' : ''}" />
                </ui:include>
              </a4j:repeat>
            </ga:div>
          </ga:div>
        </ui:fragment>
        <ga:div class="form_buttons">
          <h:commandButton
            id="submit"
            value="Save"
            action="submit" />
          <ga:cancelButton />
        </ga:div>
      </ga:main>
    </h:form>
  </ui:define>
</ui:composition>