<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <div class="form_input">
    <ga:fieldset legend="Methods">
      <ui:fragment
        id="methodsFragment"
        rendered="#{not empty technique.methodList}">
        <label>Methods:</label>
        <table class="input grid noValidation fixedHeader">
          <thead>
            <tr>
              <th><h:outputText value="Method No" /></th>
              <th><h:outputText value="Method Id" /></th>
              <th><h:outputText value="Method Name" /></th>
              <th><h:outputText value="Default" /></th>
              <th><h:outputText value="Status" /></th>
            </tr>
          </thead>
          <a4j:repeat
            id="methods"
            value="#{technique.methodList}"
            var="methodObj">
            <tbody>
              <tr>
                <td><h:outputText value="#{methodObj.methodNo}" /></td>
                <td><h:outputText value="#{methodObj.methodId}" /></td>
                <td><h:outputText value="#{methodObj.methodName}" /></td>
                <td><h:outputText
                    value="#{methodObj.defaultValue ? 'Y' : 'N'}" /></td>
                <td><h:outputText value="#{methodObj.status.label}" /></td>
              </tr>
            </tbody>
          </a4j:repeat>
        </table>
      </ui:fragment>
      <ui:fragment
        id="noMethodsFragment"
        rendered="#{empty technique.methodList}">
        <ga:textOutputField
          label="Methods"
          id="methods"
          beanValue="No associated methods" />
      </ui:fragment>
    </ga:fieldset>
  </div>
</ui:composition>