<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <ui:fragment id="techniqueFragment">
    <ga:fieldset legend="Technique">
      <ga:textOutputField
        label="Technique No"
        id="techniqueNo"
        beanValue="#{technique.techniqueNo}" />
      <ga:textOutputField
        label="Id"
        id="techniqueId"
        beanValue="#{technique.techniqueId}" />
      <ga:textOutputField
        label="Name"
        id="techniqueName"
        beanValue="#{technique.techniqueName}" />
      <ga:textOutputField
        label="Display Order"
        id="displayOrder"
        beanValue="#{technique.displayOrder}" />
      <ga:textOutputField
        label="Description"
        id="description"
        beanValue="#{technique.description}" />
      <ga:textOutputField
        label="Active"
        id="active"
        beanValue="#{technique.active ? 'Y' : 'N'}" />
      <ui:fragment
        id="techniqueAuditDetails"
        rendered="#{showTechniqueAuditDetails eq true}">
        <ga:auditDetails auditLog="#{technique.auditLog}" />
      </ui:fragment>
    </ga:fieldset>
  </ui:fragment>
</ui:composition>