<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <ga:fieldset legend="Techniques">
    <div class="form_input"><label>Techniques:</label>
    <table class="input grid noValidation skipGridInputSpans selectable collapsibleRows">
      <thead>
        <tr>
          <th></th>
          <th><h:outputText value="Id" /></th>
          <th><h:outputText value="Name" /></th>
          <th><h:outputText value="Default" /></th>
          <th><h:outputText value="Active" /></th>
        </tr>
      </thead>
      <tbody>
        <a4j:repeat
          id="techniqueInstruments"
          value="#{techniqueInstrumentList}"
          var="techniqueInstrument">
            <tr
              class="#{instrument.versionNo ne null and techniqueInstrumentList.currentRowSelected == false ? 'hiddenRow' : ''}">
              <td><h:selectBooleanCheckbox
                  id="selectedCheckbox"
                  value="#{techniqueInstrumentList.currentRowSelected}">
                  <a4j:support
                    event="onchange"
                    reRender="defaultTechniqueInstrument, instrumentActiveStatus" />
                </h:selectBooleanCheckbox></td>
              <td><h:outputText
                  value="#{techniqueInstrument.technique.techniqueId}" /></td>
              <td><h:outputText
                  value="#{techniqueInstrument.technique.techniqueName}" /></td>
              <td><ga:radioButton
                  id="defaultTechniqueInstrument"
                  name="selectedTechniqueInstrumentNo"
                  overrideName="true"
                  value="#{radioDataTableBackingBean.radioSelectedIndex}"
                  itemValue="#{techniqueInstrument.technique.techniqueNo}"
                  disabled="#{techniqueInstrumentList.currentRowSelected eq false}" /></td>
              <td><h:selectBooleanCheckbox
                  id="instrumentActiveStatus"
                  value="#{techniqueInstrument.active}"
                  disabled="#{techniqueInstrumentList.currentRowSelected eq false}"
                  readOnly="#{techniqueInstrumentList.currentRowSelected eq false}" />
              </td>
            </tr>
          </a4j:repeat>
      </tbody>
    </table>
    </div>
  </ga:fieldset>

</ui:composition>