<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:c="http://java.sun.com/jstl/core">
  <c:if test="#{empty instrument.versionNo}">
    <ui:include src="../instruments-menu.xhtml">
      <ui:param
        name="class"
        value="" />
    </ui:include>
    <li class="#{class}"><h:commandLink
      id="editInstrument"
      immediate="true"
      value="Create"
      action="editInstrument" /></li>
  </c:if>
  <c:if test="#{not empty instrument.versionNo}">
    <ui:include src="../viewInstrument/viewInstrument-menu.xhtml">
      <ui:param
        name="class"
        value="" />
    </ui:include>
    <li class="#{class}"><h:commandLink
      id="editInstrument"
      immediate="true"
      value="Edit"
      action="editInstrument" /></li>
  </c:if>
</ui:composition>
