<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sec="http://www.springframework.org/security/facelets/tags"
  template="/WEB-INF/layouts/pageTemplate.xhtml">
  <ui:define name="content">
    <h:form id="editInstrumentForm">
      <ga:workflowLinks
        src="/WEB-INF/flows/geochemistry/admin/instruments/editInstrument/editInstrument-menu.xhtml"
        class="selected" />
      <ga:main
        title="#{actionTitle}"
        pageId="IE">
        <ga:fieldset legend="Instrument">
          <ui:fragment
            id="instrumentNoOutputPanel"
            rendered="#{instrument.versionNo ne null}">
            <ga:textField
              label="Instrument No"
              id="instrumentNo"
              spanStyle="numeric"
              maxLength="8"
              beanValue="#{instrument.instrumentNo}"
              disabled="true"
              readOnly="true" />
          </ui:fragment>
          <ga:textField
            label="Id"
            id="instrumentId"
            maxLength="30"
            spanStyle="half"
            required="true"
            beanValue="#{instrument.instrumentId}"
            disabled="#{instrument.versionNo ne null}"
            readOnly="#{instrument.versionNo ne null}" />
          <ga:textField
            label="Type"
            id="type"
            maxLength="60"
            spanStyle="half"
            beanValue="#{instrument.type}" />
          <ga:textField
            label="Make"
            id="make"
            maxLength="100"
            spanStyle="half"
            beanValue="#{instrument.make}" />
          <ga:textField
            label="Model"
            id="model"
            maxLength="100"
            spanStyle="half"
            beanValue="#{instrument.model}" />
          <ga:textField
            label="Serial"
            id="serial"
            maxLength="100"
            spanStyle="half"
            beanValue="#{instrument.serial}" />
          <ga:dropDownList
            label="Laboratory"
            id="laboratory"
            spanStyle="half"
            required="true"
            beanValue="#{instrument.laboratory}"
            list="#{laboratoryList}">
            <f:selectItem itemLabel="" />
          </ga:dropDownList>
          <ga:textField
            label="Location"
            id="location"
            maxLength="60"
            spanStyle="half"
            beanValue="#{instrument.location}" />
          <ga:dateField
            label="Installation Date"
            id="installDate"
            beanValue="#{instrument.installDate}" />
          <ga:outputField
            label="Comments"
            id="comments">
            <h:inputTextarea
              name="commentTextArea"
              id="commentTextArea"
              value="#{instrument.comment}"
              maxlength="250"
              disabled="false"
              readonly="false"
              cols="100"
              rows="3"
              style="width:95%;" />
          </ga:outputField>
        </ga:fieldset>
        <ui:include src="editInstrumentTechniques-panel.xhtml" />
        <ga:div class="form_buttons">
          <sec:ifAnyGranted roles="ROLE_GEOCHEM_DATA_ADMIN_APP">
            <h:commandButton
              id="saveInstrument"
              value="Save"
              action="saveInstrument" />
          </sec:ifAnyGranted>
          <ga:cancelButton />
        </ga:div>
      </ga:main>
    </h:form>
  </ui:define>
</ui:composition>