<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <ui:fragment
    id="knownReferenceResultsFragment"
    rendered="#{referenceMaterial.referenceMaterialNo ne null}">
    <ga:div
      id="knownReferenceResultPanel"
      class="form_input">
      <ga:fieldset legend="Known Reference Results">
        <label>Known Reference Results:</label>
        <table class="input grid noValidation fixedHeader">
          <thead>
            <tr>
              <th><h:outputText value="Known Reference Result No  " /><sf:commandLink
                id="createKnownReferenceResultLink"
                value="Create"
                action="createKnownReferenceResult"
                immediate="false"
                processIds="*"
                styleClass="popup" /></th>
              <th><h:outputText value="Analyte" /></th>
              <th><h:outputText value="Value" /></th>
              <th><h:outputText value="Units" /></th>
              <th><h:outputText value="Confidence Level" /></th>
              <th><h:outputText value="Method Name" /></th>
            </tr>
          </thead>
          <a4j:repeat
            id="knownReferenceResults"
            value="#{referenceMaterial.knownReferenceResultList}"
            var="knownRefResult">
            <tbody>
              <tr>
                <td><sf:commandLink
                  id="select"
                  value="#{knownRefResult.knownReferenceResultNo}"
                  action="createKnownReferenceResult"
                  immediate="false"
                  processIds="*"
                  styleClass="popup">
                  <f:param
                    name="knownRefResultNo"
                    value="#{knownRefResult.knownReferenceResultNo}" />
                </sf:commandLink> <sf:commandLink
                  id="delete"
                  value="  Delete"
                  action="deleteKnownReferenceResult"
                  immediate="true"
                  styleClass="popup">
                  <f:param
                    name="knownRefResultToDelete"
                    value="#{knownRefResult.knownReferenceResultNo}" />
                </sf:commandLink></td>
                <td><h:outputText
                  value="#{knownRefResult.property.htmlPropertyId}"
                  escape="false" /></td>
                <td><h:outputText
                  value="#{knownRefResult.resultValue}" /></td>
                <td><h:outputText
                  value="#{knownRefResult.resultUnits}" /></td>
                <td><h:outputText
                  value="#{knownRefResult.confidenceLevel}" /></td>
                <td><h:outputText
                  value="#{knownRefResult.methodName}" /></td>
              </tr>
            </tbody>
          </a4j:repeat>
        </table>
      </ga:fieldset>
    </ga:div>
  </ui:fragment>
</ui:composition>