<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sec="http://www.springframework.org/security/facelets/tags"
  xmlns:fn="http://java.sun.com/jsp/jstl/functions"
  template="/WEB-INF/layouts/pageTemplate.xhtml">
  <ui:define name="content">
    <h:form id="editReferenceMaterialForm">
      <ga:workflowLinks
        src="/WEB-INF/flows/geochemistry/admin/referenceMaterials/editReferenceMaterial/editReferenceMaterial-menu.xhtml"
        class="selected" />
      <ga:main
        title="#{actionTitle}"
        pageId="RM#{fn:toUpperCase(fn:substring(actionTitle, 0, 1))}">
        <ga:fieldset legend="Reference Material">
          <ui:fragment
            id="referenceMaterialNoOutputPanel"
            rendered="#{referenceMaterial.referenceMaterialNo ne null}">
            <ga:textField
              label="Reference Material No"
              id="referenceMaterialNo"
              spanStyle="numeric"
              maxLength="8"
              beanValue="#{referenceMaterial.referenceMaterialNo}"
              disabled="true"
              readOnly="true" />
          </ui:fragment>
          <ga:textField
            label="Id"
            id="referenceMaterialId"
            maxLength="30"
            spanStyle="half"
            required="true"
            beanValue="#{referenceMaterial.referenceMaterialId}"
            disabled="#{referenceMaterial.versionNo ne null}"
            readOnly="#{referenceMaterial.versionNo ne null}" />
          <ga:textField
            label="Name"
            id="referenceMaterialName"
            maxLength="100"
            spanStyle="half"
            required="true"
            beanValue="#{referenceMaterial.name}" />
          <ga:outputField
            label="Description"
            id="description">
            <h:inputTextarea
              name="description"
              id="description"
              value="#{referenceMaterial.description}"
              maxlength="1000"
              disabled="false"
              readonly="false"
              cols="100"
              rows="3"
              style="width:95%;" />
          </ga:outputField>

          <ga:fieldset legend="Sample">
            <a4j:outputPanel id="sampleNoOutputPanel">
              <ga:div class="form_input">
                <label for="sampleNo">Sample No:</label>
                <span class="group"><span class="input integer">
                    <h:inputText
                      id="sampleNo"
                      value="#{referenceMaterial.sampleNo}"
                      maxlength="8"
                      label="Sample No">
                      <a4j:support
                        action="sampleNoChanged"
                        event="onchange"
                        limitToList="true"
                        process="sampleNo"
                        reRender="sampleNoOutputPanel, editReferenceMaterialForm:messages">
                      </a4j:support>
                    </h:inputText>
                </span> <h:outputLink
                    id="sampleID"
                    value="#{request.contextPath}/sampleLink/#{referenceMaterial.sample.sampleNo}/details.htm"
                    target="other"
                    styleClass="popupLink">
                          #{referenceMaterial.sample.sampleIdDisplay}
                          </h:outputLink> </span>
              </ga:div>
            </a4j:outputPanel>
          </ga:fieldset>
          <ui:include src="editKnownReferenceResults-panel.xhtml" />
        </ga:fieldset>
        <ga:div class="form_buttons">
          <sec:ifAnyGranted roles="ROLE_GEOCHEM_DATA_ADMIN_APP">
            <h:commandButton
              id="saveReferenceMaterial"
              value="Save"
              action="saveReferenceMaterial" />
          </sec:ifAnyGranted>
          <ga:cancelButton />
        </ga:div>
      </ga:main>
    </h:form>
  </ui:define>
</ui:composition>