<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:app="http://www.ga.gov.au/geochem-jsf"
  xmlns:rich="http://richfaces.org/rich">
<head>
<title>Configurable Text field Facelets Component</title>
</head>
<body>

<ui:composition>
  <td
    class="nowrap {group:'Known Reference Values'} #{resultBatch.resultTableObject.propertyList.size() gt 4 ? 'hiddenColumn highlightColumn' : ''}"><h:outputText
    id="resultValue"
    value="#{value}" /> <h:outputText
    id="resultUnits"
    rendered="#{ not empty value and not empty units}"
    value=" (#{units})" /> <h:outputText
    id="confidence"
    rendered="#{ not empty value and not empty confidenceLevel}"
    value=" (#{confidenceLevel})" /></td>
</ui:composition>
</body>
</html>