<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:sf="http://www.springframework.org/tags/faces">
<head>
<title>Custom Facelets Component</title>
</head>
<body>

<ui:composition>
  <h:outputText value=" (+)" />
  <rich:toolTip
    id="resultBatchTooltip"
    for="#{for}"
    rendered="true">
    <table class="grid" border="0">
      <tr class="hover">
        <td class="nowrap">Result Batch</td>
        <td class="nowrap"><h:outputText
          value="#{sampleAnalysis.resultBatch.resultBatchNo}" /></td>
      </tr>
      <tr class="hover">
        <td class="nowrap">Session Date</td>
        <td class="nowrap"><h:outputText
          value="#{sampleAnalysis.resultBatch.sessionDateTime}">
          <f:convertDateTime
            pattern="dd-MM-yyyy HH:mm"
            timeZone="#{systemContext.timeZone}" />
        </h:outputText></td>
      </tr>
      <tr class="hover">
        <td class="nowrap">Technique</td>
        <td class="nowrap"><h:outputText
          value="#{sampleAnalysis.resultBatch.method.technique.techniqueName}" /></td>
      </tr>
      <tr class="hover">
        <td class="nowrap">Method</td>
        <td class="nowrap"><h:outputText
          value="#{sampleAnalysis.resultBatch.method.methodName}" /></td>
      </tr>
      <tr class="hover">
        <td class="nowrap">Preferred Result</td>
        <td class="nowrap"><h:outputText
          value="#{sampleAnalysis.preferredValue eq true ? 'Y' : 'N'}" /></td>
      </tr>
      <tr class="hover">
        <td class="nowrap">Laboratory</td>
        <td class="nowrap"><h:outputText
          value="#{sampleAnalysis.resultBatch.laboratory.laboratoryName}" /></td>
      </tr>
      <tr class="hover">
        <td class="nowrap">Instrument</td>
        <td class="nowrap"><h:outputText
          value="#{sampleAnalysis.resultBatch.instrument.name}" /></td>
      </tr>
      <tr class="hover">
        <td class="nowrap">Job Batches</td>
        <td class="nowrap"><h:outputText
          value="#{sampleAnalysis.resultBatch.includedJobBatches}" /></td>
      </tr>
    </table>
  </rich:toolTip>
</ui:composition>

</body>
</html>