<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <ga:div
    class="structure footer"
    id="footer">
    <ga:div class="footer-pad">

      <ul class="inline">
        <li class="sitemap first"><a
          href="mailto:minerals@ga.gov.au?subject=feedback">Feedback</a></li>
        <li class="security"><a
          href="http://www.ga.gov.au/privacy.jsp">Security &amp;
            Privacy</a></li>
        <li class="commons"><a
          href="http://creativecommons.org/licenses/by/3.0/au/"><img
            src="http://www.ga.gov.au/image_cache/GA16773.jpg"
            style="width: 85px; height: 16px;"
            alt="Copyright logo" /> </a></li>
        <li class="copyright last"><a
          href="http://www.ga.gov.au/copyright.jsp">&copy; Commonwealth
            of Australia, #{systemContext.currentYear}</a></li>
      </ul>
      <p>
        Unless otherwise noted, all Geoscience Australia material on this
        website is licensed under the <a
          href="http://creativecommons.org/licenses/by/3.0/au/">Creative
          Commons Attribution 3.0 Australia Licence</a>.
      </p>

    </ga:div>
  </ga:div>
</ui:composition>
