<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:sf="http://www.springframework.org/tags/faces">

  <ga:div class="form_input">
    <label id="sampleNo">GA Sample No:</label>
    <ga:span class="group">
      <ga:span class="input integer">
        <h:inputText
          id="sampleNo"
          value="#{searchCriteria.locatedSample.sampleNo}"
          label="Sample No"
          maxlength="10" />
      </ga:span>
      <h:outputText
        styleClass="display nowrap"
        style="width: 40px;"
        escape="false"
        value="# or ID:" />
      <ga:span class="input">
        <h:inputText
          value="#{searchCriteria.locatedSample.sampleId}"
          maxlength="30" />
      </ga:span>
      <ga:span
        class="display"
        style="width: 30px;"></ga:span>
    </ga:span>
  </ga:div>

  <ga:div class="form_input">
    <label id="originatorName"># Originator:</label>
    <ga:span class="input half">
      <rich:autocomplete
        value="#{searchCriteria.locatedSample.originatorName}"
        mode="ajax"
        enableManualInput="true"
        showButton="true"
        minChars="1"
        autofill="false"
        selectFirst="false"
        clientFilterFunction="gaFramework.autoCompleteFilter"
        autocompleteMethod="#{sampleSearchService.getOriginatorsBySuggestion}"
        fetchValue="#{originatorName}"
        var="originatorName"
        layout="list">
        <h:outputText
          id="originatorName"
          value="#{originatorName}" />
      </rich:autocomplete>
    </ga:span>
  </ga:div>

  <ga:div class="form_input">
    <label id="lithGroupName"># Lithology Group:</label>
    <ga:span class="group">
      <ga:span class="input half">
        <rich:autocomplete
          value="#{searchCriteria.locatedSample.lithGroupName}"
          mode="client"
          enableManualInput="true"
          showButton="true"
          minChars="1"
          autofill="false"
          selectFirst="false"
          clientFilterFunction="gaFramework.autoCompleteFilter"
          autocompleteMethod="#{sampleSearchService.getLithologyGroupsBySuggestion}"
          fetchValue="#{lithGroupName}"
          var="lithGroupName"
          layout="list">
          <h:outputText
            id="lithGroupName"
            value="#{lithGroupName}" />
        </rich:autocomplete>
      </ga:span>
      <ga:span
        class="display"
        style="width: 40px;">&nbsp;</ga:span>
      <ga:span class="input check_box">
        <h:selectBooleanCheckbox
          value="#{searchCriteria.locatedSample.lithologySearchType}" />
      </ga:span>
      <label for="lithologySearchType">Include Children</label>
    </ga:span>
  </ga:div>


  <ga:div class="form_input">
    <label id="stratName"># Stratigraphic Name:</label>
    <ga:span class="group">
      <ga:span class="input half">
        <rich:autocomplete
          value="#{searchCriteria.locatedSample.stratName}"
          mode="ajax"
          enableManualInput="true"
          showButton="true"
          minChars="1"
          autofill="false"
          selectFirst="false"
          clientFilterFunction="gaFramework.autoCompleteFilter"
          autocompleteMethod="#{sampleSearchService.getStratNamesBySuggestion}"
          fetchValue="#{stratName}"
          var="stratName"
          layout="list">
          <h:outputText
            id="stratName"
            value="#{stratName}" />
        </rich:autocomplete>
      </ga:span>
      <ga:span
        class="display"
        style="width: 40px;">&nbsp;</ga:span>
      <ga:span class="input check_box">
        <h:selectBooleanCheckbox
          value="#{searchCriteria.locatedSample.stratNameSearchType}" />
      </ga:span>
      <label for="stratNameSearchType">Include Children</label>
    </ga:span>
  </ga:div>

  <ga:div class="form_input">
    <label id="geologicalRegionName"># Geological Region:</label>
    <ga:span class="input half">
      <rich:autocomplete
        value="#{searchCriteria.locatedSample.geologicalRegionName}"
        mode="client"
        enableManualInput="true"
        showButton="true"
        minChars="1"
        autofill="false"
        selectFirst="false"
        clientFilterFunction="gaFramework.autoCompleteFilter"
        autocompleteMethod="#{sampleSearchService.getGeologicalRegionsBySuggestion}"
        fetchValue="#{geologicalRegionName}"
        var="geologicalRegionName"
        layout="list">
        <h:outputText
          id="geologicalRegionName"
          value="#{geologicalRegionName}" />
      </rich:autocomplete>
    </ga:span>
  </ga:div>

  <ga:div class="form_input">
    <label id="provName"># Province:</label>
    <ga:span class="group">
      <ga:span class="input half">
        <rich:autocomplete
          value="#{searchCriteria.locatedSample.provName}"
          mode="ajax"
          enableManualInput="true"
          showButton="true"
          minChars="1"
          autofill="false"
          selectFirst="false"
          clientFilterFunction="gaFramework.autoCompleteFilter"
          autocompleteMethod="#{sampleSearchService.getProvincesBySuggestion}"
          fetchValue="#{provName}"
          var="provName"
          layout="list">
          <h:outputText
            id="provName"
            value="#{provName}" />
        </rich:autocomplete>
      </ga:span>
      <ga:span
        class="display"
        style="width: 40px;">&nbsp;</ga:span>
      <ga:span class="input check_box">
        <h:selectBooleanCheckbox
          value="#{searchCriteria.locatedSample.provinceSearchType}" />
      </ga:span>
      <label for="provinceSearchType">Include Children</label>
    </ga:span>
  </ga:div>
</ui:composition>