<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:sf="http://www.springframework.org/tags/faces">

    <ga:div class="form_input">
      <label id="stateId">State:</label>
      <ga:span class="input half">
        <rich:autocomplete
          value="#{searchCriteria.locatedSample.stateId}"
          mode="client"
          enableManualInput="false"
          showButton="true"
          minChars="1"
          autofill="false"
          selectFirst="false"
          clientFilterFunction="gaFramework.autoCompleteFilter"
          autocompleteMethod="#{referenceDataService.getStatesBySuggestion}"
          fetchValue="#{stateId}"
          var="stateId"
          layout="list">
          <h:outputText
            id="stateId"
            value="#{stateId}" />
        </rich:autocomplete>
      </ga:span>
    </ga:div>

    <ga:div class="form_input">
      <label id="hmaps">1:1M map sheet:</label>
      <ga:span class="input half">
        <rich:autocomplete
          value="#{searchCriteria.locatedSample.mmapName}"
          mode="client"
          enableManualInput="true"
          showButton="true"
          minChars="1"
          autofill="true"
          selectFirst="false"
          clientFilterFunction="gaFramework.autoCompleteFilter"
          autocompleteMethod="#{sampleSearchService.getMmapsBySuggestion}"
          fetchValue="#{mmapName}"
          var="mmapName"
          layout="list">
          <h:outputText
            id="mmapName"
            value="#{mmapName}" />
        </rich:autocomplete>
      </ga:span>
    </ga:div>

    <ga:div class="form_input">
      <label id="hmaps">1:250K map sheet:</label>
      <ga:span class="input half select">
        <rich:autocomplete
          value="#{searchCriteria.locatedSample.qmapName}"
          mode="ajax"
          enableManualInput="true"
          showButton="false"
          minChars="1"
          autofill="false"
          selectFirst="false"
          clientFilterFunction="gaFramework.autoCompleteFilter"
          autocompleteMethod="#{sampleSearchService.getQmapsBySuggestion}"
          fetchValue="#{qmapName}"
          var="qmapName"
          layout="list"
          styleClass="xyzhalf">
          <h:outputText
            id="qmapName"
            value="#{qmapName}" />
        </rich:autocomplete>
      </ga:span>
    </ga:div>

    <ga:div class="form_input">
      <label id="hmaps">1:100K map sheet:</label>
      <ga:span class="input half select">
        <rich:autocomplete
          value="#{searchCriteria.locatedSample.hmapName}"
          mode="ajax"
          enableManualInput="true"
          showButton="#{hmapName.size() eq 0 ? false : true}"
          minChars="1"
          autofill="false"
          selectFirst="false"
          clientFilterFunction="gaFramework.autoCompleteFilter"
          autocompleteMethod="#{sampleSearchService.getHmapsBySuggestion}"
          fetchValue="#{hmapName}"
          var="hmapName"
          layout="list">
          <h:outputText
            id="hmapName"
            value="#{hmapName}" />
        </rich:autocomplete>
      </ga:span>
    </ga:div>


    <ga:div class="form_input">
      <label id="bounds">Bounds:</label>
      <ga:span class="group">
        <table
          border="0"
          id="boundingBoxExtents">
          <tr>
            <td>&nbsp;</td>
            <td><h:inputText
              id="latN"
              class="latN"
              value="#{searchCriteria.locatedSample.latN}"
              maxlength="8"
              size="8" /></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><h:inputText
              id="lonW"
              class="lonW"
              value="#{searchCriteria.locatedSample.lonW}"
              maxlength="8"
              size="8" /></td>
            <td style="padding-left: 15px;"><input
              type="button"
              value="Clear Bounds"
              onclick="jQuery('#boundingBoxExtents input:text').val('');gaMap.boundingboxControl.clearBoundaries();" />
            </td>
            <td><h:inputText
              id="lonE"
              class="lonE"
              value="#{searchCriteria.locatedSample.lonE}"
              maxlength="8"
              size="8" /></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td><h:inputText
              id="latS"
              class="latS"
              value="#{searchCriteria.locatedSample.latS}"
              maxlength="8"
              size="8" /></td>
            <td>&nbsp;</td>
          </tr>
        </table>
      </ga:span>
    </ga:div>

</ui:composition>

