<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:sec="http://www.springframework.org/security/facelets/tags"
  xmlns:fn="http://java.sun.com/jsp/jstl/functions"
  template="/WEB-INF/layouts/pageTemplate.xhtml">

  <ui:define name="content">
    <h:form id="bulkActionForm">
      <ga:workflowLinks
        src="/WEB-INF/flows/geochemistry/jobs/bulkAction/bulkAction-menu.xhtml"
        class="selected" />
      <ga:main
        title="Bulk Actions"
        pageId="BJA">
        <ui:fragment id="warningMessage">
          <h:outputText
            id="bulkActionNotification"
            value="The Bulk Job Action facility applies actions like finalise to many jobs and is primarily for legacy data. If possible (and especially if you have just a single job) you should invoke these actions from the View-Job page" />
          <br />
          <br />
        </ui:fragment>


        <h3>Jobs</h3>

        <ga:textField
          id="fromJobNumber"
          label="Job No, from"
          beanValue="#{bulkJobActionBean.request.fromJobNo}"
          maxLength="8"
          spanStyle="integer" />
        <ga:textField
          id="toJobNumber"
          label="Job No, to"
          beanValue="#{bulkJobActionBean.request.toJobNo}"
          maxLength="8"
          spanStyle="integer" />

        <ga:div
          id="allEligibleJobsP"
          class="form_input">
          <label for="default">All Eligible Jobs:</label>
          <span class="group"> <ga:span class="input check_box">
              <h:selectBooleanCheckbox
                value="#{bulkJobActionBean.request.allEligibleJobs}" />
            </ga:span>
          </span>
        </ga:div>
        <h3>Actions</h3>

        <ga:div
          id="actionCompleteLabAnalysesP"
          class="form_input">
          <label for="default">Complete Lab Analysis:</label>
          <span class="group"> <ga:span class="input check_box">
              <h:selectBooleanCheckbox
                value="#{bulkJobActionBean.request.actionCompleteLabAnalyses}" />
            </ga:span>
          </span>
        </ga:div>
        <ga:div
          id="actionCompleteLabQAP"
          class="form_input">
          <label for="default">Complete Lab QA:</label>
          <span class="group"> <ga:span class="input check_box">
              <h:selectBooleanCheckbox
                value="#{bulkJobActionBean.request.actionCompleteLabQA}" />
            </ga:span>
          </span>
        </ga:div>
        <ga:div
          id="actionCompleteClientApprovalP"
          class="form_input">
          <label for="default">Complete Client Approval:</label>
          <span class="group"> <ga:span class="input check_box">
              <h:selectBooleanCheckbox
                value="#{bulkJobActionBean.request.actionCompleteClientApproval}" />
            </ga:span>
          </span>
        </ga:div>
        <ga:div
          id="actionFinaliseP"
          class="form_input">
          <label for="default">Finalise Jobs:</label>
          <span class="group"> <ga:span class="input check_box">
              <h:selectBooleanCheckbox
                value="#{bulkJobActionBean.request.actionFinalise}" />
            </ga:span>
          </span>
        </ga:div>

        <br />
        <ga:dateTimeField
          id="actionDateTimeP"
          label="Date and Time for Action"
          beanValue="#{bulkJobActionBean.request.actionDateTime}"
          required="false"
          note="leave empty to use current date and time" />
        <br />
        <ga:div
          id="onErrorPanel"
          class="form_input">
          <label for="default">Stop after first error detected:</label>
          <span class="group"> <ga:span class="input check_box">
              <h:selectBooleanCheckbox
                value="#{bulkJobActionBean.request.stopOnFirstError}" />
            </ga:span>
          </span>
        </ga:div>
        <ga:textField
          label="Stop after elapsed time(seconds)"
          id="maxProcessingTime"
          spanStyle="numeric"
          maxLength="8"
          beanValue="#{bulkJobActionBean.request.maxProcessingTime}" />

        <ga:div class="form_buttons">
          <h:commandButton
            id="validate"
            value="Validate"
            class="immediate"
            action="validate" />
          <h:commandButton
            id="submit"
            value="Submit"
            class="immediate"
            action="submit" />
          <h:outputText
            id="bulkActionNotification2"
            value="This may take a while... please be patient" />
        </ga:div>
        <hr />
        <a4j:outputPanel id="results">
          <ui:fragment rendered="#{not empty jobList.rowCount}">
            <h3>Processing Results</h3>
            <h:outputText
              id="rowCount"
              value="#{jobList.rowCount eq 0 ? 'No' :jobList.rowCount} #{jobList.rowCount eq 1 ? 'jobs' : 'jobs'} processed"
              style="display: block; padding-bottom: 5px;" />
            <rich:dataTable
              id="resultTable"
              value="#{jobList}"
              var="resultJob"
              rows="#{jobSearchCriteria.resultsPerPage}"
              styleClass="links grid noValidation"
              headerClass="compact"
              columnClasses="col_5 nowrap compact"
              rendered="#{jobList.rowCount gt 0}">
              <rich:column sortBy="#{resultJob.jobNo}">
                <f:facet name="header">
                  <h:outputText value="#{resultJob.jobNo}" />
                </f:facet>
                <h:outputText value="Job No" />
                <!--                 <sf:commandLink -->
                <!--                   id="jobIdLink" -->
                <!--                   value="#{resultJob.jobNo}" -->
                <!--                   immediate="true" -->
                <!--                   action="viewJob-popup"> -->
                <!--                   <f:param -->
                <!--                     name="jobId" -->
                <!--                     value="#{resultJob.jobNo}" /> -->
                <!--                 </sf:commandLink> -->
              </rich:column>
              <rich:column sortBy="#{resultJob.laboratoryJobReferenceId}">
                <f:facet name="header">
                  <h:outputText value="Lab Reference" />
                </f:facet>
                <h:outputText value="#{resultJob.laboratoryJobReferenceId}" />
              </rich:column>
              <rich:column sortBy="#{resultJob.status.label}">
                <f:facet name="header">
                  <h:outputText value="Completion Status" />
                </f:facet>
                <h:outputText value="#{resultJob.status.label}" />
              </rich:column>
              <rich:column sortBy="#{resultJob.enteredBy}">
                <f:facet name="header">
                  <h:outputText value="Entered By" />
                </f:facet>
                <h:outputText value="#{resultJob.enteredBy}" />
                <ga:userTooltip userId="#{resultJob.enteredBy}" />
              </rich:column>
              <rich:column sortBy="#{resultJob.entryDate}">
                <f:facet name="header">
                  <h:outputText value="Entry Date" />
                </f:facet>
                <h:outputText value="#{resultJob.entryDate}">
                  <f:convertDateTime
                    pattern="dd-MM-yyyy HH:mm"
                    timeZone="#{systemContext.timeZone}" />
                </h:outputText>
              </rich:column>
              <rich:column sortBy="#{resultJob.updatedBy}">
                <f:facet name="header">
                  <h:outputText value="Updated By" />
                </f:facet>
                <h:outputText value="#{resultJob.updatedBy}" />
                <ga:userTooltip userId="#{resultJob.updatedBy}" />
              </rich:column>
            </rich:dataTable>
          </ui:fragment>
        </a4j:outputPanel>
      </ga:main>
    </h:form>
  </ui:define>
</ui:composition>
