<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <div class="form_input">
    <ga:fieldset legend="Instruments">
      <ui:fragment
        id="instrumentsFragment"
        rendered="#{not empty instrumentList}">
        <label>Instruments:</label>
        <table class="input grid noValidation">
          <thead>
            <tr>
              <th><h:outputText value="Instrument No" /></th>
              <th><h:outputText value="Instrument Id" /></th>
              <th><h:outputText value="Type" /></th>
              <th><h:outputText value="Make" /></th>
              <th><h:outputText value="Model" /></th>
              <th><h:outputText value="Serial No" /></th>
            </tr>
          </thead>
          <a4j:repeat
            id="instruments"
            value="#{instrumentList}"
            var="instrument">
            <tbody>
              <tr>
                <td><h:outputText value="#{instrument.instrumentNo}" /></td>
                <td><h:outputText value="#{instrument.instrumentId}" /></td>
                <td><h:outputText value="#{instrument.type}" /></td>
                <td><h:outputText value="#{instrument.make}" /></td>
                <td><h:outputText value="#{instrument.model}" /></td>
                <td><h:outputText value="#{instrument.serial}" /></td>
              </tr>
            </tbody>
          </a4j:repeat>
        </table>
      </ui:fragment>
      <ui:fragment
        id="noInstrumentsFragment"
        rendered="#{empty instrumentList}">
        <ga:textOutputField
          label="Instruments"
          beanValue="No associated instruments" />
      </ui:fragment>
    </ga:fieldset>
  </div>
</ui:composition>