<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:c="http://java.sun.com/jstl/core">
  <ui:include src="../laboratories-menu.xhtml">
    <ui:param
      name="class"
      value="" />
  </ui:include>
  <li class="#{class}"><h:commandLink
    immediate="true"
    id="viewLaboratory"
    value="Laboratory #{laboratory.laboratoryNo}"
    action="viewLaboratory" /></li>
</ui:composition>