<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <ui:fragment id="laboratoryFragment">
    <ga:fieldset legend="Laboratory">
      <ga:textOutputField
        label="Laboratory No"
        id="laboratoryNo"
        beanValue="#{laboratory.laboratoryNo}" />
      <ga:textOutputField
        label="Id"
        id="laboratoryId"
        beanValue="#{laboratory.laboratoryId}" />
      <ga:textOutputField
        label="Name"
        id="laboratoryName"
        beanValue="#{laboratory.laboratoryName}" />
      <ga:textOutputField
        label="Performs Analysis Activities"
        id="performsAnalysisActivities"
        beanValue="#{laboratory.analysisLaboratory ? 'Y' : 'N'}" />
      <ga:textOutputField
        label="Default Analysis Lab"
        id="defaultAnalysisLab"
        beanValue="#{laboratory.analysisDefaultValue ? 'Y' : 'N'}" />
      <ga:textOutputField
        label="Analysis Status"
        id="analysisStatus"
        beanValue="#{laboratory.analysisStatus}" />
      <ga:textOutputField
        label="Performs Sample Preparation"
        id="performsSamplePreparation"
        beanValue="#{laboratory.preparationType ? 'Y' : 'N'}" />
      <ga:textOutputField
        label="Default Preparation Lab"
        id="defaultPreparationLab"
        beanValue="#{laboratory.preparationDefaultValue ? 'Y' : 'N'}" />
      <ga:textOutputField
        label="Preparation Status"
        id="preparationStatus"
        beanValue="#{laboratory.preparationStatus}" />
      <ga:textOutputField
        label="Location"
        id="location"
        beanValue="#{laboratory.location}" />
      <ga:textOutputField
        label="Address"
        id="address"
        beanValue="#{laboratory.address}" />
      <ga:outputField
        label="Description"
        id="description">
        <h:inputTextarea
          name="description"
          id="description"
          value="#{laboratory.description}"
          disabled="true"
          readonly="true"
          cols="100"
          rows="3"
          style="width:95%;" />
      </ga:outputField>
      <ga:auditDetails auditLog="#{laboratory.auditLog}" />
      <ui:include src="viewLaboratoryTechniques-panel.xhtml" />
      <ui:include src="viewInstruments-panel.xhtml" />
    </ga:fieldset>
  </ui:fragment>
</ui:composition>