<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <ui:fragment id="npmJobRequestDetailsFragment">
    <ga:div class="panel">
      <ui:fragment rendered="#{job.jobNo ne null}">
        <ga:textOutputField
          id="jobNo"
          label="Job No"
          beanValue="#{job.npmJobRequest.jobNo}" />
      </ui:fragment>
      <ga:textOutputField
        id="labManagerApproval"
        label="Lab Manager Approval"
        beanValue="#{job.npmJobRequest.labManagerApproval eq 'Y' ? 'Yes' : 'No'}" />

      <ga:dateOutputField
        id="requestedDate"
        label="Requested Date"
        beanValue="#{job.npmJobRequest.requestedDate}" />

      <ga:textOutputField
        id="purpose"
        label="Purpose"
        beanValue="#{job.npmJobRequest.purpose}" />

      <ga:textOutputField
        id="clientRemarks"
        label="Client Remarks"
        beanValue="#{job.npmJobRequest.clientRemarks}" />

      <ga:textOutputField
        id="labRemarks"
        label="Lab Remarks"
        beanValue="#{job.npmJobRequest.labRemarks}" />

    </ga:div>
  </ui:fragment>
</ui:composition>