<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:rich="http://richfaces.org/rich"
  template="/WEB-INF/layouts/popupTemplate.xhtml"
  xmlns:ga="http://www.ga.gov.au/jsf">
  <ui:define name="content">
    <ui:fragment id="jobDetails">
      <div id="pageId">[JD]</div>
      <h2>Job Details</h2>
      <ui:include src="viewJobDetails-panel.xhtml" />
      <ui:fragment id="batchDetailsFragment">
        <ga:div class="panel">
          <br></br>
          <h3>Batch Details</h3>
          <h:outputText
            value="No Batches attached to this Job Request"
            rendered="#{jobBatchList.rowCount eq 0}" />
          <ga:div
            class="accordionGroup form_input"
            id="jobBatchAccordionGroup">
            <a4j:repeat
              id="jobBatches"
              value="#{jobBatchList}"
              var="jobBatch"
              rendered="#{jobBatchList.rowCount gt 0}">
              <ui:include src="viewJobBatchDetails-panel.xhtml">
                <ui:param
                  name="class"
                  value="accordionPanel #{jobBatchList.rowCount eq 1 ? 'open' : ''}" />
              </ui:include>
            </a4j:repeat>
          </ga:div>
        </ga:div>
      </ui:fragment>
      <ui:include src="viewJobCompletion-panel.xhtml" />
    </ui:fragment>
  </ui:define>
</ui:composition>