<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <ui:fragment id="jobBatchSummaryFragment">
    <ga:fieldset legend="Job Batch #{jobBatch.jobBatchId}">
      <ga:div class="form_input">
        <ui:fragment
          id="npmBatchDetails"
          rendered="#{jobBatch.job.npmJobRequest ne null}">
          <table class="input grid noValidation">
            <thead>
              <tr>
                <th class="col_20"><h:outputText value="Batch ID" /></th>
                <th class="col_15"><h:outputText
                  value="Scheduled Start" /></th>
                <th class="col_15"><h:outputText
                  value="Scheduled Completion" /></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><h:outputText value="#{jobBatch.npmBatch.batchId}" /></td>
                <td><h:outputText
                  value="#{jobBatch.npmBatch.scheduledStart}">
                  <f:convertDateTime
                    pattern="dd-MM-yyyy hh:mm a"
                    timeZone="#{systemContext.timeZone}" />
                </h:outputText></td>
                <td><h:outputText
                  value="#{jobBatch.npmBatch.scheduledCompletion}">
                  <f:convertDateTime
                    pattern="dd-MM-yyyy hh:mm a"
                    timeZone="#{systemContext.timeZone}" />
                </h:outputText></td>
              </tr>
            </tbody>
          </table>
        </ui:fragment>
      </ga:div>
      <ui:include src="viewJobBatchMethods-panel.xhtml" />
    </ga:fieldset>
  </ui:fragment>
</ui:composition>