<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:sec="http://www.springframework.org/security/facelets/tags"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <ui:fragment id="methodDetailsFragment">
    <ga:div class="form_input">
      <label>Result Batches:</label>
      <ga:span class="display">
        <ui:fragment
          rendered="#{jobBatch.hasResultBatches() eq false and jobBatch.job.statusFinalised eq true}">
          <h:outputText
            value="No Result Batches loaded"
            styleClass="display" />
        </ui:fragment>
        <ui:fragment
          rendered="#{(showAsPopup eq null or showAsPopup eq true) and jobBatch.hasResultBatches() eq true}">
          <h:commandLink
            id="findResultBatches"
            value="Find"
            action="findResultBatches"
            immediate="true">
            <f:param
              name="jobBatchId"
              value="#{jobBatch.jobBatchId}" />
          </h:commandLink>
        </ui:fragment>
        <ui:fragment
          rendered="#{(showAsPopup eq null or showAsPopup eq true) and jobBatch.job.statusFinalised eq false}">
          <sec:ifAnyGranted roles="ROLE_GEOCHEM_DATA_ENTRY_APP">
            <h:outputText
              value=",#{html.nbsp}"
              escape="false"
              rendered="#{jobBatch.hasResultBatches() eq true}" />
            <h:commandLink
              id="createResultBatch"
              value="Create"
              action="createResultBatch"
              immediate="true">
              <f:param
                name="includedJobBatches"
                value="#{jobBatch.jobBatchId}" />
            </h:commandLink>
          </sec:ifAnyGranted>
        </ui:fragment>
      </ga:span>
      <ui:fragment rendered="#{jobBatch.hasResultBatches()}">
        <table class="input grid noValidation">
          <thead>
            <tr>
              <th class="col_5"><h:outputText value="No" /></th>
              <th class="col_10"><h:outputText value="Technique" /></th>
              <th class="col_15"><h:outputText value="Method" /></th>
              <th class="col_15"><h:outputText value="Session Date" />
              </th>
              <th class="col_15"><h:outputText value="Status" /></th>
            </tr>
          </thead>
          <tbody>
            <a4j:repeat
              id="resultBatches"
              value="#{jobBatch.resultBatchList}"
              var="resultBatch">
              <tr>
                <td><h:outputText value="#{resultBatch.resultBatchNo}" />
                </td>
                <td><h:outputText
                    value="#{resultBatch.method.technique.techniqueId}"
                    rendered="#{showAsPopup eq false}" /> <h:outputLink
                    id="techniqueId"
                    value="#{request.contextPath}/techniques/#{resultBatch.method.technique.techniqueNo}/details.htm"
                    target="other"
                    rendered="#{showAsPopup eq null or showAsPopup eq true}"
                    styleClass="popupLink">#{resultBatch.method.technique.techniqueId}
               </h:outputLink></td>
                <td><h:outputText
                    value="#{resultBatch.method.methodId}"
                    rendered="#{showAsPopup eq false}" /> <h:outputLink
                    id="methodId"
                    value="#{request.contextPath}/methods/#{resultBatch.method.methodNo}/details.htm"
                    target="other"
                    rendered="#{showAsPopup eq null or showAsPopup eq true}"
                    styleClass="popupLink">#{resultBatch.method.methodId}
               </h:outputLink></td>
                <td><h:outputText
                    value="#{resultBatch.sessionDateTime}">
                    <f:convertDateTime
                      pattern="dd-MM-yyyy HH:mm"
                      timeZone="#{systemContext.timeZone}" />
                  </h:outputText></td>
                <td><h:outputText value="#{resultBatch.status.label}" />
                </td>
              </tr>
            </a4j:repeat>
          </tbody>
        </table>
      </ui:fragment>
    </ga:div>
  </ui:fragment>
</ui:composition>