<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <ui:fragment id="preparationProcedureDetailsFragment">
    <ga:div class="form_input">
      <label>Preparation Procedures:</label>
      <table class="input grid noValidation">
        <thead>
          <tr>
            <th class="col_20"><h:outputText value="Activity" /></th>
            <th class="col_20"><h:outputText value="Effect or Type" /></th>
            <th><h:outputText value="Laboratory" /></th>
          </tr>
        </thead>
        <tbody>
          <a4j:repeat
            id="preparationProcedures"
            value="#{jobBatch.jobBatchPreparationList}"
            var="jobBatchPreparation">
            <tr>
              <td><h:outputText
                value="#{jobBatchPreparation.procedure.activity}" /></td>
              <td><h:outputText
                value="#{jobBatchPreparation.procedure.effect}" /></td>
              <td><h:outputText
                value="#{jobBatchPreparation.laboratory.laboratoryName}" /></td>
            </tr>
          </a4j:repeat>
        </tbody>
      </table>
    </ga:div>
  </ui:fragment>
</ui:composition>