<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:sec="http://www.springframework.org/security/facelets/tags"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <ui:fragment id="jobCompletionFragment">
    <ga:div
      id="jobCompletionDetails"
      class="form_input">
      <label>Completion Status:</label>
      <table class="input grid noValidation">
        <thead>
          <tr>
            <th class="col_22"><h:outputText value="Completion Type" /></th>
            <th class="col_22"><h:outputText value="Complete" /></th>
            <th class="col_22"><h:outputText value="By" /></th>
            <th class="col_22"><h:outputText value="When" /></th>
            <ui:fragment
              id="completeButtonColumnHead"
              rendered="#{job.clientApprovalComplete eq false and job.hasAssociatedSampleAnalysesRecords()}">
              <th class="col_12"></th>
            </ui:fragment>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><h:outputText value="Lab Analysis" /></td>
            <td><h:selectBooleanCheckbox
              value="#{job.labAnalysisComplete}"
              disabled="true" /></td>
            <td><h:outputText
              id="labAnalysisCompletionBy"
              value="#{job.labAnalysisCompletionBy}" /> <ga:userTooltip
              userId="#{job.labAnalysisCompletionBy}"
              componentId="labAnalysisCompletionBy" /></td>
            <td><h:outputText value="#{job.labAnalysisCompletionDate}">
              <f:convertDateTime
                pattern="dd-MM-yyyy HH:mm"
                timeZone="#{systemContext.timeZone}" />
            </h:outputText></td>
            <ui:fragment
              id="labAnalysisCompleteButtonColumn"
              rendered="#{job.clientApprovalComplete eq false and job.hasAssociatedSampleAnalysesRecords()}">
              <td><sec:ifAnyGranted
                roles="ROLE_GEOCHEM_DATA_ENTRY_APP">
                <sf:commandButton
                  id="labAnalysisCompleteButton"
                  value="Complete"
                  action="complete"
                  rendered="#{job.labAnalysisCompletionAllowed}">
                  <f:param
                    name="completionType"
                    value="Lab Analysis" />
                </sf:commandButton>
              </sec:ifAnyGranted></td>
            </ui:fragment>
          </tr>
          <tr>
            <td><h:outputText value="Lab QA" /></td>
            <td><h:selectBooleanCheckbox
              value="#{job.labQaComplete}"
              disabled="true" /></td>
            <td><h:outputText
              id="labQaCompletionBy"
              value="#{job.labQaCompletionBy}" /> <ga:userTooltip
              userId="#{job.labQaCompletionBy}"
              componentId="labQaCompletionBy" /></td>
            <td><h:outputText value="#{job.labQaCompletionDate}">
              <f:convertDateTime
                pattern="dd-MM-yyyy HH:mm"
                timeZone="#{systemContext.timeZone}" />
            </h:outputText></td>
            <ui:fragment
              id="labQaCompleteButtonColumn"
              rendered="#{job.clientApprovalComplete eq false and job.hasAssociatedSampleAnalysesRecords()}">
              <td><sec:ifAnyGranted
                roles="ROLE_GEOCHEM_DATA_ENTRY_APP">
                <sf:commandButton
                  id="labQaCompleteButton"
                  value="Complete"
                  action="complete"
                  rendered="#{job.labQaCompletionAllowed}">
                  <f:param
                    name="completionType"
                    value="Lab QA" />
                </sf:commandButton>
              </sec:ifAnyGranted></td>
            </ui:fragment>
          </tr>
          <tr>
            <td><h:outputText value="Client Approval" /></td>
            <td><h:selectBooleanCheckbox
              value="#{job.clientApprovalComplete}"
              disabled="true" /></td>
            <td><h:outputText
              id="clientApprovalCompletionBy"
              value="#{job.clientApprovalCompletionBy}" /> <ga:userTooltip
              userId="#{job.clientApprovalCompletionBy}"
              componentId="clientApprovalCompletionBy" /></td>
            <td><h:outputText
              value="#{job.clientApprovalCompletionDate}">
              <f:convertDateTime
                pattern="dd-MM-yyyy HH:mm"
                timeZone="#{systemContext.timeZone}" />
            </h:outputText></td>
            <ui:fragment
              id="clientApprovalCompleteButtonColumn"
              rendered="#{job.clientApprovalComplete eq false and job.hasAssociatedSampleAnalysesRecords()}">
              <td><sec:ifAnyGranted roles="ROLE_INTRA">
                <sf:commandButton
                  id="clientApprovalCompleteButton"
                  value="Complete"
                  action="complete"
                  rendered="#{job.clientApprovalCompletionAllowed}">
                  <f:param
                    name="completionType"
                    value="Client Approval" />
                </sf:commandButton>
              </sec:ifAnyGranted></td>
            </ui:fragment>
          </tr>
        </tbody>
      </table>
    </ga:div>
  </ui:fragment>
</ui:composition>