<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <a4j:outputPanel id="jobBatchSampleDetailsFragment">
    <ga:div
      id="jobBatchSamples#{jobBatch.jobBatchId}"
      class="form_input">
      <label>Job Batch Samples:</label>
      <!--      <ui:fragment-->
      <!--        id="sampleAnalysesLinks"-->
      <!--        rendered="#{showAsPopup eq false}">-->
      <table
        id="batchSamplesTable"
        class="input grid noValidation fixedHeader links">
        <thead>
          <tr>
            <th class="col_20"><h:outputText value="Sample No" /></th>
            <th><h:outputText value="Sample ID  " /></th>
            <th>Subsample ID</th>
          </tr>
        </thead>
        <tbody>
          <a4j:repeat
            id="batchSamples"
            value="#{jobBatch.jobBatchSampleList}"
            var="jobBatchSample">
            <tr>
              <td><a4j:outputPanel
                  id="sampleNo"
                  rendered="#{(showAsPopup eq null or showAsPopup eq true) and jobBatchSample.jobBatch.resultBatchList.size() gt 0}">
                  <h:commandLink
                    id="selectSampleAnalyses"
                    value="#{jobBatchSample.sample.sampleNo}"
                    action="selectSampleAnalyses"
                    immediate="true">
                    <f:param
                      name="jobBatchNo"
                      value="#{jobBatchSample.jobBatchNo}" />
                    <f:param
                      name="sampleNo"
                      value="#{jobBatchSample.sampleNo}" />
                  </h:commandLink>
                </a4j:outputPanel> <h:outputText
                  id="sampleNoText"
                  value="#{jobBatchSample.sample.sampleNo}"
                  rendered="#{showAsPopup eq false or jobBatchSample.jobBatch.resultBatchList.size() eq 0}" /></td>
              <td><a4j:outputPanel
                  id="sampleId"
                  rendered="#{showAsPopup eq null or showAsPopup eq true}">
                  <h:outputLink
                    id="sampleID"
                    value="#{request.contextPath}/sampleLink/#{jobBatchSample.sampleNo}/details.htm"
                    target="other"
                    styleClass="popupLink">
                          #{jobBatchSample.sample.sampleIdDisplay}
                          </h:outputLink>
                </a4j:outputPanel> <h:outputText
                  id="sampleIdText"
                  value="#{jobBatchSample.sample.sampleIdDisplay}"
                  rendered="#{showAsPopup eq false}" /></td>
              <td><h:outputText
                  id="subsampleIdText"
                  value="#{jobBatchSample.subsampleId}" /></td>
            </tr>
          </a4j:repeat>
        </tbody>
      </table>
      <!--      </ui:fragment>-->
      <!--      <ui:fragment-->
      <!--        id="sampleAnalysesLinks"-->
      <!--        rendered="#{showAsPopup eq true}" >-->
      <!--      <table class="input grid noValidation">-->
      <!--        <thead>-->
      <!--          <tr>-->
      <!--            <th class="col_20"><h:outputText value="Sample No" /></th>-->
      <!--            <th><h:outputText value="Sample ID" /></th>-->
      <!--          </tr>-->
      <!--        </thead>-->
      <!--        <tbody>-->
      <!--          <a4j:repeat-->
      <!--            id="batchSamples"-->
      <!--            value="#{jobBatch.jobBatchSampleList}"-->
      <!--            var="jobBatchSample">-->
      <!--            <tr>-->
      <!--              <td><h:outputText-->
      <!--                    id="sampleNo"-->
      <!--                    value="#{jobBatchSample.sample.sampleNo}" /></td>-->
      <!--              <td><h:outputText-->
      <!--                    id="sampleId"-->
      <!--                    value="#{jobBatchSample.sample.sampleIdDisplay}" /></td>-->
      <!--            </tr>-->
      <!--          </a4j:repeat>-->
      <!--        </tbody>-->
      <!--      </table>-->
      <!--      </ui:fragment>-->
    </ga:div>
  </a4j:outputPanel>
</ui:composition>