<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:app="http://www.ga.gov.au/geochem-jsf"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <h3>Analysis Results</h3>
  <a4j:repeat
    id="jobBatchAnalyses"
    value="#{jobBatch.jobBatchSampleList}"
    var="jobBatchSample">
    <a4j:repeat
      id="subsampleIds"
      value="#{jobBatchSample.subsampleIdList}"
      var="subsampleId">
      <ga:div
        id="allResultsPanel"
        class="form_input body">
        <table class="input grid noValidation">
          <thead>
            <tr>
              <th class="col_20 nowrap"><h:outputText
                value="Sample No" /></th>
              <a4j:repeat
                id="sampleAnalysisResultsForPublishing"
                value="#{publishBean.getPropertyList(jobBatch, jobBatchSample.sample, subsampleId)}"
                var="property">
                <th class="col_20 nowrap"><h:outputText
                  value="#{property.htmlPropertyId} #{publishBean.getSampleAnalysisResult(jobBatch, jobBatchSample.sample, property, subsampleId).resultUnits}"
                  escape="false" /></th>
              </a4j:repeat>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="nowrap"><h:outputText
                id="sampleNo"
                value="#{jobBatchSample.sample.sampleNo}" /></td>
              <a4j:repeat
                id="resultPropertyList"
                value="#{publishBean.getPropertyList(jobBatch, jobBatchSample.sample, subsampleId)}"
                var="property">
                <td class="nowrap"><h:outputText
                  value="#{publishBean.getSampleAnalysisResult(jobBatch, jobBatchSample.sample, property, subsampleId).resultValue}" /></td>
              </a4j:repeat>
            </tr>
          </tbody>
        </table>
        <br></br>
      </ga:div>
    </a4j:repeat>
  </a4j:repeat>
</ui:composition>