<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <ui:fragment id="methodDetailsFragment">
    <ga:div class="form_input">
      <label>Methods:</label>
      <table class="input grid noValidation">
        <thead>
          <tr>
            <th class="col_20"><h:outputText value="Technique" /></th>
            <th class="col_45"><h:outputText value="Method" /></th>
            <th><h:outputText value="Purpose" /></th>
          </tr>
        </thead>
        <tbody>
          <a4j:repeat
            id="jobBatchMethods"
            value="#{jobBatch.methodList}"
            var="jobBatchMethod">
            <tr>
              <td><h:outputText
                  value="#{jobBatchMethod.technique.techniqueName}" /></td>
              <td><h:outputText
                  value="#{jobBatchMethod.methodIdAndName}" /></td>
              <td><h:outputText value="#{jobBatchMethod.purpose}" /></td>
            </tr>
          </a4j:repeat>
        </tbody>
      </table>
    </ga:div>
  </ui:fragment>
</ui:composition>