<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <ui:fragment id="jobDetailsFragment">
    <ga:div class="panel">
      <ga:textOutputField
        id="jobNo"
        label="Job No"
        beanValue="#{job.jobNo}" />
      <ga:textOutputField
        id="labeRef"
        label="Lab. Reference"
        beanValue="#{job.laboratoryJobReferenceId}" />
      <ga:textOutputField
        label="Status"
        id="status"
        beanValue="#{job.status.label}" />
      <ga:textOutputField
        label="Access Code"
        id="accessCode"
        beanValue="#{job.accessCode.displayName}" />
      <ui:fragment
        id="jobRequest"
        rendered="#{not empty job.npmJobRequest}">
        <ga:fieldset legend="LabSubs Job Request">
          <ui:include src="viewJobNpmJobRequest-panel.xhtml" />
        </ga:fieldset>
      </ui:fragment>

      <ga:div class="form_input">
        <label for="jobComment">Comments</label>
        <span class="input"> <h:inputTextarea
          id="jobComment"
          value="#{job.comment}"
          disabled="true"
          cols="50"
          rows="3" /> </span>
      </ga:div>
    </ga:div>
  </ui:fragment>
</ui:composition>