<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <ui:fragment
    id="sopNominationsFragment"
    rendered="#{job.npmJobRequest ne null}">
    <ga:div class="form_input">
      <label>SOP Nominations:</label>
      <table class="input grid noValidation">
        <thead>
          <tr>
            <th class="col_20"><h:outputText value="Lab Work" /></th>
            <th class="col_20"><h:outputText value="Sub Lab Work" /></th>
            <th><h:outputText value="SOP" /></th>
          </tr>
        </thead>
        <a4j:repeat
          id="npmSopNominations"
          value="#{jobBatch.npmBatch.npmSopNominationList}"
          var="npmSopNomination">
          <tbody>
            <tr>
              <td><h:outputText value="#{npmSopNomination.labWork}" /></td>
              <td><h:outputText value="#{npmSopNomination.subLabWork}" /></td>
              <td><a4j:outputPanel
                id="procedureId"
                rendered="#{showAsPopup eq null or showAsPopup eq true}">
                <sf:commandLink
                  id="selectProcedureView"
                  value="#{npmSopNomination.npmSop.sopId}"
                  action="selectProcedureView"
                  immediate="true"
                  styleClass="popup">
                  <f:param
                    name="procedureNo"
                    value="#{npmSopNomination.npmSop.sopNo}" />
                </sf:commandLink>
              </a4j:outputPanel> <h:outputText
                id="procedureIdText"
                value="#{npmSopNomination.npmSop.sopId}"
                rendered="#{showAsPopup eq false}" /></td>
            </tr>
          </tbody>
        </a4j:repeat>
      </table>
    </ga:div>
  </ui:fragment>
</ui:composition>