<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <ga:div class="#{class}">
    <!--      <ui:param-->
    <!--        name="class"-->
    <!--        value="" />-->
    <ga:div class="panelHead">Batch #{jobBatch.jobBatchId}</ga:div>
    <ga:div class="panelBody">
      <ui:fragment
        id="npmBatchDetails"
        rendered="#{job.npmJobRequest ne null}">
        <ga:div class="form_input">
          <table class="input grid noValidation">
            <thead>
              <tr>
                <th class="col_20"><h:outputText value="Batch ID" />
                </th>
                <th class="col_15"><h:outputText
                    value="Scheduled Start" /></th>
                <th class="col_15"><h:outputText
                    value="Scheduled Completion" /></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><h:outputText value="#{jobBatch.npmBatch.batchId}" />
                </td>
                <td><h:outputText
                    value="#{jobBatch.npmBatch.scheduledStart}">
                    <f:convertDateTime
                      pattern="dd-MM-yyyy hh:mm a"
                      timeZone="#{systemContext.timeZone}" />
                  </h:outputText></td>
                <td><h:outputText
                    value="#{jobBatch.npmBatch.scheduledCompletion}">
                    <f:convertDateTime
                      pattern="dd-MM-yyyy hh:mm a"
                      timeZone="#{systemContext.timeZone}" />
                  </h:outputText></td>
              </tr>
            </tbody>
          </table>
        </ga:div>
      </ui:fragment>
      <ga:div class="form_input">
        <label for="batchComments:">Batch Comments:</label>
        <span class="input"> <h:inputTextarea
            id="batchComments"
            value="#{jobBatch.comments}"
            disabled="true"
            cols="50"
            rows="3" /> </span>
      </ga:div>
      <ui:include src="viewJobBatchSopNominations-panel.xhtml" />
      <ui:include src="viewJobBatchPreparation-panel.xhtml" />
      <ui:include src="viewJobBatchMethods-panel.xhtml" />
      <ui:fragment rendered="#{jobBatch.versionNo ne null}">
        <ui:include src="viewJobBatchResultBatches-panel.xhtml" />
      </ui:fragment>
      <ui:include src="viewJobBatchSamples-panel.xhtml" />
    </ga:div>
  </ga:div>
</ui:composition>