<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:rich="http://richfaces.org/rich"
  template="/WEB-INF/layouts/popupTemplate.xhtml"
  xmlns:ga="http://www.ga.gov.au/jsf">
  <ui:define name="content">
    <ui:fragment id="jobBatchDetails">
      <div id="pageId">[BD]</div>
      <h2>Batch Details</h2>
        <ui:include src="viewJobBatchDetails-panel.xhtml" />
    </ui:fragment>
  </ui:define>
</ui:composition>
