<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:rich="http://richfaces.org/rich"
  template="/WEB-INF/layouts/pageTemplate.xhtml"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:a4j="http://richfaces.org/a4j">

  <ui:define name="content">
    <h:form id="subsampleTypesSearchForm">
      <ga:workflowLinks
        src="/WEB-INF/flows/geochemistry/admin/subsampleTypes/subsampleTypes-menu.xhtml"
        class="selected" />
      <ui:include src="subsampleTypes-toolbar.xhtml" />
      <ga:main
        title="Sub-Sample Search"
        pageId="SSS">
        <a4j:outputPanel id="criteria">
          <ga:simpleTogglePanel
            label="Search Criteria"
            opened="#{flowScope.showCriteria}">
            <ga:textField
              id="subsampleTypeId"
              label="SubsampleType Id"
              beanValue="#{searchCriteria.subsampleTypeId}"
              maxLength="30"
              spanStyle="half" />
            <ga:textField
              id="typeName"
              label="SubsampleType Name"
              beanValue="#{searchCriteria.typeName}"
              maxLength="60"
              spanStyle="half"
              note="This field accepts \'%\' wildcards" />
            <ga:textField
              id="matchRegex"
              label="Matching Regex"
              beanValue="#{searchCriteria.matchRegex}"
              maxLength="60"
              spanStyle="half"
              note="This field accepts \'%\' wildcards" />
            <ga:textField
              id="replaceRegex"
              label="Replacement Regex"
              beanValue="#{searchCriteria.replaceRegex}"
              maxLength="60"
              spanStyle="half"
              note="This field accepts \'%\' wildcards" />
            <ga:dropDownList
              id="caseConversion"
              label="Convert Case"
              beanValue="#{searchCriteria.convertCase}"
              list="#{caseConversionCodeSelectionList}"
              spanStyle="half">
              <f:selectItem itemLabel="" />
            </ga:dropDownList>
            <ga:commonSearchFields searchCriteria="#{searchCriteria}" />

            <ga:div class="form_buttons">
              <h:commandButton
                id="submit"
                value="Search"
                action="submit" />
              <!--              <ga:resetButton />-->
            </ga:div>
          </ga:simpleTogglePanel>

        </a4j:outputPanel>
        <br />
        <br />

        <a4j:outputPanel id="results">
          <ui:fragment
            rendered="#{not empty subsampleTypeSearchResults.rowCount}">
            <h3>Search Results</h3>
            <h:outputText
              id="rowCount"
              value="#{subsampleTypeSearchResults.rowCount eq 0 ? 'No' : subsampleTypeSearchResults.rowCount} #{subsampleTypeSearchResults.rowCount eq 1 ? 'record' : 'records'} found"
              style="display: block; padding-bottom: 5px;" />
            <rich:dataTable
              id="searchResults"
              value="#{subsampleTypeSearchResults}"
              var="subsampleTypeResult"
              rows="#{searchCriteria.resultsPerPage}"
              styleClass="links grid"
              headerClass="compact"
              columnClasses="col_5 nowrap compact"
              rendered="#{subsampleTypeSearchResults.rowCount gt 0}">
              <rich:column
                sortBy="#{subsampleTypeResult.subsampleTypeTypeId}">
                <f:facet name="header">
                  <h:outputText value="SubsampleType Id" />
                </f:facet>
                <h:commandLink
                  id="select"
                  value="#{subsampleTypeResult.subsampleTypeId}"
                  action="select"
                  styleClass="nopad" />
              </rich:column>
              <rich:column sortBy="#{subsampleTypeResult.typeName}">
                <f:facet name="header">
                  <h:outputText value="SubsampleType Name" />
                </f:facet>
                <h:outputText value="#{subsampleTypeResult.typeName}" />
              </rich:column>
              <rich:column sortBy="#{subsampleTypeResult.matchRegex}">
                <f:facet name="header">
                  <h:outputText value="Matching Regex" />
                </f:facet>
                <h:outputText value="#{subsampleTypeResult.matchRegex}" />
              </rich:column>
              <rich:column sortBy="#{subsampleTypeResult.replaceRegex}">
                <f:facet name="header">
                  <h:outputText value="Replacement Regex" />
                </f:facet>
                <h:outputText value="#{subsampleTypeResult.replaceRegex}" />
              </rich:column>
              <rich:column
                sortBy="#{subsampleTypeResult.convertCase.label}">
                <f:facet name="header">
                  <h:outputText value="Covert Case" />
                </f:facet>
                <h:outputText
                  value="#{subsampleTypeResult.convertCase.label}" />
              </rich:column>
              <!--               <ga:searchResultAuditDetails searchResult="#{subsampleTypeResult}" /> -->
            </rich:dataTable>
            <ga:commonSearchDatascroller
              searchCriteria="#{searchCriteria}"
              searchResults="#{subsampleTypeSearchResults}" />
          </ui:fragment>
        </a4j:outputPanel>
      </ga:main>
    </h:form>
  </ui:define>
</ui:composition>