<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sec="http://www.springframework.org/security/facelets/tags"
  template="/WEB-INF/layouts/pageTemplate.xhtml">
  <ui:define name="content">
    <h:form id="editUncertaintyTypeForm">
      <ga:workflowLinks
        src="/WEB-INF/flows/geochemistry/admin/uncertaintyTypes/editUncertaintyType/editUncertaintyType-menu.xhtml"
        class="selected" />
      <ga:main
        title="#{actionTitle}"
        pageId="UTE">
        <ga:fieldset legend="UncertaintyType">
          <ui:fragment
            id="uncertaintyTypeNoOutputPanel"
            rendered="#{uncertaintyType.versionNo ne null}">
            <ga:textField
              label="UncertaintyType No"
              id="uncertaintyTypeNo"
              spanStyle="numeric"
              maxLength="10"
              beanValue="#{uncertaintyType.uncertaintyTypeNo}"
              disabled="true"
              readOnly="true" />
          </ui:fragment>
          <ga:textField
            label="Id"
            id="id"
            maxLength="20"
            spanStyle="half"
            beanValue="#{uncertaintyType.uncertaintyTypeId}"
            disabled="#{uncertaintyType.versionNo ne null}"
            readOnly="#{uncertaintyType.versionNo ne null}" />
          <ga:textField
            label="Code"
            id="code"
            maxLength="20"
            spanStyle="half"
            beanValue="#{uncertaintyType.uncertaintyTypeCode}"
            disabled="#{uncertaintyType.versionNo ne null}"
            readOnly="#{uncertaintyType.versionNo ne null}" />
          <ga:textField
            label="Name"
            id="name"
            maxLength="250"
            spanStyle="half"
            beanValue="#{uncertaintyType.uncertaintyName}" />
        </ga:fieldset>
        <ga:div class="form_buttons">
          <sec:ifAnyGranted roles="ROLE_GEOCHEM_DATA_ADMIN_APP">
            <h:commandButton
              id="saveUncertaintyType"
              value="Save"
              action="saveUncertaintyType" />
          </sec:ifAnyGranted>
          <ga:cancelButton />
        </ga:div>
      </ga:main>
    </h:form>
  </ui:define>
</ui:composition>