<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sec="http://www.springframework.org/security/facelets/tags"
  template="/WEB-INF/layouts/pageTemplate.xhtml">
  <ui:define name="content">
    <h:form id="editUnitGroupForm">
      <ga:workflowLinks
        src="/WEB-INF/flows/geochemistry/admin/unitGroups/editUnitGroup/editUnitGroup-menu.xhtml"
        class="selected" />
      <ga:main
        title="#{actionTitle}"
        pageId="MUTE">
        <ga:fieldset legend="UnitGroup">
          <ga:textField
            label="Unit Group Id"
            id="unitGroupId"
            spanStyle="half"
            required="true"
            maxLength="20"
            beanValue="#{unitGroup.unitGroupId}"
            disabled="#{unit.versionNo ne null}"
            readOnly="#{unit.versionNo ne null}" />
          <ga:textField
            label="Name"
            id="name"
            required="true"
            maxLength="50"
            spanStyle="half"
            beanValue="#{unitGroup.groupName}" />
          <ga:textField
            label="Standard Units"
            id="standardUnitId"
            maxLength="10"
            spanStyle="half"
            beanValue="#{unitGroup.standardUnitId}" />
          <ga:textField
            label="Description"
            id="description"
            maxLength="1000"
            beanValue="#{unitGroup.description}" />
          <ui:include src="editUnitGroupLinks-panel.xhtml">
            <ui:param
              name="unitGroupLinkList"
              value="#{flowScope.unitGroupLinkList}" />
            <ui:param
              name="linkParent"
              value="group" />
          </ui:include>
        </ga:fieldset>
        <ga:div class="form_buttons">
          <sec:ifAnyGranted roles="ROLE_GEOCHEM_DATA_ADMIN_APP">
            <h:commandButton
              id="saveUnitGroup"
              value="Save"
              action="saveUnitGroup" />
          </sec:ifAnyGranted>
          <ga:cancelButton />
        </ga:div>
      </ga:main>
    </h:form>
  </ui:define>
</ui:composition>