<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <div class="form_input">
    <table
      id="unitGroupLinkPanel"
      class="input grid noValidation skipGridInputSpans selectable collapsibleRows">
      <thead>
        <tr>
          <th></th>
          <th><h:outputText
              value="#{linkParent eq 'unit' ? 'Group' : 'Unit'} Id" />
          </th>
          <th><h:outputText
              value="#{linkParent eq 'unit' ? 'Group' : 'Unit'} Name" />
          </th>
          <th><h:outputText value="Unit Scaling Factor" /></th>
        </tr>
      </thead>
      <tbody>
        <a4j:repeat
          id="unitGroupLinks"
          value="#{unitGroupLinkList}"
          var="unitGroupLink">
          <tr
            class="#{unitGroupLink.versionNo ne null and unitGroupLinkList.currentRowSelected == false ? 'hiddenRow' : ''}">
            <td class="selector"><h:selectBooleanCheckbox
                id="selectedCheckbox"
                value="#{unitGroupLinkList.currentRowSelected}">
                <a4j:support
                  event="onchange"
                  reRender="unitScaleFactor" />
              </h:selectBooleanCheckbox></td>
            <td><h:outputText
                value="#{linkParent eq 'unit' ? unitGroupLink.unitGroup.unitGroupId : unitGroupLink.unit.unitId}" />
            </td>
            <td><h:outputText
                value="#{linkParent eq 'unit' ? unitGroupLink.unitGroup.groupName : unitGroupLink.unit.unitName}" />
            </td>
            <td><span
              class="input numeric"
              style="float: left;"> <h:inputText
                  name="unitScaleFactor"
                  id="unitScaleFactor"
                  label="Unit Scaling Factor"
                  maxlength="20"
                  value="#{unitGroupLink.unitScaleFactor}"
                  disabled="#{unitGroupLinkList.currentRowSelected eq false}"
                  readOnly="#{unitGroupLinkList.currentRowSelected eq false}" />
            </span></td>
          </tr>
        </a4j:repeat>
      </tbody>
    </table>
  </div>
</ui:composition>