<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sec="http://www.springframework.org/security/facelets/tags"
  template="/WEB-INF/layouts/pageTemplate.xhtml">
  <ui:define name="content">
    <h:form id="viewAnalystForm">
      <ga:workflowLinks
        src="/WEB-INF/flows/geochemistry/admin/analysts/viewAnalyst/viewAnalyst-menu.xhtml"
        class="selected" />
      <ga:main
        title="Analyst"
        pageId="ASTV">
        <ga:fieldset legend="Analyst">
          <ga:textOutputField
            label="Analyst No"
            id="analystNo"
            beanValue="#{analyst.analystNo}" />
          <ga:textOutputField
            label="Analyst Id"
            id="analystId"
            beanValue="#{analyst.analystId}" />
          <ga:textOutputField
            label="First Name"
            id="firstName"
            beanValue="#{analyst.analystFirstName}" />
          <ga:textOutputField
            label="Last Name"
            id="lastName"
            beanValue="#{analyst.analystLastName}" />
          <ga:textOutputField
            label="Display Name"
            id="displayName"
            beanValue="#{analyst.analystName}" />
          <ga:textOutputField
            label="Search Name"
            id="searchName"
            beanValue="#{analyst.analystSearchName}" />
          <ga:textOutputField
            label="Status"
            id="status"
            beanValue="#{analyst.status.label}" />
          <ga:auditDetails auditLog="#{analyst.auditLog}" />
        </ga:fieldset>
        <ga:div class="form_buttons">
          <sec:ifAnyGranted roles="ROLE_GEOCHEM_DATA_ENTRY_APP">
            <h:commandButton
              id="editAnalyst"
              value="Edit"
              action="editAnalyst" />
          </sec:ifAnyGranted>
          <ga:returnButton />
        </ga:div>
      </ga:main>
    </h:form>
  </ui:define>
</ui:composition>