/* Application Framework CSS
/* ---------------------------------------------------------------------------------------- */
	.accordionGroup {
	margin-bottom: 10px;
	border-top: 1px solid #CD8432;
	border-color: #DCAE7C;
	background-color: #FFF0D3;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
	}
	
	.accordionGroup div.postLinks {
	position: absolute;
	padding: 5px 0;
	}
	.accordionGroup div.postLinks > a,
	.accordionGroup div.postLinks > span{
	margin: 0 5px;
	line-height: 100%;
	}
	
	.accordionGroup .accordionPanel {
	border: 1px solid #DCAE7C;
	border-top: 0px;
	}
    /* grid lines are more compact */
   .accordionGroup .grid .accordionPanel {
    border: 0px;
    }

   .accordionGroup .accordionPanel .panelHead {
    position: relative;
    height: 20px;
    line-height: 20px;
    padding: 0;
    margin: 0;
    background-image: url('images/ga.accordion.sprite.png');
    background-position: 0px -200px;
    background-repeat: repeat-x;
    clear: both !important;
    padding: 0px 5px;
    padding-left: 21px;
    cursor: pointer;
    overflow: hidden;
   }
    
	.accordionGroup .accordionPanel .panelHead:hover {
	background-position: 0px -100px;
	}
	.accordionGroup .accordionPanel .panelHead.selected {
	background-position: 0px -200px;
	height: 30px;
	}
	.accordionGroup.force .accordionPanel .panelHead.selected {
	cursor: default;
	}
	
	.accordionGroup .accordionPanel .panelHead a {
	color: #88201F !important;
	}
	
	.accordionGroup .accordionPanel .panelHead .panelTitle {
	max-width: 1000px;
	height: 100%;
	overflow: hidden;
	white-space: nowrap;
	}

	.accordionGroup .accordionPanel .panelHead div.marker {
	position: absolute;
	top: 5px;
	left: 5px;
	height: 12px !important;
	width: 12px !important;
	padding: 0;
	margin: 0;
	background-image: url('images/accordion-marker.png');
	background-position: 0 0;
	background-repeat: repeat-x;
	cursor: pointer;
	font-size: 0;
	}
    /* grid lines are more compact */
    .accordionGroup .grid .accordionPanel .panelHead div.marker {
    top: 4px;
    left: 2px;
    }

	.accordionGroup .accordionPanel .panelHead.selected div.marker {
	background-position: 0px -12px;
	}
	.accordionGroup.force .accordionPanel .panelHead.selected div.marker {
	background-position: 0px -24px;
	cursor: default;
	}
	.accordionGroup .accordionPanel .panelHead div.marker.loading {
	background-image: url('images/ga.loading.accordion.gif');
	background-position: 0 0 !important;
	background-repeat: repeat-x;
	cursor: default;
	}
	
	.accordionGroup .accordionPanel .panelHead div.options {
	display: table;
	position: absolute;
	top: 2px;
	right: 2px;
	padding: 0px;
	cursor: default;
	line-height: 100%;
	}
	.accordionGroup .accordionPanel .panelHead div.options > a,
	.accordionGroup .accordionPanel .panelHead div.options > span {
	display: block;
	float: left;
	padding: 3px;
	margin-left: 3px;
	}

    .accordionGroup .accordionPanel .panelBody {
    clear: both !important;
	/* border-top: 1px solid #D19450; */
    /*background-color: #FFF; */
    background-image: url('images/ga.accordion.sprite.png');
    background-position: 0 -400px;
    background-repeat: repeat-x;
    padding: 10px 5px;
    /*display: none;*/
    }

	.accordionGroup.closed .accordionPanel .panelBody {
	display: none;
	}
	
	
    .accordionGroup a.expandAll, .accordionGroup a.contractAll {
    font-size: 11px;
    line-height: 11px;
    cursor: pointer;
    color: #888;
    }
    .accordionGroup a.expandAll:hover, .accordionGroup a.contractAll:hover {
    color: #0089B7;
    }
    
    /* accordion background should override table bg */ 
    .accordionGroup tbody,
    .accordionGroup tfoot{
    background: transparent;
    }   
    .accordionBackground {
    background-image: url('images/ga.accordion.sprite.png');
    background-position: 0 -400px;
    background-repeat: repeat-x;
    }

    .accordionGroup table tbody tr.selected .accordionPanel *,
    .accordionGroup table tfoot tr.selected .accordionPanel * {
    background-color: #FFD782 !important;
    }
    