 /* Reset
 /* This allows us to completely start from scratch with a more browser-generic base
 /* ---------------------------------------------------------------------------------------------------------------------------- */
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, font, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    }
    body {
    line-height: 1;
    }
    ol, ul {
    list-style: none;
    }
    blockquote, q {
    quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
    content: '';
    content: none;
    }
    
    /* remember to define focus styles! */
    :focus {
    outline: 0;
    }
    
    /* remember to highlight inserts somehow! */
    ins {
    text-decoration: none;
    }
    del {
    text-decoration: line-through;
    }
    
    /* tables still need 'cellspacing="0"' in the markup */
    table {
    border-collapse: collapse;
    border-spacing: 0;
    }

 /* PAGE
 /* ---------------------------------------------------------------------------------------------------------------------------- */
    html {
    float: left;
    width: 100%;
    }
    body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 76%;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    color: #000;
    float: left;
    width: 100%;
    min-width: 800px;
    }

 /* HEADER
 /* ---------------------------------------------------------------------------------------------------------------------------- */
    #header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 52px;
    background-image: url("images/ga.header.bg.default.png");
    background-position: left top;
    background-repeat: no-repeat;
    background-color: #000;
    }
    #header.minerals {
    background-image: url("images/ga.header.bg.minerals.png");
    }
    #header.hazards {
   /* background-image: url("images/ga.header.bg.hazards-darker.png"); */
    }
    #header.energy {
    background-image: url("images/ga.header.bg.energy.png");
    }
    #header > div {
    position: relative;
    width: 100%;
    height: 52px;
    }
    #header a.logo {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 180px;
    height: 52px;
    background-image: url('images/ga.header.logo.png');
    background-position: 0px 0px;
    background-repeat: no-repeat;
    text-indent: -1000000px;
    }
    #header h1 {
    position: absolute;
    left: 190px;
    bottom: 0px;
    margin: 0;
    padding: 0;
    font: bold 1.6em/1.4em Helvetica, Arial, Verdana, sans-serif;
    color: #fff;
    }

 /* NAVIGATION BAR
 /* ---------------------------------------------------------------------------------------------------------------------------- */
    #header #nav {
    position: absolute;
    left: 185px;
    top: 1px;
    clear: right;
    width: auto;
    margin: 0;
    display: inline;
    z-index: 10;
    margin: 0;
    padding: 0;
    list-style: none;
    }
    #header #nav li {
    display: inline;
    float: left;
    margin: 0;
    padding: 0;
    padding-right: 18px;
    font: bold 1em/1.2 Helvetica, Arial, Verdana, sans-serif;
    background-image: url('images/ga.header.crumbs.png');
    background-position: right center;
    background-repeat: no-repeat;
    }
    #header #nav li a {
    float: left;
    display: block;
    margin: 0;
    padding: 3px 5px !important;
    color: #fff;
    height: 1%;
    }

 /* OPTIONS BAR
 /* ---------------------------------------------------------------------------------------------------------------------------- */
    #header .options {
    position: absolute;
    right: 8px;
    bottom: 3px;
    clear: right;
    width: auto;
    margin: 0;
    display: inline;
    z-index: 10000000000;
    margin: 0;
    padding: 0;
    list-style: none;
    }
    #header .options li {
    display: inline;
    float: left;
    margin: 0;
    padding: 0;
    font: normal 1em/1.2 Helvetica, Arial, Verdana, sans-serif;
    }
    #header .options li a {
    float: left;
    display: block;
    margin: 0;
    padding: 3px 5px !important;
    padding-left: 20px !important;
    color: #fff;
    height: 1%;
    }
    #header .options li.print-friendly a {
    background-image: url('images/ga.header.print.png');
    background-position: left center;
    background-repeat: no-repeat;
    }
    #header .options li.help a {
    background-image: url('images/ga.header.help.png');
    background-position: left center;
    background-repeat: no-repeat;
    }

 /* HEADER
 /* ---------------------------------------------------------------------------------------------------------------------------- *
    #header {
    position: relative;
    width: 100%;
    height: 52px;
    background-image: url("images/ga-header-background.png");
    background-position: left top;
    background-repeat: repeat-x;
    background-color: #000;
    }
    #header > div {
    position: relative;
    width: 100%;
    height: 52px;
    background-image: url("images/ga-header-image.png");
    background-position: left top;
    background-repeat: no-repeat;
    }
    #header a.logo {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 341px;
    height: 52px;
    background-image: url('images/ga-header-image.png');
    background-position: 0px 0px;
    background-repeat: no-repeat;
    text-indent: -1000000px;
    }
    #header h1 {
    position: absolute;
    left: 345px;
    bottom: 0px;
    margin: 0;
    padding: 0;
    font: bold 1.8em/1.5em Helvetica, Arial, Verdana, sans-serif;
    color: #fff;
    }

 /* NAVIGATION BAR
 /* ---------------------------------------------------------------------------------------------------------------------------- *
    #nav {
    position: absolute;
    bottom: 0;
    right: 0;
    clear: right;
    width: auto;
    margin: 0;
    display: inline;
    z-index: 10;
    margin: 3px 0 0 0;
    padding: 0;
    float: right;
    }
    #nav li {
    display: inline;
    float: left;
    font: normal 1em/1.2 Helvetica, Arial, Verdana, sans-serif;
    }
    #nav li a:link,
    #nav li a:visited {
    float: left;
    display: block;
    margin: 0;
    padding: 5px 10px;
    color: #fff;
    height: 1%;
    }

 /* CONTENT AREA
 /* ---------------------------------------------------------------------------------------------------------------------------- */

 /* FOOTER AREA
 /* ---------------------------------------------------------------------------------------------------------------------------- */
    #footer {
    float: left;
    height: 31px;
    width: 100%;
    margin: 0;
    padding: 3px 0;
    color: #666;
    font-size: 0.9em;
    line-height: 28px;
    bottom: 0;
    text-align: left !important;
    background-color: #FFF;
    }
    
    #footer ul.inline {
    float: left;
    clear: left;
    list-style: none;
    margin: 0 -5px 1px;
    padding: 0;
    text-align: center;
    line-height: 14px;
    }
    #footer ul.inline li {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    }
    #footer ul.inline li a {
    padding: 0 10px 2px;
    border-left: 1px solid #999;
    line-height: 14px;
    }
    #footer ul.inline li.first a {
    border-left: 0;
    }
    
    #footer p {
    float: left;
    clear: left;
    margin: 0;
    padding: 0 5px;
    line-height: 14px;
    width: 90%;
    color: #595959
    }
    
    #footer p.commons {
    float: right;
    clear: none;
    margin: 0 5px 0 0;
    padding: 0;
    }
    #footer p.commons img {
    float: left;
    margin: 0;
    padding: 0;
    }

 /* IMAGES
 /* ---------------------------------------------------------------------------------------------------------------------------- */
    img,
    img a {
    border:none;
    display: inline-block;
    padding: 0;
    }
    .img-align-left {
    float:left;
    margin:0 1.0em 1.0em 0;
    }
    .img-align-right {
    float: right;
    margin: 0 0 1.0em 1.0em;
    }
    .img-align-centre {
    float:none;
    display: block;
    margin: 0 auto;
    clear: both;
    }
    .border {
    border: #000 solid 1px;
    }
    .img-caption-right {
    float: right;
    margin: 0 0 1.0em 1.0em;
    padding: 0;
    }
    .img-caption-right p,
    .img-caption-left p,
    .img-caption-centre p,
    .img-caption {
    font-style: italic;
    font-size: 90%;
    padding: 0;
    margin: 0 0 0.8em 0;
    }
    .img-caption-left {
    float: left;
    margin: 0 1.0em 1.0em 0;
    padding: 0;
    width:auto;
    overflow:auto;
    }
    .img-caption-centre {
    text-align: center
    }
    .img-caption-centre img {
    float:none;
    display: block;
    margin: 0 auto;
    }
    .img-gallery li {
    list-style: none;
    display: inline;
    float: left;
    margin: .6em;
    width: 200px;
    } /* The width forces the captions to not exceed the width of the image */
    .img-gallery img {
    width: 200px;
    height: 150px;
    }
    /* Highslide Image Viewer Styles */
    .img-enlarge {
    cursor: url("images/highslide/zoomin.cur"), pointer;
    outline: none;
    }
    .img-enlarge-active-anchor img {
    visibility: hidden;
    }
    .img-enlarge img {
    border: 1px solid #fff;
    }
    .img-enlarge:hover img {
    border: 1px solid #000;
    }
    .img-enlarge-image,
    .border {
    border:  #666 1px solid;
    } /* .border is the class for all image borders */
    .img-enlarge-wrapper {
    background: white;
    }
    .img-enlarge-caption {
    display: none;
    padding: 5px;
    }
    .img-enlarge-loading {
    display: block;
    font-size: 8pt;
    font-weight: bold;
    text-decoration: none;
    padding: 2px;
    border: 1px solid black;
    padding-left: 22px;
    background: #fff url("images/highslide/loader.white.gif") no-repeat 3px 1px;
    }
    .img-enlarge-move {
    cursor: move;
    }
    .img-enlarge-overlay {
    display: none;
    }
    a.img-enlarge-full-expand {
    background: url("images/highslide/fullexpand.gif") no-repeat;
    display: block;
    margin: 0 10px 10px 0;
    width: 34px;
    height: 34px;
    }
    .img-enlarge-display-block {
    display: block;
    }
    .img-enlarge-display-none {
    display: none;
    }
    /* Controlbar */
    .controlbar {
    background: url("images/highslide/controlbar4.gif");
    width: 167px;
    height: 34px;
    }
    .controlbar a {
    display: block;
    float: left;
    height: 27px;
    }
    .controlbar a:hover {
    background-image: url("images/highslide/controlbar4-hover.gif");
    }
    .controlbar .previous {
    width: 50px;
    }
    .controlbar .next {
    width: 40px;
    background-position: -50px 0;
    }
    .controlbar .img-enlarge-move {
    width: 40px;
    background-position: -90px 0;
    }
    .controlbar .close {
    width: 36px;
    background-position: -130px 0;
    }

 /* IMAGES
 /* ---------------------------------------------------------------------------------------------------------------------------- */
    table {
    margin: 1.0em 0;
    border-spacing:0;
    border-collapse: collapse;
    width: inherit;
    empty-cells: show;
    }
    table caption {
    margin:0;
    padding:0 0 .5em 0;
    text-align: left;
    }
    table,
    table th,
    table td {
    border: 1px solid #999
    }
    table th {
    text-align:left;
    }
    table th {
    background-color: #ccc;
    color: #000;
    }
    table th,
    table td {
    vertical-align: top;
    padding: 0.4em
    }
    table ul {
    margin-left: 1.6em
    }
    table li {
    padding: 0;
    margin: 0
    }
    .odd {
    background-color:#eee;
    }
    table.tbl-no-border,
    .tbl-no-border th,
    .tbl-no-border td {
    border: none;
    border-collapse: separate;
    }
    /* table.tbl-general-auto-width  { width: none; width: 100px; } */
    table.tbl-centred-headings > thead > tr > td,
    table.tbl-centred-headings > thead > tr > th,
    th.tbl-cell-centre-align,
    td.tbl-cell-centre-align {
    text-align:center !important;
    } /* All table headers centred */
    th.tbl-cell-left-align,
    td.tbl-cell-left-align {
    text-align: left !important;
    } /* Left aligning a table header */
    th.tbl-cell-right-align,
    td.tbl-cell-right-align {
    text-align: right !important;
    } /* right aligning a table header */
    th.tbl-cell-normal-heading {
    font-weight: normal;
    } /* table heading in normal font */
    th.tbl-cell-sub-heading {
    font-weight: normal;
    background-color: #eee;
    padding-left: 0.9em;
    }
    /* Style used in the Organisational Structure */
    th.tbl-link-heading a {
    color:#fff;
    }
    th.tbl-link-heading {
    padding: 1.0em;
    }

 /* CONTENT
 /* ---------------------------------------------------------------------------------------------------------------------------- */
    .highlight-text {
    border: #999 solid 0.1em;
    background-color: #eee;
    padding: 0 0.5em;
    margin: 1em 220px 1em 0;
    }
    .border-text {
    border: #999 solid 0.1em;
    padding: 0 0.5em;
    margin: 1em 415px 1em 0;
    }
    .red-text {
    color: #f00;
    }
    .small-text {
    font-size: 85%;
    }
    .date {
    font-size: 85%;
    font-style:italic;
    margin: 0;
    padding: 0;
    }
    .clear {
    clear:left;
    }
    .content-right {
    float:right
    }
    a.glossary-link {
    cursor:help;
    }
    a:link.glossary-link,
    a:active.glossary-link,
    a:focus.glossary-link,
    a:visited.glossary-link {
    background-color:#ffc;
    border-bottom: #000 dotted 1px;
    padding: 0.1em;
    }
    a:hover.glossary-link {
    border-bottom: #000 solid 1px;
    background-color: #fff;
    text-decoration:none;
    }
    a:link,
    a:visited {
    color: #842f00;
    text-decoration: none;
    }
    a:hover,
    a:active {
    color: #dc7f1e;
    text-decoration: underline;
    }
    pre,
    tt,
    kbd,
    code,
    samp {
    font-family: Monaco, "Courier New", Courier, mono;
    font-size: 0.8em;
    line-height: 1.1;
    padding: 5px;
    border: 1px dotted #ddd;
    display: block;
    background-color: #eee;
    }
    acronym,
    abbr,
    dfn {
    font-style: normal;
    }
    acronym[title],
    abbr[title],
    dfn[title] {
    border-bottom: 1px dotted #999;
    cursor: help;
    }
    table {
    clear: both;
    margin: 10px 0;
    border-collapse: collapse;
    }
    th,
    td {
    font-size: 0.9em;
    }
    form {
    margin: 0;
    padding: 0;
    }
    select,
    input,
    button,
    textarea {
    font-family: "Lucida Grande", Verdana, sans-serif;
    font-size: 0.9em;
    }
    fieldset {
    border: none;
    margin: 0;
    padding: 0;
    }

/* Basics
/* ---------------------------------------------------------------------------------------- */
 /* Paragraphs and lists */
    p, table, ul, ol, blockquote, address {
    margin: 0px 0px 10px;
    line-height: 120%;
    }
    ul li, ol li {
    margin-left: 30px;
    }
    ul li {
    list-style-type: disc;
    }
    ol li {
    list-style-type: decimal;
    }
    ul.inline,
    ol.inline {
    display: table;
    list-style: none;
    }
    ul.inline li,
    ol.inline li {
    display: inline;
    }
 /* Super and Sub text */
    sup,
    sub {
    height: 0;
    line-height: 1;
    vertical-align: baseline;
    position: relative;
    font-size: 80% !important;
    }
    sup {
    bottom: 1ex;
    }
    sub {
    top: .5ex;
    }

/* Headers
/* ---------------------------------------------------------------------------------------- */
    h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
    font-family: 'Helvetica', 'Arial', 'Verdana', sans-serif;
    clear: both;
    line-height: 150%;
    margin-bottom: 5px;
    color: #004C64;
    }
    h1, h1 *, .h1, .h1 * {
    font-size: 20px;
    color: #FFF;
    }
    h2, h2 *, .h2, .h2 * {
    font-size: 20px;
    border-bottom: 2px solid #DDD;
    color:#88201F;
    margin-bottom: 8px;
    }
    h3, h3 *, .h3, .h3 * {
    font-size: 16px;
    }
    h4, h4 *, .h4, .h4 * {
    font-size: 14px;
    }
    h5, h5 *, .h5, .h5 * {
    font-size: 12px;
    }   
    .autoWidth {
       width: auto !important;
    }
    .nopad {
        padding:0 !important;
    }
    .noborder {
        border-style:solid !important;
        border-top-width: 0 !important;
        border-left-width: 0 !important;
        border-right-width: 0 !important;
        border-bottom-width: 0 !important;
    }   
    .nobackground {
        background-color: transparent !important;
    }
