/* Errored Inputs
/* ---------------------------------------------------------------------------------------- */
    .form_input input.error,
    .form_input textarea.error,
    .form_input select.error {
    background-color: #FFBFBF;
    border-color: #9F0000;
    }

/* Error Container
/* ---------------------------------------------------------------------------------------- */
    form {
	position: relative;
	}

/* Error Container
/* ---------------------------------------------------------------------------------------- */
    ul.ga-error-container {
	}

/* Error Bubble
/* ---------------------------------------------------------------------------------------- */
    li.ga-error-bubble {
    position: absolute;
	display: none;
    height: auto;
    width: auto;
    margin-top: -2px !important;
    margin-left: 0px !important;
    background-image: url('images/error.pointer.png');
    background-position: 2px 0px;
    background-repeat: no-repeat;
    font-weight: normal;
	white-space: nowrap;
	list-style: none;
	z-index: 1000;
    }
    span.ga-error-bubble-pad {
    display: block;
    width: auto;
    margin-top: 4px !important;
    padding: 6px 7px !important;
    padding-left: 26px !important;
    background-color: #333;
    color: #FFF;
    background-image: url('icons/error.16.png');
    background-position: 6px center;
    background-repeat: no-repeat;
    float: left;
    }
    span.ga-error-bubble-pad span {
    display: inline;
    height: auto;
    width: auto;
    margin: 0 !important;
    padding: 0 !important;
    background: none;
    }
    span.ga-error-bubble-pad span.ga-error-bubble-field {
    padding-right: 4px !important;
    }
