 /* Grid Input
 /* ---------------------------------------------------------------------------------------- */
 /* Table */    
    table.grid {
    margin: 1px -1px 0px;
    border-color: #888;
    }
    
 /* Cells */
    table.grid > thead > tr > td,
    table.grid > thead > tr > th {
    margin: 0;
    padding: 3px 5px 3px;
    border-color: #888;
    vertical-align: top;
    text-align: left;
    line-height: 15px;
    }

    table.grid > thead > tr > td.sorting,
    table.grid > thead > tr > th.sorting,
    table.grid > thead > tr > td.sorting_asc,
    table.grid > thead > tr > th.sorting_asc,
    table.grid > thead > tr > td.sorting_desc,
    table.grid > thead > tr > th.sorting_desc {
	padding-right: 18px;
    }

 /* Cells */
    table.grid > tbody > tr > td,
    table.grid > tbody > tr > th,
    table.grid > tfoot > tr > td,
    table.grid > tfoot > tr > th {
    margin: 0;
    padding: 3px 5px 2px;
    width: auto;
    vertical-align: top;
    line-height: 15px;
    color: #333;
    border-color: #888;
    }
    
 /* Inner table   */
    table.grid.innerTable th.topBorder {
        border-top: 1px solid #888888;
    }
    
    table.grid.innerTable td.bottomBorder {
        border-bottom: 1px solid #888888;
    }
 
    table.grid.innerTable th {
        border-style: none solid solid none;
        border-width: 1px;
    }
    
    table.grid.innerTable td {
        border-style: none solid;
        border-width: 1px;
    }
    
    * html table.grid > tbody > tr > td,
    *+html table.grid > tbody > tr > td,
    * html table.grid > tbody > tr > th,
    *+html table.grid > tbody > tr > th,
    * html table.grid > tfoot > tr > td,
    *+html table.grid > tfoot > tr > td,
    * html table.grid > tfoot > tr > th,
    *+html table.grid > tfoot > tr > th {
    padding: 4px 5px 1px;
    line-height: 14px;
    }

 /* this should be unneccessary (it tries to remove grid styling from nested tables) but... */
    table.grid td td,
    table.grid td th,
    table.grid td table {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    }  


 /* Fixed cell height */
    table.grid.fixed-cell-height > thead > tr > th,
    table.grid.fixed-cell-height > thead > tr > td,
    table.grid.fixed-cell-height > tbody > tr > th,
    table.grid.fixed-cell-height > tbody > tr > td {
    height: 22px !important;
    overflow: hidden !important;
    }
    * html table.grid.fixed-cell-height > thead > tr > th,
    *+html table.grid.fixed-cell-height > thead > tr > th,
    * html table.grid.fixed-cell-height > thead > tr > td,
    *+html table.grid.fixed-cell-height > thead > tr > td,
    * html table.grid.fixed-cell-height > tbody > tr > th,
    *+html table.grid.fixed-cell-height > tbody > tr > th,
    * html table.grid.fixed-cell-height > tbody > tr > td,
    *+html table.grid.fixed-cell-height > tbody > tr > td {
            height: 22px !important;
    }
    
 /* Icons */
    table.grid img {
    margin: -1px 0px -3px;
    }

 /* Input Rows in grid tables are more compact than elsewhere */
    table.grid .form_input {
    margin-bottom: 0px;
    }

 /* 
 /* ---------------------------------------------------------------------------------------- */
   /* table.grid.singleColumnTable {
    width: auto !important;
    }*/
    
 /* Input Cells
 /* ---------------------------------------------------------------------------------------- */
 /* Table Cell */
    table.grid > tbody .inputCell {
    margin: 0;
    padding: 0;
    height: 22px;
    width: auto;
    overflow: hidden;
    }
    table.grid > tbody .inputCell span {
    display: block;
    margin: 0;
    padding: 0;
    height: 18px;
    width: auto;
    overflow: hidden;
    border: 2px solid #FFF;
    background-color: #FFF;
    }
    table.grid > tbody > tr.odd .inputCell span {
    border-color: #F5F5F5;
    background-color: #F5F5F5;
    }
    * html table.grid > tbody .inputCell,
    *+html table.grid > tbody .inputCell {
    height: 22px;
    }

 /* Cell Inputs */
    table.grid > tbody .inputCell input[type=text],
    table.grid > tbody .inputCell input[type=password],
    table.grid > tbody .inputCell select {
    display: block;
    width: 100%;
    margin: -1px 0;
    padding: 2px 3px;
    border: 0 !important;
    color: #000;
    background-color: transparent !important;
    }
    * html table.grid > tbody .inputCell input[type=text],
    *+html table.grid > tbody .inputCell input[type=text],
    * html table.grid > tbody .inputCell input[type=password],
    *+html table.grid > tbody .inputCell input[type=password],
    * html table.grid > tbody .inputCell select,
    *+html table.grid > tbody .inputCell select {
    margin: -1px 0 !important;
    padding: 1px 3px 3px !important;
    line-height: 15px;
    border: 0 !important;
    }
    table.grid > tbody .inputCell select {
    padding: 1px 3px;
    margin: -2px;
    }
    * html table.grid > tbody .inputCell select,
    *+html table.grid > tbody .inputCell select {
    margin: -1px;
    }
    table.grid > tbody .inputCell label {
    display: inline !important;
    float: none !important;
    background-color: #F00;
    margin: 0;
    padding: 0;
    }
    
    /* DropdownList in the td cell */
    table.grid > tbody > tr > td.dropdown > div,
    table.grid > tbody > tr > td.dropdown.selected > div {
    margin-left: 0px;
    margin-top: -2px;
    }

 /* Checkboxes + Radio buttons
 /* ---------------------------------------------------------------------------------------- */
 /* Checkbox/Radio Button Cells */
    table.grid .checkboxCell {
    }
    * html table.grid thead .checkboxCell,
    *+html table.grid thead .checkboxCell {
    padding: 0 0 1px;
    }
    * html table.grid tbody .checkboxCell,
    *+html table.grid tbody .checkboxCell {
    padding: 0;
    }
    table.grid .checkboxCell input,
    table.grid .checkboxCell input {
    position: relative;
    top: 1px;
    width: auto !important;
    border: none !important;
    background: none !important;
    margin: 0;
    padding: 0 3px;
    }
    * html table.grid .checkboxCell input,
    *+html table.grid .checkboxCell input {
    position: static;
    }
    table.grid .checkboxCell label {
    display: inline !important;
    float: none !important;
    margin: 0 0 0 5px; 
    padding: 0;
    }
    * html table.grid .checkboxCell label,
    *+html table.grid .checkboxCell label {
    margin: 0 0 0 3px; 
    }
    
 /* Selector Cells */
    table.grid .selectorCell {
    width: 17px;
    }

 /* Column Widths
 /* ---------------------------------------------------------------------------------------- */
    table th.col_1,
    table td.col_1 {
    width:1% !important;
    }
    table th.col_2,
    table td.col_2 {
    width:2% !important;
    }
    table th.col_3,
    table td.col_3 {
    width:3% !important;
    }
    table th.col_4,
    table td.col_4 {
    width:4% !important;
    }
    table th.col_5,
    table td.col_5 {
    width:5% !important;
    }
    table th.col_6,
    table td.col_6 {
    width:6% !important;
    }
    table th.col_7,
    table td.col_7 {
    width:7% !important;
    }
    table th.col_8,
    table td.col_8 {
    width:8% !important;
    }
    table th.col_9,
    table td.col_9 {
    width:9% !important;
    }
    table th.col_10,
    table td.col_10 {
    width:10% !important;
    }
    table th.col_11,
    table td.col_11 {
    width:11% !important;
    }
    table th.col_12,
    table td.col_12 {
    width:12% !important;
    }
    table th.col_13,
    table td.col_13 {
    width:13% !important;
    }
    table th.col_14,
    table td.col_14 {
    width:14% !important;
    }
    table th.col_15,
    table td.col_15 {
    width:15% !important;
    }
    table th.col_20,
    table td.col_20 {
    width:20% !important;
    }
    table th.col_25,
    table td.col_25 {
    width:25% !important;
    }
    table th.col_30,
    table td.col_30 {
    width:30% !important;
    }
    table th.col_35,
    table td.col_35 {
    width:35% !important;
    }
    table th.col_40,
    table td.col_40 {
    width:40% !important;
    }
    table th.col_45,
    table td.col_45 {
    width:45% !important;
    }
    table th.col_50,
    table td.col_50 {
    width:50% !important;
    }
    table th.col_99,
    table td.col_99 {
    width:99% !important;
    }
    table th.col_100,
    table td.col_100 {
    width:100% !important;
    }
    
 /* Link to Toggle (eg toggle Unselected Rows) */
    a.toggle {
    font-size: 11px;
    line-height: 11px;
    cursor: pointer;
    color: #888;
    }
    a.toggle:hover {
    color: #0089B7;
    }
    
/* Sortable Grid
/* ---------------------------------------------------------------------------------------- */
    table.grid .checkboxCell .gaGridSelectAllMenuLabel {
    margin: -3px -5px;
    padding: 3px 18px 3px 5px;
    background-image: url('images/ga.menu.indicator.png');
    background-position: right 9px;
    background-repeat: no-repeat;
    }
    * html table.grid .checkboxCell .gaGridSelectAllMenuLabel,
    *+html table.grid .checkboxCell .gaGridSelectAllMenuLabel {
    margin: 0 -5px;
    padding: 0 18px 0 5px;
    }
    table.grid .checkboxCell .gaGridSelectAllMenuLabel:hover,
    table.grid .checkboxCell .gaGridSelectAllMenuLabel.hover {
    background-color: #DDD;
    background-position: right -11px;
    }

    table.grid .checkboxCell .gaMenuDropdown {
    top: 22px;
    left: -6px;
    }
    * html table.grid .checkboxCell .gaMenuDropdown,
    *+html table.grid .checkboxCell .gaMenuDropdown {
    top: 21px;
    left: -1px;
    }

    table.grid .checkboxCell .gaMenuDropdown .gaMenuItem {
    font-weight: normal !important;
    }

/* Sortable Grid
/* ---------------------------------------------------------------------------------------- */
    table.grid .sequenceCell {
    margin: 0 !important;
    padding: 0 !important;
    background-image: url('images/ga.table.sortable.handle.png');
    background-position: 3px 3px;
    background-repeat: no-repeat;
    cursor: url('cursors/openhand.cur'), move !important;
    }
    table.grid .sequenceCell:active {
    cursor: url('cursors/closedhand.cur'), move !important;
    }
    table.grid .sequenceCell .gaGridSequenceInput {
    display: none;
    }
    table.grid .sequenceCell .gaGridSequenceLabel {
    float: left;
    display: block;
    margin: 0;
    margin-left: 22px;
    margin-right: 2px;
    padding: 3px 5px 2px;
    color: #666;
    }
    *+html table.grid .sequenceCell .gaGridSequenceLabel,
    *+html table.grid .sequenceCell .gaGridSequenceLabel {
    padding: 4px 5px 1px;
    }
    
    table.grid .dragging {
    }
    table.grid .dragging,
    table.grid .dragging .sequenceCell {
    cursor: url('cursors/closedhand.cur'), move !important;
    }
    
    table.gaGridSortableHelper {
    position: absolute;
    cursor: url('cursors/closedhand.cur'), move !important;
    opacity: 0.7;
    filter: alpha(opacity=70);
    border: 1px solid #000 !important;
    }
    table.gaGridSortableHelper tbody {
    background-color: #000 !important;
    }
    table.gaGridSortableHelper td,
    table.gaGridSortableHelper th {
    opacity: 0.8;
    filter: alpha(opacity=80);
    background-color: #C6F1FF !important;
    }
    
/* Collapsible Rows
/* ---------------------------------------------------------------------------------------- */
    .grid.collapsibleRows tr.hiddenRow {
    display: none !important;
    }
    
/* Collapsible Columns
/* ---------------------------------------------------------------------------------------- */
    .grid.collapsibleColumns tr td.hiddenColumn,
    .grid.collapsibleColumns tr th.hiddenColumn {
    display: none !important;
    }
    
/* Selected Rows
/* ---------------------------------------------------------------------------------------- */
    table > tbody > tr.selected > td,
    table > tbody > tr.selected > th,
    table > tfoot > tr.selected > td,
    table > tfoot > tr.selected > th {
    background-color: #FFD782 !important;
    }
    table > tbody > tr.selected.odd > td,
    table > tbody > tr.selected.odd > th,
    table > tfoot > tr.selected.odd > td,
    table > tfoot > tr.selected.odd > th {
    background-color: #EFC772 !important;
    }
    table.grid > tbody > tr.selected .inputCell span,
    table.grid > tfoot > tr.selected .inputCell span {
    border-color: #FFD782 !important;
    }
    table.grid > tbody > tr.selected.odd .inputCell span,
    table.grid > tfoot > tr.selected.odd .inputCell span {
    border-color: #EFC772 !important;
    }
    
/* Errored Input Cells
/* ---------------------------------------------------------------------------------------- */
    table.grid > tbody .inputCell.error,
    table.grid > tbody .inputCell.error *,
    table.grid > tfoot .inputCell.error,
    table.grid > tfoot .inputCell.error * {
    background-color: #FFBFBF !important;
    }
    table.grid > tbody .inputCell.error span,
    table.grid > tfoot .inputCell.error span {
    border-color: #FFBFBF !important;
    }

/* Hovered/Highlighted/Focused/Dragging Rows
/* ---------------------------------------------------------------------------------------- */
 /* Unselected */
    table > tbody tr.hover > td,
    table > tbody tr.hover > th,
    table > tfoot tr.hover > td,
    table > tfoot tr.hover > th,
    table > tbody tr.focus > td,
    table > tbody tr.focus > th,
    table > tfoot tr.focus > td,
    table > tfoot > tr.focus > th,
    table > tbody > tr.dragging > td,
    table > tbody > tr.dragging > th,
    table > tfoot > tr.dragging > td,
    table > tfoot > tr.dragging > th,
    table > tbody > tr.highlightRow > td,
    table > tbody > tr.highlightRow > th,
    table > tfoot > tr.highlightRow > td,
    table > tfoot > tr.highlightRow > th {
    background-color: #C6F1FF !important;
    }
    table > tbody > tr.hover.odd > td,
    table > tbody > tr.hover.odd > th,
    table > tfoot > tr.hover.odd > td,
    table > tfoot > tr.hover.odd > th,
    table > tbody > tr.focus.odd > td,
    table > tbody > tr.focus.odd > th,
    table > tfoot > tr.focus.odd > td,
    table > tfoot > tr.focus.odd > th,
    table > tbody > tr.dragging.odd > td,
    table > tbody > tr.dragging.odd > th,
    table > tfoot > tr.dragging.odd > td,
    table > tfoot > tr.dragging.odd > th,
    table > tbody > tr.highlightRow.odd > td,
    table > tbody > tr.highlightRow.odd > th,
    table > tfoot > tr.highlightRow.odd > td,
    table > tfoot > tr.highlightRow.odd > th {
    background-color: #B6E1EF !important;
    }
    table.grid > tbody > tr.hover .inputCell span,
    table.grid > tfoot > tr.hover .inputCell span,
    table.grid > tbody > tr.focus .inputCell span,
    table.grid > tfoot > tr.focus .inputCell span,
    table.grid > tbody > tr.dragging .inputCell span,
    table.grid > tfoot > tr.dragging .inputCell span,
    table.grid > tbody > tr.highlightRow .inputCell span,
    table.grid > tfoot > tr.highlightRow .inputCell span {
    border-color: #C6F1FF !important;
    }
    table.grid > tbody > tr.hover.odd .inputCell span,
    table.grid > tfoot > tr.hover.odd .inputCell span,
    table.grid > tbody > tr.focus.odd .inputCell span,
    table.grid > tfoot > tr.focus.odd .inputCell span,
    table.grid > tbody > tr.dragging.odd .inputCell span,
    table.grid > tfoot > tr.dragging.odd .inputCell span,
    table.grid > tbody > tr.highlightRow.odd .inputCell span,
    table.grid > tfoot > tr.highlightRow.odd .inputCell span {
    border-color: #B6E1EF !important;
    }
    
 /* Selected */
    table > tbody > tr.selected.hover > td,
    table > tbody > tr.selected.hover > th,
    table > tfoot > tr.selected.hover > td,
    table > tfoot > tr.selected.hover > th,
    table > tbody > tr.selected.focus > td,
    table > tbody > tr.selected.focus > th,
    table > tfoot > tr.selected.focus > td,
    table > tfoot > tr.selected.focus > th,
    table > tbody > tr.selected.dragging > td,
    table > tbody > tr.selected.dragging > th,
    table > tfoot > tr.selected.dragging > td,
    table > tfoot > tr.selected.dragging > th,
    table > tbody > tr.selected.highlightRow > td,
    table > tbody > tr.selected.highlightRow > th,
    table > tfoot > tr.selected.highlightRow > td,
    table > tfoot > tr.selected.highlightRow > th {
    background-color: #C6D29F !important;
    }
    table > tbody > tr.selected.hover.odd > td,
    table > tbody > tr.selected.hover.odd > th,
    table > tfoot > tr.selected.hover.odd > td,
    table > tfoot > tr.selected.hover.odd > th,
    table > tbody > tr.selected.focus.odd > td,
    table > tbody > tr.selected.focus.odd > th,
    table > tfoot > tr.selected.focus.odd > td,
    table > tfoot > tr.selected.focus.odd > th,
    table > tbody > tr.selected.dragging.odd > td,
    table > tbody > tr.selected.dragging.odd > th,
    table > tfoot > tr.selected.dragging.odd > td,
    table > tfoot > tr.selected.dragging.odd > th,
    table > tbody > tr.selected.highlightRow.odd > td,
    table > tbody > tr.selected.highlightRow.odd > th,
    table > tfoot > tr.selected.highlightRow.odd > td,
    table > tfoot > tr.selected.highlightRow.odd > th {
    background-color: #B6C28F !important;
    }
    table.grid > tbody > tr.selected.hover .inputCell span,
    table.grid > tfoot > tr.selected.hover .inputCell span,
    table.grid > tbody > tr.selected.focus .inputCell span,
    table.grid > tfoot > tr.selected.focus .inputCell span,
    table.grid > tbody > tr.selected.dragging .inputCell span,
    table.grid > tfoot > tr.selected.dragging .inputCell span,
    table.grid > tbody > tr.selected.highlightRow .inputCell span,
    table.grid > tfoot > tr.selected.highlightRow .inputCell span {
    border-color: #C6D29F !important;
    }
    table.grid > tbody > tr.selected.hover.odd .inputCell span,
    table.grid > tfoot > tr.selected.hover.odd .inputCell span,
    table.grid > tbody > tr.selected.focus.odd .inputCell span,
    table.grid > tfoot > tr.selected.focus.odd .inputCell span,
    table.grid > tbody > tr.selected.dragging.odd .inputCell span,
    table.grid > tfoot > tr.selected.dragging.odd .inputCell span,
    table.grid > tbody > tr.selected.highlightRow.odd .inputCell span,
    table.grid > tfoot > tr.selected.highlightRow.odd .inputCell span {
    border-color: #B6C28F !important;
    }
    
/* Hovered/Focused Input Cell */
    table.grid > tbody > tr.focus .inputCell span.focus,
    table.grid > tbody > tr.focus .inputCell span.hover,
    table.grid > tbody > tr.hover .inputCell span.hover,
    table.grid > tbody > tr.focus.odd .inputCell span.focus,
    table.grid > tbody > tr.focus.odd .inputCell span.hover,
    table.grid > tbody > tr.hover.odd .inputCell span.hover {
    border-color: #09C !important;
    }

/* Highlighted Columns
/* ---------------------------------------------------------------------------------------- */
    table.grid > thead > tr > .highlightColumn, 
    table.grid > thead > tr > .highlightColumnOn  {
    background-color: #88B4B7 !important;
    }
    table.grid > tbody > tr > .highlightColumn, 
    table.grid > tbody > tr > .highlightColumnOn,
    table.grid > tfoot > tr > .highlightColumn, 
    table.grid > tfoot > tr > .highlightColumnOn {
    background-color: #C6F1FF !important;
    }
    table.grid > tbody > tr.odd > .highlightColumn, 
    table.grid > tbody > tr.odd > .highlightColumnOn,
    table.grid > tfoot > tr.odd > .highlightColumn, 
    table.grid > tfoot > tr.odd > .highlightColumnOn {
    background-color: #B6E1EF !important;
    }
    table.grid > tbody > tr > .highlightColumn.inputCell span, 
    table.grid > tbody > tr > .highlightColumnOn.inputCell span {
    border-color: #C6F1FF !important;
    border-color: #F00 !important;
    }
    table.grid > tbody > tr.odd > .highlightColumn.inputCell span,
    table.grid > tbody > tr.odd > .highlightColumnOn.inputCell span {
    border-color: #B6E1EF !important;
    border-color: #F00 !important;
    }

    table.grid > tbody > tr.selected > .highlightColumn,
    table.grid > tbody > tr.selected > .highlightColumnOn,
    table.grid > tfoot > tr.selected > .highlightColumn,
    table.grid > tfoot > tr.selected > .highlightColumnOn {
    background-color: #C6D29F !important;
    }
    table.grid > tbody > tr.selected.odd > .highlightColumn,
    table.grid > tbody > tr.selected.odd > .highlightColumnOn,
    table.grid > tfoot > tr.selected.odd > .highlightColumn,
    table.grid > tfoot > tr.selected.odd > .highlightColumnOn {
    background-color: #B6C28F !important;
    }
    table.grid > tbody > tr.selected > .highlightColumn.inputCell span,
    table.grid > tbody > tr.selected > .highlightColumnOn.inputCell span,
    table.grid > tfoot > tr.selected > .highlightColumn.inputCell span,
    table.grid > tfoot > tr.selected > .highlightColumnOn.inputCell span {
    border-color: #C6D29F !important;
    }
    table.grid > tbody > tr.selected.odd > .highlightColumn.inputCell span,
    table.grid > tbody > tr.selected.odd > .highlightColumnOn.inputCell span,
    table.grid > tfoot > tr.selected.odd > .highlightColumn.inputCell span,
    table.grid > tfoot > tr.selected.odd > .highlightColumnOn.inputCell span {
    border-color: #B6C28F !important;
    }
    
/* Options List
/* ---------------------------------------------------------------------------------------- */
    .gaGridOptionsList {
    list-style: none;
    margin: 3px 0 0;
    padding: 0;
    }
    
    .gaGridOptionsListItem {
    position: relative;
    float: left;
    list-style: none;
    margin: 0 5px 0 0;
    padding: 0;
    z-index: 90;
    }
    
    .gaGridOptionsToggle,
    .gaGridOptionsList .gaMenuToggle {
    display: block;
    margin: 0;
    padding: 4px 9px !important;
    font-size: 0.9em;
    line-height: 13px !important;
    cursor: pointer;
    color: #666 !important;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    }
    .gaGridOptionsList .gaMenuToggle {
    padding: 3px 17px 3px 8px !important;
    background-image: url('images/ga.menu.indicator.png');
    background-position: right 9px;
    background-repeat: no-repeat;
    background-color: #EEE;
    border: 1px solid #BBB;
    text-decoration: none;
    }
    .gaGridOptionsList .gaMenuToggle:hover,
    .gaGridOptionsList .gaMenuToggle.hover,
    .gaGridOptionsList .gaMenuContainer:hover .gaMenuToggle,
    .gaGridOptionsList .gaMenuContainer.hover .gaMenuToggle,
    .gaGridOptionsList .gaMenuContainer.gaMenuOpen .gaMenuToggle {
    color: #FFF !important;
    background-color: #999;
    background-position: right -11px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid #999;
    }
   
/* Grid Input Search Box
/* ---------------------------------------------------------------------------------------- */
    .form_input.gridSearch .input.search label {
    display: none;
    }
    .form_input.gridSearch .input.search {
    padding-bottom: 0px;
    margin-bottom: -1px;
    }
    .form_input.gridSearch .input.search .input {
    width: 90% !important;
    }
    .form_input.gridSearch .input.search input {
    width: 100% !important;
    border-bottom: none;
    border-color: #A5A5A5;
    padding: 4px 0px;
    padding-left: 23px;
    background-image: url('images/search.png');
    background-position: 3px 3px;
    background-repeat: no-repeat;
    }
    *+html .form_input.gridSearch .input.search input {
    margin-left: 1px;
    margin-top: -1px;
    }
    .form_input.gridSearch .input.search button {
    width: 9% !important;
    border: 1px solid #A5A5A5;
    border-bottom: none;
    float: right;
    padding: 3px;
    margin-right: -1px;
    }
    *+html .form_input.gridSearch .input.search button {
    padding: 2px;
    }
    *+html .form_input.gridSearch table.input {
    margin-top: -1px;
    }