/* Input Row
/* ---------------------------------------------------------------------------------------- */
    fieldset {
    border: 1px solid #BBB;
    margin: 0px;
    margin-bottom: 10px;
    padding: 5px 5px 10px 5px;
    }
    legend {
    padding: 0px 5px;
    font-size: 14px;
    color: #666;
    margin-top: -5px;
    color: #333333;
    }
    
/* Input Row
/* ---------------------------------------------------------------------------------------- */
    .form_input {
    display: table;
    width: 100%;
    clear: both;
    margin: 0px 0px 10px 0px;
    padding: 0px;
    }
    .compact > .form_input, .form_input.compact {
    margin-bottom: 0px;
    }

    .form_input > * {
    font: 12px "Tahoma";
    }
    
/* Label
/* ---------------------------------------------------------------------------------------- */
    .form_input > label,
    .form_input > .label {
    float: left;
    width: 20%;
    padding: 5px 0px;
    line-height: 12px;
    text-align: right;
    color: #333;
    }
    .form_input.label40 > label,
    .form_input.label40 > .label {
    width: 40%;
    }
    .form_input.label30 > label,
    .form_input.label30 > .label {
    width: 30%;
    }

    .form_input span.star {
    display: inline !important;
    width: auto !important;
    color: #C00;
    font-weight: normal;
    cursor: help;
    }

/* Display Container
/* ---------------------------------------------------------------------------------------- */
    .form_input .display {
    display: block;
    width: 79%;
    padding: 0px;
    line-height: 22px;
    text-align: left;
    float: right;
    clear: none;
    }
    .form_input.label40 .display {
    width: 59%;
    }
    .form_input.label30 .display {
    width: 69%;
    }

/* Input Container
/* ---------------------------------------------------------------------------------------- */
    .form_input .output,
    .form_input .input,
    .form_input .group {
    position: relative;
    top: 0;
    left: 0;
    float: right;
    width: 78%;
    margin: 0;
    margin-right: 1%;
    padding: 0;
    clear: none;
    }
    .form_input.label40 .output,
    .form_input.label40 .input,
    .form_input.label40 .group {
    width: 58%;
    }
    .form_input.label30 .output,
    .form_input.label30 .input,
    .form_input.label30 .group {
    width: 68%;
    }
   .form_input .input {
    position: relative;
    }
    .form_input input,
    .form_input textarea,
    .form_input select {
    margin: 0px;
    padding: 3px !important;
    border: 1px solid #666;
    background-color: #FFF;
    font: 12px "Tahoma";
    }
    .form_input select {
    width: 45%;
    height: 22px;
    padding: 2px !important;
    }
    .form_input select[multiple] {
    height: auto;
    }
    * html .form_input input,
    *+html .form_input input,
    * html .form_input textarea,
    *+html .form_input textarea {
    margin-top: -1px;
    }
    .form_input input[disabled],
    .form_input textarea[disabled],
    .form_input select[disabled] {
    border: 1px solid #999;
    background-color: #EEEEEE;
    }

/* Grouped Inputs
/* ---------------------------------------------------------------------------------------- */
    .form_input .inline,
    .form_input .group label,
    .form_input .group .input,
    .form_input .group .display {
    display: inline;
    width: auto;
    margin-right: 5px !important;
    float: left;
    }
    .form_input .group input[type="checkbox"],
    .form_input .group input[type="radio"] {
    float: left;
    width: auto;
    margin: 5px 0px;
    margin-left: 2px;
    }
    .form_input .check_box label,
    .form_input .check_box .label {
     position: relative;
     top: 2px;
     left: 3px;
    }
    
    .form_input .vertical {
    display: block !important;
    float: left;
    }
    .form_input .vertical label {
    clear: right !important;
    }
    .form_input .vertical .input,
    .form_input .vertical .display{
    clear: left !important;
    }

/* Large/Body Inputs
/* ---------------------------------------------------------------------------------------- */
    .form_input.large label,
    .form_input.body label {
    display: block;
    float: none;
    width: auto;
    padding-bottom: 5px;
    text-align: left;
    }
    .form_input.large > .input,
    .form_input.body > .input {
    float: none;
    width: 100%;
    }
    .form_input.large input {
    font-size: 150% !important;
    }
    .form_input.body .display {
    float: none;
    }

/* Checkboxes + Radio buttons
/* ---------------------------------------------------------------------------------------- */
    .form_input.check_box {
    margin-left: 21% !important;
    width: 79% !important;
    }
    .form_input.check_box span.input {
    padding: 5px 0 0;
    width: auto;
    }
    * html .form_input.check_box span.input,
    *+html .form_input.check_box span.input {
    width: 16px !important;
    padding: 2px 0px !important;
    }
    .form_input input[type="checkbox"],
    .form_input input[type="radio"] {
    width: auto !important;
    border: none !important;
    background: none !important;
    }
    .form_input.check_box span,
    .form_input.check_box div,
    .form_input.check_box label {
    float: left;
    clear: none;
    }
    .form_input.check_box label {
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
    }

/* Note
/* ---------------------------------------------------------------------------------------- */
    .form_input span.note {
    display: block;
    float: right;
    clear: both;
    background: none !important;
    margin: 0px !important;
    padding: 0px !important;
    padding-top: 2px !important;
    width: 79%;
    color: #666;
    }
    
/* Textbox Widths
/* ---------------------------------------------------------------------------------------- */
 /* Standard */
    .form_input .input select {
    width: 98.8%;
    }
    .form_input .input input,
    .form_input .input textarea {
    width: 98%
    }
 /* Grouped Inputs */
    .form_input .group .input,
    .form_input .group .input input,
    .form_input .group .input select {
    width: auto;
    }
 /* Half-size Inputs */
    .form_input .input.half select {
    width: 40.7%;
    }
    .form_input .input.half input,
    .form_input .input.half textarea {
    width: 40%;
    }
 /* Short Inputs */
    .form_input .input.mini input,
    .form_input .input.integer input,
    .form_input .input.numeric input,
    .form_input .input.alphabetical input,
    .form_input .input.alphanumeric input {
    width: 120px;
    }
    .form_input .input.mini select {
    width: 128px;
    }
 /* Grouped Inputs */
    .form_input .input.veryMini input,
    .form_input .input.veryMini select,
    .form_input .input.veryMini textarea {
    width: 70px !important;
    }
 /* Date/Time Inputs */
    .form_input.date .input input,
    .form_input.dateTime .input input {
    width: 120px;
    }
    .form_input.time .input input,
    .form_input.dateTime .input.time input {
    width: 75px;
    }
    .form_input.year .input input {
    width: 45px;
    }
/* File Inputs */
    .form_input > .file input {
    background-color: #FFF !important;
    border: 0px !important;
    }
    * html .form_input .file input,
    *+html .form_input .file input {
    border: 1px solid #666 !important;
    background-color: #FFF !important;
    }

/* Checkbx Tables
/* ---------------------------------------------------------------------------------------- */
    table.checkbx {
    width: auto;
    }
    table.checkbx,
    table.checkbx th,
    table.checkbx td {
    padding: 0px !important;
    border: none !important;
    background: none !important;
    }
    table.checkbx td label {
    line-height: 19px;
    margin-left: 3px;
    }
    
/* Slider
/* ---------------------------------------------------------------------------------------- */
 /* Text Input */
    .form_input .group.gaSlider .gaSliderInput {
    width: 8% !important;
    margin: 0 !important;
    padding: 0;
    }
    .form_input .group.gaSlider.half .gaSliderInput {
    width: 6% !important;
    }
    .form_input .group.gaSlider.mini .gaSliderInput {
    width: 4% !important;
    }
    .form_input .group.gaSlider.veryMini .gaSliderInput {
    width: 3% !important;
    }
    .form_input .group.gaSlider .gaSliderInput input {
    width: 100% !important;
    }
 /* Slider Bar */
    .form_input .group.gaSlider .gaSliderBar {
    position: relative;
    left: 6px;
    height: 22px;
    width: 90.5% !important;
    margin: 0 !important;
    padding: 0;
    }
    * html .form_input .group.gaSlider .gaSliderBar,
    *+html .form_input .group.gaSlider .gaSliderBar {
    width: 90% !important;
    }
    .form_input .group.gaSlider.half .gaSliderBar {
    width: 36% !important;
    }
    .form_input .group.gaSlider.mini .gaSliderBar {
    width: 18% !important;
    }
    .form_input .group.gaSlider.veryMini .gaSliderBar {
    width: 10% !important;
    }
 /* Slider Bar Padding */
    .form_input .group.gaSlider .gaSliderBar-pad {
    display: block;
    height: 22px;
    margin: 0 !important;
    padding: 8px 11px;
    font-size: 6px;
    }
 /* Slider Handle */
   .form_input .group.gaSlider .gaSliderBar-pad .ui-slider {
    position: relative;
    text-align: left;
    display: block;
    height: 4px;
    width: 100%;
    margin: 0 !important;
    font-size: 6px;
    background-color: #666;
    border: 1px solid #000;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.5);
    }
    .form_input .group.gaSlider .gaSliderBar-pad .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    cursor: default;
    height: 20px;
    width: 12px;
    margin: -8px -6px;
    background-image: url('images/slider-handle.png');
    background-repeat: no-repeat;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    }
    
 /* Search Input
 /* -------------------------------------------------------------------------------------------------------------------------- */ 
    .gaSearchInput {
    position: relative;
    }
    .gaSearchInput input {
    }
    .gaSearchClear {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 16px;
    height: 16px;
    border: 0;
    margin: -3px 1px;
    padding: 2px;
    font-size: 16px;
    font-weight: bold;
    line-height: 14px;
    text-decoration: none;
    color: #300;
    cursor: default !important;
    }
    .gaSearchClear:hover {
    color: #900;
    }

/* Dropdown
/* ---------------------------------------------------------------------------------------- */
    div.dropdown {
    position: absolute;
    overflow: auto;
    border: 1px solid #999;
    margin-left: 0px;
    margin-top: -1px;
    background-color: #FFF;
    z-index: 1000;
    }
    div.dropdown ul {
    margin: 0px;
    padding: 0px;
    }
    div.dropdown li {
    margin: 0px;
    list-style: none;
    }
    div.dropdown li:hover,
    div.dropdown li.hover,
    div.dropdown li.keyhover {
    background-color: #C6F1FF;
    }
    div.dropdown li a {
    display: block;
    padding: 3px 2px;
    color: #333;
    text-decoration: none;
    cursor: default;
    }

 /* Timepicker */
    div.dropdown.timepicker {
    height: 150px;
    width: 76px;
    }

 /* AutoSuggestion */
    div.dropdown.autoSuggest {
    height: auto;
    width: 300px;
    }
    div.dropdown.autoSuggest li span {
    display: block;
    font-size: 10px;
    }
    div.dropdown.autoSuggest li span.name,
    div.dropdown.autoSuggest li span.title {
    font-size: 12px;
    }

 /* jQuery Datepicker Widget */
    .ui-datepicker {
    display: none;
    border: 1px solid #999;
    background-color: #FFF;
    margin-top: -1px;
    padding: 3px;
    padding-right: 5px;
    width: 203px;
    z-index: 1050 !important; /* Appear abover error bubbles. */
    }
    .ui-datepicker .ui-datepicker-prev,
    .ui-datepicker .ui-datepicker-next {
    display: block;
    width: 14px;
    height: 14px;
    margin-top: 5px;
    cursor: pointer;
    background-image: url('images/datepicker.arrows.png');
    background-position: 0px 0px;
    background-repeat: no-repeat;
    }
    .ui-datepicker .ui-datepicker-prev span,
    .ui-datepicker .ui-datepicker-next span {
    display: none;
    }
    .ui-datepicker .ui-datepicker-prev {
    float: left;
    background-position: 0px 0px;
    }
    .ui-datepicker .ui-datepicker-prev:hover {
    background-position: 0px -14px;
    }
    .ui-datepicker .ui-datepicker-next {
    float: right;
    background-position: -14px 0px;
    }
    .ui-datepicker .ui-datepicker-next:hover {
    background-position: -14px -14px;
    }
    
    .ui-datepicker .ui-datepicker-title {
    font: 14px 'Tahoma';
    padding: 3px 0px;
    text-align: center;
    }
    
    .ui-datepicker th span,
    .ui-datepicker td span {
    padding: 0px;
    }
    .ui-datepicker td {
    padding: 0px;
    width: 17px !important;
    background-color: #FOO;
    }
    .ui-datepicker td * {
    border: 1px solid #FOO;
    }
    .ui-datepicker td a {
    display: block;
    padding: 5px;
    width: 17px;
    text-decoration: none;
    color: #000;
    }
    .ui-datepicker td a:hover {
    background-color: #C6F1FF;
    }
    
    .ui-datepicker td.ui-datepicker-today a {
    background-color: #FFD782;
    }
    .ui-datepicker td.ui-datepicker-today a:hover {
    background-color: #C6D29F;
    }
    
/* Buttons
/* ---------------------------------------------------------------------------------------- */
 /* Buttons in tables */
    table.grid tr td button ,
    table.grid tr td input[type=submit],
    table.grid tr td input[type=reset],
    table.grid tr td input[type=button] {
    height: 16px !important;
    }
 /* Input Rows */
    .form_input button,
    .form_input input[type=submit],
    .form_input input[type=reset],
    .form_input input[type=button] {
    background-image: url('images/ga.button.sprite.png');
    height: 22px !important;
    padding: 0px 5px !important;
    /*line-height: 20px !important;*/
    }
 /* Input Rows - Standard Buttons */
    .form_input button,
    .form_input input[type=reset],
    .form_input input[type=button] {
    background-position: center -90px;
    }
    .form_input button:hover,
    .form_input input[type=reset]:hover,
    .form_input input[type=button]:hover {
    background-position: center -112px;
    }
    .form_input button:active,
    .form_input input[type=reset]:active,
    .form_input input[type=button]:active {
    background-position: center -134px;
    }
 /* Input Rows - Submit Buttons */
    .form_input button[type=submit],
    .form_input input[type=submit] {
    background-position: center -246px;
    }
    .form_input button[type=submit]:hover,
    .form_input input[type=submit]:hover {
    background-position: center -268px;
    }
    .form_input button[type=submit]:active,
    .form_input input[type=submit]:active {
    background-position: center -290px;
    }
 /* Input Rows - Negative Buttons */
    .form_input button.negative,
    .form_input input.negative {
    background-position: center -402px;
    }
    .form_input button.negative:hover,
    .form_input input.negative:hover {
    background-position: center -424px;
    }
    .form_input button.negative:active,
    .form_input input.negative:active {
    background-position: center -446px;
    }
 /* Input Rows - IE Hacks */
    * html .form_input button,
    *+html .form_input button,
    * html .form_input input[type="submit"],
    *+html .form_input input[type="submit"],
    * html .form_input input[type="reset"],
    *+html .form_input input[type="reset"],
    * html .form_input input[type="button"],
    *+html .form_input input[type="button"] {
    height: 22px;
    margin-top: 0px;
    padding: 0px 5px !important;
    }
 /* Standard Buttons */
    button,
    input[type="submit"],
    input[type="reset"],
    input[type="button"],
    .form_buttons a.button {
    display: block;
    float: left;
    clear: none;
    margin: 0px;
    margin-right: 10px;
    padding: 5px 10px;
    background-image: url('images/ga.button.sprite.png');
    background-repeat: no-repeat;
    cursor: pointer;
    font-family: "Lucida Grande", "Verdana", sans-serif;
    font-size: 0.9em;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    behavior: url('border-radius.htc'); /* Rounded corners for IE6, IE7 & IE8 */
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
    }
    .form_buttons a.button {
    line-height: 15px !important;
    padding: 5px 13px !important;
    text-decoration: none !important;
    }

 /* Standard Buttons */
    button,
    input[type=reset],
    input[type=button],
    .form_buttons a.button {
    border: 1px solid #000;
    background-color: #000;
    background-position: center -1px;
    color: #FFF !important;
    }
    button:hover,
    input[type=reset]:hover,
    input[type=button]:hover,
    .form_buttons a.button:hover {
    background-position: center -31px;
    }
    button:active,
    input[type=reset]:active,
    input[type=button]:active,
    .form_buttons a.button:active {
    background-position: center -61px;
    position: relative;
    top: 1px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    }
 /* Submit Buttons */
    button[type=submit],
    input[type=submit],
    button.submit,
    input[type=button].submit,
    input.submit[type=reset],
    input.submit[type=button],
    .form_buttons a.button.submit {
    border: 1px solid;
    border-color: #DCAE7C;
    background-color: #E58B0E;
    background-position: center -157px;
    color: #000 !important;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    }
    button[type=submit]:hover,
    input[type=submit]:hover,
    button.submit:hover,
    input.submit[type=reset]:hover,
    input.submit[type=button]:hover,
    .form_buttons a.button.submit:hover {
    background-position: center -187px;
    }
    button[type=submit]:active,
    input[type=submit]:active,
    button.submit:active,
    input.submit[type=reset]:active,
    input.submit[type=button]:active,
    .form_buttons a.button.submit:active {
    background-position: center -217px;
    position: relative;
    top: 1px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    }
 /* Negative Buttons */
    button.negative,
    input.negative,
    .form_buttons a.button.negative {
    border: 1px solid #750000;
    background-color: #A60000;
    background-position: center -313px;
    color: #FFF !important;
    }
    button.negative:hover,
    input.negative:hover,
    .form_buttons a.button.negative:hover {
    background-position: center -343px;
    }
    button.negative:active,
    input.negative:active,
    .form_buttons a.button.negative:active {
    background-position: center -373px;
    position: relative;
    top: 1px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    }
 /* Submit Buttons */
    button[disabled],
    input[type=submit][disabled],
    input[type=reset][disabled],
    input[type=button][disabled] {
    border: 1px solid #000 !important;
    background-color: #000 !important;
    background-position: center 0 !important;
    opacity: 0.5;
    filter: alpha(opacity=50);
    }
    button[type=submit][disabled],
    input[type=submit][disabled] {
    border: 1px solid #B06A0B !important;
    background-color: #E58B0E !important;
    background-position: center -90px !important;
    }
    button.negative[disabled],
    input.negative[type=submit][disabled],
    input.negative[type=reset][disabled],
    input.negative[type=button][disabled] {
    border: 1px solid #750000 !important;
    background-color: #A60000 !important;
    background-position: center -180px !important;
    }
 /* IE Hacks */
    * html input[type="submit"],
    *+html input[type="submit"],
    * html input[type="reset"],
    *+html input[type="reset"],
    * html input[type="button"],
    *+html input[type="button"] {
    padding: 7px 6px 5px;
    outline: none !important;
    }
    * html button,
    *+html button {
    padding: 6px 6px 4px !important;
    }
    * html .form_buttons a.button,
    *+html .form_buttons a.button {
    padding: 6px 12px !important;
    }
 /* Button Rows */
    .form_buttons {
    display: table;
    width: 79%;
    margin: 0px !important;
    margin-bottom: 10px !important;
    padding: 0px !important;
    padding-left: 21% !important;
    line-height: 120%;
    }
    * html .form_buttons,
    *+html .form_buttons {
    height: 30px;
    }
    .form_buttons *:first-child {
    margin-left: -1px;
    }
    .form_buttons a {
    line-height: 24px;
    }
    * html .form_buttons *:first-child,
    *+html .form_buttons *:first-child {
    margin-left: 0px !important;
    }


  /* ga.base.css thinks tables should not share a line with any other element. 
     This is a poor assumption within .form_input .group (if not everywhere?) */
    .form_input .group table {
    clear: none;
    }
