/* Openlayers Defaults
/* ---------------------------------------------------------------------------------------- */
    div.columns div.column.map, div.columns div.column:first-child.map {
    width: 70%;
    }
    div.columns div.column.map + div.column {
    width: 30%;
    }


    div.olMap {
        z-index: 0;
        padding: 0px !important;
        margin: 0px !important;
        cursor: default;
    }
    
    div.olMapViewport {
        text-align: left;
    }
    
    div.olLayerDiv {
       -moz-user-select: none;
    }
    
    .olLayerGoogleCopyright {
        left: 2px;
        bottom: 2px;  
    }
    .olLayerGooglePoweredBy {
        left: 2px;
        bottom: 15px;   
    }
    .olControlAttribution {
        font-size: smaller; 
        right: 3px; 
        bottom: 4.5em; 
        position: absolute; 
        display: block;
    }
    .olImageLoadError {
        background-color: pink;
        opacity: 0.5;
        filter: alpha(opacity=50); /* IE */
    }
    
/* Floating Window
/* ---------------------------------------------------------------------------------------- */
 /* Structure */
    #map {
    }

 /* Toolbar */
    .olControlPanel { 
    top: 3px;
    left: 3px;
    padding: 3px;
    background: url('images/darken-more.png');
    border-radius: 7px;
    -moz-border-radius: 7px;
    -khtml-border-radius: 7px;
    -webkit-border-radius: 7px;
    behavior: url('border-radius.htc'); /* Rounded corners for IE6, IE7 & IE8 */
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    }
    .olControlPanel div { 
    display: block;
    width: 26px;
    height: 26px;
    background-image: url('images/ga.button.map.sprite.png') !important;
    border: 1px solid #507C89 !important;
    border-left: none !important;
    float: left;
    }

 /* Zoom In */
    .olControlPanel .olControlZoomInItemInactive {
    background-position: -1px -1px;
    border-left: 1px solid #507C89 !important;
    border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    -khtml-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    behavior: url('border-radius.htc'); /* Rounded corners for IE6, IE7 & IE8 */
    }
    .olControlPanel .olControlZoomInItemInactive:hover {
    background-position: -1px -29px;
    /*background-position: -1px -85px;*/
    }
    .olControlPanel .olControlZoomInItemInactive:active {
    background-position: -1px -57px;
    }

 /* Zoom Out */
    .olControlPanel .olControlZoomOutItemInactive {
    background-position: -29px -1px;
    }
    .olControlPanel .olControlZoomOutItemInactive:hover {
    background-position: -29px -29px;
    /*background-position: -29px -83px;*/
    }
    .olControlPanel .olControlZoomOutItemInactive:active {
    background-position: -29px -57px;
    }

 /* Zoom to Full Map Extent */
    .olControlPanel .olControlZoomToMaxExtentItemInactive {
    background-position: -85px -1px;
    }
    .olControlPanel .olControlZoomToMaxExtentItemInactive:hover {
    background-position: -85px -29px;
    /*background-position: -85px -85px;*/
    }
    .olControlPanel .olControlZoomToMaxExtentItemInactive:active {
    background-position: -85px -57px;
    }

 /* Zoom to Previous Map Extent */
    .olControlPanel .olControlZoomToPreviousExtentItemInactive {
    background-position: -197px -1px;
    }
    .olControlPanel .olControlZoomToPreviousExtentItemInactive:hover {
    background-position: -197px -29px;
    }
    .olControlPanel .olControlZoomToPreviousExtentItemInactive:active {
    background-position: -197px -57px;
    }

 /* Pan */
    .olControlPanel .olControlNavigationItemInactive {
    background-position: -57px -1px;
    }
    .olControlPanel .olControlNavigationItemInactive:hover {
    background-position: -57px -29px;
    }
    .olControlPanel .olControlNavigationItemInactive:active {
    background-position: -57px -57px;
    }
    .olControlPanel .olControlNavigationItemActive {
    background-position: -57px -85px;
    border: 1px solid #9F570F !important;
    border-left: none !important;
    }
    
/* Bounding Box */
    .olControlPanel .olControlBoundingBoxItemActive {
    background-position: -224px -85px;
    }
    .olControlPanel .olControlBoundingBoxItemInactive {
    background-position: -224px -1px;
    }
    
/* Point Marker */
    .olControlPanel .olControlPointMarkerItemActive,
    .olControlPanel .olControlPointMarkerItemInactive { 
   /* background-image: url('images/ga.button.map.editing.toolbar.sprite.png') !important; */
    }

    .olControlPanel .olControlPointMarkerItemActive {
/*    background-position: -77px -70px; */
    background-position: -113px -85px;

    }
    .olControlPanel .olControlPointMarkerItemInactive {
    /* background-position: -77px +1px;*/
        background-position: -113px -1px;    
    }

 /* Zoom To Previous extent Control */
    .olControlPanel .olControlZoomToPreviousItemInactive:active {
    background-position: -197px -57px;
    }
    .olControlPanel .olControlZoomToPreviousItemInactive {
    background-position: -197px -1px;
    }
    .olControlPanel .olControlZoomToPreviousItemInactive:hover {
    background-position: -197px -1px;
    }   
    
    /*
    .olControlPanel .olControlNavigationItemActive:hover {
    background-position: -57px -113px;
    }
    .olControlPanel .olControlNavigationItemActive:active {
    background-position: -57px -141px;
    }
    */

 /* Draw Feature */
    .olControlPanel .olControlDrawFeatureItemInactive {
    background-position: -113px -1px;
    }
    .olControlPanel .olControlDrawFeatureItemInactive:hover {
    background-position: -113px -29px;
    }
    .olControlPanel .olControlDrawFeatureItemInactive:active {
    background-position: -113px -57px;
    }
    .olControlPanel .olControlDrawFeatureItemActive {
    background-position: -113px -85px;
    border: 1px solid #9F570F !important;
    border-left: none !important;
    }
    /*
    .olControlPanel .olControlDrawFeatureItemActive:hover {
    background-position: -113px -113px;
    }
    .olControlPanel .olControlDrawFeatureItemActive:active {
    background-position: -113px -141px;
    }
    */

 /* Zoom box */
    .olControlPanel .olControlZoomBoxItemInactive {
    background-position: -141px -1px;
    }
    .olControlPanel .olControlZoomBoxItemInactive:hover {
    background-position: -141px -29px;
    }
    .olControlPanel .olControlZoomBoxItemInactive:active {
    background-position: -141px -57px;
    }
    .olControlPanel .olControlZoomBoxItemActive {
    background-position: -141px -85px;
    border: 1px solid #9F570F !important;
    border-left: none !important;
    }
    /*
    .olControlPanel .olControlZoomBoxItemActive:hover {
    background-position: -141px -113px;
    }
    .olControlPanel .olControlZoomBoxItemActive:active {
    background-position: -141px -141px;
    }
    */

    .olHandlerBoxZoomBox {
    border: 2px solid #069;
    position: absolute;
    background-color: #FFF;
    opacity: 0.50;
    font-size: 1px;
    filter: alpha(opacity=50);
    }

 /* Information */
    .olControlPanel .olControlInformationItemInactive {
    background-position: -169px -1px;
    border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -khtml-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    behavior: url('border-radius.htc'); /* Rounded corners for IE6, IE7 & IE8 */
    }
    .olControlPanel .olControlInformationItemInactive:hover {
    background-position: -169px -29px;
    }
    .olControlPanel .olControlInformationItemInactive:active {
    background-position: -169px -57px;
    }
    .olControlPanel .olControlInformationItemActive {
    background-position: -169px -85px;
    border: 1px solid #9F570F !important;
    border-left: none !important;
    border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -khtml-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    behavior: url('border-radius.htc'); /* Rounded corners for IE6, IE7 & IE8 */
    }
    /*
    .olControlPanel .olControlInformationItemActive:hover {
    background-position: -169px -113px;
    }
    .olControlPanel .olControlInformationItemActive:active {
    background-position: -169px -141px;
    }
    */

    .olHandlerBoxInfoBox {
    border: 2px solid #F00;
    position: absolute;
    background-color: #FFF;
    opacity: 0.50;
    font-size: 1px;
    filter: alpha(opacity=50);
    }

 /* WMSGetFeatureInfo */
    .olControlMousePosition {
    top: 40px;
    left: 6px;
    bottom: auto !important;
    right: auto !important;
    background-color: #FFF;
    }

 /* Layer Switcher Panel */
    .olControlLayerSwitcher {
    top: 3px !important;
    right: 9px !important;
    min-height: 28px;
    min-width: 29px;
    width: auto !important;
    margin: 0px !important;
    padding: 5px 10px !important;
    background: url('images/darken-more.png') !important;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -khtml-border-radius: 7px;
    -webkit-border-radius: 7px;
    behavior: url('border-radius.htc'); /* Rounded corners for IE6, IE7 & IE8 */
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    }
    .olControlLayerSwitcher * {
    color: #FFF !important;
    font-size: 12px !important;
    margin: 0;
    padding: 0;
    background: none !important;
    opacity: 1 !important;
    }
    body div.olControlLayerSwitcher div.layersDiv {
    padding: 0;
    }    
    .olControlLayerSwitcher div {
    line-height: 150%;
    white-space: nowrap;
    }
    .olControlLayerSwitcher input {
    margin-left: 0;
    margin-right: 3px;
    padding: 0;
    }
    .olControlLayerSwitcher .labelSpan {
    font-weight: normal !important;
    white-space: nowrap;
    }

 /* Layer Switcher: Open Button */
    .olControlLayerSwitcher #OpenLayers_Control_MaximizeDiv {
    height: 26px !important;
    width: 37px !important;
    background: none !important;
    background-image: url('images/ga.button.map.sprite.png') !important;
    background-position: -281px -1px !important;
    top: 5px !important;
    right: 5px !important;
    border: 1px solid #507C89 !important;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    behavior: url('border-radius.htc'); /* Rounded corners for IE6, IE7 & IE8 */
    }
    .olControlLayerSwitcher #OpenLayers_Control_MaximizeDiv:hover {
    background-position: -281px -29px !important;
    }
    .olControlLayerSwitcher #OpenLayers_Control_MaximizeDiv:active {
    background-position: -281px -57px !important;
    }
    .olControlLayerSwitcher #OpenLayers_Control_MaximizeDiv img {
    display: none;
    }

 /* Layer Switcher: Close Button */
    .olControlLayerSwitcher #OpenLayers_Control_MinimizeDiv {
    height: 26px !important;
    width: 37px !important;
    background: none !important;
    background-image: url('images/ga.button.map.sprite.png') !important;
    background-position: -281px -85px !important;
    top: 5px !important;
    right: 5px !important;
    border: 1px solid #9F570F !important;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    behavior: url('border-radius.htc'); /* Rounded corners for IE6, IE7 & IE8 */
    }
    .olControlLayerSwitcher #OpenLayers_Control_MinimizeDiv:hover {
    background-position: -281px -113px !important;
    }
    .olControlLayerSwitcher #OpenLayers_Control_MinimizeDiv:active {
    background-position: -281px -141px !important;
    }
    .olControlLayerSwitcher #OpenLayers_Control_MinimizeDiv img {
    display: none;
    }
    .olControlBoundingBoxActive {
      cursor: crosshair;
    }
    .olControlPointMarkerActive {
      cursor: crosshair;
    }
    .olControlPanel:hover, .olControlLayerSwitcher:hover {
      cursor: pointer;
    }


 /* Scale Control */
    .olMap .olControlScale {
    right: 3px;
    bottom: 3px;
    display: block;
    position: absolute;
    font-size: smaller;
    }
    .olMap .olControlScaleLine {
    display: block;
    position: absolute;
    left: 10px;
    bottom: 34px;
    font-size: xx-small;
    background: url('images/darken.png');
    padding: 5px;   
    }
    .olMap .olControlScaleLineBottom {
    border: solid 2px black;
    border-bottom: none;
    margin-top:-2px;
    text-align: center;
    color: #FFFFFF;
    }
    .olMap .olControlScaleLineTop {
    border: solid 2px black;
    border-top: none;
    text-align: center;
    color: #FFFFFF;
    }

 /* Reference Map */
    .olControlOverviewMapContainer {
    position: absolute;
    bottom: 5px;
    right: 11px;
    min-height: 17px !important;
    min-width: 17px !important;
    padding: 4px;
    margin-right: 5px;
    margin-bottom: 13px;
    background: url('images/darken-more.png');
    border-radius: 7px;
    -moz-border-radius: 7px;
    -khtml-border-radius: 7px;
    -webkit-border-radius: 7px;
    behavior: url('border-radius.htc'); /* Rounded corners for IE6, IE7 & IE8 */
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    }
    .olControlOverviewMapElement {
    border: 1px solid #333 !important;
    padding: 0px 0px 0px 0px !important;
}
    .olControlOverviewMapElement,
    .olControlOverviewMapElement * {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    behavior: url('border-radius.htc'); /* Rounded corners for IE6, IE7 & IE8 */
    }
 /* Reference Map Toggle Button */
    .olControlOverviewMapMinimizeButton,
    .olControlOverviewMapMaximizeButton {
    right: 5px;
    bottom: 5px !important;
    height: 16px !important;
    width: 16px !important;
    background: none !important;
    background-image: url('images/ga.button.map.sprite.png') !important;
    }
    .olControlOverviewMapMinimizeButton img,
    .olControlOverviewMapMaximizeButton img {
    display: none;
    }
 /* Minimise */
    .olControlOverviewMapMinimizeButton {
    background-position: -19px -223px !important;
    border: 1px solid #9F570F !important;
    border-radius: 3px 0 3px 0;
    padding-right: 5px;
    -moz-border-radius: 3px 0 3px 0;
    -khtml-border-radius: 3px 0 3px 0;
    -webkit-border-radius: 3px 0 3px 0;
    behavior: url('border-radius.htc'); /* Rounded corners for IE6, IE7 & IE8 */
    }
    .olControlOverviewMapMinimizeButton:hover {
    background-position: -19px -241px !important;
    cursor: pointer;
    }
 /* Maximise */
    .olControlOverviewMapMaximizeButton {
    background-position: -1px -187px !important;
    border: 1px solid #507C89 !important;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    behavior: url('border-radius.htc'); /* Rounded corners for IE6, IE7 & IE8 */
    }
    .olControlOverviewMapMaximizeButton:hover {
    background-position: -1px -205px !important;
    }
    
    .olControlOverviewMapExtentRectangle {
    overflow: hidden;
    cursor: move;
    border: 2px dotted red;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -khtml-border-radius: 0px;
    -webkit-border-radius: 0px;
    behavior: url('border-radius.htc'); /* Rounded corners for IE6, IE7 & IE8 */
    }
    
    .olControlOverviewMapExtentRectangle:hover {
      cursor:move;
    }
    
    .olControlOverviewMapRectReplacement {
    overflow: hidden;
    cursor: move;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -khtml-border-radius: 0px;
    -webkit-border-radius: 0px;
    behavior: url('border-radius.htc'); /* Rounded corners for IE6, IE7 & IE8 */
    }
    
 /* Cursor Styles */
    .olCursorWait {
    cursor: wait !important;
    }
    .olDragDown {
    cursor: move !important;
    }
    .olDrawBox {
    cursor: crosshair !important;
    }
    .olControlDragFeatureOver {
    cursor: move !important;
    }
    .olControlDragFeatureActive.olControlDragFeatureOver.olDragDown {
    cursor: -moz-grabbing !important;
    }

 /* Copyright Details */
    .olControlAttribution {
    position: absolute !important;
    bottom: 25px !important;
    right: 130px !important;
    font: 11px "Tahoma" !important;
    }
    .olLayerGooglePoweredBy {
    position: absolute !important;
    bottom: -3px !important;
    left: auto !important;
    right: 100px !important;
    font: 11px "Tahoma" !important;
    }
    .olLayerGoogleCopyright {
    font: 11px "Tahoma" !important;
    top: -1000px;
    display: none !important; /* temp cludge until the google code gets fixed */
    }
    .olLayerGooglePoweredBy {
    top: -1000px;
    display: none !important; /* temp cludge until the google code gets fixed */
    }
    .olControlOverviewMapContainer .olControlAttribution,
    .olControlOverviewMapContainer .olLayerGooglePoweredBy,
    .olControlOverviewMapContainer .olLayerGoogleCopyright,
    .olControlOverviewMapContainer .olMap a {
    display: none !important;
    }

