 /* gaMenu
 /* ---------------------------------------------------------------------------------------- */
 /* Container */
    .gaMenuContainer {
	position: relative;
	}
	
 /* Menu */
    .gaMenuDropdown {
    position: absolute;
	top: 19px;
	left: 0;
	width: 150px;
	margin: 0;
	padding: 0;
	list-style: none !important;
    border: 1px solid #999;
    background-color: #FFF;
	z-index: 100000;
	}
	
 /* Menu Items */
    .gaMenuItem,
    .gaMenuSeparator {
	width: 140px;
	float: left;
	clear: both;
	margin: 0;
	padding: 0;
	list-style: none !important;
    background-color: transparent;
	}
    .gaMenuSeparator {
	height: 0;
	width: 150px;
	line-height: 0;
	font-size: 0;
    border-bottom: 1px solid #CCC;
	}
    .gaMenuItem {
	margin: 0;
	padding: 5px;
    background-color: transparent !important;
	cursor: pointer !important;
	}
    .gaMenuItem:hover,
    .gaMenuItem.hover {
    background-color: #C6F1FF !important;
    }

 /* Toggle Checkbox */
    .gaMenuToggleItem input {
	position: relative;
	top: 1px;
    display: block;
    float: left;
    clear: none;
	margin: 0;
	padding: 0;
    }
    * html .gaMenuToggleItem input,
    *+html .gaMenuToggleItem input {
	position: static;
	margin: -2px !important;
	padding: 0 !important;
    }

 /* Toggle Label */
	.gaMenuToggleItem span {
    display: block;
    float: left;
    clear: none;
	margin: 0;
	padding: 0 0 0 5px;
	white-space: nowrap;
    }
