   /* Rich faces datascoller styles*/
   /* Active page selection*/
   .rich-datascr-act {
   font-size: 12px !important;
   border-top-color: #000000 !important;
   background-color: #CCCCCC !important;
   }
   /* Inactive page selection*/
   .rich-datascr-inact {
   font-size: 12px !important;
   text-decoration:underline;
   }
/* RichFaces 4 */
/* these shadow existing inputs that have already been sized */
.rf-au-inp {
    width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 5px !important;
    vertical-align: baseline !important;
}
.rf-au-btn {
    width: 15px;
}
.rf-au-btn-arrow,.rf-au-btn-arrow-dis {
    height: 20px;
}
* html .rf-au,
*+html .rf-au {
    width: 40%;
}
* html .rf-au-fld-btn,
* html .rf-au-inp,
*+html .rf-au-fld-btn,
*+html .rf-au-inp {
    height: 12px;;
}
.rf-au-fld-btn {
    margin-top:-6px;
}
.rf-au {
    border: 0px;
    background-color:fff;
  /*  width: 113%; */
}
/* slightly wider autocomplete to match select list width */
.input.select .rf-au-inp {
    width: 113% !important;
}
*+html .input.select .rf-au-inp {
    width: 100% !important;
}

/* set size of selection item in auto complete drop down box */
.rf-au-itm {
    height: 18px;
}

.rich-tool-tip {
    background-color: #C6F1FF;

}
.rich-tool-tip tr {
    height: 20px;
}

.rf-au-lst-scrl {
    width: 173px;
}
*+html .rf-au-lst-scrl {
    width: 210px;
}