/* External Stylesheets
/* ---------------------------------------------------------------------------------------- */
@import url('jquery-ui-1.8.20/jquery-ui-1.8.20.custom.css');

@import url('ga.base.css');

@import url('ga.menu.css');

@import url('ga.workflow.css');

@import url('ga.toolbar.css');

@import url('ga.tables.css');

@import url('ga.forms.css');

@import url('ga.forms.validate.css');

@import url('ga.forms.grids.css');

@import url('ga.tabs.css');

@import url('ga.accordion.css');

@import url('ga.map.css');

@import url('ga.richfaces.css');

@import url('ga.jquery-ui.css');

/* Bulkhead
/* ---------------------------------------------------------------------------------------- */
/* Structure */
div.bulkhead {
	z-index: 1000000 !important;
}
/* User details */
div.bulkhead .bulkhead-info {
	position: absolute;
	top: 0;
	right: 0;
	margin: 5px;
	padding: 3px 3px 4px;
	font-size: 11px;
	border: 1px solid #666;
	background-color: #333;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	behavior: url('border-radius.htc');
	/* Rounded corners for IE6, IE7 & IE8 */
	color: #FFF;
	-moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}

*+html div.bulkhead .bulkhead-info {
	padding-top: 6px;
}

div.bulkhead .bulkhead-info p {
	margin: 3px;
	padding: 0px;
	line-height: 100%;
}

/* Content
/* ---------------------------------------------------------------------------------------- */
/* Structure */
div.container {
	position: relative;
}

div.container-pad {
	padding: 10px 10px;
}

/* Footer
/* ---------------------------------------------------------------------------------------- */
div.footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	border-top: 1px solid #999;
	z-index: 1000000 !important;
}

/* Loading Animation...
/* ---------------------------------------------------------------------------------------- */
/* Structure */
div.gaLoading {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	text-align: center;
}

div.gaLoading div.gaLoading-pad {
	position: relative;
	top: 140px;
	height: 16px;
	width: 62px;
	margin: 0px auto;
	padding: 8px 10px 8px 36px !important;
	color: #FFF;
	line-height: 16px;
	text-align: left;
	background: rgba(0, 0, 0, 0.6);
	background-image: url('images/ga.loading.gif');
	background-repeat: no-repeat;
	background-position: 10px 8px;
	border: 1px solid #000;
	border-color: rgba(0, 0, 0, 0.8);
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
	z-index: 999999999 !important;
}

* html div.gaLoading div.gaLoading-pad,*+html div.gaLoading div.gaLoading-pad
	{
	background-color: #666;
}

/* Error Messages
/* ---------------------------------------------------------------------------------------- */
/*
    The JFS standards include nmessage severities of info, warn, error and fatal
    we are attaching corresponding classes to the div (with max severity) and the individual li elements
    and probably should have appropriate styling for all 4 severity levels
    */
div#messagesInsertionPoint ul {
	margin: 0;
	margin-bottom: 10px;
	padding: 5px 10px;
	padding-top: 9px;
	line-height: 24px;
	list-style: none;
	border: 1px solid #900;
	background-color: #FAA;
	background-image: url('images/mip-stripes-negative.png');
	background-repeat: repeat-x;
}

div#messagesInsertionPoint ul li {
	margin: 0;
	padding-left: 26px;
	list-style: none;
}

div#messagesInsertionPoint ul li:first-child {
	background-image: url('icons/error.16.png');
	background-position: 0px 5px;
	background-repeat: no-repeat;
}

div#messagesInsertionPoint.info ul,div#messagesInsertionPoint ul.positive
	{
	border-color: #5F6D0F;
	background-color: #C1DD62;
	background-image: url('images/mip-stripes-positive.png');
}

div#messagesInsertionPoint.warn ul,div#messagesInsertionPoint ul.warn {
	/* we need identifiable styling for severity=warn (will default to error in the meantime) */
	
}

div#messagesInsertionPoint.fatal ul,div#messagesInsertionPoint ul.fatal
	{
	/* we need identifiable styling for severity=fatal (will default to error in the meantime) */
	
}

div#messagesInsertionPoint ul li.info {
	/* we need identifiable styling for severity=info when max severity is greater (will default to same style as max severity)*/
	/* background-color: #C1DD62; */
	
}

div#messagesInsertionPoint ul li.warn {
	/* we need identifiable styling for severity=warn when max severity is greater (will default to same style as max severity) */
	
}

div#messagesInsertionPoint ul li.error {
	/* we need identifiable styling for severity=error when max severity is greater (will default to same style as max severity) */
	background-image: url('icons/error.16.png');
	background-position: 0px 5px;
	background-repeat: no-repeat;
}

div#messagesInsertionPoint.info ul li:first-child,div#messagesInsertionPoint ul.positive li:first-child
	{
	background-image: url('icons/check.16.png');
}

div#messagesInsertionPoint.warn ul li:first-child,div#messagesInsertionPoint ul.warn li:first-child
	{
	/* we need identifiable styling for severity=warn (will default to error in the meantime) */
	
}

div#messagesInsertionPoint.fatal ul li:first-child,div#messagesInsertionPoint ul.fatal li:first-child
	{
	/* we need identifiable styling for severity=fatal (will default to error in the meantime) */
	
}

/* Columns (inc. Resizable)
/* ---------------------------------------------------------------------------------------------------------------------------- */
div.columns {
	position: relative;
	display: table;
	width: 100%;
}

div.columns:after {
	content: ".";
	display: block;
	height: 0;
	font-size: 0px;
	clear: both;
	visibility: hidden;
}

div.columns div.column {
	float: left;
	width: 50%;
	margin: 0 -10px;
	margin-left: 7px;
	padding: 0;
	overflow: hidden;
}

div.columns div.column div.column-pad {
	margin: 0px 5px;
}

div.columns div.column:first-child {
	float: left;
	width: 50%;
	margin: 0;
	margin-right: -10px;
}

div.columns div.column:first-child div.column-pad {
	margin: 0;
	margin-right: 5px;
}

div.columns div.column:last-child,div.columns div.column.last-child {
	float: right;
	width: 50%;
	margin: 0;
	margin-left: -10px;
}

div.columns div.column:last-child div.column-pad {
	margin: 0;
	margin-left: 5px;
}

div.columns div.column div.column-pad {
	padding: 10px;
}

/* Resizable Columns
/* ---------------------------------------------------------------------------------------- */
/* Structure */
body.resizableColumns {
	overflow: hidden;
}

body.resizableColumns div.structure.columns {
	position: relative;
}

body.resizableColumns div.structure.columns div.column {
	position: relative;
	margin: 0;
	overflow: hidden;
	clear: none;
}

body.resizableColumns div.structure.columns div.column.last,body.resizableColumns div.structure.columns div.column:last-child
	{
	margin-left: -100px;
}

body.resizableColumns div.structure.columns div.column.content {
	padding: 0;
	overflow: auto;
}

body.resizableColumns div.structure.columns div.column.content>div.column-pad
	{
	margin: 0;
}
/* Resize Handlebar */
body.resizableColumns div.structure.columns div.handlebar {
	position: absolute;
	top: 0;
	height: 100% !important;
	width: 4px;
	margin: 0;
	padding: 0;
	background-color: #bbb;
	border-left: 1px solid;
	border-right: 1px solid;
	border-color: #666;
	cursor: e-resize;
	background-image: url('images/handlebar.png');
	font-size: 0;
	z-index: 999999 !important;
}

body.resizableColumns div.structure.columns div.handlebar.ui-draggable-dragging
	{
	width: 6px;
	border: 0;
	background-image: url('images/darken.png');
	z-index: 99999 !important;
}
/* IE Fixes */
* html body.resizableColumns div.structure.columns div.column.content,*+html body.resizableColumns div.structure.columns div.column.content
	{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 9998 !important;
}

* html body.resizableColumns div.structure.columns div.handlebar,*+html body.resizableColumns div.structure.columns div.handlebar
	{
	left: -2px;
	width: 6px;
}

body.resizableColumns div.structure.columns div.handlebar img.handlebar-min
	{
	width: 7px;
	height: 49px;
	position: relative;
	background-image: url('images/handlebar_close.gif');
	cursor: pointer;
	top: 48%;
}

body.resizableColumns div.structure.columns div.handlebar img.handlebar-max
	{
	width: 7px;
	height: 49px;
	position: relative;
	background-image: url('images/handlebar_open.gif');
	cursor: pointer;
	top: 48%;
}

/* Bulkhead
/* ---------------------------------------------------------------------------------------- */
.horizontalScroll {
	overflow: auto;
}

/* Modal Windows
/* ---------------------------------------------------------------------------------------- */
/* Container */
.dijitDialog {
	min-width: 70%;
	border: 1px solid #888 !important;
	z-index: 15000000 !important;
}

*+html .dijitDialog {
	width: 50%;
}

.dijitDialog div.structure {
	display: none;
}

.dijitDialog div.structure.container {
	display: block;
}

.dijitDialog div.intro {
	margin: 0px;
}
/* Title Bar */
div.dijitDialog div.dijitDialogTitleBar,.dijitDialog .dijitDialogTitleBar
	{
	margin: 0px;
	padding: 0px;
	height: 22px;
	border-bottom: 1px solid #888 !important;
	background-image: url('images/ga.accordion.sprite.png');
	background-position: 0px -1px;
	background-repeat: repeat-x;
	outline: none !important;
}

.dijitDialog .dijitDialogTitleBar .dijitDialogTitle {
	margin: 0px;
	padding: 0px;
	height: 22px;
	border: none !important;
	outline: none !important;
}

.dijitDialog .dijitDialogTitleBar .dijitDialogCloseIcon {
	
}
/* Content Area */
.dijitDialog .dijitDialogPaneContent {
	border: none !important;
	outline: none !important;
}

*+html .dijitDialog .dijitDialogPaneContent {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

*+html .dijitDialog .dijitDialogPaneContent * {
	margin-left: 10px !important;
	margin-right: 10px !important;
}
/* Underlay */
.dijitDialogUnderlayWrapper {
	z-index: 200000 !important;
}

/* a button to surface a popup window is the same height as the text around it (and the hyperlink it gets decorated with)  */
button.popup,input[type="submit"].popup,input[type="button"].popup,.form_buttons a.button.popup
	{
	padding: 0px 0px;
	margin: -3px;
}

/* Thumbnails
/* ---------------------------------------------------------------------------------------- */
/* Structure */
.ga-thumbnail-container {
	position: relative;
	display: table;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}

.ga-thumbnail-container:after {
	content: ".";
	display: block;
	height: 0;
	font-size: 0px;
	clear: both;
	visibility: hidden;
}
/* Structure */
.ga-thumbnail-row {
	position: relative;
	display: block;
	float: left;
	clear: none;
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

.ui-sortable .ga-thumbnail-row * {
	cursor: url('cursors/openhand.cur'), default;
}

.ui-sortable .ga-thumbnail-row.ui-sortable-helper * {
	cursor: url('cursors/closedhand.cur'), default;
}

.ui-sortable .ga-thumbnail-row a * {
	cursor: pointer !important;
}
/* Structure */
.ga-thumbnail-link {
	display: block;
	float: left;
	margin: 0;
	padding: 9px 0;
	text-decoration: none;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	behavior: url('border-radius.htc');
	/* Rounded corners for IE6, IE7 & IE8 */
	text-align: center;
}

.ga-thumbnail-link:hover {
	background-color: #BBB;
	text-decoration: none;
}
/* Structure */
.ga-thumbnail-image {
	margin: 9px;
	padding: 5px;
	border: 1px solid #CCC;
	background-color: #FFF !important;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	behavior: url('border-radius.htc');
	/* Rounded corners for IE6, IE7 & IE8 */
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
	text-align: center;
}

.ga-thumbnail-link .ga-thumbnail-image {
	margin: 0 9px;
}

.ga-thumbnail-link:hover .ga-thumbnail-image {
	border-color: #999;
}
/* Structure */
.ga-thumbnail-loading {
	position: absolute;
	top: 9px;
	left: 9px;
	background: rgba(0, 0, 0, 0.6);
	background-image: url('images/ga.loading.gif');
	background-repeat: no-repeat;
	background-position: center center;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
/* Structure */
.ga-thumbnail-caption {
	display: block;
	margin: 0;
	padding: 0 5px 9px;
	color: #333 !important;
	text-align: center;
}

.ga-thumbnail-link .ga-thumbnail-caption {
	padding: 5px 5px 0;
}
/* page identifier */
div#pageId {
	position: absolute;
	top: 24px;
	right: 1px;
	clear: right;
	width: auto;
	margin: 0;
	display: inline; /* combat IE6 Doubled float-margin bug */
	z-index: 10;
	margin: 0 0 0 0;
	padding: 0;
	float: right;
	font-size: 9px;
}
/* Content
/* ---------------------------------------------------------------------------------------- */
div.ga-modal {
	z-index: 15000000 !important;
	position: fixed;
}

* html div.ga-modal,*+html div.ga-modal {
	position: absolute;
}

div.ga-modal-pad {
	display: table;
	margin: 0;
	padding: 5px 0;
	border: 1px solid #999;
	background-color: #FFF;
	overflow: hidden;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

div.ga-modal,div.ga-modal-pad {
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	behavior: url('border-radius.htc');
	/* Rounded corners for IE6, IE7 & IE8 */
}

ul.ga-modal-tools {
	position: absolute;
	top: 1px;
	right: 1px;
	margin: 0;
	padding: 5px 0 5px 5px;
	background-color: #FFF;
	list-style: none;
	-moz-border-radius: 0 6px 0 6px;
	-khtml-border-radius: 0 6px 0 6px;
	-webkit-border-radius: 0 6px 0 6px;
	border-radius: 0 6px 0 6px;
	behavior: url('border-radius.htc');
	/* Rounded corners for IE6, IE7 & IE8 */
}

ul.ga-modal-tools li {
	display: block;
	float: left;
	width: 16px;
	height: 16px;
	margin: 0 5px 0 0;
	padding: 0;
	overflow: hidden;
	list-style: none;
}

ul.ga-modal-tools li span {
	display: none;
}

ul.ga-modal-tools li.ga-modal-prev {
	background-image: url('images/ga.action.sprite.png');
	background-position: 0 0;
}

ul.ga-modal-tools li.ga-modal-prev:hover {
	background-position: 0 -16px;
}

ul.ga-modal-tools li.ga-modal-prev.disabled {
	background-position: 0 -32px;
}

ul.ga-modal-tools li.ga-modal-next {
	background-image: url('images/ga.action.sprite.png');
	background-position: -16px 0;
}

ul.ga-modal-tools li.ga-modal-next:hover {
	background-position: -16px -16px;
}

ul.ga-modal-tools li.ga-modal-next.disabled {
	background-position: -16px -32px;
}

ul.ga-modal-tools li.ga-modal-close {
	background-image: url('images/ga.action.sprite.png');
	background-position: -32px 0;
}

ul.ga-modal-tools li.ga-modal-close:hover {
	background-position: -32px -16px;
}

* html ul.ga-modal-tools li.disabled,*+html ul.ga-modal-tools li.disabled
	{
	visibility: hidden;
}

div.ga-modal-title {
	display: block;
	clear: left;
	width: 100%;
	margin: -5px 0 0 0;
	padding: 6px 10px;
	border-bottom: 1px solid #CCC;
}

div.ga-modal-content {
	display: block;
	clear: left;
	padding: 5px 10px;
}

div.ga-modal-caption {
	display: block;
	clear: left;
	width: 100%;
	padding: 2px 10px 5px;
}

div.ga-modal-pad * {
	display: block;
	float: left;
}

/* Source Code Display
/* Really only used in the documentation, but globally useful so it's here.
/* ---------------------------------------------------------------------------------------- */
ul.ga-table-view {
	margin: 0 0 10px;
	padding: 0;
	list-style: none;
	border: 1px solid #888;
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

ul.ga-table-view.with-border {
	background-color: #F5F5F5;
}

ul.ga-table-view:after {
	content: ".";
	display: block;
	height: 0;
	font-size: 0px;
	clear: both;
	visibility: hidden;
}

ul.ga-table-view li {
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
	border-bottom: 1px solid #888;
}

ul.ga-table-view li:first-child,ul.ga-table-view li.first,ul.ga-table-view li:first-child a,ul.ga-table-view li.first a
	{
	-moz-border-radius: 6px 6px 0 0;
	-khtml-border-radius: 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
}

ul.ga-table-view li:last-child,ul.ga-table-view li.last,ul.ga-table-view li:last-child a,ul.ga-table-view li.last a
	{
	border-bottom: none;
	-moz-border-radius: 0 0 6px 6px;
	-khtml-border-radius: 0 0 6px 6px;
	-webkit-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
}

ul.ga-table-view li span,ul.ga-table-view li a {
	display: block;
	margin: 0;
	padding: 2px 3px;
	text-decoration: none !important;
}

* html ul.ga-table-view li span,*+html ul.ga-table-view li span,* html ul.ga-table-view li a,*+html ul.ga-table-view li a
	{
	margin-top: -1px;
}

ul.ga-table-view li.single-line a {
	padding: 6px 3px;
}

ul.ga-table-view li.with-disclosure a {
	padding-right: 20px;
}

ul.ga-table-view li a:hover {
	text-decoration: none !important;
	background-color: #E0E9EC;
}

ul.ga-table-view li span span,ul.ga-table-view li a span {
	display: block;
	margin: 0;
	padding: 1px 5px;
	color: #000;
	font-size: 10px;
}

ul.ga-table-view li.single-line span {
	padding: 7px 5px;
}

ul.ga-table-view li a span {
	padding: 1px 2px;
}

ul.ga-table-view li.single-line a span {
	padding: 1px 2px;
}

ul.ga-table-view li span.disclosure-arrow {
	display: none;
	position: absolute;
	top: 50%;
	right: 4px;
	width: 16px;
	height: 16px;
	margin: -8px 0;
	padding: 0 !important;
	background-image: url('images/ga.action.sprite.png');
	background-position: -16px 0;
}

ul.ga-table-view li.with-disclosure span.disclosure-arrow {
	display: block;
}

/* Source Code Display
/* Really only used in the documentation, but globally useful so it's here.
/* ---------------------------------------------------------------------------------------- */
code {
	display: inline;
	font: 14px "Courier New";
	line-height: 12px;
	background: none;
	border: 0;
	color: #666;
	padding: 0;
}

fieldset.code {
	
}

fieldset.code pre,fieldset.code div {
	padding: 3px 10px 10px;
	font: 14px "Courier New";
}

fieldset.code pre b,fieldset.code div b {
	color: #069;
}

/* IE-specific Styling
/* ---------------------------------------------------------------------------------------- */
* html .form_input .group label,*+html .form_input .group label {
	margin-top: 5px !important;
}

* html a.pad,*+html a.pad {
	padding-left: 10px;
	padding-right: 40px;
}

* html a.pad-right,*+html a.pad-right {
	padding-right: 40px;
}

/* Backgrounds (to help position things)
/* Should be commented out in a test or production environment, since it's really ugly.
/* ---------------------------------------------------------------------------------------- *
    h1, h2, h3, h4, h5 {
    background-color: #9FF;
    }
    .form_buttons {
    background-color: #9C3;
    }
    .form_input label,
    .form_input .label {
    background-color: #F00;
    }
    .form_input {
    background-color: #F90;
    }
    .form_input span.note {
    background-color: #FC6;
    }
    .form_input .input {
    background-color: #0f0;
    }
    .form_input .group {
    background-color: #00f;
    }
    .inputCell {
    background-color: #f00;
    }
    .checkboxCell {
    background-color: #0f0;
    }
    .selectorCell {
    background-color: #00f;
    }
/* ---------------------------------------------------------------------------------------- */
/* this is a temporary addition to create page-specific links such as 'help' buttons while we wait for approved styling */
/* pagelinks */
.pagelinks {
	position: absolute;
	top: 0;
	right: 0;
	clear: right;
	width: auto;
	margin: 0;
	display: inline; /* combat IE6 Doubled float-margin bug */
	z-index: 10;
	margin: 0 0 0 0;
	padding: 0;
	float: right;
	border: 1px solid #666;
	background-color: #333;
}

.ga-tabs-content .pagelinks {
	top: 33px;
	background: none;
	border: none;
}

.pagelinks li {
	display: inline;
	float: left;
	font: normal 1em/1.2 Helvetica, Arial, Verdana, sans-serif;
	margin-left: 0;
}

.pagelinks li a:link,.pagelinks li a:visited {
	float: left;
	display: block;
	margin: 0;
	padding: 2px 15px;
	/* border-left: 1px solid #666; */
	color: #fff; /* hide from mac ie \*/
	height: 1%;
	font-size: 10px;
}

.pagelinks li a.help {
	height: 22px;
	padding: 5px 10px;
}

.pagelinks li a.help.small {
	height: 17px;
}

a.help {
	background-image: url('images/ga.help_static.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #FFF;
	display: block;
	height: 22px;
	width: 22px;
	display: block;
}

a.help:hover {
	background-image: url('images/ga.help_over.png');
}

a.help.small {
	background-image: url('images/ga.help_small_static.png');
	height: 17px;
	width: 17x;
}

a.help.small:hover {
	background-image: url('images/ga.help_small_over.png');
}

a.back-top {
	font-size: 10px;
	display: block;
}

.inline {
	display: inline !important;
}