/* Tool Bar
/* ---------------------------------------------------------------------------------------- */
    div.toolbar {
    position: fixed;
    height: 26px;
    width: 100%;
    background-color: #FFF;
    background-image: url('images/ga.toolbar.sprite.png');
    background-position: 0px 0px;
    border-bottom: 1px solid;
    border-color: #A5A5A5;
    z-index: 1000000;
    }
    div.toolbar-pad {
    display: block;
    height: 26px;
    padding: 0 5px;
    }

 /* Tool Groups */
    div.toolbar ul {
    display: table;
    height: 24px;
    min-width: 36px;
    margin: 1px;
    padding: 0 1px;
    float: left;
    }
    div.toolbar ul.left {
    float: left;
	}
    div.toolbar ul.right {
    float: right;
    }
    * html div.toolbar ul {
    height: 36px;
    }

 /* Tools */
 	div.toolbar ul li {
    display: block;
    padding: 2px 5px 2px 0px;
    margin: 0;
    float: left;
	}
 	div.toolbar ul li a {
    display: block;
    line-height: 20px;
    padding: 0 5px;
    margin: 0;
    text-decoration: none;
	color: #666;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	behavior: url('border-radius.htc'); /* Rounded corners for IE6, IE7 & IE8 */
	}
 	div.toolbar ul li a:hover {
	border: 1px solid;
	border-color: #A7C2CB;
	margin: -1px;
	background-image: url('images/ga.toolbar.sprite.png');
	background-position: 0px -26px;
	-moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
	}
    div.toolbar ul li a:active {
	border-color: #74A0AD;
	background-color: #94B6C0;
	background-position: 0px -46px;
	margin: -1px;
    }
    * html div.toolbar ul li a:active,
    *+html div.toolbar ul li a:active {
	border: 0;
	background: none;
	margin: 0;
    }
    div.toolbar ul li a.selected {
	border-color: #74A0AD;
	background-color: #94B6C0;
	background-position: 0px -46px;
	padding: 0 5px;
	margin: -1px;
    }

 /* Icons */
    div.toolbar ul li a img {
    display: block;
    float: left;
    border: 0px;
    padding: 0px;
    margin: 2px 3px -3px 0;
	vertical-align: baseline;
    }
    * html div.toolbar ul li a img {
    margin: 0px -3px 0px -2px;
    }