/* Tab Bar
/* ---------------------------------------------------------------------------------------- */
	div.ga-tabs-group {
	 border: 0px;
	}
	
/* Tab Bar
/* ---------------------------------------------------------------------------------------- */
	div.ga-tabs-group ul.ga-tabs-bar {
	display: table;
	height: 30px;
	width: 100%;
	background-color: #323232;
	background-image: url('images/ga.workflow.sprite.png');
	background-repeat: repeat-x;
	margin: 0;
	padding: 0;
	overflow: hidden;
	list-style: none;
	border: 0px;
	border-radius: 0;	
	}
   div.ga-tabs-group .ui-widget-header {
    background: url('images/ga.workflow.sprite.png') repeat-x scroll 0 0 #323232;
    border: 0px;
    color: #323232;
    font-weight: normal;
   }	
	
/* Tab: Normal */
	div.ga-tabs-group ul.ga-tabs-bar li {
	position: relative;
	display: block;
	float: left;
	clear: none;
	background: none;
    padding: 0;
	margin: 0;
    border: 0px;
    border-radius: 0;   
	}
	div.ga-tabs-group ul.ga-tabs-bar li a {
	display: block;
    height: 25px;
    width: auto;
    margin: 5px 0 0 5px;
    padding: 0 10px;
	font-size: 12px;
	line-height: 25px;
	text-decoration: none;
	color: #CCC;
	background: none;
	border: 0px;
	background-image: url('images/ga.workflow.sprite.png');
	background-position: left -35px;
	background-repeat: no-repeat;
	white-space: nowrap;
    -moz-border-radius: 3px 3px 0 0;
    -khtml-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
	}

   .ui-tabs .ui-tabs-nav {
    padding: 0;
   }

/* Tab: Hover */
	div.ga-tabs-group ul.ga-tabs-bar li a.hover,
	div.ga-tabs-group ul.ga-tabs-bar li input.hover,
	div.ga-tabs-group ul.ga-tabs-bar li a:hover,
	div.ga-tabs-group ul.ga-tabs-bar li input:hover {
	background-position: left -65px;
	color: #FFF;
	}

/* Tab: Selected */
	div.ga-tabs-group ul.ga-tabs-bar li.ui-tabs-selected a,
	div.ga-tabs-group ul.ga-tabs-bar li.ui-tabs-selected input {
	background-position: left -95px;
	color: #333;
	}

/* Tab Bar
/* ---------------------------------------------------------------------------------------- */
	div.ga-tabs-content {
	}
	
 /* Hide hidden tabs */
	div.ui-tabs-hide {
	display: none;
	}