/* Tables 
 /* ---------------------------------------------------------------------------------------- */
/* Table */
table {
    border-collapse: collapse;
    width: 99.9%;
    margin-left: 1px;
    background-color: #f8f8f8;
}

table,th,td {
    border: 1px solid #888;
}

th,td {
    padding: 4px 4px 5px;
    vertical-align: top;
    font-size: 12px !important;
    background-color: transparent !important;
}
/*    text-align: left !important; */

/* Header */
thead {
    background-color: #C8C8C8;
    background-image: url('images/table-thead.png');
    background-position: bottom center;
    background-repeat: repeat-x;
}

thead th,thead td {
    vertical-align: bottom !important;
}

thead th span,thead td span {
    display: block;
    position: relative;
    padding-right: 16px;
}

thead th span.ui-sortable-column-icon,thead td span.ui-sortable-column-icon
    {
    padding-right: 0px;
}

thead th img,thead td img {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: -2px -2px;
    vertical-align: middle !important;
}

* html thead th,*+html thead th,* html thead td,*+html thead td {
    background-color: #C8C8C8 !important;
}

table.nobackground>thead,table.nobackground>tbody {
    background-color: transparent !important;
    background-image: none !important;
}
/* Body (and Foot) */
tbody,tbody td,tbody th,tfoot,tfoot td,tfoot th {
    background-color: #f8f8f8;
}

table tr.selected,table tr.selected>td,table tr.selected>th {
    background-color: #FFD782 !important;
}

table tr.hover,table tr.hover>td,table tr.hover>th {
    background-color: #C6F1FF !important;
    cursor: default !important;
}

table tr.hover.selected,table tr.hover.selected>td,table tr.hover.selected>th
    {
    background-color: #C6D29F !important;
}

/* Odd and Even Rows */
table tr.odd,table tr.odd>td,table tr.odd>th {
    background-color: #EFEFEF !important;
}

table tr.odd.selected,table tr.odd.selected td,table tr.odd.selected th
    {
    background-color: #EFC772 !important;
}

table tr.odd.hover,table tr.odd.hover>td,table tr.odd.hover>th {
    background-color: #B6E1EF !important;
}

table tr.odd.hover.selected,table tr.odd.hover.selected>td,table tr.odd.hover.selected>th
    {
    background-color: #B6C28F !important;
}

table td.tHeadImage,table th.tHeadImage {
    padding: 4px 4px 5px;
    position: relative;
    background-image: url('images/darken-more.png');
}

/* Link tables */
table tr.link td,table tr.link th {
    cursor: pointer !important;
}

/* Links with padding */
a.pad {
    padding-left: 10%;
    padding-right: 90%;
}

a.pad-right {
    padding-right: 90%;
}

/* Link tables */
.nowrap {
    white-space: nowrap;
}

.compact {
    font-size: 11px;
    line-height: 100%;
}

/* Display Container
/* ---------------------------------------------------------------------------------------- */
table label {
    display: inline !important;
    float: none !important;
}

/* Display Container
/* ---------------------------------------------------------------------------------------- */
table table,table table thead,table table body,table table tr,table table td,table table th
    {
    
}

/* Display Container
/* ---------------------------------------------------------------------------------------- */
span.gaTableExpander.gaWrapper {
    position: relative;
    display: block;
    margin: -3px;
    padding: 3px;
    overflow: hidden !important;
}

span.gaTableExpander.gaWrapper:hover {
    background-color: #099;
}

span.gaTableExpander.gaWrapper table {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

span.gaTableExpander.gaWrapper.maximised {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #FFF;
    z-index: 10000000000;
}

span.gaTableExpander.gaToggle {
    position: absolute;
    top: 0;
    right: 0;
    border: 3px solid #099;
}

table td.align-left {
    text-align: left;
}

table td.align-right {
    text-align: right;
}

table td.align-center {
    text-align: center;
}

table td.align-justify {
    text-align: justify;
}