/* Tab Bar
/* ---------------------------------------------------------------------------------------- */
	div.workflow {
	position: relative;
	height: 30px;
	width: 100%;
	background-color: #323232;
	background-image: url('images/ga.workflow.sprite.png');
	background-repeat: repeat-x;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	z-index: 1000000 !important;
	}
	div.workflow-pad {
	position: relative;
	height: 30px;
	width: 100%;
	overflow: hidden;
	padding: 0px;
	padding-right: 25px;
	}
	
/* Scroll Buttons
/* ---------------------------------------------------------------------------------------- */
/* Button Basics */
	div.workflow div.scroll-left,
	div.workflow div.scroll-right {
	position: absolute;
	top: 0px;
	height: 30px;
	width: 20px;
	background-image: url('images/ga.workflow.sprite.png');
	z-index: 1000;
	}
/* Left Button */
	div.workflow div.scroll-left {
	left: 0px;
	background-position: 0 -120px;
	}
	div.workflow div.scroll-left:hover {
	background-position: -40px -120px;
	}
	div.workflow div.scroll-left:active {
	background-position: -80px -120px;
	}
/* Right Button */
	div.workflow div.scroll-right {
	right: 0px;
	background-position: -20px -120px;
	}
	div.workflow div.scroll-right:hover {
	background-position: -60px -120px;
	}
	div.workflow div.scroll-right:active {
	background-position: -100px -120px;
	}
	
/* Single Tabs
/* ---------------------------------------------------------------------------------------- */
/* Main Tab Group */
	div.workflow ol {
	position: absolute;
	display: table;
	height: 30px;
	margin: 0px;
	margin-left: -11px;
	padding: 0px;
	list-style: none;
	width: 1000%;
	}
	
/* Tab: Normal */
	div.workflow ol li {
	position: relative;
	display: block;
	float: left;
	clear: none;
	background: none;
	margin: 0px !important;
	margin-right: -11px !important;
	}
	div.workflow ol li a,
	div.workflow ol li input {
	display: block;
    height: 30px;
    width: auto;
    padding: 0 25px;
	font-size: 12px;
	line-height: 30px;
	text-decoration: none;
	color: #CCC;
	background: none;
	border: 0px;
	background-image: url('images/ga.workflow.sprite.png');
	background-position: right -30px;
	background-repeat: no-repeat;
	white-space: nowrap;
	}
    div.workflow ol li a {
    padding: 0 21px;
    }

/* IE Fixes */
	* html div.workflow ol li a,
	*+html div.workflow ol li a {
	padding: 0 25px;
	}
	*+html div.workflow ol li {
	margin-right: -11px;
	}
	*+html div.workflow ol li a {
	padding: 0 25px;
	}
	*+html div.workflow ol li input {
	padding: 0 8px;
	}
	
/* Tab: Hover */
	div.workflow ol li a.hover,
	div.workflow ol li input.hover,
	div.workflow ol li a:hover,
	div.workflow ol li input:hover {
	background-position: right -60px;
	color: #FFF;
	}

/* Tab: Selected */
	div.workflow ol li.selected a,
	div.workflow ol li.selected input {
	background-position: right -90px;
	color: #333;
	}