<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sec="http://www.springframework.org/security/facelets/tags"
  template="/WEB-INF/layouts/pageTemplate.xhtml">
  <ui:define name="content">
    <h:form id="viewReferenceMaterialForm">
      <ga:workflowLinks
        src="/WEB-INF/flows/geochemistry/admin/knownReferenceResults/viewKnownReferenceResult/viewKnownReferenceResult-menu.xhtml"
        class="selected" />
      <ga:main
        title="Known Reference Result"
        pageId="KRRV">
        <ga:fieldset
          legend="Known Reference Result"
          pageId="RMV">
          <ga:textOutputField
            label="Known Reference Result No"
            id="knownReferenceResultNo"
            beanValue="#{knownReferenceResult.knownReferenceResultNo}" />
          <ga:textOutputField
            label="Method Name"
            id="methodName"
            beanValue="#{knownReferenceResult.methodName}" />
          <ga:textOutputField
            label="Result (Units)"
            id="result"
            beanValue="#{knownReferenceResult.resultValue} (#{knownReferenceResult.resultUnits})" />
          <ga:textOutputField
            label="Weight"
            id="weight"
            beanValue="#{knownReferenceResult.weight}" />
          <ga:textOutputField
            label="TitrationVolume"
            id="titrationVolume"
            beanValue="#{knownReferenceResult.titrationVolume}" />
          <ui:fragment
            rendered="#{knownReferenceResult.uncertaintyUnits ne null}">
            <ga:textOutputField
              label="Uncertainty (Units)"
              id="uncertainty"
              beanValue="#{knownReferenceResult.uncertaintyType.label} #{knownReferenceResult.uncertaintyValue} (#{knownReferenceResult.uncertaintyUnits})" />
          </ui:fragment>
          <ui:fragment
            rendered="#{knownReferenceResult.uncertaintyUnits eq null}">
            <ga:textOutputField
              label="Uncertainty (Units)"
              id="uncertaintyNull"
              beanValue="#{knownReferenceResult.uncertaintyValue}" />
          </ui:fragment>
          <ga:textOutputField
            label="Confidence Level"
            id="confidenceLevel"
            beanValue="#{knownReferenceResult.confidenceLevel}" />
          <ga:auditDetails auditLog="#{knownReferenceResult.auditLog}" />
          <ga:fieldset legend="Reference Material">
            <ui:include
              src="../../referenceMaterials/viewReferenceMaterial/viewReferenceMaterial-panel.xhtml" />
          </ga:fieldset>
          <ui:include
            src="../../properties/viewProperty/viewProperty-panel.xhtml" />
        </ga:fieldset>
        <ga:div class="form_buttons">
          <sec:ifAnyGranted roles="ROLE_GEOCHEM_DATA_ADMIN_APP">
            <h:commandButton
              id="editKnownReferenceResult"
              value="Edit"
              action="editKnownReferenceResult" />
          </sec:ifAnyGranted>
          <ga:returnButton />
        </ga:div>
      </ga:main>
    </h:form>
  </ui:define>
</ui:composition>