<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sec="http://www.springframework.org/security/facelets/tags"
  template="/WEB-INF/layouts/pageTemplate.xhtml">
  <ui:define name="content">
    <h:form id="editSubsampleTypeForm">
      <ga:workflowLinks
        src="/WEB-INF/flows/geochemistry/admin/subsampleTypes/editSubsampleType/editSubsampleType-menu.xhtml"
        class="selected" />
      <ga:main
        title="#{actionTitle}"
        pageId="SSTE">
        <ga:fieldset legend="Subsample Type">
          <ui:fragment
            id="subsampleTypesOutputPanel">
            <ga:textField
              label="SubsampleType Id"
              id="subsampleTypeId"
              spanStyle="half"
              maxLength="30"
              beanValue="#{subsampleType.subsampleTypeId}"
              escape="false"  />
            <ga:textField
              label="SubsampleType Name"
              id="typeName"
              spanStyle="half"
              maxLength="60"
              beanValue="#{subsampleType.typeName}"
              escape="false" />
          <ga:textField
              label="Matching Regex"
              id="matchRegex"
              spanStyle="half"
              maxLength="60"
              beanValue="#{subsampleType.matchRegex}"
              escape="false" />
          <ga:textField
              label="Replacement Regex"
              id="replaceRegex"
              spanStyle="half"
              maxLength="60"
              beanValue="#{subsampleType.replaceRegex}"
              escape="false" />            
          <ga:dropDownList
              id="caseConversionCode"
              label="Covert Case"
              beanValue="#{subsampleType.convertCase}"
              list="#{caseConversionCodeSelectionList}"
              spanStyle="half">
              <f:selectItem itemLabel="" />
          </ga:dropDownList>   
          </ui:fragment>                   
        </ga:fieldset>
        <ga:div class="form_buttons">
          <sec:ifAnyGranted roles="ROLE_GEOCHEM_DATA_ADMIN_APP">
            <h:commandButton
              id="saveSubsampleType"
              value="Save"
              action="saveSubsampleType" />
          </sec:ifAnyGranted>
          <ga:cancelButton />
        </ga:div>
      </ga:main>
    </h:form>
  </ui:define>
</ui:composition>