<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:rich="http://richfaces.org/rich"
  template="/WEB-INF/layouts/popupTemplate.xhtml"
  xmlns:ga="http://www.ga.gov.au/jsf">
  <ui:define name="content">
    <ui:fragment id="sampleDetailFragments">
      <div id="pageId">[SD]</div>
      <h2>Sample Details</h2>
      <ga:fieldset legend="Sample Information">
        <ga:textOutputField
          id="sampleNo"
          label="GA Sample No"
          beanValue="#{sampleDetail.sampleNo}"
          spanStyle="half" />
        <ga:textOutputField
          id="sampleId"
          label="GA Sample ID"
          beanValue="#{sampleDetail.sampleId}"
          spanStyle="half" />
        <ga:textOutputField
          id="sampleType"
          label="Sample Type"
          beanValue="#{sampleDetail.sampleType}"
          spanStyle="half" />
        <ga:textOutputField
          id="accessCode"
          label="Access Code"
          beanValue="#{sampleDetail.accessCode}"
          spanStyle="half" />
        <ga:textOutputField
          id="activityCode"
          label="Activity Code"
          beanValue="#{sampleDetail.activityCode}"
          spanStyle="half" />
        <ga:textOutputField
          id="originator"
          label="Originator"
          beanValue="#{sampleDetail.originatorDisplayName}"
          spanStyle="half" />
        <ga:dateOutputField
          id="acquireDate"
          label="Acquire Date"
          beanValue="#{sampleDetail.acquireDate}"
          spanStyle="half" />
      </ga:fieldset>
      <ga:fieldset>
        <ga:textOutputField
          id="provinceName"
          label="Geological Province"
          beanValue="#{sampleDetail.province.provName}"
          spanStyle="half" />
        <ga:textOutputField
          id="stratName"
          label="Stratigraphic Name"
          beanValue="#{sampleDetail.earthMaterial.stratname.stratName}"
          spanStyle="half" />
        <ga:textOutputField
          id="qualifier3"
          label="Qualifier3"
          beanValue="#{sampleDetail.earthMaterial.qualifier3}"
          spanStyle="half" />
        <ga:textOutputField
          id="qualifier2"
          label="Qualifier2"
          beanValue="#{sampleDetail.earthMaterial.qualifier2}"
          spanStyle="half" />
        <ga:textOutputField
          id="qualifier1"
          label="Qualifier1"
          beanValue="#{sampleDetail.earthMaterial.qualifier1}"
          spanStyle="half" />
        <ga:textOutputField
          id="lithName"
          label="Lithology"
          beanValue="#{sampleDetail.earthMaterial.lithName}"
          spanStyle="half" />
        <ga:textOutputField
          id="remark"
          label="Remarks"
          beanValue="#{sampleDetail.earthMaterial.remark}"
          spanStyle="half" />
      </ga:fieldset>
      <br />
      <ga:fieldset legend="Spatial Entity Information">
        <ga:textOutputField
          id="eno"
          label="ENO"
          beanValue="#{sampleDetail.entity.eno}"
          spanStyle="half" />
        <ga:textOutputField
          id="entityId"
          label="ID"
          beanValue="#{sampleDetail.entity.entityId}"
          spanStyle="half" />
        <ga:textOutputField
          id="entityType"
          label="Type"
          beanValue="#{sampleDetail.entity.entityType}"
          spanStyle="half" />
        <ga:fieldset legend="Location">
          <ga:textOutputField
            id="latitude"
            label="GDA94_Latitude"
            beanValue="#{sampleDetail.entity.latitude}"
            spanStyle="half" />
          <ga:textOutputField
            id="longitude"
            label="GDA94_Longitude"
            beanValue="#{sampleDetail.entity.longitude}"
            spanStyle="half" />
          <ga:textOutputField
            id="elevation"
            label="Elevation"
            beanValue="#{sampleDetail.entity.elevation}"
            spanStyle="half" />
          <ga:textOutputField
            id="accuracy"
            label="Accuracy (m)"
            beanValue="#{sampleDetail.entity.accuracy}"
            spanStyle="half" />
          <ga:textOutputField
            id="hSheet"
            label="1:100K map sheet"
            beanValue="#{sampleDetail.entity.locationDetails.hId}"
            spanStyle="group">
            <h:outputText
              escape="false"
              value="#{sampleDetail.entity.locationDetails.hSheet}"
              styleClass="display" />
          </ga:textOutputField>
          <ga:textOutputField
            id="qSheet"
            label="1:250K map sheet"
            beanValue="#{sampleDetail.entity.locationDetails.qId}"
            spanStyle="group">
            <h:outputText
              escape="false"
              value="#{sampleDetail.entity.locationDetails.qSheet}"
              styleClass="display" />
          </ga:textOutputField>
          <ga:textOutputField
            id="mSheet"
            label="1:1M map sheet"
            beanValue="#{sampleDetail.entity.locationDetails.mId}"
            spanStyle="group">
            <h:outputText
              escape="false"
              value="#{sampleDetail.entity.locationDetails.mSheet}"
              styleClass="display" />
          </ga:textOutputField>
          <ga:textOutputField
            id="country"
            label="Country"
            beanValue="#{sampleDetail.entity.locationDetails.country}"
            spanStyle="half" />
          <ga:textOutputField
            id="state"
            label="State"
            beanValue="#{sampleDetail.entity.locationDetails.state}"
            spanStyle="half" />
        </ga:fieldset>
      </ga:fieldset>
    </ui:fragment>
  </ui:define>

</ui:composition>

