<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:rich="http://richfaces.org/rich"
  template="/WEB-INF/layouts/pageTemplate.xhtml"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:a4j="http://richfaces.org/a4j">

  <ui:define name="content">
    <h:form id="jobBatchSampleSearchForm">
      <ga:workflowLinks
        src="/WEB-INF/flows/geochemistry/analysedSamples/analysedSamples-menu.xhtml"
        class="selected" />
      <ga:main
        title="Analysed Sample Search"
        pageId="ASS">
        <a4j:outputPanel id="criteria">
          <ga:fieldset legend="">
            <ga:simpleTogglePanel
              label="Search Criteria"
              opened="#{flowScope.showCriteria}">
              <ga:textField
                id="sampleNumber"
                label="Sample No"
                beanValue="#{jobBatchSampleSearchCriteria.sampleNo}"
                maxLength="8"
                spanStyle="integer" />
              <ga:textField
                id="sampleId"
                label="Sample ID"
                beanValue="#{jobBatchSampleSearchCriteria.sampleId}"
                maxLength="30"
                spanStyle="half"
                note="This field accepts \'%\' wildcards" />
              <ga:textField
                id="jobBatchId"
                label="Job Batch ID"
                beanValue="#{jobBatchSampleSearchCriteria.jobBatchId}"
                maxLength="30"
                spanStyle="half"
                note="This field accepts \'%\' wildcards" />
              <ga:dropDownList
                id="jobCompletionStatus"
                label="Job Completion Status"
                beanValue="#{jobBatchSampleSearchCriteria.jobCompletionStatus}"
                list="#{completionStatusCodeList}"
                spanStyle="half">
                <f:selectItem itemLabel="" />
              </ga:dropDownList>

              <ga:commonSearchFields
                searchCriteria="#{jobBatchSampleSearchCriteria}" />
              <ga:div class="form_buttons">
                <h:commandButton
                  id="submit"
                  value="Search"
                  action="submit" />
                <!--              <ga:resetButton />-->
              </ga:div>
            </ga:simpleTogglePanel>
            <ga:div class="form_input">
              <label for="searchResultType">Select Results:</label>
              <span class="group"> <span> <h:selectOneRadio
                    styleClass="checkbx"
                    value="#{jobBatchSampleSearchCriteria.resultType}">
                    <a4j:support
                      event="onchange"
                      reRender="results" />
                    <f:selectItems value="#{resultTypeSelectionList}" />
                  </h:selectOneRadio> </span> </span>
            </ga:div>
          </ga:fieldset>
        </a4j:outputPanel>
        <br />
        <a4j:outputPanel id="results">
          <ui:fragment
            rendered="#{searchResults ne null and not empty searchResults}">
            <ui:include src="analysedSamplesResults-panel.xhtml" />
          </ui:fragment>
        </a4j:outputPanel>
      </ga:main>
    </h:form>
  </ui:define>
</ui:composition>