<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:app="http://www.ga.gov.au/geochem-jsf"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <h3>Search Results</h3>
  <h:outputText
    id="rowCount"
    value="#{searchResults.rowCount eq 0 ? 'No' :searchResults.rowCount} #{searchResults.rowCount eq 1 ? 'record' : 'records'} found"
    style="display: block; padding-bottom: 5px;" />
  <rich:dataTable
    id="searchResults"
    value="#{searchResults}"
    var="searchResult"
    rows="#{jobBatchSampleSearchCriteria.resultsPerPage}"
    styleClass="links grid noValidation"
    headerClass=""
    columnClasses="nowrap,nowrap,nowrap,,nowrap nopad"
    frozenColumns="1"
    rendered="#{searchResults.rowCount gt 0}">
    <rich:column sortBy="#{searchResult.sampleNo}">
      <f:facet name="header">
        <h:outputText value="Sample No" />
      </f:facet>
      <h:commandLink
        id="select"
        value="#{searchResult.sampleNo}"
        action="select"
        styleClass="nopad">
        <f:param
          name="jobBatchNo"
          value="#{searchResult.jobBatchNo}" />
        <f:param
          name="sampleNo"
          value="#{searchResult.sampleNo}" />
      </h:commandLink>
    </rich:column>
    <rich:column sortBy="#{searchResult.sampleId}">
      <f:facet name="header">
        <h:outputText value="Sample ID" />
      </f:facet>
      <h:outputText value="#{searchResult.sampleId}" />
    </rich:column>
    <rich:column sortBy="#{searchResult.jobBatchId}">
      <f:facet name="header">
        <h:outputText value="Job Batch ID" />
      </f:facet>
      <h:outputText value="#{searchResult.jobBatchId}" />
    </rich:column>
    <rich:column sortBy="#{searchResult.statusCode}">
      <f:facet name="header">
        <h:outputText value="Job Status" />
      </f:facet>
      <h:outputText value="#{searchResult.jobStatus}" />
      <h:outputText
        value="#{html.lineBreak}"
        rendered="searchResult.releaseDate ne null"
        escape="false" />
      <h:outputText
        value="#{searchResult.releaseDate}"
        rendered="searchResult.releaseDate ne null">
        <f:convertDateTime
          pattern="dd-MM-yyyy"
          timeZone="#{systemContext.timeZone}" />
      </h:outputText>
    </rich:column>
    <rich:column>
      <f:facet name="header">
        <h:outputText
          value="#{(jobBatchSampleSearchCriteria.resultType.published ? 'Published Results' : (jobBatchSampleSearchCriteria.resultType.summary ? 'Summary Results' : ''))}" />
      </f:facet>
      <ga:div id="sampleAnalysisPanel">
        <ui:fragment
          rendered="#{jobBatchSampleSearchCriteria.resultType.summary}">
          <ui:include
            src="/WEB-INF/flows/geochemistry/jobs/viewJob/sampleAnalyses/viewSummaryResults-panel.xhtml">
            <ui:param
              name="jobBatchSample"
              value="#{searchResult.jobBatchSample eq null or not searchResult.jobBatchSample.isSummaryResultsLoaded() ? appService.loadSummaryResults(searchResult).jobBatchSample : searchResult.jobBatchSample}" />
            <ui:param
              name="showTitle"
              value="false" />
            <ui:param
              name="tableClass"
              value="autoWidth nobackground" />
            <ui:param
              name="showPropertyUnits"
              value="false" />
          </ui:include>
        </ui:fragment>
        <ui:fragment
          rendered="#{jobBatchSampleSearchCriteria.resultType.published}">
          <ui:include
            src="/WEB-INF/flows/geochemistry/jobs/viewJob/sampleAnalyses/viewPublishedResults-panel.xhtml">
            <ui:param
              name="jobBatchSample"
              value="#{searchResult.jobBatchSample eq null or not searchResult.jobBatchSample.isPublishedResultsLoaded() ? appService.loadPublishedResults(searchResult).jobBatchSample : searchResult.jobBatchSample}" />
            <ui:param
              name="showTitle"
              value="false" />
            <ui:param
              name="tableClass"
              value="autoWidth nobackground" />
            <ui:param
              name="showPropertyUnits"
              value="false" />
          </ui:include>
        </ui:fragment>
      </ga:div>
    </rich:column>
  </rich:dataTable>
  <ga:commonSearchDatascroller
    searchCriteria="#{jobBatchSampleSearchCriteria}"
    searchResults="#{searchResults}" />
</ui:composition>