<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:sec="http://www.springframework.org/security/facelets/tags"
  xmlns:fn="http://java.sun.com/jsp/jstl/functions"
  template="/WEB-INF/layouts/pageTemplate.xhtml">

  <ui:define name="content">
    <h:form
      id="bulkLoadForm"
      enctype="multipart/form-data">
      <ga:workflowLinks
        src="/WEB-INF/flows/geochemistry/jobs/bulkLoad/bulkLoad-menu.xhtml"
        class="selected" />
      <ga:main
        title="Bulk Load"
        pageId="BLRB">
        <ui:fragment id="warningMessage">
          <h:outputText
            id="bulkLoadNotification"
            value="The Bulk Load facility is for loading legacy data. If possible (and especially if you have just a single batch of results) you should use the 'Create Batch' functionality." />
          <br />
          <br />
        </ui:fragment>
        <ga:div class="form_input">
          <label for="file">Select File:</label>
          <span class="input file"> <input
            type="file"
            name="file"
            id="file" />
          </span>
        </ga:div>
        <ga:div class="form_input">
          <label for="fileType">Select File Type:</label>
          <span class="group"> <span> <h:selectOneRadio
                styleClass="checkbx"
                value="#{bulkLoadBean.request.fileType}">
                <f:selectItem
                  itemLabel="#{html.nbsp}CSV"
                  itemValue="CSV"
                  itemEscaped="false" />
                <f:selectItem
                  itemLabel="#{html.nbsp}XLS"
                  itemValue="XLS"
                  itemEscaped="false" />
              </h:selectOneRadio></span></span>
        </ga:div>
        <ga:div
          id="replaceJobsPanel"
          class="form_input">
          <label for="default">Replace/Overwrite existing job data:</label>
          <span class="group"> <ga:span class="input check_box">
              <h:selectBooleanCheckbox
                value="#{bulkLoadBean.request.replaceJobs}" />
            </ga:span>
          </span>
        </ga:div>
        <ga:dateTimeField
          id="sessionCommencementDate"
          label="Date and Time of Analyses Session"
          beanValue="#{bulkLoadBean.request.sessionDateTime}"
          required="false"
          note="leave empty to use values from spreadsheet" />
        <ga:div
          id="onErrorPanel"
          class="form_input">
          <label for="default">Stop validation after first error
            detected:</label>
          <span class="group"> <ga:span class="input check_box">
              <h:selectBooleanCheckbox
                value="#{bulkLoadBean.request.stopOnFirstError}" />
            </ga:span>
          </span>
        </ga:div>
        <ga:textField
          label="Stop validation after elapsed time(seconds)"
          id="maxProcessingTime"
          spanStyle="numeric"
          maxLength="8"
          beanValue="#{bulkLoadBean.request.maxProcessingTime}" />
        <ga:div class="form_input">
          <label for="fileType">Select Processing Mode:</label>
          <span class="group"> <span> <h:selectOneRadio
                styleClass="checkbx"
                value="#{bulkLoadBean.request.processModeAsync}">
                <f:selectItem
                  itemLabel="#{html.nbsp}Foreground"
                  itemValue="false"
                  itemEscaped="false" />
                <f:selectItem
                  itemLabel="#{html.nbsp}Background"
                  itemValue="true"
                  itemEscaped="false" />
              </h:selectOneRadio></span></span>
        </ga:div>

        <ga:div class="form_buttons">
          <h:commandButton
            id="validate"
            value="Validate"
            class="immediate"
            action="validate" />
          <h:commandButton
            id="load"
            value="Load"
            class="immediate"
            action="load" />
          <ga:div>
            <h:outputText
              value="Warning: Foreground processing may take a while... please be patient" />
          </ga:div>
          <ga:div>
            <h:outputText
              value="Submitted batches can be monitored in the " />
            <h:outputLink
              value="#{request.contextPath}/geochemistry/admin/batch/jobs/executions/">
              <h:outputText value="Batch Job Executions" />
            </h:outputLink>
            <h:outputText value=" page." />
          </ga:div>
        </ga:div>


        <hr />
        <a4j:outputPanel id="results">
          <ui:fragment rendered="#{not empty jobList.rowCount}">
            <h3>Processing Results</h3>
            <h:outputText
              id="rowCount"
              value="#{jobList.rowCount eq 0 ? 'No' :jobList.rowCount} #{jobList.rowCount eq 1 ? 'jobs' : 'jobs'} processed"
              style="display: block; padding-bottom: 5px;" />
            <rich:dataTable
              id="resultTable"
              value="#{jobList}"
              var="resultJob"
              rows="#{jobSearchCriteria.resultsPerPage}"
              styleClass="links grid noValidation"
              headerClass="compact"
              columnClasses="col_5 nowrap compact"
              rendered="#{jobList.rowCount gt 0}">
              <rich:column sortBy="#{resultJob.jobNo}">
                <f:facet name="header">
                  <h:outputText value="Job No" />
                </f:facet>
                <h:outputText value="#{resultJob.jobNo}" />
                <!--                 <sf:commandLink -->
                <!--                   id="jobIdLink" -->
                <!--                   value="#{resultJob.jobNo}" -->
                <!--                   immediate="true" -->
                <!--                   action="viewJob-popup"> -->
                <!--                   <f:param -->
                <!--                     name="jobId" -->
                <!--                     value="#{resultJob.jobNo}" /> -->
                <!--                 </sf:commandLink> -->
              </rich:column>
              <rich:column sortBy="#{resultJob.laboratoryJobReferenceId}">
                <f:facet name="header">
                  <h:outputText value="Lab Reference" />
                </f:facet>
                <h:outputText value="#{resultJob.laboratoryJobReferenceId}" />
              </rich:column>
              <rich:column sortBy="#{resultJob.status.label}">
                <f:facet name="header">
                  <h:outputText value="Completion Status" />
                </f:facet>
                <h:outputText value="#{resultJob.status.label}" />
              </rich:column>
              <rich:column sortBy="#{resultJob.enteredBy}">
                <f:facet name="header">
                  <h:outputText value="Entered By" />
                </f:facet>
                <h:outputText value="#{resultJob.enteredBy}" />
                <ga:userTooltip userId="#{resultJob.enteredBy}" />
              </rich:column>
              <rich:column sortBy="#{resultJob.entryDate}">
                <f:facet name="header">
                  <h:outputText value="Entry Date" />
                </f:facet>
                <h:outputText value="#{resultJob.entryDate}">
                  <f:convertDateTime
                    pattern="dd-MM-yyyy HH:mm"
                    timeZone="#{systemContext.timeZone}" />
                </h:outputText>
              </rich:column>
              <rich:column sortBy="#{resultJob.updatedBy}">
                <f:facet name="header">
                  <h:outputText value="Updated By" />
                </f:facet>
                <h:outputText value="#{resultJob.updatedBy}" />
                <ga:userTooltip userId="#{resultJob.updatedBy}" />
              </rich:column>
            </rich:dataTable>
          </ui:fragment>
        </a4j:outputPanel>
      </ga:main>
    </h:form>
  </ui:define>
</ui:composition>
