<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <ui:fragment
    id="sampleAnalysesFragment"
    rendered="#{not empty resultBatch.sampleAnalysisList}">
    <table
      id="sampleAnalysesTable"
      class="input grid noValidation collapsibleColumns">
      <thead>
        <tr>
          <th class="col_1"><h:outputText value="Sequence No" /></th>
          <c:if test="#{resultBatch.technique.calc eq false}">
            <th class="col_5"><h:outputText value="Analysis Date/Time" />
            </th>
          </c:if>
          <c:if test="#{resultBatch.includedJobBatchList.size() > 1}">
            <th class="col_5"><h:outputText value="Job Batch" /></th>
          </c:if>
          <th class="col_5"><h:outputText value="Sample No" /></th>
          <th class="col_10"><h:outputText value="Sample ID" /></th>
          <th class="col_5"><h:outputText value="Subsample ID" /></th>
          <th class="col_1"><h:outputText value="Preferred Value" />
          </th>
          <th class="col_5 {group:'Analysis Attributes'} hiddenColumn"><h:outputText
              value="Analysis Attributes" /></th>
          <a4j:repeat
            id="propertyHeaders"
            value="#{propertyList}"
            var="property">
            <th class="col_3"><h:outputText
                value="#{property.htmlPropertyId}"
                escape="false" /><br /> <h:outputText
                value="(#{property.deliveryUnits})" /></th>
            <th class="col_3 {group:'Result Attributes'} hiddenColumn"><h:outputText
                value="#{property.htmlPropertyId}"
                escape="false" /><br /> <h:outputText
                value="Result Attributes" /></th>
          </a4j:repeat>
        </tr>
      </thead>
      <tbody>
        <a4j:repeat
          id="sampleAnalyses"
          value="#{resultBatch.sampleAnalysisList}"
          var="analysis">
          <tr>
            <td><h:outputText
                id="sequenceNo"
                value="#{analysis.sequenceNo}"
                styleClass="pad" /></td>
            <c:if test="#{resultBatch.technique.calc eq false}">
              <td class="nowrap"><h:outputText
                  value="#{analysis.analysisDatetime}">
                  <f:convertDateTime
                    pattern="#{mappingProperties['resultBatch.analysisDateTime.format']}"
                    timeZone="#{systemContext.timeZone}" />
                </h:outputText></td>
            </c:if>
            <c:if test="#{resultBatch.includedJobBatchList.size() > 1}">
              <td><h:outputText
                  value="#{analysis.jobBatch.jobBatchId}" /></td>
            </c:if>
            <td><h:outputText
                id="sampleNo"
                value="#{analysis.sample.sampleNo}" /></td>
            <td class="nowrap"><a4j:outputPanel id="sampleId">
                <h:outputLink
                  id="sampleID"
                  value="#{request.contextPath}/sampleLink/#{analysis.sample.sampleNo}/details.htm"
                  target="other"
                  styleClass="popupLink">
                          #{analysis.sample.sampleIdDisplay}
                          </h:outputLink>
              </a4j:outputPanel></td>
            <td class="tbl-cell-right-align"><h:outputText
                id="subsampleId"
                value="#{analysis.subsampleId}" /></td>
            <td><h:outputText
                value="#{analysis.preferredValue ? 'Y' : 'N'}" /></td>
            <td
              class="{group:'Analysis Attributes'} hiddenColumn nowrap tbl-cell-right-align"><a4j:repeat
                id="inputAttributes"
                value="#{analysis.analysisInputAttributeList}"
                var="attrib">
                <h:outputText
                  value="#{attrib.name} #{attrib.value} #{attrib.units eq null ? '' : '('.concat(attrib.units).concat(')')} #{attrib.qualifier}"
                  styleClass="clear" />
                <br />
              </a4j:repeat></td>
            <a4j:repeat
              id="properties"
              value="#{propertyList}"
              var="property">
              <td class="tbl-cell-right-align"><ga:outputNumber
                  id="sampleAnalysisResultValue"
                  value="#{analysis.getSampleAnalysisResultByProperty(property).qualifiedResultValue}"
                  qualifier="#{analysis.getSampleAnalysisResultByProperty(property).limitReasonSymbol}"
                  patternKey="analysisResult.deliveryFormat.#{property.propertyId}" />
              </td>
              <td
                class="{group:'Result Attributes'} hiddenColumn nowrap tbl-cell-right-align"><a4j:repeat
                  id="inputAttributes"
                  value="#{analysis.getSampleAnalysisResultByProperty(property).analysisResultInputAttributeList}"
                  var="attrib">
                  <h:outputText
                    value="#{attrib.name} #{attrib.value} #{attrib.units eq null ? '' : '('.concat(attrib.units).concat(')')} #{attrib.qualifier}"
                    styleClass="clear" />
                  <br />
                </a4j:repeat></td>
            </a4j:repeat>
          </tr>
        </a4j:repeat>
      </tbody>
    </table>
  </ui:fragment>
  <ui:fragment
    id="emptySampleAnalysesFragment"
    rendered="#{empty resultBatch.sampleAnalysisList}">
    <h:outputText value="No Results Entered" />
  </ui:fragment>
</ui:composition>