<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sf="http://www.springframework.org/tags/faces">

  <ui:fragment
    id="resultBatchCommentFragment"
    rendered="#{not empty resultBatch.comment}">
    <ga:fieldset legend="General Comment">
      <ga:div class="form_input body">
        <span class="input"> <h:inputTextarea
          value="#{resultBatch.comment}"
          cols="150"
          rows="5"
          disabled="true" /> </span>
      </ga:div>
    </ga:fieldset>
  </ui:fragment>
</ui:composition>