<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- Note: if you change this flow document you will need to restart the webapp or modify any 
flow documents that inherit from here before those flows pick up the chnages 
 -->
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sec="http://www.springframework.org/security/facelets/tags"
  template="/WEB-INF/layouts/pageTemplate.xhtml">
  <ui:define name="content">
    <h:form id="resultBatchViewForm">
      <ga:workflowLinks
        src="/WEB-INF/flows/geochemistry/baseResultBatch/viewBatch/viewBatch-menu.xhtml"
        class="selected" />
      <ga:main
        title="View Result Batch"
        pageId="RBV">
        <input
          type="hidden"
          name="id"
          value="#{resultBatch.resultBatchNo}" />
        <ui:include src="viewBatchDetails-panel.xhtml" />
        <ui:include src="viewAnalyses-panel.xhtml">
          <ui:param
            name="asFieldset"
            value="#{not resultBatch.technique.titration and not resultBatch.technique.gravimetry}" />
        </ui:include>
        <ga:div class="form_buttons">
          <sec:ifAnyGranted roles="ROLE_GEOCHEM_DATA_ENTRY_APP">
            <h:commandButton
              id="editBatch"
              value="Edit Batch"
              action="editBatch"
              rendered="#{resultBatch.editActionAllowed}" />
            <h:commandButton
              id="deleteBatch"
              value="Delete Batch"
              action="deleteBatch"
              rendered="#{resultBatch.deleteActionAllowed}" />
            <h:commandButton
              id="recalculate"
              value="Recalculate"
              action="recalculateDerivedValues"
              rendered="#{resultBatch.recalculateAllowed}" />
            <h:commandButton
              id="recalculateTotal"
              value="Recalculate Total"
              action="recalculateTotals"
              rendered="#{resultBatch.isTotalRecalculateAllowed()}" />
          </sec:ifAnyGranted>
          <ga:returnButton />
        </ga:div>
      </ga:main>
    </h:form>
  </ui:define>
</ui:composition>