<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:app="http://www.ga.gov.au/geochem-jsf">
  <ui:fragment
    id="refAnalysesFragment"
    rendered="#{not empty resultBatch.referenceAnalysisList}">
    <table
      id="refAnalysesTable"
      class="input grid noValidation collapsibleColumns">
      <thead>
        <tr>
          <th class="col_1"><h:outputText value="Sequence No" /></th>
          <th class="col_5"><h:outputText value="Analysis Date/Time" />
          </th>
          <th class="col_10"><h:outputText value="Reference" /></th>
          <th class="col_5"><h:outputText value="Subsample ID" /></th>
          <th class="col_15"><h:outputText value="Purpose" /></th>
          <th class="col_5 {group:'Analysis Attributes'} hiddenColumn"><h:outputText
              value="Analysis Attributes" /></th>
          <a4j:repeat
            id="propertyHeaders"
            value="#{propertyList}"
            var="property">
            <th class="col_3"><h:outputText
                value="#{property.htmlPropertyId}"
                escape="false" /><br /> <h:outputText
                value="(#{property.deliveryUnits})" />
            </th>
            <th
              class="col_5 {group:'Known Ref Values'} #{resultBatch.resultTableObject.propertyList.size() gt 4 ? 'hiddenColumn highlightColumn' : ''}"><h:outputText
                value="#{property.htmlPropertyId}"
                escape="false" /><br /> <h:outputText value="Known Value" />
            </th>
            <th class="col_3 {group:'Result Attributes'} #{resultBatch.resultTableObject.propertyList.size() gt 4 ? 'hiddenColumn highlightColumn' : ''}"><h:outputText
                value="#{property.htmlPropertyId}"
                escape="false" /><br /> <h:outputText
                value="Result Attributes" />
            </th>
          </a4j:repeat>
        </tr>
      </thead>
      <tbody>
        <a4j:repeat
          id="referenceAnalyses"
          value="#{resultBatch.referenceAnalysisList}"
          var="analysis">
          <tr>
            <td class="nowrap"><h:outputText
                value="#{analysis.sequenceNo}" /></td>
            <td class="nowrap"><h:outputText
                value="#{analysis.analysisDatetime}">
                <f:convertDateTime
                  pattern="#{mappingProperties['resultBatch.analysisDateTime.format']}"
                  timeZone="#{systemContext.timeZone}" />
              </h:outputText></td>
            <td class="nowrap"><a4j:outputPanel
                id="referenceMaterialName">
                <sf:commandLink
                  id="selectReferenceMaterialDetails"
                  value="#{analysis.referenceMaterial.name}"
                  action="selectReferenceMaterialDetails"
                  immediate="true">
                  <f:param
                    name="referenceMaterialNo"
                    value="#{analysis.referenceMaterial.referenceMaterialNo}" />
                </sf:commandLink>
              </a4j:outputPanel></td>
            <td class="tbl-cell-right-align"><h:outputText
                id="subsampleId"
                value="#{analysis.subsampleId}" /></td>
            <td class="nowrap"><h:outputText
                value="#{analysis.analysisPurpose.label}" /></td>
            <td class="{group:'Analysis Attributes'} hiddenColumn nowrap tbl-cell-right-align"><a4j:repeat
                id="inputAttributes"
                value="#{analysis.analysisInputAttributeList}"
                var="attrib">
                <h:outputText
                  value="#{attrib.name} #{attrib.value} #{attrib.units eq null ? '' : '('.concat(attrib.units).concat(')')} #{attrib.qualifier}"
                  styleClass="clear" />
                <br />
              </a4j:repeat></td>
            <a4j:repeat
              id="properties"
              value="#{propertyList}"
              var="property">
              <td class="nowrap tbl-cell-right-align"><ga:outputNumber
                  id="referenceAnalysisResultValue"
                  value="#{analysis.getReferenceAnalysisResultByProperty(property).qualifiedResultValue}"
                  qualifier="#{analysis.getReferenceAnalysisResultByProperty(property).limitReasonSymbol}"
                  patternKey="analysisResult.deliveryFormat.#{property}" />
              </td>
              <app:knownRefResultTableCell
                technique="#{resultBatch.technique}"
                value="#{analysis.getReferenceAnalysisResultByProperty(property).knownReferenceResult.resultValue}"
                units="#{analysis.getReferenceAnalysisResultByProperty(property).knownReferenceResult.resultUnits}"
                confidenceLevel="#{analysis.getReferenceAnalysisResultByProperty(property).knownReferenceResult.confidenceLevel}" />
              <td class="{group:'Result Attributes'} nowrap tbl-cell-right-align #{resultBatch.resultTableObject.propertyList.size() gt 4 ? 'hiddenColumn highlightColumn' : ''}"><a4j:repeat
                  id="inputAttributes"
                  value="#{analysis.getReferenceAnalysisResultByProperty(property).analysisResultInputAttributeList}"
                  var="attrib">
                  <h:outputText
                    value="#{attrib.name} #{attrib.value} #{attrib.units eq null ? '' : '('.concat(attrib.units).concat(')')} #{attrib.qualifier}"
                    styleClass="clear" />
                  <br />
                </a4j:repeat>
              </td>
            </a4j:repeat>
          </tr>
        </a4j:repeat>
      </tbody>
    </table>
  </ui:fragment>
  <ui:fragment
    id="emptyRefAnalysesFragment"
    rendered="#{empty resultBatch.referenceAnalysisList}">
    <h:outputText
      value="No Results Entered"
      styleClass="display" />
  </ui:fragment>
</ui:composition>