<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <ui:fragment id="resultBatchDetailFragments">
    <!-- Start display batch info -->
    <ga:fieldset legend="Session Details">
      <ui:fragment rendered="#{not empty resultBatch.resultBatchNo}">
        <ga:textOutputField
          label="Batch Number"
          id="batchNo"
          beanValue="#{resultBatch.resultBatchNo}" />
      </ui:fragment>
      <ga:textOutputField
        label="Technique"
        id="technique"
        beanValue="#{resultBatch.method.technique.techniqueName}" />
      <ga:textOutputField
        label="Method"
        id="method"
        beanValue="#{resultBatch.method.methodName}" />
      <ga:textOutputField
        label="Laboratory"
        id="laboratory"
        beanValue="#{resultBatch.laboratory.laboratoryName}" />
      <ui:include src="viewResultBatchInstruments-panel.xhtml" />
      <ga:outputField
        label="Operator(s)"
        id="operators">
        <ui:fragment id="operators">
          <ui:repeat
            value="#{resultBatch.analystList}"
            var="analyst">
            <h:outputText value="#{analyst.analystName}" />
            <br />
          </ui:repeat>
        </ui:fragment>
      </ga:outputField>
      <ga:dateTimeOutputField
        id="sessionCommencementDate"
        label="Date and Time Batch Started"
        beanValue="#{resultBatch.sessionDateTime}" />
      <ga:textOutputField
        label="Status"
        id="status"
        beanValue="#{resultBatch.status.label}" />
      <ui:fragment rendered="#{resultBatch.technique.titration}">
        <ga:textOutputField
          id="titrantFactor"
          label="Titrant Factor"
          beanValue="#{resultBatch.titrantFactor}"
          maxLength="8"
          spanStyle="numeric" />
      </ui:fragment>

      <ui:include src="viewResultBatchJobs-panel.xhtml" />
      <ga:auditDetails auditLog="#{resultBatch.auditLog}" />

      <ui:fragment
        rendered="#{not empty resultBatch.comment and showComment ne false}">
        <ga:outputField
          label="General Comment"
          id="comment">
          <h:inputTextarea
            name="comment"
            id="comment"
            value="#{resultBatch.comment}"
            cols="100"
            rows="3"
            style="width:95%;"
            disabled="true" />
        </ga:outputField>
      </ui:fragment>
    </ga:fieldset>
    <ui:fragment
      id="sourceFile"
      rendered="#{resultBatch.sourceFile ne null and showSourceFile ne false}">
      <ga:outputField
        label="Source File"
        id="sourceFile">
        <h:commandLink
          id="downloadSourceFile"
          value="#{resultBatch.sourceFile.name}"
          action="downloadSourceFile"
          rendered="#{resultBatch.sourceFile ne null}" />
      </ga:outputField>
    </ui:fragment>
  </ui:fragment>
</ui:composition>