<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <ui:fragment id="jobsFragment">
    <div class="form_input"><h:outputLabel
      for="jobIds"
      value="Job Batches:" /> <span class="display"> <a4j:repeat
      id="jobIds"
      value="#{includedJobBatchIdList}"
      var="includedJobId">
      <ga:div
        id="pair"
        class="alignVertical">
        <ga:div id="link">
          <sf:commandLink
            id="includedJobIdLink"
            value="#{includedJobId}"
            immediate="true"
            action="viewJobBatch-popup">
            <f:param
              name="jobBatchId"
              value="#{includedJobId}" />
          </sf:commandLink>
        </ga:div>
        <ga:div
          id="button"
          style="clear:left">
          <h:commandButton
            id="editJobBatchButton"
            value="Edit #{includedJobId}"
            action="editJobBatch"
            immediate="false"
            rendered="#{allowJobEdit}">
          </h:commandButton>
        </ga:div>
      </ga:div>
    </a4j:repeat></span></div>
  </ui:fragment>
</ui:composition>