<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sf="http://www.springframework.org/tags/faces">
  <ui:fragment
    id="fsanalyses"
    rendered="#{asFieldset eq true}">
    <ui:fragment
      id="refAnalysesFragment"
      rendered="#{resultBatch.technique.calc eq false}">
      <ga:fieldset legend="Analysed Reference Materials">
        <ui:include src="viewReferenceAnalyses-panel.xhtml" />
      </ga:fieldset>
    </ui:fragment>
    <ga:fieldset legend="Analysed Samples">
      <ui:include src="viewSampleAnalyses-panel.xhtml" />
    </ga:fieldset>
  </ui:fragment>
  <ui:fragment
    id="nfsanalyses"
    rendered="#{asFieldset ne true}">
    <ui:fragment
      id="refAnalysesFragment"
      rendered="#{resultBatch.technique.calc eq false}">
      <ga:div class="form_input">
        <label>Analysed Reference Materials:</label>
        <ui:include src="viewReferenceAnalyses-panel.xhtml" />
      </ga:div>
    </ui:fragment>
    <ga:div class="form_input">
      <label>Analysed Samples:</label>
      <ui:include src="viewSampleAnalyses-panel.xhtml" />
    </ga:div>
  </ui:fragment>

</ui:composition>