<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sf="http://www.springframework.org/tags/faces">

  <ui:fragment id="instrumentsFragment">
    <div class="form_input">
      <h:outputLabel
        value="Instrument:" />
          <span class="display">
          <sf:commandLink
            id="detailsText"
            value="#{resultBatch.instrument.type} #{resultBatch.instrument.model}"
            action="viewInstrumentDetails"
            immediate="true"
            styleClass="popup">
            <f:param
              name="instrumentNo"
              value="#{resultBatch.instrument.instrumentNo}" />
          </sf:commandLink>
          </span>
    </div>
  </ui:fragment>
</ui:composition>