<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:sec="http://www.springframework.org/security/facelets/tags"
  template="/WEB-INF/layouts/pageTemplate.xhtml"
  xmlns:c="http://java.sun.com/jstl/core">
  <ui:define name="content">
    <h:form id="analysisExportForm">
      <ga:workflowLinks
        src="/WEB-INF/flows/geochemistry/jobs/viewJob/exportAnalyses/exportAnalyses-menu.xhtml"
        class="selected" />
      <ga:main
        title="Export Analyses"
        pageId="AE">
        <ui:fragment id="jobDetailsFragment">
          <ga:div class="panel">
            <ga:textOutputField
              id="jobNo"
              label="Job No"
              beanValue="#{job.jobNo}" />
            <ui:fragment
              id="jobRequest"
              rendered="#{not empty job.npmJobRequest}">
              <ga:fieldset legend="LabSubs Job Request">
                <ui:include
                  src="/WEB-INF/flows/geochemistry/jobs/viewJob/viewJobNpmJobRequest-panel.xhtml" />
              </ga:fieldset>
            </ui:fragment>
          </ga:div>
        </ui:fragment>
        <ga:div class="panel">
          <ga:fieldset legend="Methods">
            <ui:include src="exportAnalysesMethods-panel.xhtml" />
          </ga:fieldset>
        </ga:div>
        <ga:div class="form_input">
          <label for="fileType">Select File Type:</label>
          <span class="group"> <span> <h:selectOneRadio
            styleClass="checkbx"
            value="#{analysisExportCriteria.fileType}">
            <f:selectItem
              itemLabel="#{html.nbsp}CSV"
              itemValue="csv"
              itemEscaped="false" />
            <f:selectItem
              itemLabel="#{html.nbsp}XLS"
              itemValue="xls"
              itemEscaped="false" />
            <f:selectItem
              itemLabel="#{html.nbsp}XML"
              itemValue="xml"
              itemEscaped="false" />
          </h:selectOneRadio></span></span>
        </ga:div>
        <ga:div class="form_input">
          <label for="fileContentType">Select File Content:</label>
          <span class="group"> <span> <h:selectOneRadio
            styleClass="checkbx"
            value="#{analysisExportCriteria.fileContentType}"
            layout="pageDirection">
            <f:selectItem
              itemLabel="#{html.nbsp}Analytes only"
              itemValue="P"
              itemEscaped="false"/>
            <f:selectItem
              itemLabel="#{html.nbsp}Analytes : Methods"
              itemValue="PM"
              itemEscaped="false" />
            <c:if test="#{job.hasReferenceMaterials()}">
              <f:selectItem
                itemLabel="#{html.nbsp}Reference Materials"
                itemValue="R"
                itemEscaped="false"/>
              <f:selectItem
                itemLabel="#{html.nbsp}Reference Materials with Known Results"
                itemValue="KR"
                itemEscaped="false"/>
              <f:selectItem
                itemLabel="#{html.nbsp}Analytes (with Reference Materials)"
                itemValue="PR"
                itemEscaped="false"/>
              <f:selectItem
                itemLabel="#{html.nbsp}Analytes : Methods (with Reference Materials)"
                itemValue="PMR"
                itemEscaped="false"/>
            </c:if>
          </h:selectOneRadio></span></span>
        </ga:div>
        <ga:div class="form_buttons">
          <h:commandButton
            id="submit"
            value="Submit"
            action="submit" />
          <ga:cancelButton />
        </ga:div>
      </ga:main>
    </h:form>
  </ui:define>
</ui:composition>