<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:rich="http://richfaces.org/rich"
  template="/WEB-INF/layouts/pageTemplate.xhtml"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:fn="http://java.sun.com/jsp/jstl/functions"
  xmlns:a4j="http://richfaces.org/a4j">

  <ui:define name="content">
    <h:form id="resultBatchSearchForm">
      <ga:workflowLinks
        src="#{flowScope.flowDirectory}/resultBatch-menu.xhtml"
        class="selected" />
      <ui:include src="findResultBatch-toolbar.xhtml" />
      <ga:main
        title="#{technique.techniqueName} Result Batch Search"
        pageId="#{techniqueLocked eq true ? technique.techniqueId.concat('-RBS') : 'RBS'}">
        <a4j:outputPanel id="criteria">
          <ga:simpleTogglePanel
            label="Search Criteria"
            opened="#{flowScope.showCriteria}">
            <ui:include src="resultBatchSearchCriteria-panel.xhtml" />
            <ga:commonSearchFields
              searchCriteria="#{resultBatchSearchCriteria}" />

            <ga:div class="form_buttons">
              <h:commandButton
                id="submit"
                value="Search"
                action="submit" />
              <!--              <ga:resetButton />-->
            </ga:div>
          </ga:simpleTogglePanel>

        </a4j:outputPanel>
        <br />
        <br />

        <a4j:outputPanel id="results">
          <ui:fragment rendered="#{not empty batches.rowCount}">
            <h3>Search Results</h3>
            <h:outputText
              id="rowCount"
              value="#{batches.rowCount eq 0 ? 'No' :batches.rowCount} #{batches.rowCount eq 1 ? 'record' : 'records'} found"
              style="display: block; padding-bottom: 5px;" />
            <rich:dataTable
              id="searchResults"
              value="#{batches}"
              var="searchResult"
              rows="#{resultBatchSearchCriteria.resultsPerPage}"
              styleClass="links grid noValidation"
              headerClass="compact"
              columnClasses="col_5 nowrap compact"
              rendered="#{batches.rowCount gt 0}">
              <rich:column sortBy="#{searchResult.resultBatchNo}">
                <f:facet name="header">
                  <h:outputText value="Result Batch" />
                </f:facet>
                <a4j:commandLink
                  id="select"
                  value="#{searchResult.resultBatchNo}"
                  action="select"
                  styleClass="pad" />
              </rich:column>
              <rich:column sortBy="#{searchResult.includedJobBatches}">
                <f:facet name="header">
                  <h:outputText value="Incl Job Batches" />
                </f:facet>
                <h:outputText value="#{searchResult.includedJobBatches}" />
              </rich:column>
              <rich:column
                sortBy="#{searchResult.method.technique.techniqueId}">
                <f:facet name="header">
                  <h:outputText value="Technique" />
                </f:facet>
                <h:outputLink
                  id="methodId"
                  value="#{request.contextPath}/techniques/#{searchResult.method.technique.techniqueNo}/details.htm"
                  target="other"
                  styleClass="popupLink">#{searchResult.method.technique.techniqueId}
               </h:outputLink>
              </rich:column>
              <rich:column sortBy="#{searchResult.method.methodId}">
                <f:facet name="header">
                  <h:outputText value="Method" />
                </f:facet>
                <h:outputLink
                  id="methodId"
                  value="#{request.contextPath}/methods/#{searchResult.method.methodNo}/details.htm"
                  target="other"
                  styleClass="popupLink">#{searchResult.method.methodId}
               </h:outputLink>
              </rich:column>
              <rich:column sortBy="#{searchResult.instrument.name}">
                <f:facet name="header">
                  <h:outputText value="Instrument" />
                </f:facet>
                <h:outputLink
                  id="methodId"
                  value="#{request.contextPath}/instruments/#{searchResult.instrument.instrumentNo}/details.htm"
                  target="other"
                  styleClass="popupLink">#{searchResult.instrument.instrumentId}
               </h:outputLink>
              </rich:column>
              <rich:column sortBy="#{searchResult.analyst.analystName}">
                <f:facet name="header">
                  <h:outputText value="Analyst(s)" />
                </f:facet>
                <h:outputText value="#{searchResult.analyst.analystName}" />
                <h:outputText
                  value=" (+)"
                  rendered="#{searchResult.analystList.size() gt 1}" />
                <rich:toolTip
                  rendered="#{searchResult.analystList.size() gt 1}">
                  <table border="0">
                    <a4j:repeat
                      value="#{searchResult.analystList}"
                      var="analyst">
                      <tr>
                        <td><h:outputText
                            value="#{analyst.analystName}" /></td>
                      </tr>
                    </a4j:repeat>
                  </table>
                </rich:toolTip>
              </rich:column>
              <rich:column sortBy="#{searchResult.sessionDateTime}">
                <f:facet name="header">
                  <h:outputText value="Session Date" />
                </f:facet>
                <h:outputText value="#{searchResult.sessionDateTime}">
                  <f:convertDateTime
                    pattern="dd-MM-yyyy hh:mm a"
                    timeZone="#{systemContext.timeZone}" />
                </h:outputText>
              </rich:column>
              <rich:column sortBy="#{searchResult.status.label}">
                <f:facet name="header">
                  <h:outputText value="Status" />
                </f:facet>
                <h:outputText value="#{searchResult.status.label}" />
              </rich:column>
              <rich:column sortBy="#{searchResult.enteredBy}">
                <f:facet name="header">
                  <h:outputText value="Entered By" />
                </f:facet>
                <h:outputText value="#{searchResult.enteredBy}" />
                <ga:userTooltip userId="#{searchResult.enteredBy}" />
              </rich:column>
              <rich:column sortBy="#{searchResult.updatedBy}">
                <f:facet name="header">
                  <h:outputText value="Updated By" />
                </f:facet>
                <h:outputText value="#{searchResult.updatedBy}" />
                <ga:userTooltip userId="#{searchResult.updatedBy}" />
              </rich:column>
            </rich:dataTable>
            <ga:commonSearchDatascroller
              searchCriteria="#{resultBatchSearchCriteria}"
              searchResults="#{batches}" />
          </ui:fragment>
        </a4j:outputPanel>
      </ga:main>
    </h:form>
  </ui:define>
</ui:composition>