<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:sec="http://www.springframework.org/security/facelets/tags"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:c="http://java.sun.com/jstl/core">
  <ga:toolbar>
    <sec:ifAnyGranted roles="ROLE_GEOCHEM_DATA_ENTRY_APP">
      <li><h:commandLink
          id="createBatch"
          immediate="true"
          action="createBatch"
          class="immediate addtool">
          <h:graphicImage
            value="/common/css/icons/add.png"
            alt="Create Result Batch"
            height="16px"
            width="16px" />
        Create
    </h:commandLink></li>
    </sec:ifAnyGranted>
  </ga:toolbar>
</ui:composition>