<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:sf="http://www.springframework.org/tags/faces"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:ga="http://www.ga.gov.au/jsf"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:fn="http://java.sun.com/jsp/jstl/functions"
  xmlns:a4j="http://richfaces.org/a4j">

  <ui:fragment id="resultBatchSearchFragment">
    <ga:div id="resultBatchSearchPanel">

      <ga:textField
        id="jobNo"
        label="Job No"
        beanValue="#{resultBatchSearchCriteria.jobNo}"
        maxLength="10"
        spanStyle="integer" />
      <ga:textField
        id="resultBatchNo"
        label="Result Batch No"
        beanValue="#{resultBatchSearchCriteria.resultBatchNo}"
        maxLength="8"
        spanStyle="integer" />
      <ui:fragment id="techniquePanel">
        <ga:div class="form_input">
          <label for="techniqueName">Technique:</label>
          <span class="input half"> <sf:ajaxEvent
              action="selectMethods"
              event="onchange"
              processIds="resultBatchSearchForm:method,resultBatchSearchForm:messages">
              <h:selectOneMenu
                id="techniqueName"
                value="#{resultBatchSearchCriteria.technique}"
                converter="#{genericDomainConverter}"
                disabled="#{techniqueLocked eq null or techniqueLocked eq true}">
                <f:selectItem itemLabel="" />
                <f:selectItems
                  id="selectItems"
                  value="#{referenceData.techniqueSelectionList}" />
              </h:selectOneMenu>
            </sf:ajaxEvent>
          </span>
        </ga:div>
      </ui:fragment>
      <ui:fragment id="methodNameFragment">
        <ga:dropDownList
          id="method"
          label="Method"
          beanValue="#{resultBatchSearchCriteria.method}"
          list="#{methods}"
          spanStyle="half">
          <f:selectItem itemLabel="" />
        </ga:dropDownList>
      </ui:fragment>
      <ga:dropDownList
        id="laboratory"
        label="Laboratory"
        beanValue="#{resultBatchSearchCriteria.laboratory}"
        list="#{referenceData.analysisLabSelectionList}"
        spanStyle="half">
        <f:selectItem itemLabel="" />
      </ga:dropDownList>
      <ga:dropDownList
        id="analyst"
        label="Analyst"
        beanValue="#{resultBatchSearchCriteria.analyst}"
        list="#{referenceData.analystSelectionList}"
        spanStyle="half">
        <f:selectItem itemLabel="" />
      </ga:dropDownList>
      <ga:dateField
        id="sessionDateStart"
        label="Session Date, from"
        beanValue="#{resultBatchSearchCriteria.sessionDateStart}"
        required="false" />
      <ga:dateField
        id="sessionDateEnd"
        label="to"
        beanValue="#{resultBatchSearchCriteria.sessionDateEnd}"
        required="false" />
      <ga:textField
        id="laboratoryJobReferenceId"
        label="Lab. Job Reference"
        beanValue="#{resultBatchSearchCriteria.laboratoryJobReferenceId}"
        maxLength="20"
        spanStyle="half"
        note="This field accepts \'%\' wildcards" />
      <ga:textField
        id="jobBatchId"
        label="Job Batch ID"
        beanValue="#{resultBatchSearchCriteria.jobBatchId}"
        maxLength="30"
        spanStyle="half"
        note="This field accepts \'%\' wildcards" />
    </ga:div>
  </ui:fragment>

</ui:composition>